.c-gallery-text {
  pointer-events: none;

  li {
    white-space: nowrap;
  }

  span {
    display: block;
    color: rgba($font-base-color,0.5);
    @include font-format(180,0.02,180,400);

    @include breakpoint(medium down) {
      font-size: rem-calc(120);
    }

    @include breakpoint(small down) {
      font-size: rem-calc(70);
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: auto;
  }
}
