extends /inc/foundation/_base.pug
block append config
  - current.id = "voice" // ページのID
  - current.title = "お客様の声" // タイトル
  - current.description = "これはお客様の声の説明文です" // 説明文
  - current.bodyClass = "voice" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","お客様の声","VOICE")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 私たちについて

block body
  section.l-main
    .l-section.is-md
      .l-container
        p.u-text-center お客様からいただいた声を、いくつかご紹介いたします。
    .l-section.is-gray.is-lg
      .l-container
        +c.content-box
          +e.inner
            +e.block
              +e.content
                +e.title お客様の声タイトルお客様の声タイトルお客様の声タイトルお客様の声タイトル
                +e.text これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。
              +e.image: +img("img-aboutus-02.jpg")
            +e.block
              +e.content
                +e.title お客様の声タイトルお客様の声タイトルお客様の声タイトルお客様の声タイトル
                +e.text これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。
              +e.image: +img("img-aboutus-02.jpg")
            +e.block
              +e.content
                +e.title お客様の声タイトルお客様の声タイトルお客様の声タイトルお客様の声タイトル
                +e.text これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。
              +e.image: +img("img-aboutus-02.jpg")
            +e.block
              +e.content
                +e.title お客様の声タイトルお客様の声タイトルお客様の声タイトルお客様の声タイトル
                +e.text これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。
              +e.image: +img("img-aboutus-02.jpg")
            +e.block
              +e.content
                +e.title お客様の声タイトルお客様の声タイトルお客様の声タイトルお客様の声タイトル
                +e.text これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。これは、お客様の声のテキストです。
              +e.image: +img("img-aboutus-02.jpg")
        <div class="c-pagination">
        <ul>
        // <li><a class="c-pagination__prev" href="#/"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        <li><span class="is-active">1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a class="c-pagination__next" href="#/"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
        </div>

  +c_relation()
  +c_offer()
