// フッター
//
// フッターの標準スタイル
//
// markup:
// <footer class="l-footer"></footer>
//
// Styleguide 5.2.0
.l-footer {
  background-color: $font-base-color;
  border-top: 1px solid rgba($border-base-color,0.5);
  padding-top: 36px;
  padding-bottom: 36px;
  @include breakpoint(small only) {
    padding-top: 32px;
    padding-bottom: 12px;
  }
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: 1020px) {
      flex-wrap: wrap;
    }
    @include breakpoint(small only) {
      display: block;
    }
  }
  &__logo {
    display: block;
    width: rem-calc(532)/2;
    @include breakpoint(small only) {
      width: rem-calc(400)/2;
      margin: 0 auto 36px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__menu {
    display: flex;
    margin-left: auto;
    @include breakpoint(small only) {
      justify-content: center;
    }
    li {
      margin-left: 48px;
      @include breakpoint(small only) {
        margin: 0 20px;
      }
      a {
        color: $color-white;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
  &__copyright {
    color: #9A9A9A;
    margin-left: 56px;
    letter-spacing: 0.4px;
    display: block;
    @media (max-width: 1020px) {
      width: 100%;
      margin-top: 32px;
      margin-left: 0;
      text-align: center;
    }
    @include breakpoint(small only) {
      letter-spacing: 0;
      margin-top: 14px;
    }
  }
}
