// フッター
//
// フッターの標準スタイル
//
// markup:
// <footer class="l-header"></footer>
//
// Styleguide 5.2.0
.l-footer-simple {
  // メニュー
  &__nav {
    padding-top: 34px;
    padding-bottom: 34px;
    @include breakpoint(small only){
      display: none;
    }
    ul{
      display: flex;
      margin: 0 auto;
      //width: 760/1080*100%;
      text-align: center;
      justify-content: center;
    }
    ul > li {
      &:last-child{
        a{
          &:before{
            display: none;
          }
        }
      }
      a {
        display: inline-block;
        color: $font-base-color;
        text-decoration: none;
        font-size : 14px;
        letter-spacing : 0.7px;
        padding: 0px 18px;
        position: relative;
        transition: all 0.2s;
        &:before{
          position: absolute;
          content: "";
          display: block;
          width: 1px;
          height: 24px;
          background: $border-base-color;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
        }
        &:hover{
          opacity: 0.7;
        }

        @media (max-width: 900px) {
          font-size: 11.5px;
        }
      }
    }
  }

  &__copyright{
    text-align: center;
    border: 1px solid rgba($color-primary, 0.1);
    padding-top: 14px;
    padding-bottom: 18px;
    @include breakpoint(small only){
      padding-top: 18px;
      padding-bottom: 18px;
    }
    p {
      font-size : 12px;
      letter-spacing : 1.2px;
      opacity : 0.5;
      @include breakpoint(small only){
        font-size : 9px;
        letter-spacing : 0.4px;
      }
    }
  }

}
