// メインカラム
//
// ページのメインとなるコンテンツを囲むラッパ
//
// markup:
// <div class="l-main"></div>
//
// Styleguide 5.6.0

// メインカラム
$layout-main-width: calc(100% - rem-calc(320)) !default;
$layout-main-float: left !default;

.l-main {
  &.is-two-columns {
    width: calc(100% - 276px - 68px);
    @media (max-width: 900px) {
      width: 100%;
      margin-right: 0;
      padding-bottom: 56px;
    }
  }
}
