
.l-wrapper {
  padding-bottom: 96px;
  padding-top: 80px;
  @media (max-width: 1200px) {
    padding-right: 32px;
    padding-left: 32px;
  }
  @media (max-width: 900px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  @include breakpoint(small only) {

    padding-right: 16px;
    padding-left: 16px;
  }
}
