// グリッド
//
// 基本的に12グリッドレイアウト方式とする。
//
// * large-{int} : デスクトップ時
// * medium-{int} : タブレット時
// * small-{int} : スマートフォン時
//
// Styleguide 2.2.0

// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: fluid,
//   gutter-position: inside-static,
//   container: $grid-row-width,
//   container-position: center,
//   columns: susy-repeat($grid-column-count),
//   gutters: 0.6,
//   column-width: 60px,
//   global-box-sizing: b order-box,
//   last-flow: to,
//   spread: 'wide',
//   container-spread: 'wide',
//   debug: (
//     image: hide,
//     color: rgba(#66f, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );

// グリッド : コンテナー
//
// サイトの幅に合わせたセンター寄せのコンテナー
//
//
// Styleguide 2.2.1
//.container {
//  // @mixin container $susy;
//}

.row {
  margin-left: calc(36px * -0.5);
  margin-right: calc(36px * -0.5);
  // @mixin susy-clearfix;
  display: flex;
  flex-wrap: wrap;
  @mixin breakpoint small only {
    margin-left: calc(16px * -0.5);
    margin-right: calc(16px * -0.5);
  }

  &.is-center {
    justify-content: center;
  }
}

// グリッド : スマートフォン
//
// スマートフォン時のグリッドアイテム
//
// markup:
// <div class="small-2">
// </div>
//
// Styleguide 2.2.2

@for $i from 1 to 12 {
  .small-$(i) {
    width: grid-width($i);
    padding-left: calc(16px * 0.5);
    padding-right: calc(16px * 0.5);
  }
  .is-push-sm-$(i) {
    margin-left: grid-width($i);
    padding-left: calc(16px * 0.5);
    padding-right: calc(16px * 0.5);
  }
}

// グリッド : タブレット
//
// タブレット時のグリッドアイテム
//
// Styleguide 2.2.3

@mixin breakpoint medium only {
  @for $i from 1 to 12 {
    .medium-$(i) {
      width: grid-width($i);
      padding-left: calc(36px * 0.5);
      padding-right: calc(36px * 0.5);
    }
    .is-push-md-$(i) {
      margin-left: grid-width($i);
    }
  }
}

// グリッド : デスクトップ
//
// デスクトップ時のグリッドアイテム
// Styleguide 2.2.4

@mixin breakpoint medium up {
  @for $i from 1 to 12 {
    .large-$(i) {
      width: grid-width($i);
      padding-left: calc(36px * 0.5);
      padding-right: calc(36px * 0.5);
    }
    .is-push-lg-$(i) {
      margin-left: grid-width($i);
    }
  }
}
