extends /inc/foundation/_base.pug
block append config
  - current.id = "interview" // ページのID
  - current.title = "先輩インタビュー" // タイトル
  - current.description = "これは先輩インタビューの説明文です" // 説明文
  - current.bodyClass = "interview" // body に付与するクラス
  - current.depth = 3 // ページの階層

block header
  include /inc/layout/_header-variable.pug

  block page_header
    +l_page_header("img-page-header-format.jpg","INTERVIEW","先輩インタビュー")
    +c_breadcrumb()

  block body
    main.l-main
      section.l-section.is-xlg
        .l-container
          h2.c-heading.is-md.is-color-primary キャッチコピーが入りますキャッチコピーが入ります<br>キャッチコピーが入ります
          p.u-text-center.u-mbs.is-bottom.is-xlg テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        +c.hero-block-line.u-mbs.is-xlg
          +loop(4)
            +e.block
              .l-container
                +a("/recruit/interview/page-a/").c-hero-block-line__image: +img("img-recruit-opening.jpg")
                +e.content
                  +e.inner
                    +e.label.c-label.is-xlg 職種名
                    h3.c-heading.is-sm.is-bottom.is-text-left キャッチコピーキャッチコピーキャッチコピーキャッチコピーキャッチコピーキャッチコピー
                    +e.detail 氏名氏名 / 2018年入社
                    +e.link: +a("/recruit/interview/page-a/") 詳しく見る
        .l-container
          +c.card-post
            .row
              +loop(6)
                .large-4.small-6
                  +e.block
                    +a("/recruit/interview/page-a/").c-card-post__image
                      +img("img-recruit-card.jpg")
                      span.c-card-post__label.c-label.is-lg 職種名
                    +e.content
                      +e.title キャッチコピーキャッチコピーキャッチコピーキャッチコピー
                      +e.sup
                        +e.detail 氏名氏名 / 2018年入社
        .l-container
          div.u-mbs.is-top.is-sm
            h3.c-heading.is-sm.is-border-under その他の採用情報
            +c.capsul-nav
              .row
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg.is-current 会社を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 人を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 仕事を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 募集要項

    +l_offer-recruit
  // フッター
  block footer
    include /inc/layout/_footer-simple.pug
