extends /inc/foundation/_base.pug
block append config
  - current.id = "onecolumn" // ページのID
  - current.title = "ページ_1カラム" // タイトル
  - current.description = "これは私たちについての説明文です" // 説明文
  - current.bodyClass = "onecolumn" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header("img-page-header-format.jpg","PAGE 1COLUMN","ページ_1カラム")
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        .l-post-content
          +c.anchor-nav
            .row
              .large-3.small-6
                +a("#").c-anchor-nav__block ページ内リンク
              .large-3.small-6
                +a("#").c-anchor-nav__block ページ内リンク
              .large-3.small-6
                +a("#").c-anchor-nav__block ページ内リンク
              .large-3.small-6
                +a("#").c-anchor-nav__block ページ内リンク
          div.u-mbs.is-top.is-lg
            h2 見出しレベル2
            p.u-text-center 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。<br>基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。<br>基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。
          div.u-mbs.is-top.is-lg
            h3 見出しレベル3見出しレベル3見出しレベル3見出しレベ
            +c.block
              +e.block
                .row
                  .large-5.small-12
                    +e.image: +img("img-block-01.jpg")
                  .large-7.small-12
                    +e.content
                      h4 見出しレベル4見出しレベル4
                      p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ
              +e.block
                h4 見出しレベル4見出しレベル4
                .row
                  .large-7.small-12
                    +e.content
                      p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ
                  .large-5.small-12
                    +e.image: +img("img-block-01.jpg")

          div.u-mbs.is-top.is-lg
            .row
              .large-10.is-push-lg-1.small-12
                +c.box
                  +e.block
                    +e.content
                      h5 見出しレベル5
                      p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキスト

          div.u-mbs.is-top.is-lg
            .row
              .large-10.is-push-lg-1.small-12
                table.c-table
                  tbody
                    tr
                      th thテキスト
                      td tdテキストテキストテキストテキストテキスト
                    tr
                      th thテキスト
                      td tdテキストテキストテキストテキストテキスト
                    tr
                      th thテキスト
                      td tdテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          div.u-mbs.is-top.is-lg
            +img("img-sample-lg.jpg")

          div.u-mbs.is-top.is-lg
            .row
              .large-10.is-push-lg-1.small-12
                +img("img-sample-lg.jpg")

          div.u-mbs.is-top.is-lg
            .row
              .large-4.small-12
                +img("img-sample-sm.jpg")
              .large-4.small-12
                +img("img-sample-sm.jpg")
              .large-4.small-12
                +img("img-sample-sm.jpg")

          div.u-mbs.is-top.is-lg
            .row
              .large-3.small-6
                +img("img-sample-sm.jpg")
              .large-3.small-6
                +img("img-sample-sm.jpg")
              .large-3.small-6
                +img("img-sample-sm.jpg")
              .large-3.small-6
                +img("img-sample-sm.jpg")

          div.u-mbs.is-top.is-lg
            h2 見出しレベル2
            p.u-text-center 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。<br>基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。<br>基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。

          div.u-mbs.is-top.is-lg
            +c.card.is-number-left
              .row
                .large-4.small-12
                  +e.block
                    +e.number
                      small POINT
                      span 01
                    +e.image: +img("img-card-01.jpg")
                    +e.content
                      +e.title コンセプトタイトル
                      +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                .large-4.small-12
                  +e.block
                    +e.number
                      small POINT
                      span 01
                    +e.image: +img("img-card-01.jpg")
                    +e.content
                      +e.title コンセプトタイトル
                      +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                .large-4.small-12
                  +e.block
                    +e.number
                      small POINT
                      span 01
                    +e.image: +img("img-card-01.jpg")
                    +e.content
                      +e.title コンセプトタイトル
                      +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。

          div.u-mbs.is-top.is-lg
            +c.box.is-number-left
              +e.block
                +e.number
                  small STEP
                  span 01
                .row
                  .large-4.small-12
                    +e.image: +img("img-block-01.jpg")
                  .large-8.small-12
                    +e.content
                      div.c-heading.is-sm.is-bottom ボックスタイトル
                      p ボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキスト
              +e.block
                +e.number
                  small STEP
                  span 01
                .row
                  .large-4.small-12
                    +e.image: +img("img-block-01.jpg")
                  .large-8.small-12
                    +e.content
                      div.c-heading.is-sm.is-bottom ボックスタイトル
                      p ボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキスト
          div.u-mbs.is-top.is-lg
            .row
              .large-10.is-push-lg-1.small-12
                +c.box-number
                  +e.block
                    +e.head
                      +e.number
                        small STEP
                        span 01
                    +e.content
                      div.c-heading.is-xxxs.is-bottom ヒアリング・ご相談
                      +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  +e.block
                    +e.head
                      +e.number
                        small STEP
                        span 02
                    +e.content
                      div.c-heading.is-xxxs.is-bottom ヒアリング・ご相談
                      +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          div.u-mbs.is-top.is-lg
            h3 関連情報
            +c.capsul-nav
              .row
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg.is-current テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
          div.u-mbs.is-top.is-lg
            +c.capsul-nav.is-round
              .row
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg.is-current テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg テキストテキスト

          div.u-mbs.is-top.is-lg
            .row
              .large-4.is-push-lg-2.small-12
                +a("#").c-button.is-xlg 社員紹介
              .large-4.small-12
                +a("#").c-button.is-xlg 募集要項

          div.u-mbs.is-top.is-lg
            +c.banners
              .row
                .large-5.is-push-lg-1.small-12
                  +a("#").c-banners__block
                    span.c-banners__image: +img("img-banners-01.jpg")
                    span.c-banners__text
                      span 会社案内
                      small COMPANY
                .large-5.small-12
                  +a("#").c-banners__block
                    span.c-banners__image: +img("img-banners-01.jpg")
                    span.c-banners__text
                      span 会社案内
                      small COMPANY

      div.u-mbs.is-top.is-lg
        +c.banners.is-lg
          +a("#").c-banners__block
            span.c-banners__image: +img("img-banners-lg-01.jpg")
            span.c-banners__text
              span COMPANY
              small 会社案内
          +a("#").c-banners__block
            span.c-banners__image: +img("img-banners-lg-01.jpg")
            span.c-banners__text
              span COMPANY
              small 会社案内
          +a("#").c-banners__block
            span.c-banners__image: +img("img-banners-lg-01.jpg")
            span.c-banners__text
              span COMPANY
              small 会社案内

  +l_offer

