extends /inc/foundation/_base.pug
block append config
  - current.id = "contact" // ページのID
  - current.title = "お問い合わせ" // タイトル
  - current.description = "これはお問い合わせの説明文です" // 説明文
  - current.bodyClass = "contact" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","お問い合わせ","CONTACT")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span お問い合わせ

block body
  section.l-main
    .l-section.is-lg
      .l-container
        .row
          .large-10.is-push-lg-1.small-12
            h2.heading.is-lg.is-primary.u-text-center.is-bottom お気軽にお問い合わせください
            p.u-text-center お電話でもメールでも、お気軽にお問い合わせください。担当スタッフが親身に対応いたします。<br>下記のフォームに必要事項をご記入の上、【確認画面へ】ボタンをクリックしてください。
            form(name="name",action="action")
              +c.form-block
                +e.block
                  +e.title
                    span 会社名
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="company",type="text",placeholder="会社名をご記入ください。")
                +e.block
                  +e.title
                    span 氏 名
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="name",type="text",placeholder="お名前をご記入ください。")
                +e.block
                  +e.title
                    span フリガナ
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="kana",type="text",placeholder="フリガナをご記入ください。")
                +e.block
                  +e.title
                    span メールアドレス
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="e-mail",type="text",placeholder="メールアドレスをご記入ください。")
                +e.block
                  +e.title
                    span 電話番号
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="tel",type="text",placeholder="電話番号をご記入ください。")
                +e.block
                  +e.title
                    span 郵便番号
                    +e.label 必須
                  +e.content
                    input.c-form-block__input.is-sm(name="postal",type="text",placeholder="郵便番号をご記入ください。")
                    button.c-form-block__button 住所自動検索
                +e.block
                  +e.title
                    span 住 所
                    +e.label 必須
                  +e.content
                    input.c-form-block__input(name="address01",type="text",placeholder="住所をご記入ください。")
                +e.block
                  +e.title
                    span 建物名など
                  +e.content
                    input.c-form-block__input(name="address02",type="text",placeholder="建物名や部屋番号をご記入ください。")
                +e.block
                  +e.title
                    span お問い合わせ内容
                    +e.label 必須
                  +e.content
                    textarea.c-form-block__textarea(name="message",placeholder="お問い合わせ内容をご記入ください。")
                +e.checkbox
                  input(type="checkbox",id="privacy-policy",name="個人情報保護方針の内容に同意する",value="同意する")
                  label(for="privacy-policy")
                    +a("/privacy-policy/") 個人情報保護方針
                    | の内容に同意する
                +e.submit
                  button 確認画面へ
  +c_offer()
