extends /inc/foundation/_base.pug
block append config
  - current.id = "contact" // ページのID
  - current.title = "お問い合わせフォーム" // タイトル
  - current.description = "これはお問い合わせフォームの説明文です" // 説明文
  - current.bodyClass = "contact" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header

block body
  main.l-main
    section.l-section.is-lg.is-color-secondary
      .l-container
        +c.form-head
          +e.block
            +e.title お問い合わせ
            +e.list
              +e.item.is-current
                +e.item-number 1
                +e.item-text お客様情報入力
              +e.item
                +e.item-number 2
                +e.item-text 入力内容の確認
              +e.item
                +e.item-number 3
                +e.item-text 送信完了
        +c.forms
          .row
            .large-10.is-push-lg-1.small-12
              +e.text 下記のフォームに必須項目を入力して送信してください。

              +e.block
                +e.title
                  | 貴社名
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="貴社名",placeholder="（例）株式会社サンプル")
              +e.block
                +e.title 部署・役職
                +e.content
                  +e.input: input(type="text",name="部署・役職",placeholder="（例）営業部")

              +e.block
                +e.title
                  | お名前
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="お名前",placeholder="山田　太郎")
              +e.block
                +e.title
                  | お名前フリガナ
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="お名前フリガナ",placeholder="ヤマダ　タロウ")
              +e.block
                +e.title
                  | メールアドレス
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="メールアドレス",placeholder="（例）info@grow-group.jp")
              +e.block
                +e.title
                  | TEL
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="TEL",placeholder="（例）052-753-6413")
              +e.block
                +e.title.is-vertical-top 興味あるサービス
                +e.content
                  +e.checkbox
                    span
                      label
                        input(type="checkbox",name="興味あるサービス",value="選択肢1")
                        span テキスト
                    span
                      label
                        input(type="checkbox",name="興味あるサービス",value="選択肢2")
                        span テキストテキスト
                    span
                      label
                        input(type="checkbox",name="興味あるサービス",value="選択肢3")
                        span テキストテキストテキスト
                    span
                      label
                        input(type="checkbox",name="興味あるサービス",value="選択肢4")
                        span テキスト
              +e.block
                +e.title
                  | お問い合わせ種別
                  span.c-forms__label 必須
                +e.content
                  select(name="お問い合わせ種別")
                    option(disabled,selected) 選択してください
                    option(value="選択肢A") 選択肢A
                    option(value="選択肢B") 選択肢B
                    option(value="選択肢C") 選択肢C
              +e.block
                +e.title
                  | お問い合わせ種別
                  span.c-forms__label 必須
                +e.content
                  +e.radio
                    span
                      label
                        input(type="radio",name="お問い合わせ種別",value="選択肢1")
                        span 選択肢1
                    span
                      label
                        input(type="radio",name="お問い合わせ種別",value="選択肢2")
                        span 選択肢2
                    span
                      label
                        input(type="radio",name="お問い合わせ種別",value="選択肢3")
                        span 選択肢3
                    span
                      label
                        input(type="radio",name="お問い合わせ種別",value="選択肢4")
                        span 選択肢4
              +e.block
                +e.title.is-vertical-top お問い合わせ内容
                +e.content
                  +e.textarea
                    textarea(name="テキストエリア",placeholder="お問い合わせ内容をご記入ください。")
              +e.block
                +e.title.is-vertical-top ご連絡方法
                +e.content
                  +e.checkbox
                    span
                      label
                        input(type="checkbox",name="ご連絡方法",value="電話")
                        span 電話
                    span
                      label
                        input(type="checkbox",name="ご連絡方法",value="メール")
                        span メール
                    span
                      label
                        input(type="checkbox",name="ご連絡方法",value="いずれでも可")
                        span いずれでも可
              +e.block
                +e.title.is-vertical-top.is-just
                  | 住所
                  span.c-forms__label 必須
                +e.content
                  +e.flexbox
                    span 郵便番号
                    +e.flex-al
                      +e.input.is-sm: input(type="text",name="郵便番号",placeholder="（例）464-0850")
                      button.c-forms-simple__button#zipauto 住所を自動入力
                  +e.flexbox
                    span 住所
                    +e.input: input(type="text",name="住所",placeholder="（例）愛知県名古屋市千種区今池3丁目12-20 KAビル 6F")
              +e.block
                +e.title
                  | 郵便番号
                  span.c-forms__label 必須
                +e.content
                  +e.flex-al
                    +e.input.is-sm: input(type="text",name="郵便番号",placeholder="（例）464-0850")
                    button.c-forms-simple__button#zipauto 住所を自動入力
              +e.block
                +e.title
                  | 住所
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text",name="住所",placeholder="（例）愛知県名古屋市千種区今池3丁目12-20 KAビル 6F")
              +e.block
                +e.title.is-vertical-top お問い合わせ内容
                +e.content
                  +e.textarea
                    textarea(name="テキストエリア",placeholder="お問い合わせ内容をご記入ください。")

              +e.privacy
                label
                  input(type="checkbox",name="「個人情報保護の取り扱いに関するご確認」を確認する",value="確認しました")
                  | 当社の
                  +a("/privacy-policy/")(target="_blank") 個人情報保護方針
                  | へ同意する
              +e.submit
                button.c-button.is-xlg 確認画面へ

              +e.submit.is-two-columns
                .row
                  .large-3.is-push-lg-3.small-6
                    button.c-button.is-lg.is-secondary.is-arrow-left 戻る
                  .large-3.small-6
                    button.c-button.is-lg 送信する
