extends /inc/foundation/_base.pug
block append config
  - current.id = "contact" // ページのID
  - current.title = "お問い合わせフォーム" // タイトル
  //- - current.description = `これは${current.title}についての説明文です` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "お問い合わせ",
    subtitle: "Contact"
  })

  //- ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
  //- /confirm/ と /complete/ もCSS調整必須！
  //- ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
block body
  section.l-section.is-xlg.is-bg-color
    .l-container
      //+c.form-head
        +e.block
          +h1.title お問い合わせ
          +e.list
            +e.item.is-current
              +e.item-number 1
              +e.item-text お客様情報入力
            +e.item
              +e.item-number 2
              +e.item-text 入力内容の確認
            +e.item
              +e.item-number 3
              +e.item-text 送信完了
      <script src="https://ajaxzip3.github.io/ajaxzip3.js"></script>
      +c.forms
        +e.inner
          +e.text ご質問、ご相談はこちらのフォームからご連絡ください。
          +e.blocks

            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | チェックボックス
                  span.c-forms__label 必須
                +e.content
                  +e.checkbox.is-border
                    span
                      span
                        span
                          label
                            input(type="checkbox", name="service-options", value="選択肢1")
                            span 選択肢1
                        span
                          label
                            input(type="checkbox", name="service-options", value="選択肢2")
                            span 選択肢2
                        span
                          label
                            input(type="checkbox", name="service-options", value="選択肢3")
                            span 選択肢3
                        span
                          label
                            input(type="checkbox", name="service-options", value="選択肢4")
                            span 選択肢4


            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | ラジオボタン
                  span.c-forms__label 必須
                +e.content
                  +e.radio.is-border
                    span
                      span
                        span
                          label
                            input(type="radio", name="service-selection", value="選択肢1")
                            span 選択肢1
                        span
                          label
                            input(type="radio", name="service-selection", value="選択肢2")
                            span 選択肢2
                        span
                          label
                            input(type="radio", name="service-selection", value="選択肢3")
                            span 選択肢3
                        span
                          label
                            input(type="radio", name="service-selection", value="選択肢4")
                            span 選択肢4

            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | チェックボックス(2カラムにしたいとき)
                  span.c-forms__label 必須
                +e.content
                  +e.checkbox.is-border.is-column
                    span
                      span
                        span
                          label
                            input(type="checkbox", name="column-options", value="選択肢1")
                            span 選択肢1
                        span
                          label
                            input(type="checkbox", name="column-options", value="選択肢2")
                            span 選択肢2
                        span
                          label
                            input(type="checkbox", name="column-options", value="選択肢3")
                            span 選択肢3
                        span
                          label
                            input(type="checkbox", name="column-options", value="選択肢4")
                            span 選択肢4

            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | チェックボックス（テキストが長い場合）
                  span.c-forms__label 必須
                +e.content
                  +e.checkbox.is-border.is-vertical
                    span
                      span
                        span
                          label
                            input(type="checkbox", name="long-text-options", value="選択肢1")
                            span 選択肢1 長いテキスト長いテキスト長いテキスト長いテキスト長いテキスト
                        span
                          label
                            input(type="checkbox", name="long-text-options", value="選択肢2")
                            span 選択肢2 長いテキスト長いテキスト長いテキスト
                        span
                          label
                            input(type="checkbox", name="long-text-options", value="選択肢3")
                            span 選択肢3 長いテキスト
                        span
                          label
                            input(type="checkbox", name="long-text-options", value="選択肢4")
                            span 選択肢4 長いテキスト


            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | ラジオボタン（ブラウザのデフォルトから変更したいとき）
                  span.c-forms__label 必須
                +e.content
                  +e.radio.is-design.is-border
                    span
                      span
                        span
                          label
                            input(type="radio", name="custom-service-selection", value="選択肢1")
                            span 選択肢1
                        span
                          label
                            input(type="radio", name="custom-service-selection", value="選択肢2")
                            span 選択肢2

            +e.block
              +e("fieldset").fieldset
                +e("legend").title チェックボックス（ブラウザのデフォルトから変更したいとき）
                +e.content
                  +e.checkbox.is-design.is-border
                    span
                      span
                        span
                          label
                            input(type="checkbox", name="custom-service-options", value="選択肢1")
                            span 選択肢1
                        span
                          label
                            input(type="checkbox", name="custom-service-options", value="選択肢2")
                            span 選択肢2

            +e.block
              +e("label").title(for="your-name")
                | お名前
                span.c-forms__label 必須
                //- ★Contact form 7 の場合は name="name" は使えないので name="your-name" にしてください
              +e.content
                +e.input: input(type="text", name="your-name", placeholder="山田　太郎" , id="your-name")

            +e.block
              +e("label").title(for="company-name")
                | 会社名
                span.c-forms__label 必須
              +e.content
                +p.note: small ※個人の方は、「個人」とご入力ください
                +e.input: input(type="text", name="company-name", placeholder="〇〇株式会社" , id="company-name")

            +e.block
              +e("label").title(for="your-email")
                | メールアドレス
                span.c-forms__label 必須
                //- ★Contact form 7 の場合は メールアドレスは type="email" にしてください
              +e.content
                +e.input: input(type="email", name="your-email", placeholder="info@mail.jp" , id="your-email")

            +e.block
              +e("label").title(for="tel-number")
                | 電話番号
                span.c-forms__label 必須
                //- ★Contact form 7 の場合は 電話番号は type="tel" にしてください
              +e.content
                +e.input: input(type="tel", name="tel-number", placeholder="123-456-7890" , id="tel-number")

            +e.block
              +e("label").title(for="zip-code")
                | 郵便番号
                span.c-forms__label 必須
              +e.content
                +e.flex-al
                  +e.input.is-md: input(type="text", name="zip-code", placeholder="0001234" , id="zip-code")
                  button(onclick="AjaxZip3.zip2addr('zip-code','','address','address');", type="button").c-forms__button#zipauto 住所を自動入力

            +e.block
              +e("label").title(for="address")
                | ご住所
                span.c-forms__label 必須
              +e.content
                +e.input: input(type="text", name="address", placeholder="ご住所を入力してください" , id="address")

            +e.block
              +e("label").title(for="department-name")
                | 部署名
                span.c-forms__label 必須
              +e.content
                +e.select
                  select(name="department-name" , id="department-name")
                    option(disabled, selected) ー以下から選択してくださいー
                    option(value="選択肢A") 選択肢A
                    option(value="選択肢B") 選択肢B
                    option(value="選択肢C") 選択肢C

            +e.block
              +e("label").title(for="position")
                | 役職
                span.c-forms__label 必須
              +e.content
                +e.select
                  select(name="position" , id="position")
                    option(disabled, selected) ー以下から選択してくださいー
                    option(value="選択肢A") 選択肢A
                    option(value="選択肢B") 選択肢B
                    option(value="選択肢C") 選択肢C

            +e.block
              +e("label").title(for="your-message")
                | その他質問等
              +e.content
                +e.textarea
                  textarea(name="your-message", placeholder="" , id="your-message")

            +e.block
              +e("label").title(for="file-upload")
                | ファイルアップロード
              +e.content
                +e.file: input(type="file", name="file-upload" , id="file-upload")

          +e.head --姓名を分離するパターン--
          +e.blocks
            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | お名前
                  span.c-forms__label 必須
                +e.content
                  +e.flex-al
                    +e("label").flex-al
                      +e("span").flex-al-label 姓
                      +e.input: input(type="text", name="last-name", placeholder="山田")
                    +e("label").flex-al
                      +e("span").flex-al-label 名
                      +e.input: input(type="text", name="first-name", placeholder="太郎")
            +e.block
              +e("fieldset").fieldset
                +e("legend").title
                  | フリガナ
                  span.c-forms__label 必須
                +e.content
                  +e.flex-al
                    +e("label").flex-al
                      +e("span").flex-al-label(for="last-kana-name") セイ
                      +e.input: input(type="text", name="last-kana-name", placeholder="ヤマダ" , id="last-kana-name")
                    +e("span").flex-al
                      +e("label").flex-al-label(for="first-kana-name") メイ
                      +e.input: input(type="text", name="first-kana-name", placeholder="タロウ" , id="first-kana-name")

            +e.block
              +e.title
                | 生年月日
                span.c-forms__label 必須
              +e.content
                +e.flex-al
                  +e.flex-al-label 西暦
                  +e("label").flex-al
                    +e.input
                      input(type="text", name="birth-year", placeholder="1980")
                    +span.flex-al-unit 年
                  +e("label").flex-al
                    +e.input.is-sm
                      input(type="text", name="birth-month", placeholder="01")
                    +span.flex-al-unit 月
                  +e("label").flex-al
                    +e.input.is-sm
                      input(type="text", name="birth-day", placeholder="01")
                    +span.flex-al-unit 日
            +e.block
              +e.title
                | 生年月日
                span.c-forms__label 必須
              +e.content
                +e.flex-al
                  +e.flex-al-label 西暦
                  +e("label").flex-al
                    +span.select.is-sm
                      +select-nums("birth-year",1975,2007,"----")
                    +span.flex-al-unit 年
                  +e("label").flex-al
                    +span.select.is-sm
                      +select-nums("birth-month",1,12,"----")
                    +span.flex-al-unit 月
                  +e("label").flex-al
                    +span.select.is-sm
                      +select-nums("birth-day",1,31,"----")
                    +span.flex-al-unit 日
            +e.block
              +e.title
                | 年齢
                span.c-forms__label 必須
              +e.content
                +e.select.is-sm
                  +select-nums("age",18,50,"年齢を選択","歳")

          +e.head --MW WP Form版保存用--
          //- ★MW WP Formの場合はname値を日本語にします
          +e.blocks
            +e.block
              +e("fieldset").fieldset
                +e("legend").title チェックボックス
                +e.content
                  +e.checkbox.is-mw
                    span
                      label
                        input(type="checkbox", name="ご希望のサービス", value="選択肢1")
                        span 選択肢1
                    span
                      label
                        input(type="checkbox", name="ご希望のサービス", value="選択肢2")
                        span 選択肢2
            +e.block
              +e("fieldset").fieldset
                +e("legend").title ラジオボタン
                +e.content
                  +e.radio.is-mw
                  span
                    label
                      input(type="radio", name="ご希望のサービス", value="選択肢1")
                      span 選択肢1
                  span
                    label
                      input(type="radio", name="ご希望のサービス", value="選択肢2")
                      span 選択肢2

          +e.head --横並びパターン保存用--
          +e.blocks
            +e.block.is-horizontal
              +e("label").title(for="horizontal-pattern")
                | 横並びパターン
                span.c-forms__label 必須
              +e.content
                +e.input: input(type="text", name="horizontal-pattern", placeholder="〇〇株式会社" , id="horizontal-pattern")

            +e.block.is-horizontal
              +e("label").title.is-vertical-top(for="horizontal-pattern-title-top")
                | 横並び（タイトル上寄せ）
                span.c-forms__label 必須
              +e.content
                +p.note: small 補足のテキスト
                +e.input: input(type="text", name="horizontal-pattern-title-top", placeholder="〇〇株式会社" , id="horizontal-pattern-title-top")

            +e.block.is-horizontal
              +e("label").title.is-vertical-top(for="zip-code-address")
                | 住所
                span.c-forms__label 必須
              +e.content
                +e.flexbox
                  +span.flexbox-label 郵便番号
                  +e.flex-al
                    +e.input.is-sm: input(type="text", name="zip-code-address", placeholder="（例）464-0850" , id="zip-code-address")
                    button(onclick="AjaxZip3.zip2addr('zip-code-address','','address','address');", type="button").c-forms__button#zipauto 住所を自動入力
                +e.flexbox
                  +span.flexbox-label(for="address-detail") ご住所
                  +e.input: input(type="text", name="address-detail", placeholder="（例）愛知県名古屋市千種区今池3丁目12-20 KAビル 6F" , id="address-detail")


          +e.head --CF7用バリデーションパターン--
          +e.blocks
            +e.block
              +e.title チェックボックス
              +e.content
                +e.checkbox.is-border
                  span
                    span
                      span
                        label
                          input(type="checkbox", name="service-options", value="選択肢1")
                          span 選択肢1
                      span
                        label
                          input(type="checkbox", name="service-options", value="選択肢2")
                          span 選択肢2
                      span
                        label
                          input(type="checkbox", name="service-options", value="選択肢3")
                          span 選択肢3
                      span
                        label
                          input(type="checkbox", name="service-options", value="選択肢4")
                          span 選択肢4
                    span.wpcf7-not-valid-tip エラーメッセージ

            +e.block
              +e.title ラジオボタン
              +e.content
                +e.radio.is-border
                  span
                    span
                      span
                        label
                          input(type="radio", name="service-selection", value="選択肢1")
                          span 選択肢1
                      span
                        label
                          input(type="radio", name="service-selection", value="選択肢2")
                          span 選択肢2
                      span
                        label
                          input(type="radio", name="service-selection", value="選択肢3")
                          span 選択肢3
                      span
                        label
                          input(type="radio", name="service-selection", value="選択肢4")
                          span 選択肢4
                    span.wpcf7-not-valid-tip エラーメッセージ

            +e.block
              +e.title
                | お名前
                span.c-forms__label 必須
                //- ★Contact form 7 の場合は name="name" は使えないので name="your-name" にしてください
              +e.content
                +e.input
                  input(type="text", name="your-name", placeholder="山田　太郎")
                  span.wpcf7-not-valid-tip エラーメッセージ

            +e.block
              +e.title その他質問等
              +e.content
                +e.textarea
                  textarea(name="your-message", placeholder="")
                  span.wpcf7-not-valid-tip エラーメッセージ

            +e.block
              +e.title
                | ファイルアップロード
              +e.content
                +e.file
                  input(type="file", name="file-upload")
                  span.wpcf7-not-valid-tip エラーメッセージ



          //- WP側で c-forms__privacyの中のinputを判定して処理するので、
          //- 同意のチェックボックスは .c-forms__privacy の中に入れてください
          +e.privacy
            label
              input(type="checkbox", name="policy", value="確認しました")
              +a("/privacy-policy/")(target="_blank") 個人情報保護方針
              | の内容に同意する
          +e.submit
            button.c-button.is-xlg 確認画面へ
            //button.c-button.c-forms__submit__back.is-lg.is-secondary.is-arrow-left 戻る
            //button.c-button.c-forms__submit__submit.is-lg 送信する
