//- アコーディオン
//- Use Case
//- +accordion({id: String, className: String | null, title: String, text: String})
mixin accordion(props)
  .c-accordion.js-accordion(class=props.className ? props.className : "")&attributes(attributes)
    h2.c-accordion__title(data-accordion-title="true")
      button(aria-controls=props.id aria-expanded="false")=props.title
    .c-accordion__content(data-accordion-content="true" id=props.id)=props.text

//- - テンプレート
//-  .c-accordion.js-accordion
//-   h2.c-accordion__title(data-accordion-title="true")
//-     button(aria-controls="accordion-panel-1" aria-expanded="false") title
//-   .c-accordion__content(data-accordion-content="true")#accordion-panel-1 text
