//- パンくずリスト
mixin c_breadcrumb(parent,parentURL,parent2,parentURL2)
  if parent2
    +c.breadcrumb
      .l-container
        +e.inner
          span
            span
              +a("/") ホーム
              span.is-arrow <span class="material-icons-outlined">chevron_right</span>
              span
                +a('/'+parentURL+'/')=parent
                span.is-arrow <span class="material-icons-outlined">chevron_right</span>
                span
                  +a('/' + parentURL +'/' + parentURL2 + '/')=parent2
                  span.is-arrow <span class="material-icons-outlined">chevron_right</span>
                  span !{current.title}
  else if parent
    +c.breadcrumb
      .l-container
        +e.inner
          span
            span
              +a("/") ホーム
              span.is-arrow <span class="material-icons-outlined">chevron_right</span>
              span
                +a('/'+parentURL+'/')=parent
                span.is-arrow <span class="material-icons-outlined">chevron_right</span>
                span !{current.title}
  else
    +c.breadcrumb
      .l-container
        +e.inner
          span
            span
              +a("/") ホーム
              span.is-arrow <span class="material-icons-outlined">chevron_right</span>
              span !{current.title}
