//- メインビジュアル
mixin c_main-visual
  +c.main-visual
    +e.wrapper.js-main-visual.swiper
      +e.slider.swiper-wrapper
        +loop(3)
          +e.image.swiper-slide
            +picture("img-main-visual-01.jpg", "img-sample.jpg","", 1600, 620, 803, 451)
      +e.animation
        +e.bar.js-main-visual-bar: span
        +e.pagination.js-main-visual-pagination
      +e.inner
        .l-container
          +e.title: +img("img-main-visual-text.png","キャッチコピーが入ります",1048,118)
          +e.text テキストテキストテキスト。テキストテキストテキスト。<br>テキストテキストテキスト。


