//- メインビジュアル
mixin c_main-visual
  +c.main-visual
    +c.main-visual.swiper
      +e.slider.swiper-wrapper
        +loop(3)
          +e.image.swiper-slide: +bgimg("img-main-visual-01.jpg").bg-img
          +e.image.swiper-slide: +bgimg("img-sample.jpg").bg-img
      +e.animation
        +e.bar: span
        +e.pagination
      +e.inner
        .l-container
          +e.title: +img("img-main-visual-text.png","キャッチコピーが入ります")
          +e.text テキストテキストテキスト。テキストテキストテキスト。<br>テキストテキストテキスト。
  //+c.main-visual.splide
  //  .splide__track
  //    +e.slider.splide__list
  //      +e.slide.splide__slide
  //        +loop(4)
  //          +bgimg("img-main-visual-01.jpg").c-main-visual__image

