//- メインビジュアル
mixin c_main-visual
  +c.main-visual
    +e.wrapper.js-main-visual.swiper
      +e.slider.swiper-wrapper
        +loop(3)
          +e.image.swiper-slide
            +picture({
              pc: "img-main-visual-01.jpg",
              sp: "img-sample.jpg",
              width: 1600,
              height: 620,
              widthSp: 803,
              heightSp: 451
            })
      +e.animation
        +e.bar.js-main-visual-bar: span
        +e.pagination.js-main-visual-pagination
      +e.inner
        .l-container
          +e.title: +img("img-main-visual-text.png","キャッチコピーが入ります",1048,118)
          +e.text テキストテキストテキスト。テキストテキストテキスト。<br>テキストテキストテキスト。


