//- メインビジュアル
mixin l_offer
  .l-offer.is-color-primary
    .l-container
      .l-offer__inner
        h2.c-heading.is-xlg.is-white.is-bottom
          span CONTACT
          small お問い合わせ
        .l-offer__text 弊社のサービスへ興味をお持ちの方は、<br>下記の電話番号、もしくはお問い合わせフォームよりお気軽に問い合わせください。
        .l-offer__items
          .row
            .large-5.is-push-lg-1.small-12
              .l-offer__box
                .l-offer__box-text お電話の際は「ホームページを見て」と<br>お伝えください。
                .l-offer__box-tel
                  | <i class="fa fa-phone" aria-hidden="true"></i>00-000-0000
                  small 電話受付時間 / 平日00：00～00：00
            .large-5.small-12
              .l-offer__box
                .l-offer__box-text メールでのご相談・ご質問は<br>お問い合わせフォームをご活用ください。
                +a("#").c-button.is-lg.is-white お問い合わせフォーム
