//- メインビジュアル
mixin l_offer
  +l.offer
    .l-container
      +e.container
        +e.item
          +e.item-inner
            +e.item-title.
              N-NOSEの導入<small>を</small><br>ご検討<small>の</small><br><span>医療機関様</span><small>は</small>こちら
            +e.item-text.
              健康診断・人間ドックの<br>オプションもご相談ください。
            +e.item-button: +a("") お問い合わせフォーム

        +e.item
          +e.item-inner
            +e.item-title.
              <b>法人、団体のご担当者<small>様へ</small></b>
              <span>法人向けN-NOSE</span><small>の</small><br>
              導入<small>を</small>ご検討の方<small>は</small><br class="u-visible-md">こちら
            +e.item-text.
              従業員のがんの<br>早期発⾒をサポートします。
            +e.item-button: +a("") お問い合わせフォーム

