//- ページネーション
mixin c_pagination()
  +c.pagination
    ul
      li: +a("#").c-pagination__prev <span class="material-icons-outlined">chevron_left</span>
      li: span.is-current 1
      li: +a("#") 2
      li: +a("#") 3
      li: span.is-dot …
      li: +a("#") 10
      li: +a("#").c-pagination__next <span class="material-icons-outlined">chevron_right</span>
