//- ページネーション
mixin c_pagination()
  +c.pagination
    ul
      li: +a("#").c-pagination__prev <i class="fa fa-angle-left" aria-hidden="true"></i>
      li: span.is-current 1
      li: +a("#") 2
      li: +a("#") 3
      li: span.is-dot …
      li: +a("#") 10
      li: +a("#").c-pagination__next <i class="fa fa-angle-right" aria-hidden="true"></i>
