//- ページネーション
mixin c_pagination()
  +c.pagination
    ul
      li: +a("#").c-pagination__prev <i class="material-icons-outlined">chevron_left</i>
      li: span.is-current 1
      li: +a("#") 2
      li: +a("#") 3
      li: span.is-dot …
      li: +a("#") 10
      li: +a("#").c-pagination__next <i class="material-icons-outlined">chevron_right</i>
