//- ページヘッダー
mixin l_page_header(data)
  .l-page-header
    .l-page-header__image
      +img(data.image)
    .l-page-header__inner
      .l-page-header__subtitle !{data.subtitle}
      h1.l-page-header__title !{data.title}

