//- スクローラブルブロック（スクロールヒント）: 通常変更しないが変更自体はOK
mixin c_scrollable
  //- scroll-hint が .js-scrollableの親の要素に対して適用されるため
  //- c-scrollableと .js-scrollableを分けることを推奨
  .c-scrollable&attributes(attributes)
    .js-scrollable
      block
