//- ヘッダーのサイト内検索フォーム部分
mixin l_searchform()
  .l-searchform
    .l-searchform__overlay
    .l-container
      .l-searchform__inner
        button.l-searchform__close.js-header-searchform-close
          span.c-icon-font.l-searchform__close__icon close
        +c_searchform-bar("headerSearch")

//- サイト内共通の検索フォーム部分（ヘッダー、サイト内検索）
mixin c_searchform-bar(label)
  - var labeltext = label || "searchform"
  form.c-searchform-bar&attributes(attributes)
    label.c-searchform-bar__label(for=labeltext)
      span.u-visually-hidden キーワードから検索
      span.c-searchform-bar__icon(aria-hidden="true") search
    input(type="text", placeholder="キーワードから検索", id=labeltext)
    button 検索する

