//- ヘッダーのサイト内検索フォーム部分
mixin l_searchform(type)
  if type == "is-search"
    .l-searchform(class=type)
      .l-container
        .l-searchform__head.c-heading.is-lg.is-mg-level-2 サイト内検索
        .l-searchform__inner
          form.l-searchform__form
            label.l-searchform__form__label(for="searchform")
              span.l-searchform__form__icon(aria-label="キーワードから検索") search
            input(type="text", placeholder="キーワードから検索")#searchform
            button 検索する
  else
    .l-searchform(class=type)
      .l-searchform__overlay
      .l-container
        .l-searchform__inner
          button.l-searchform__close.js-header-searchform-close
            span.c-icon-font.l-searchform__close__icon close
          form.l-searchform__form.js-header-searchform-content
            label.l-searchform__form__label(for="searchform")
              span.l-searchform__form__icon(aria-label="キーワードから検索") search
            input(type="text", placeholder="キーワードから検索")#searchform
            button 検索する
