//- ヘッダーのサイト内検索フォーム部分
mixin l_searchform
  .l-searchform
    .l-searchform__overlay
    .l-container
      .l-searchform__inner
        button.l-searchform__close.js-header-searchform-close
          span.c-icon-font.l-searchform__close__icon close
        form.l-searchform__form.js-header-searchform-content
          label.l-searchform__form__label(for="searchform")
            span.u-visually-hidden キーワードから検索
            span.l-searchform__form__icon(aria-hidden="true") search
          input(type="text", placeholder="キーワードから検索")#searchform
          button 検索する
