//- スマホメニュー
mixin c_slidebar
  //-> スマホメニューのボタン
  +c("button").slidebar-button.js-slidebar-button(type="button")
    +e("span").inner
      +e("span").line
        span
        span
        span

  +c.slidebar-menu.js-slidebar-menu
    +e.button: +a("") N-NOSE®取り扱い<br>医療機関を探す
    +e.container
      +e.list
        +e.item: +aex("").item-link N-NOSE ご利用者の声
        +e.item: +aex("").item-link よくあるご質問
        +e.item: +aex("").item-link.is-white 医療機関様へ
        +e.item: +aex("").item-link.is-white 法人、団体のご担当者様へ

      +e.buttons
        +e.buttons-text ご自宅でN-NOSEを<br>受検したい方はこちら
        +aex("").buttons-button: +img("img-slidebar-menu-button-01.png")

