// アコーディオン
div.u-mbs.is-bottom
  +c.accordion
    +e.block.js-accordion
      +e.head(data-accordion-title="accordion-title")
        +e.icon Q
        +e.title 見出しタイトルテキスト16px　テキストテキストテキストテキストテキスト
      +e.content(data-accordion-content="accordion--text")
        +e.icon.is-color-accent A
        +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    +e.block.js-accordion
      +e.head(data-accordion-title="accordion-title")
        +e.icon Q
        +e.title 見出しタイトルテキスト16px　テキストテキストテキストテキストテキスト
      +e.content(data-accordion-content="accordion--text")
        +e.icon.is-color-accent A
        +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。

// その他アコーディオン
div.u-mbs.is-bottom
  +c.accordion-list
    +e.block.js-accordion
      +e.head(data-accordion-title="accordion-title") 2018年
      +e.content(data-accordion-content="accordion--text")
        ul
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
    +e.block.js-accordion
      +e.head(data-accordion-title="accordion-title") 2018年
      +e.content(data-accordion-content="accordion--text")
        ul
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
          li: +a("#") 「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）
