// タブ
// -> 通常タブ
div.u-mbs.is-bottom
  .row
    .large-5.is-push-lg-1.small-12
      +c.banners
        +a("#").c-banners__block
          span.c-banners__image: +img("img-banners-01.jpg")
          span.c-banners__text
            span 会社案内
            small COMPANY
    .large-5.small-12
      +c.banners
        +a("#").c-banners__block
          span.c-banners__image: +img("img-banners-01.jpg")
          span.c-banners__text
            span 会社案内
            small COMPANY
div.u-mbs.is-bottom
  +c.banners.is-lg
    +a("#").c-banners__block
      span.c-banners__image: +img("img-banners-lg-01.jpg")
      span.c-banners__text
        span COMPANY
        small 会社案内
    +a("#").c-banners__block
      span.c-banners__image: +img("img-banners-lg-01.jpg")
      span.c-banners__text
        span COMPANY
        small 会社案内
    +a("#").c-banners__block
      span.c-banners__image: +img("img-banners-lg-01.jpg")
      span.c-banners__text
        span COMPANY
        small 会社案内
