// ボタン関係
// -> カラー別
div.u-mbs.is-bottom
  +a("#").c-button ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-secondary ボタンテキスト

// -> サイズ別
div.u-mbs.is-bottom
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-lg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-sm ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-xs ボタンテキスト

+c_anchor-nav("u-mbs is-bottom",{
  link: "#section01",
  title: "テキストテキスト",
},{
  link: "#section02",
  title: "テキストテキスト",
},{
  link: "#section03",
  title: "テキストテキスト",
},{
  link: "#section04",
  title: "テキストテキスト",
})


//modaal系
//https://shu-naka-blog.com/website/modaal-js/#i-4
//div.u-mbs.is-bottom
//  data属性でやり取り
//  .c-button.js-modal-image(data-modaal-content-source="/assets/images/img-sample.jpg") モーダル画像
div.u-mbs.is-bottom(style="display:flex;")
  +a("/assets/images/img-sample.jpg").c-button.js-modal-image モーダル画像
  +a("/assets/images/logo.png").c-button.js-modal-image(data-group="gallery") モーダルギャラリー
    +a("/assets/images/logo.png")(data-group="gallery").js-modal-image
    +a("/assets/images/logo.png")(data-group="gallery").js-modal-image
    +a("/assets/images/logo.png")(data-group="gallery").js-modal-image
  +a("https://www.youtube.com/embed/M7lc1UVf-VE").c-button.js-modal-image.js-video モーダルiframe
  +a("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4").c-button.js-modal-image.js-video モーダルvideo
div.u-mbs.is-bottom(style="display:flex;")
  +a("#modal-content01").c-button.js-modal-content モーダルコンテンツ
  +a("#modal-content01").c-button.js-modal-image.js-open 初期モーダル

//IDで連動している
+c.block-modal#modal-content01
  +e.overlay
  +e.container
    +e.wrapper
      +e.head.c-heading.is-lg タイトルテキスト
      +e.inner
        +loop(5)
          +e.content
            +e.title.c-heading.is-md サブタイトルテキスト
            +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
