// ボタン関係
// -> カラー別
div.u-mbs.is-bottom
  +a("#").c-button ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-secondary ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-accent ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-white ボタンテキスト

// -> サイズ別
div.u-mbs.is-bottom
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-lg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-sm ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-xs ボタンテキスト
