// ボタン関係
// -> カラー別
div.u-mbs.is-bottom
  +a("#").c-button ボタンテキスト
  +a("#").c-button.is-secondary ボタンテキスト
  +a("#").c-button.is-accent ボタンテキスト
  +a("#").c-button.is-white ボタンテキスト

// -> サイズ別
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg ボタンテキスト
  +a("#").c-button.is-lg ボタンテキスト
  +a("#").c-button.is-sm ボタンテキスト
  +a("#").c-button.is-xs ボタンテキスト

// -> デザイン別
// ->-> ラインライト
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg.is-line-right ボタンテキスト
  +a("#").c-button.is-lg.is-line-right ボタンテキスト
  +a("#").c-button.is-sm.is-line-right MORE
  +a("#").c-button.is-xs.is-line-right MORE

// ->-> 矢印
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg.is-arrow-right ボタンテキスト
  +a("#").c-button.is-lg.is-arrow-right ボタンテキスト
  +a("#").c-button.is-xs.is-arrow-right MORE

// ->-> アイコン
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg.is-icon-right ボタンテキスト
  +a("#").c-button.is-lg.is-icon-right ボタンテキスト
  +a("#").c-button.is-sm.is-icon-right MORE
  +a("#").c-button.is-xs.is-icon-right ボタンテキスト
