// ボタン関係
// -> カラー別
div.u-mbs.is-bottom
  +a("#").c-button ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-secondary ボタンテキスト

// -> サイズ別
div.u-mbs.is-bottom
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-lg ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-sm ボタンテキスト
div.u-mbs.is-bottom
  +a("#").c-button.is-xs ボタンテキスト

+c.anchor-nav.u-mbs.is-bottom
  +e.buttons
    +loop(5)
      +e.button
        +a("#").c-button.is-nav.js-anchor テキスト
