// フォーム
// -> その他_部品
div.u-mbs.is-bottom
    +c.forms-step
      +e.inner
        +e.block.is-active
          +e.number STEP.01
          +e.title お客様情報入力
        +e.block
          +e.number STEP.02
          +e.title 内容確認
        +e.block
          +e.number STEP.03
          +e.title 送信完了
// -> その他_ボックススクロール
div.u-mbs.is-bottom
    +c.box-scroll
      +e.inner
        +e.title 個人情報の取り扱いについて
        +e.text.
          当サイトでは、「個人情報保護方針」に基づき、プライバシーポリシーを定めております。<br>
          ご入力頂いたお客様の情報は、当ホームページプライバシーポリシーに則り適切に取扱いします。<br>
          当サイトでは、「個人情報保護方針」に基づき、プライバシーポリシーを定めております。<br>
          ご入力頂いたお客様の情報は、当ホームページプライバシーポリシーに則り適切に取扱いします。<br>
          当サイトでは、「個人情報保護方針」に基づき、プライバシーポリシーを定めております。<br>
          ご入力頂いたお客様の情報は、当ホームページプライバシーポリシーに則り適切に取扱いします。<br>
          当サイトでは、「個人情報保護方針」に基づき、プライバシーポリシーを定めております。<br>
          ご入力頂いたお客様の情報は、当ホームページプライバシーポリシーに則り適切に取扱いします。<br>
          当サイトでは、「個人情報保護方針」に基づき、プライバシーポリシーを定めております。<br>
          ご入力頂いたお客様の情報は、当ホームページプライバシーポリシーに則り適切に取扱いします。<br>
// -> 部品
div.u-mbs.is-bottom
    +c.forms
        // -> インプット
        +e.block
            +e.title
                | インプット
                span.c-forms__label 必須
            +e.content
                input(type="text",placeholder="（例）")

        // -> パスワード
        +e.block
            +e.title パスワード
            +e.content
                input(type="password")

        // -> チェックボックス
        +e.block
            +e.title チェックボックス
            +e.content
                +e.checkbox
                    span
                        label
                            input(type="checkbox",name="チェックボックス",value="選択肢1",checked)
                            span 選択肢1
                    span
                        label
                            input(type="checkbox",name="チェックボックス",value="選択肢2")
                            span 選択肢2

        // -> ラジオボタン
        +e.block
            +e.title ラジオボタン
            +e.content
                +e.radio
                    span
                        label
                            input(type="radio",name="ラジオボタン",value="選択肢1",checked)
                            span 選択肢1
                    span
                        label
                            input(type="radio",name="ラジオボタン",value="選択肢2")
                            span 選択肢2
        // -> テキストエリア
        +e.block
            +e.title.is-vertical-top
                | テキストエリア
                span.c-forms__label 必須
            +e.content
                +e.radio
                    textarea(name="テキストエリア",placeholder="お問い合わせ内容をご記入ください。")

        // -> セレクトボックス
        +e.block
            +e.title セレクトボックス
            +e.content
                select(name="セレクトボックス")
                    option 選択してください
        +e.privacy
            input(type="checkbox",id="privacy-policy",name="「個人情報保護の取り扱いに関するご確認」を確認する",value="確認しました")
            label(for="privacy-policy")
                +a("/privacy-policy/") 個人情報保護の取り扱い
                | に関するご確認

// -> 全体
div.u-mbs.is-bottom
    +c.forms
        +e.block
            +e.title
                | 貴社名
                span.c-forms__label 必須
            +e.content
                input(type="text",name="貴社名",placeholder="（例）株式会社サンプル")
        +e.block
            +e.title 部署・役職
            +e.content
                input(type="text",name="部署・役職",placeholder="（例）営業部")
        +e.block
            +e.title
                | お問い合わせ種別
                span.c-forms__label 必須
            +e.content
                +e.radio
                    span
                        label
                            input(type="radio",name="お問い合わせ種別",value="選択肢1",checked)
                            span 選択肢1
                    span
                        label
                            input(type="radio",name="お問い合わせ種別",value="選択肢2")
                            span 選択肢2
                    span
                        label
                            input(type="radio",name="お問い合わせ種別",value="選択肢3",checked)
                            span 選択肢3
                    span
                        label
                            input(type="radio",name="お問い合わせ種別",value="選択肢4")
                            span 選択肢4
        +e.block
            +e.title
                | お名前
                span.c-forms__label 必須
            +e.content
                input(type="text",name="お名前",placeholder="（例）山田 太郎")
        +e.block
            +e.title
                | フリガナ
                span.c-forms__label 必須
            +e.content
                input(type="text",name="フリガナ",placeholder="（例）ヤマダ タロウ")
        +e.block
            +e.title
                | メールアドレス
                span.c-forms__label 必須
            +e.content
                input(type="text",name="メールアドレス",placeholder="（例）info@grow-group.jp")
        +e.block
            +e.title
                | TEL
                span.c-forms__label 必須
            +e.content
                input(type="text",name="TEL",placeholder="（例）052-753-6413")
        +e.block
            +e.title
                | 住所
                span.c-forms__label 必須
            +e.content
                +e.flexbox
                    span 郵便番号
                    input(type="text",name="郵便番号",placeholder="（例）464-0850").c-forms__input.is-sm
                    button.c-forms__button#zipauto 住所を自動入力
                +e.flexbox
                    span 住所
                    input(type="text",name="住所",placeholder="（例）愛知県名古屋市千種区今池3丁目12-20 KAビル 6F")
        +e.block
            +e.title.is-vertical-top お問い合わせ内容
            +e.content
                +e.radio
                    textarea(name="テキストエリア",placeholder="お問い合わせ内容をご記入ください。")
        +e.block
            +e.title どこで知ったか<br class="u-hidden-sm">(複数選択)
            +e.content.is-vertical-middle
                +e.checkbox
                    span
                        label
                            input(type="checkbox",name="どこで知ったか",value="選択肢1",checked)
                            span 選択肢1
                    span
                        label
                            input(type="checkbox",name="どこで知ったか",value="選択肢2")
                            span 選択肢2
        +e.block
            +e.title
                | 当社からのご連絡<br class="u-hidden-sm">方法について
                span.c-forms__label 必須
            +e.content.is-vertical-middle
                +e.radio
                    span
                        label
                            input(type="radio",name="当社からのご連絡方法について",value="電話",checked)
                            span 電話
                    span
                        label
                            input(type="radio",name="当社からのご連絡方法について",value="メール")
                            span メール
                    span
                        label
                            input(type="radio",name="当社からのご連絡方法について",value="いずれでも可")
                            span いずれでも可
        +e.block
            +e.title
                | 個人情報の<br class="u-hidden-sm">取扱いについて
                span.c-forms__label 必須
            +e.content.is-vertical-middle
                +e.privacy
                    input(type="checkbox",id="privacy-policy",name="「個人情報保護の取り扱いに関するご確認」を確認する",value="確認しました",checked)
                    label(for="privacy-policy")
                        +a("/privacy-policy/") 個人情報保護の取り扱い
                        | に関するご確認
        +e.submit
            button.c-button.is-lg 確認画面へ

        +e.submit.is-two-columns
            .row
                .large-3.is-push-lg-3.small-6
                    button.c-button.is-lg.is-secondary.is-arrow-left 戻る
                .large-3.small-6
                    button.c-button.is-lg 送信する
