
// 見出し
// -> h1見出し
div.u-mbs.is-bottom
  +heading-xlg("h1", "学びを探す").is-decoration
div.u-mbs.is-bottom
  +heading-xlg("h1", "学びを探す").is-decoration.is-white
div.u-mbs.is-bottom
  +heading-xlg("h1", "学びを探す").is-decoration.is-text-left
div.u-mbs.is-bottom
  +heading-xlg("h1", "学びを探す")



// -> h2見出し
div.u-mbs.is-bottom
  +heading-lg("h2","学びを探す").is-decoration
div.u-mbs.is-bottom
  +heading-lg("h2","学びを探す")


// -> h3見出し
div.u-mbs.is-bottom
  h3.c-heading.is-md.is-decoration 六番町オフィス
div.u-mbs.is-bottom
  h3.c-heading.is-md 六番町オフィス

// -> h4見出し
div.u-mbs.is-bottom
  h4.c-heading.is-sm.is-decoration 学びを探す
div.u-mbs.is-bottom
  h4.c-heading.is-sm 学びを探す


// -> h5見出し
div.u-mbs.is-bottom
  h5.c-heading.is-xs.is-decoration 学びを探す
div.u-mbs.is-bottom
  h5.c-heading.is-xs 学びを探す

// -> h6見出し
div.u-mbs.is-bottom
  h6.c-heading.is-xxs 学びを探す

