
// 見出し
// -> h1見出し
div.u-mbs.is-bottom
  +heading-xlg("h2","TEXTLEVEL1", "見出しレベル1")


// -> h2見出し
div.u-mbs.is-bottom
  +heading-lg("h2","見出しレベル2")


// -> h3見出し
div.u-mbs.is-bottom
  div.c-heading.is-md 見出しレベル3見出しレベル3見出しレベル3

// -> h4見出し
div.u-mbs.is-bottom
  div.c-heading.is-sm 見出しレベル4見出しレベル4見出しレベル4見出しレベ


// -> h5見出し
div.u-mbs.is-bottom
  div.c-heading.is-xs 見出しレベル5見出しレベル5見出しレベル5見出しレベ

// -> h6見出し
div.u-mbs.is-bottom
  div.c-heading.is-xxs 見出しレベル6見出しレベル6見出しレベル6見出しレベ
