// メインビジュアル
// -> 通常
div.u-mbs.is-bottom
    +c.main-visual
        +bgimg("img-main-visual-01.jpg").c-main-visual__image
        +e.inner
            +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
            +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら

// -> スライダー
div.u-mbs.is-bottom
    +c.main-visual
        +e.slider.owl-carousel
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
        +e.inner
            +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
            +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら

// -> カルーセル型
div.u-mbs.is-bottom
    +c.main-visual
        +e.carousel.owl-carousel
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら

// -> カルーセル型_ノーマル
div.u-mbs.is-bottom
    +c.main-visual
        +e.carousel.is-normal.is-dot-lg.owl-carousel
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら
            +bgimg("img-main-visual-01.jpg").c-main-visual__image
                +e.inner
                    +e.text: +img("img-main-visual-text.png","キャッチコピーが入ります")
                    +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら

// -> カルーセル型_レイヤー
div.u-mbs.is-bottom
    +c.main-visual-layer
        +e.carousel.owl-carousel
            +bgimg("img-main-visual-layer-01.jpg").c-main-visual-layer__image
            +bgimg("img-main-visual-layer-01.jpg").c-main-visual-layer__image
            +bgimg("img-main-visual-layer-01.jpg").c-main-visual-layer__image
        +e.inner
            +e.text: +img("img-main-visual-layer-text.png","キャッチコピーが入ります")
            +e.button: +a("/aboutus/").c-button.is-lg 詳細はこちら
