h3 画像モーダル
+a("https://placehold.jp/300x250.png").c-modal-link.js-modal(data-modal-type="image")
  img(src='https://placehold.jp/300x250.png' alt='画像1')

h3 画像モーダル（Buttonタグ）
button.c-modal-link.js-modal(data-modal-type="image" , data-modal-src="https://placehold.jp/300x250.png")
  img(src='https://placehold.jp/300x250.png' alt='画像1')

h3 画像モーダル：グループ化
+a("https://placehold.jp/300x250.png").c-modal-link.js-modal(data-modal-type="gallery" data-modal-group="group1")
  img(src='https://placehold.jp/300x250.png' alt='画像1')
+a("https://placehold.jp/300x300.png").c-modal-link.js-modal(data-modal-type="gallery" data-modal-group="group1")
  img(src='https://placehold.jp/300x300.png' alt='画像2')
+a("https://placehold.jp/400x300.png").c-modal-link.js-modal(data-modal-type="gallery" data-modal-group="group1")
  img(src='https://placehold.jp/400x300.png' alt='画像3')

h3 その他のコンテンツモーダル
// YouTubeモーダル
+a("https://www.youtube.com/watch?v=dQw4w9WgXcQ").js-modal(data-modal-type="youtube") YouTube動画を表示

// MP4モーダル
+a("https://lets-web.site/tools/sample-photo/video/hanabi-audio.mp4").js-modal(data-modal-type="video") MP4動画を表示

// iframeモーダル
+a("https://grow-group.jp/").js-modal(data-modal-type="iframe") iframeを表示

// コンテンツモーダル
+a("#source-content-id").c-modal-link.js-modal(data-modal-type="content") コンテンツを表示1
#source-content-id(style='display: none;')
  h2 モーダル内のコンテンツ1
  p
    | ここに任意のHTMLコンテンツを配置できます。
    br
    |     ここに任意のHTMLコンテンツを配置できます。
    |     ここに任意のHTMLコンテンツを配置できますここに任意のHTMLコンテンツを配置できます。

+a("#source-content-id2").c-modal-link.js-modal(data-modal-type="content") コンテンツを表示2
#source-content-id2(style='display: none;')
  h2 モーダル内のコンテンツ2
  p
    | ここに任意のHTMLコンテンツを配置できます。
    br
    |     ここに任意のHTMLコンテンツを配置できます。
    |     ここに任意のHTMLコンテンツを配置できますここに任意のHTMLコンテンツを配置できます。
