//アコーディオン
div.u-mbs.is-bottom
  +c.accordion
    +e.block.js-accordion.is-open
      +e.head(data-accordion-title="accordion-title")
        +e.icon Q
        +e.title 見出しタイトルテキスト16px　テキストテキストテキストテキストテキスト
      +e.content(data-accordion-content="accordion--text", style="display: block;")
        +e.icon.is-color-accent A
        +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    +e.block.js-accordion
      +e.head(data-accordion-title="accordion-title")
        +e.icon Q
        +e.title 見出しタイトルテキスト16px　テキストテキストテキストテキストテキスト
      +e.content(data-accordion-content="accordion--text")
        +e.icon.is-color-accent A
        +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
