//アコーディオン
div.u-mbs.is-bottom
  .l-container
    +accordion-list([
      {
        title: "見出しタイトルテキスト　テキストテキストテキストテキストテキスト",
        content: "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。",
        defaultOpen: true,
      },
      {
        title: "見出しタイトルテキスト　テキストテキストテキストテキストテキスト",
        content: `テキスト
                <br>
                <a href="">リンク</a>`,
      },

      {
        title: "<a href='https://example.com' target='_blank'>スマホではアコーディオン、PCでははじめから展開しているパターンのサンプル：PCのときリンクがあっても動作する</a>",
        content: "ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。",
        responsive: "950"
      },
    ])

h3 画面幅が狭いとき横スクロールする画像やテーブル

div.u-mbs.is-bottom
  +c_scrollable()
    +img("img-sample.jpg")

div.u-mbs.is-bottom
  +c_scrollable()
    table.c-table
      tbody
        tr
          th テスト
          th テスト
          th テスト
          th テスト
          th テスト
        tr
          td テスト
          td テスト
          td テスト
          td テスト
          td テスト
