// その他
// -> 複合検索（検索結果が違うページにあるパターン）
div.u-mbs.is-bottom
  .l-container
    +c.composite-search
      +e.inner
        +a("#").c-composite-search__block
          +bgimg("icon-area.png").c-composite-search__icon
          +e.title エリア検索
        +a("#").c-composite-search__block
          +bgimg("icon-route.png").c-composite-search__icon
          +e.title 路線検索
        +a("#").c-composite-search__block
          +bgimg("icon-terms.png").c-composite-search__icon
          +e.title 条件・こだわり検索
        +e.block.is-triangle-hidden
          +e.buttons
            +a("#").c-composite-search__button カテゴリー名
            +a("#").c-composite-search__button カテゴリー名
            +a("#").c-composite-search__button カテゴリー名
            +a("#").c-composite-search__button カテゴリー名
            +a("#").c-composite-search__button カテゴリー名
            +a("#").c-composite-search__button.is-more-button MORE
          +e.title 特徴から探す
      +e.input-box
        +e.input-inner
          +e.input-title キーワード検索
          +e.input
            form(name="", action="")
              input(type="text", name="", placeholder="物件名・駅・市区などのキーワードを入力ください。")
              button(type="button"): +img("icon-search.png")
// -> 複合検索（検索結果が同じページにあるパターン）
div.u-mbs.is-bottom
  .l-container
    +c.combined-search
      +e.title 求人検索
      form(name="", action="")
        +e.inner
          +e.block.is-sm
            +e.block-title 勤務地で探す
            +e.select
              select(name="")
                option(value="") すべての都道府県
                option(value="") 北海道
                option(value="") 東京都
          +e.block.is-sm
            +e.block-title 職種で探す
            +e.select
              select(name="")
                option(value="") すべての職種
                option(value="") エンジニア
                option(value="") デザイナー
          +e.block
            +e.block-title 職種で探す
            +e.input
              input(type="text", name="", placeholder="キーワードをご記入ください")
        +e.block
          +e.block-title 特徴で探す
          +e.tags
            ul
              +loop(16)
                li
                  label
                    input(type="checkbox", name="", value="").c-combined-search__tag
                    span 週3日以内OK
          +e.button
            +a("") <i class="fa fa-search" aria-hidden="true"></i>今すぐ求人検索
// -> 検索結果
div.u-mbs.is-bottom
  .l-container
    +c.search-result
      +e.title 求人検索結果「2件」
      +e.content
        +e.heading 現在の検索条件
        dl
          dt 勤務地
          dd
            span 「八王子」
        dl
          dt 特徴
          dd
            span 「週3日以内OK」
            span 「週3日以内OK」
            span 「週3日以内OK」
// -> ボックスアイテム
div.u-mbs.is-bottom
  .l-container
    +c.box-items
      +e.block
        +e.heading
          +e.title
            span 職種名　公共工事の交通誘導
            small 日本総合警備株式会　立川本社
          +e.button.u-hidden-sm
            +a("") 詳細を見る
        +e.inner
          +e.image: +img("img-box-item.jpg")
          +e.content
            dl.u-hidden-sm
              dt.is-icon.is-icon-time 勤務時間
              dd [1] 08:00～17:00 ｜ [2] 20:00～翌05:00
            dl
              dt.is-icon.is-icon-money 給与
              dd.
                日給 1万1000円 以上 <br>
                (1)日勤:1万1000円（一律交通費1,000円込）<br>
                (2)夜勤:1万3000円（一律交通費1,000円込）
            dl
              dt.is-icon.is-icon-pos 勤務地
              dd ●●区内
            dl.u-hidden-sm
              dt.is-icon.is-icon-tag 特長
              dd.is-tags-flex
                span 未経験OK
                span 大学生歓迎
                span フリーター歓迎
                span 主婦・主夫歓迎
                span シニア歓迎
                span 長期歓迎
        +e.button.u-hidden-lg
          +a("") 詳細を見る<i class="fa fa-angle-right" aria-hidden="true"></i>
// -> マップ検索
div.u-mbs.is-bottom
  .l-container
    +c.map-search
      +e.map <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6773055.127092922!2d133.96455865812015!3d38.22044839209497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2z5pel5pys!5e0!3m2!1sja!2sjp!4v1564376401917!5m2!1sja!2sjp" frameborder="0" style="border:0"></iframe>
      +e.content
        form(name="", action="")
          +e.input
            +e.select
              select(name="")
                option(value="") 都道府県から探す
                option(value="") 岐阜県
                option(value="") 岐阜県
            input(type="text", name="", placeholder="駅名や店舗名などをご入力ください。")
            +e.submit
              input(type="submit", value="絞り込み検索")
        +a("#").c-map-search__pos <i class="fa fa-map-marker" aria-hidden="true"></i>現在地から探す
// -> バナー検索
div.u-mbs.is-bottom
    +c.banner-search
      .l-container
        +e.inner
          +e.title お近くの<br class="u-hidden-sm">店舗を探す
          +e.content
            form(name="", action="")
              +e.input
                +e.select.u-visible-lg
                  select(name="")
                    option(value="") 都道府県から探す
                    option(value="") 岐阜県
                    option(value="") 岐阜県
                input(type="text", name="", placeholder="駅名や店舗名などをご入力ください。")
                +e.submit
                  input(type="submit", value="")
              +a("#").js-anchor.c-banner-search__select.u-hidden-lg 都道府県から探す
              +a("#").c-banner-search__pos.u-hidden-lg <i class="fa fa-map-marker" aria-hidden="true"></i>現在地から探す
            +a("#").c-banner-search__pos.u-visible-lg <i class="fa fa-map-marker" aria-hidden="true"></i>現在地から探す
// -> バナー検索_小さめ
div.u-mbs.is-bottom
  +c.banner-search.is-sm
    .l-container
      +e.inner
        +e.title
          span SEARCH
          small 商品を探す
        +e.content
          form(name="", action="")
            +e.select.u-hidden-lg
              select(name="")
                option(value="") すべてのジャンル
                option(value="") ジャンル１
                option(value="") ジャンル２
            +e.input
              +e.select.u-visible-lg
                select(name="")
                  option(value="") すべてのジャンル
                  option(value="") ジャンル１
                  option(value="") ジャンル２
              input(type="text", name="", placeholder="商品コードや商品名を入力下さい。")
              +e.submit.u-visible-lg
                input(type="submit", value="検 索")
              +e.submit.u-hidden-lg
                input(type="submit", value="")
// -> フォントサイズ変換
div.u-mbs.is-bottom
    +c.fontsize-changer
        +e.text 文字サイズ
        +e.btns
            +e.btn#small
                span 小
            +e.btn.is-active#medium
                span 中
            +e.btn#large
                span 大

// -> フォントサイズ変換_標準拡大
div.u-mbs.is-bottom
  +c.fontsize-changer.is-two-btn
    +e.text 文字サイズ
    +e.btns
      +e.btn.is-active#medium
        span 標準
      +e.btn#large
        span 拡大

// -> SNSボタン
div.u-mbs.is-bottom
  +c.sns-btns
    +e.inner
      +a("").c-sns-btns__btn: +img("icon-instagram.png")
      +a("").c-sns-btns__btn: +img("icon-line.png")
      +a("").c-sns-btns__btn: +img("icon-twitter.png")
      +a("").c-sns-btns__btn: +img("icon-facebook.png")
      +a("").c-sns-btns__btn: +img("icon-youtube-01.png")
      +a("").c-sns-btns__btn: +img("icon-youtube-02.png")
      +a("").c-sns-btns__btn: +img("icon-youtube-03.png")
