// ページヘッダー・breadcrumb
// -> 通常
div.u-mbs.is-bottom
  .l-page-header
    .l-page-header__image: +img("img-page-header-format.jpg")
    .l-page-header__inner
      h1.c-page-header__title PAGE TITLE
      +e.subtitle ページタイトル
  .c-breadcrumb
    .l-container
      .c-breadcrumb__inner
        span: +a("/") ホーム
        span >
        span 企業情報
// -> 画像なし単色
div.u-mbs.is-bottom
  .l-page-header.is-image-hidden
    .l-page-header__inner
      h1.c-page-header__title PAGE TITLE
      .l-page-header__subtitle ページタイトル
    +c.breadcrumb
      .l-container
        +e.inner
          span: +a("/") ホーム
          span >
          span 企業情報
