// タブ
// -> 通常タブ
div.u-mbs.is-bottom
  +c.tabs.js-tabs
    ul.c-tabs__navs.js-tabs-nav
      li: +a("#").is-active(data-tab-target="0") タブ1
      li: +a("#")(data-tab-target="1") タブ2
    .c-tabs__content.is-active.js-tabs-content(data-tab-name="0")
      h3 タブ1
    .c-tabs__content.js-tabs-content(data-tab-name="1")
      h3 タブ2

// -> インデックスタブ
div.u-mbs.is-bottom
  +c.tabs.is-index.js-tabs
    ul.c-tabs__navs.js-tabs-nav
      li: +a("#").is-active(data-tab-target="0") タブ1
      li: +a("#")(data-tab-target="1") タブ2
      li: +a("#")(data-tab-target="2") タブ3
      li: +a("#")(data-tab-target="3") タブ4
      li: +a("#")(data-tab-target="4") タブ5

    .c-tabs__content.is-active.js-tabs-content(data-tab-name="0")
      h3 タブ1
    .c-tabs__content.js-tabs-content(data-tab-name="1")
      h3 タブ2
    .c-tabs__content.js-tabs-content(data-tab-name="2")
      h3 タブ3
    .c-tabs__content.js-tabs-content(data-tab-name="3")
      h3 タブ4
    .c-tabs__content.js-tabs-content(data-tab-name="4")
      h3 タブ5
