


// テーブル
div.u-mbs.is-bottom
  table.c-table
    thead
      tr
        th thテキスト(thead)
        th thテキスト(thead)
    tbody
      tr
        th thテキスト
        td tdテキストテキストテキストテキストテキスト
      tr
        th thテキスト
        td tdテキストテキストテキストテキストテキスト
      tr
        th thテキスト
        td tdテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

div.u-mbs.is-bottom
  .c-scrollable
    table.c-table-xlg.js-scrollable
      thead
        tr
          th タイトル
          th タイトル
          th タイトル
      tbody
        tr
          th タイトル
          td テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          td テキストテキストテキストテキストテキスト
        tr
          th タイトル
          td テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          td テキストテキストテキストテキストテキスト

div.u-mbs.is-bottom
  .l-container.is-sm
    table.c-table-sm
      thead
        tr
          th 受付時間
          td 月
          td 火
          td 水
          td 木
          td 金
          td 土
          td 日・祝
      tbody
        tr
          th <span>午前</span>9:00～12:30
          td 院長
          td 院長
          td 院長
          td 院長
          td 院長
          td 院長
          td <span>×</span>
        tr
          th <span>午後</span>14:30～18:00
          td 院長
          td 院長
          td 院長
          td 院長
          td 院長
          td <span>×</span>
          td <span>×</span>
