// 日本語ベースフォント
div.u-mbs.is-bottom
  p 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。

  div.u-mbs.is-bottom
    strong 強調テキスト

  div.u-mbs.is-bottom
    small 縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト

  // 基本テキストのスタイル
  div.u-mbs.is-bottom
    +a("#").u-text-link リンクテキスト
    br
    +a("#").u-text-link.is-pdf PDFテキスト
    br
    +a("#").u-text-link.is-map MAPテキスト
    br
    +a("#").u-text-link.is-outlink MAPテキスト

  // 引用テキスト
  div.u-mbs.is-bottom
    blockquote.c-blockquote これは引用テキストです。これは引用テキストです。これは引用テキストです。<br>これは引用テキストです。これは引用テキストです。これは引用テキストです。
