extends /inc/foundation/_base.pug
block append config
  - current.id = "format" // ページのID
  - current.title = "フォーマット" // タイトル
  - current.description = "これはフォーマットページの説明文です" // 説明文
  - current.bodyClass = "format" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  +c_page_header("pagehead-default.jpg","スタイルガイド","STYLE GUIDE")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 私たちについて

  // テキスト関係
  include /format/components/_text.pug

  // ボタン関係
  include /format/components/_buttons.pug

  // カードデザイン
  include /format/components/_card.pug

  // ブロックデザイン
  include /format/components/_block.pug

  // タブ
  include /format/components/_tab.pug

  // バナー
  include /format/components/_banner.pug

  // オファー
  include /format/components/_offer.pug

  // お知らせ
  include /format/components/_news.pug

  // 導入事例スライダー
  include /format/components/_case-slider.pug

  // フッター
  include /format/components/_footer.pug

  // ヘッダー
  include /format/components/_header.pug

  // メインビジュアル
  include /format/components/_mainvisual.pug
