extends /inc/foundation/_base.pug
block append config
  - current.id = "mixinexample" // ページのID
  - current.title = "Mixin サンプル" // タイトル
  - current.description = "" // 説明文
  - current.bodyClass = "mixinexample" // body に付与するクラス
  - current.depth = 2 // ページの階層
block body
  .l-container
    +c_button("a","テキスト","test").is-lg
    +p_post_item("div","https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150","タイトル","2016.10.10","カテゴリ","説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文").is-horizon
    +l_section("bottom")
    +heading("h2","xlg") これが見出しテキストです。
    +l_section("bottom")
      form
        +input("tel","text")(placeholder="これがデフォルト値です")

        +select("tel",[{
          text: "テキスト1",
          value: "値1"
        }, {
          text: "テキスト2",
          value: "値2"
        }, {
          text: "テキスト3",
          value: "値3"
        },])

        +radio("radio",[{
          label: "ラベル1",
          value: "値1",
        }, {
          label: "ラベル2",
          value: "値2",
        }, {
          label: "ラベル3",
          value: "値3",
        }, {
          label: "ラベル4",
          value: "値4",
        }])

        +checkbox("checkbox",[{
          label: "ラベル1",
          value: "値1",
        }, {
          label: "ラベル2",
          value: "値2",
        }, {
          label: "ラベル3",
          value: "値3",
        }, {
          label: "ラベル4",
          value: "値4",
        }])

        +textarea("test",30)

    +c_table([
      {
        th: "見出し1",
        _1: "通常",
        _2: "通常",
      }, {
        th: "見出し1",
        _1: "通常",
        _2: "通常",
      }, {
        th: "見出し1",
        _1: {
          attr: {
            colspan: 2
          },
          text: "通常"
        },
      },
    ])
    +list([
      "リスト1",
      "リスト2",
      "リスト3",
      {
        attr: {
          class: "is-active"
        },
        link: "http://asdfasdfasdf.com",
        text: "テキスト"
      },
      {
        attr: {
          class: "is-active"
        },
        link: {
          href: "text",
          target: "_blank",
        },
        text: "テキスト",
      }
    ])
    +heading("h2","xlg") メッセージ
    +message("danger","ここにメッセージ文が入ります")
    +message("warning","ここにメッセージ文が入ります")
    +message("success","ここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入ります")
    +message("info","ここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入ります")
    +message("primary","ここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入りますここにメッセージ文が入ります")

    +heading("h2","xlg") アコーディオン
    +accordion("danger","これがタイトルです。","これがコンテンツです")

    +heading("h2","xlg") パンくず
    +breadcrumb([
      {
        link: "/",
        text: "ホーム"
      },
      "現在地"
    ])

    +heading("h2","xlg") お問い合わせフォーム

    +contactform("name","post.php",[
      {
        label: "テキスト",
        type: "text",
        name: "textbox",
        require: true,
      }, {
        label: "セレクトボックス",
        type: "select",
        name: "select",
        options: []
      }, {
        label: "テキスト",
        type: "text",
        name: "textbox"
      },
    ])





