extends /inc/foundation/_base.pug
block append config
  - current.id = "voice" // ページのID
  - current.title = "導入事例" // タイトル
  - current.description = "これは導入事例の説明文です" // 説明文
  - current.bodyClass = "voice" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","導入事例","CASE")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 導入事例

block body
  section.l-main
    .l-container
      .l-section.is-lg
        .row
          +loop(12)
            .large-4.medium-4.small-12
              +a("/case/01/").c-case.u-mbs.is-bottom.is-sm
                .c-case__image(style="background-image: url('/assets/images/img-card-01.jpg');")
                .c-case__title 導入事例タイトル
                ul.c-case__label
                  li <span class="c-label is-secondary is-sm is-box">カテゴリ1</span>
                  li <span class="c-label is-secondary is-sm is-box">カテゴリ2</span>
                .c-case__text 一覧用の文章となります。文字数は50文字以内で行数は3行程度を目安に掲載を行います。
  +c_relation()
  +c_offer()
