// レイアウト
//
// Webサイトのレイアウトに関するコンポーネント群
//
//
// Styleguide 5.0.0

// コンテナー
//
// 全体で共通となるコンテナ
//
// markup:
// <div class="l-container"></div>
//
// Styleguide 5.5.0

.l-container {
  max-width: $grid-row-width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  padding-inline: 32px;

  @include breakpoint(small down) {
    padding-inline: 16px;
  }
  &.is-two-columns {
    display: flex;
    padding: 0!important;

    @include breakpoint(medium down) {
      display: block;
    }
  }

  &.is-sm {
    max-width: rem-calc(944);
    margin: 0 auto;
  }
}

