/*
---
name: フッター_シンプル
category: Layout
---
```types.html
<footer class="l-footer-simple">
  <div class="l-container">
    <div class="l-footer-simple__content"><a class="l-footer-simple__logo" href="/"><img src="/dist/assets/images/logo-white.png" alt="ロゴ"></a>
      <address class="l-footer-simple__address">〒464-0850 愛知県名古屋市千種区今池3丁目12-20 KAビル6F<br>TEL：052-753-6413 / FAX：052-753-6414</address>
      <div class="l-footer-simple__copyright"><small>＠2019 サンプル Co.Ltd.</small></div>
    </div>
  </div>
</footer>
```
*/

.l-footer-simple {
  background-color: $color-primary;
  color: $color-white;

  &__content {
    padding: rem-calc(48) 0 rem-calc(24);
    text-align: center;
    @include breakpoint(medium down) {
    }
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: rem-calc(175);
    margin: 0 auto;
  }
  &__address {
    font-style: normal;
    font-size: rem-calc(13);
    letter-spacing: 0.1em;
    margin-top: rem-calc(24);
    margin-bottom: rem-calc(10);
    @include breakpoint(medium down) {
      font-size: rem-calc(12);
    }
  }
  &__copyright {
    display: block;
    text-align: center;
    @include breakpoint(medium down) {
      margin-top: 0;
      text-align: center;
    }
    small {
      color: rgba($color-white, 0.5);
      font-size: rem-calc(12);
      line-height: 18/12*1;
    }
  }
}
