/*
---
name: フッター_シンプル
category: Layout
---
*/

@use "sass:math";

.l-footer-simple {
  background-color: $color-primary;
  color: $color-white;

  &__content {
    padding: rem-calc(48) 0 rem-calc(24);
    text-align: center;
    @include breakpoint(medium down) {
    }
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: rem-calc(175);
    margin: 0 auto;
  }
  &__address {
    font-style: normal;
    font-size: rem-calc(13);
    letter-spacing: 0.1em;
    margin-top: rem-calc(24);
    margin-bottom: rem-calc(10);
    @include breakpoint(medium down) {
      font-size: rem-calc(12);
    }
  }
  &__copyright {
    display: block;
    text-align: center;
    @include breakpoint(medium down) {
      margin-top: 0;
      text-align: center;
    }
    small {
      color: rgba($color-white, 0.5);
      font-size: rem-calc(12);
      line-height: math.div(18, 12)*1;
    }
  }
}
