/*
---
name: フッター_通常
category: Layout
---
```types.html
<footer class="l-footer-normal">
  <div class="l-footer-normal__inner">
    <div class="l-footer-normal__content"><a class="l-footer-normal__logo" href="/"><img src="/dist/assets/images/logo.png" alt="ロゴ"></a>
      <address class="l-footer-normal__address">〒464-0850 愛知県名古屋市千種区今池3丁目12-20 KAビル6F<br>TEL：052-753-6413 / FAX：052-753-6414</address>
    </div>
    <div class="l-footer-normal__menu">
      <div class="l-footer-normal__block">
        <ul class="l-footer-normal__menulist">
          <li><a href="/">ホーム</a>
          </li>
          <li><a href="/aboutus/">私たちについて</a>
          </li>
          <li><a href="/company/">会社案内</a>
          </li>
        </ul>
      </div>
      <div class="l-footer-normal__block">
        <div class="l-footer-normal__menutitle"><span>事業内容</span></div>
        <ul class="l-footer-normal__menulist is-sub">
          <li><a href="/service/service1/">サービス1</a>
          </li>
          <li><a href="/service/service2">サービス2</a>
          </li>
          <li><a href="/service/service3/">サービス3</a>
          </li>
        </ul>
      </div>
      <div class="l-footer-normal__block">
        <div class="l-footer-normal__menutitle"><span>採用情報</span></div>
        <ul class="l-footer-normal__menulist is-sub">
          <li><a href="/recruit/staff/">社員紹介</a>
          </li>
          <li><a href="/recruit/offer/">募集要項</a>
          </li>
          <li><a href="/recruit/entry/">エントリー</a>
          </li>
        </ul>
      </div>
      <div class="l-footer-normal__block">
        <ul class="l-footer-normal__menulist">
          <li><a href="/news/">お知らせ</a>
          </li>
          <li><a href="/faq/">よくあるご質問</a>
          </li>
          <li><a href="/contact/">お問い合わせ</a>
          </li>
        </ul>
        <ul class="l-footer-normal__menulist is-sub is-menu-bottom">
          <li><a href="/privacy-policy/">個人情報保護方針</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-footer-normal__copyright"><small>＠2019 サンプル Co.Ltd.</small></div>
</footer>
```
*/

.l-footer-normal {
  background-color: $color-secondary;
  color: $font-base-color;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: rem-calc(55) rem-calc(148) rem-calc(30) rem-calc(130);
    @media (max-width: 1240px) {
      padding: rem-calc(55) rem-calc(74) rem-calc(30) rem-calc(65);
    }
    @media (max-width: 1100px) {
      padding: rem-calc(55) rem-calc(37) rem-calc(30) rem-calc(32);
    }
    @include breakpoint(medium down) {
      display: block;
      padding: rem-calc(55) rem-calc(16) rem-calc(0);
    }
  }
  &__content {
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(24);
    }
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: rem-calc(175);
  }
  &__address {
    font-style: normal;
    font-size: rem-calc(13);
    letter-spacing: 0.1em;
    margin-top: 24px;
    @include breakpoint(medium down) {
      font-size: rem-calc(12);
    }
  }
  &__menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include breakpoint(medium down) {
      display: block;
      width: calc(100%);
      padding-top: rem-calc(0);
      padding-bottom: rem-calc(0);
    }
    @include breakpoint(small only) {
      width: calc(100% + 32px);
      margin-left: rem-calc(-16);
    }
  }
  &__block {
    padding-right: rem-calc(56);
    @media (max-width: 1100px) {
      padding-right: rem-calc(32);
    }
    &:last-child {
      padding-right: 0;
    }
    @media (max-width: 900px) {
      padding-right: rem-calc(24);
    }
    @include breakpoint(medium down) {
      padding: 0;
    }
  }
  &__menutitle {
    margin-bottom: rem-calc(7);
    font-weight: 700;
    font-size: rem-calc(14);
    @include breakpoint(medium down) {
      border-bottom: 1px solid $border-base-color;
      padding: rem-calc(12) rem-calc(24);
      margin: 0;
      background-color: $color-secondary;
      &:before {
        content: "\f107";
        font-family: "FontAwesome";
        color: $color-primary;
        padding-right: rem-calc(12);
      }
      &.is-open {
        &:before {
          content: "\f106";
        }
      }
    }
  }
  &__menulist {
    li {
      margin-bottom: rem-calc(8);
      @include breakpoint(medium down) {
        margin: 0!important;
        border-bottom: 1px solid $border-base-color;
      }
      a {
        color: $font-base-color;
        text-decoration: none;
        font-weight: 700;
        font-size: rem-calc(14);
        @include breakpoint(medium down) {
          padding: rem-calc(14) rem-calc(24);
          display: block;
          background-color: $color-secondary;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &.is-sub {
      margin-left: rem-calc(10);
      @include breakpoint(medium down) {
        display: none;
      }
      li {
        margin-bottom: rem-calc(10);
        line-height: 1;
        @include breakpoint(medium down) {
          border: none;
        }
        a {
          font-weight: 400;
          font-size: 13px;
          color: $font-base-color;
          @include breakpoint(medium down) {
            padding: rem-calc(10) rem-calc(44);
          }
        }
      }
    }
    &.is-menu-bottom {
      margin-left: 0;
      @include breakpoint(medium down) {
        display: block;
        border-bottom: 1px solid $border-base-color;
      }
      li {
        margin-top: rem-calc(50);
        @include breakpoint(medium down) {
          display: block;
          background-color: $color-secondary;
          &:hover {
            opacity: 1;
          }
        }
        a {
          font-size: rem-calc(12);
          @include breakpoint(medium down) {
            font-size: rem-calc(14);
            font-weight: 700;
            padding: rem-calc(14) rem-calc(24);
            line-height: 24.5/14*1;
          }
        }
      }
    }
  }
  &__copyright {
    padding: rem-calc(13) 0 rem-calc(10);
    display: block;
    background-color: $color-white;
    text-align: center;
    @include breakpoint(medium down) {
      margin-top: 0;
      text-align: center;
      padding: rem-calc(24) 0 rem-calc(24);
    }
    small {
      font-size: rem-calc(12);
      line-height: 18/12*1;
    }
  }
}
