/*
---
name: フッター_サイトマップ型
category: Layout
---
*/


/*
---
name: フッター_サイトマップ型
category: Layout
---
*/
.l-footer {
  margin: 0 auto;
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  color: #202020;
  line-height: 1.8;
}
.l-footer__menu {
  background-color: #f4f4f4;
  padding: 5.625rem 0 7.5rem;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__menu {
    padding: 3.125rem 0 6.25rem;
  }
}
.l-footer__block {
  width: 58.25rem;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__block {
    width: 100%;
  }
}
.l-footer__title {
  font-family: "Shippori Mincho B1", serif;
  text-align: center;
  font-size: 2.375rem;
  line-height: 1.5;
  --letter-spacing: 0.1em;
  font-weight: 400;
  color: #02aadc;
  margin-bottom: 1.5625rem;
}
.l-footer__title span {
  display: inline-block;
  padding: 0 1.25rem;
  border-left: 2px solid #02aadc;
  border-right: 2px solid #02aadc;
}
.l-footer__about {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #434343;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__about {
    font-size: 0.9375rem;
    line-height: 1.4666666667;
    --letter-spacing: 0.05em;
  }
}
.l-footer__about dt {
  width: 10rem;
  padding: 1.375rem 0 1.375rem 0.625rem;
  color: #02aadc;
  font-weight: 400;
  border-top: 1px solid #434343;
}
@media screen and (max-width: 75em) {
  .l-footer__about dt {
    width: 17.1122994652%;
    padding: 2.3529411765% 0 2.3529411765% 1.0695187166%;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__about dt {
    width: 100%;
    padding: 0.9375rem 0 0;
    line-height: 1.8;
  }
}
.l-footer__about dd {
  width: 48.25rem;
  padding: 1.375rem 0;
  border-top: 1px solid #434343;
}
@media screen and (max-width: 75em) {
  .l-footer__about dd {
    width: 82.5668449198%;
    padding: 2.3529411765% 0;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__about dd {
    width: 100%;
    padding: 0 0 0.9375rem;
    border: none;
  }
}
.l-footer__about dd strong {
  display: block;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__about dd strong {
    margin: 0.625rem 0 0.3125rem;
  }
}
.l-footer__secondary {
  padding: 7.1428571429vw 0 2.4285714286vw;
}
@media screen and (max-width: 75em) {
  .l-footer__secondary {
    padding: 6.25rem 0 2.125rem;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary {
    padding: 5rem 0 2.125rem;
  }
}
.l-footer__secondary__wrap {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary__wrap {
    flex-direction: column;
    padding: 0 1.25rem;
  }
}
.l-footer__secondary__logo {
  width: 15.5rem;
  margin: 0 auto 0 0;
}
@media screen and (max-width: 75em) {
  .l-footer__secondary__logo {
    width: 17.7142857143vw;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary__logo {
    width: 15.5rem;
    margin: 0 auto 3.5rem;
  }
}
.l-footer__secondary__list {
  margin: 0 3.375rem 0 0;
}
@media screen and (max-width: 75em) {
  .l-footer__secondary__list {
    margin: 0 3.8571428571vw 0 0;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary__list {
    margin: 0 0 3.125rem;
    text-align: center;
  }
}
.l-footer__secondary__list li a {
  font-size: 0.8125rem;
  text-decoration: none;
  color: #202020;
}
@media screen and (max-width: 75em) {
  .l-footer__secondary__list li a {
    font-size: 0.9285714286vw;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary__list li a {
    font-size: 0.8125rem;
  }
}
.l-footer__secondary__outlink {
  width: 18.9375rem;
}
@media screen and (max-width: 75em) {
  .l-footer__secondary__outlink {
    width: 21.6428571429vw;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__secondary__outlink {
    width: 18.9375rem;
    margin: 0 auto;
  }
}
.l-footer__secondary__outlink img {
  width: 100%;
  height: auto;
}
.l-footer__bottom {
  background-color: #fff;
  padding: 6.25rem 0 2.125rem;
}
@media screen and (max-width: 75em) {
  .l-footer__bottom {
    padding: 7.1428571429vw 0 2.4285714286vw;
  }
}
@media screen and (max-width: 59.3125em) {
  .l-footer__bottom {
    padding: 0 0 2.125rem;
  }
}
.l-footer__bottom__wrap {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__bottom__wrap {
    flex-direction: column;
    text-align: center;
  }
}
.l-footer__bottom__text {
  display: inline-block;
  font-size: 0.625rem;
  line-height: 1;
  --letter-spacing: 0.05em;
  margin: 0 0.4375rem;
}
@media screen and (max-width: 59.3125em) {
  .l-footer__bottom__text {
    display: block;
    margin: 0 0 0.625rem;
  }
}
.l-footer__bottom__copyright {
  display: inline-block;
  font-size: 0.625rem;
  line-height: 1;
  --letter-spacing: 0.05em;
  margin: 0 0.4375rem;
}
