/*
---
name: ヘッダー_通常
category: Layout
---
```types.html
<header class="l-header">
          <div class="l-container">
            <div class="l-header__inner">
              <div class="l-header__heading"><a href="/"><img src="/dist/assets/images/logo.png" alt="株式会社サンプル"></a>
              </div>
              <div class="l-header__content">
                <ul class="l-header__submenu">
                  <li><a href="#"><i class="fa fa-hospital-o" aria-hidden="true"></i>医療機関様へ</a>
                  </li>
                  <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>交通アクセス</a>
                  </li>
                </ul><a class="l-header__tel" href="tel: 00-0000-0000"><span><i class="fa fa-phone" aria-hidden="true"></i>00-0000-0000</span><small>受付時間 / 平日00：00～00：00</small></a><a class="l-header__button c-button is-sm" href="/contact/"><i class="fa fa-envelope" aria-hidden="true"></i>お問い合わせ</a>
              </div>
            </div>
          </div>
        </header>
        <nav class="l-global-nav">
          <div class="l-container">
            <ul>
              <li><a href="#">ホーム</a>
              </li>
              <li><a href="#">メニュー1</a>
              </li>
              <li><a href="#">メニュー2</a>
              </li>
              <li><a href="#">メニュー3</a>
              </li>
              <li><a href="#">メニュー4</a>
              </li>
              <li><a href="#">メニュー5</a>
              </li>
              <li><a href="#">メニュー6</a>
              </li>
            </ul>
          </div>
        </nav>
```
*/
.l-header {
  background-color: $color-white;
  width: 100%;
  z-index: 9990;
  padding: rem-calc(24) 0;
  @include breakpoint(medium down) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem-calc(12) 0;
    height: rem-calc(55);
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__heading {
    margin: 0;
    width: rem-calc(418)/2;
    @include breakpoint(medium down) {
      width: rem-calc(418)/3;
    }
    a,
    img {
      display: block;
    }
  }
  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &__submenu {
    display: flex;
    align-items: center;
    li {
      margin-left: 12px;
      a {
        display: block;
        width: rem-calc(142);
        color: $font-base-color;
        border: 1px solid $color-primary;
        text-decoration: none;
        text-align: center;
        background-color: $color-white;
        font-size: rem-calc(13);
        font-weight: 400;
        border-radius: 1000px;
        padding: 3px 8px;
        i {
          margin-right: 5px;
          color: $color-primary;
        }
      }
    }
  }
  &__tel {
    display: block;
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    line-height: 1.4;
    margin-left: 20px;
    @include breakpoint(medium down) {
      display: none;
    }
    //電話番号
    span {
      color: $color-primary;
      @include webfont();
      font-size: 24px;
      letter-spacing: 0.02em;
      display: block;
    }
    //アイコン
    i {
      margin-right: 6px;
    }
    //受付時間
    small {
      font-size: 12px;
      letter-spacing: 0.05em;
      display: block;
    }
  }
  &__button {
    //*矢印削除
    max-width: rem-calc(196)!important;
    margin-left: 24px;
    &:after {
      display: none;
    }
    //*アイコン
    i {
      font-size: 16px;
      padding-right: 8px;
    }
  }
}






