/*
---
name: ヘッダー
category: Layout
---
*/
@use "sass:math";

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all .3s;
  @include breakpoint(medium down) {
    width: calc(100% - 60px);
    height: 100%;
    max-height: rem-calc(60);
    background: $color-white;
  }
  &__container {
    display: flex;
    padding-right: rem-calc(80);
    @include breakpoint(medium down) {
      padding: rem-calc(0) rem-calc(0) rem-calc(0) rem-calc(9);
    }
  }
  &__logo {
    padding: rem-calc(12) rem-calc(14) rem-calc(12) rem-calc(40);
    background: $color-white;
    display: inline-flex;
    align-items: center;
    margin: 0;
    @include breakpoint(medium down) {
      padding: rem-calc(6) 0;
      background: none;
    }
    a, img {
      width: 194px;
      @include breakpoint(medium down) {
        width: 148px;
      }
    }
  }

}

// スマホメニューopen時
.is-slidebar-active {
  .l-header {
    background: none;
    transition: all .3s;
  }
}




