// メインカラム
//
// ページのメインとなるコンテンツを囲むラッパ
//
// markup:
// <div class="l-main"></div>
//
// Styleguide 5.6.0

// メインカラム
$layout-main-width: calc(100% - rem-calc(320)) !default;
$layout-main-float: left !default;

.l-main {
  &.is-twocolumns {
    width: calc(100% - 293px - 64px);
    @include breakpoint(medium down) {
      width: 100%;
      padding-bottom: rem-calc(48);
    }
  }
}
