/*
---
name: オファー_通常
category: Layout
---
*/
.l-offer {
  display: block;
  background: #F4F8F9;
  &__container {
    display: flex;
    margin: 0 rem-calc(-18);
    padding: rem-calc(80) 0;
    @include breakpoint(medium down) {
      display: block;
      margin: 0;
      padding: rem-calc(36) 0;
    }
  }

  &__item {
    width: 50%;
    padding: 0 rem-calc(18);
    @include breakpoint(medium down) {
      width: 100%;
      margin-top: rem-calc(16);
      padding: 0 rem-calc(16);
    }
    &:first-child {
      margin-top: rem-calc(0);
    }
    &-inner {
      background: $color-white;
      padding: rem-calc(32) rem-calc(62) rem-calc(56);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      border-radius: 4px;
      @include breakpoint(medium down) {
        padding: rem-calc(32) rem-calc(24);
        display: block;
      }
    }
    &-title {
      @include font-format(32, .04, 48,600);
      text-align: center;
      font-family: "Noto Serif JP";
      color: $font-base-color;
      @include breakpoint(medium down) {
        @include font-format(24, .04, 36,600);
      }
      b {
        display: inline-block;
        color: $color-primary;
        @include font-format(20, .04, 34,bold);
        margin-bottom: rem-calc(25);
        padding-bottom: rem-calc(5);
        border-bottom: 2px solid $color-primary;
        position: relative;
        @include breakpoint(medium down) {
          @include font-format(16, .04, 27,bold);
        }
        small {
          display: inline-block;
          @include font-format(15, .04, 25.5,bold);
          @include breakpoint(medium down) {
            @include font-format(13, .04, 22.1,bold);
          }
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: rem-calc(-10);
          left: 0;
          margin: auto;
          height: calc(20px / 2);
          width: 20px;
          clip-path: polygon(0 0, 100% 0, 50% 100%);
          background: $color-primary;
        }
      }
      span {
        display: inline-block;
        color: $color-primary;
      }
      small {
        display: inline-block;
        @include font-format(24, .04, 36,600);
        @include breakpoint(medium down) {
          @include font-format(18, .04, 36,600);
        }
      }
    }
    &-text {
      margin-top: rem-calc(18);
      text-align: center;
      @include font-format(18, .04, 32);
      @include breakpoint(medium down) {
        margin-top: rem-calc(10);
        @include font-format(15, .04, 26);
      }
    }
    &-button {
      margin: rem-calc(24) auto 0;
      max-width: rem-calc(303);
      @include breakpoint(medium down) {
        margin-top: rem-calc(20);
        max-width: rem-calc(255);
      }
      a {
        display: block;
        text-decoration: none;
        @include font-format(18, .04, 29,bold);
        color: $color-white;
        padding: rem-calc(16) rem-calc(56);
        background: $color-primary;
        border-radius: 10px;
        position: relative;
        @include breakpoint(medium down) {
          padding: rem-calc(16) rem-calc(36);
          @include font-format(16, .04, 25,bold);
        }
        &::after {
          content: "\e5cc";
          font-family: "Material Icons Outlined";
          position: absolute;
          top: 0;
          right: rem-calc(20);
          bottom: 0;
          margin: auto;
          width: rem-calc(12);
          height: rem-calc(18);
          color: $color-white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include hover {
          opacity: .5;
        }
      }
    }
  }
}
