// エディタ出力調整
// 
// ヴィジュアルエディタ出力調整用css
//

.l-post-content {
  p {
    text-align: left;
  }
  h2 {
    @extend .c-heading;
    @extend .c-heading.is-md;
    @extend .c-heading.is-line-under;
    margin-top: 0;
    color: $color-primary;
  }
  h3 {
    @extend .c-heading;
    @extend .c-heading.is-sm;
    @extend .c-heading.is-border-under;
    margin-bottom: rem-calc(48);
    margin-top: 0;
    @include breakpoint(small only) {
      margin-bottom: rem-calc(24);
    }
  }
  h4 {
    @extend .c-heading;
    @extend .c-heading.is-xs;
    @extend .c-heading.is-color-primary;
    @extend .c-heading.is-bg-color;
    margin-top: 0;
    margin-bottom: rem-calc(24);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(16);
    }
  }
  h5 {
    @extend .c-heading;
    @extend .c-heading.is-xxs;
    color: $color-primary;
    @extend .c-heading.is-icon;
    margin-top: 0;
    &:before {
      content: "\f10c";
      font-family: "FontAwesome";
      line-height: 1;
      display: block;
    }
  }
  h6 {
    @extend .c-heading;
    @extend .c-heading.is-xxs;
    margin-top: 0;
  }
  table {
    @extend .c-table;
  }
}

.l-post-content.is-twocolumns {
  h2 {
    @extend .c-heading.is-text-left;
    margin-bottom: rem-calc(48);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(24);
    }
  }
}
