.l-searchform {
  position: fixed;
  top: rem-calc(80);
  left: 0;
  width: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  padding: rem-calc(90) 0;

  @include breakpoint(medium down) {
    top: rem-calc(55);
  }
  @include breakpoint(small down) {
    padding: rem-calc(60) 0;
  }

  &__inner {
    width: 100%;
    max-width: rem-calc(748);
    position: relative;
    margin: auto;
  }

  &__overlay {
    position: absolute;
    background: rgba($font-base-color, .9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__close {
    position: absolute;
    right: rem-calc(-66);
    top: rem-calc(-66);
    color: $color-white;
    background: transparent;
    border: none;
    padding: 0;
    @include breakpoint(medium down) {
      right: rem-calc(-4);
      top: rem-calc(-48);
    }
    &:hover {
      opacity: 0.5;
    }
    &__icon {
      font-size: rem-calc(48);
    }
  }



  //検索フォーム本体部分
  &__form{
    display: flex;
    align-items: center;
    height: rem-calc(72);
    width: 100%;
    max-width: rem-calc(748);
    margin: auto;
    position: relative;
    background: $color-white;

    @include breakpoint(small only) {
      height: rem-calc(46);
    }

    &__icon {
      color: $font-base-color;
      line-height: 1;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem-calc(20);

      span{
        font-size: rem-calc(30);
      }

      @include breakpoint(small only) {
        padding: rem-calc(10);
        span{
          font-size: rem-calc(20);
        }
      }
    }

    input {
      border: none;
      border-left: solid 1px $border-base-color;
      font-family: inherit;
      position: relative;
      height: rem-calc(40);
      padding-left: rem-calc(22);
      line-height: 1;
      @include breakpoint(small only) {
        height: rem-calc(22);
        padding-top: 0;
        padding-bottom: rem-calc(4);
      }

      &::placeholder {
        line-height: 1;
        color: $color-gray;
        @include breakpoint(small only) {
          font-size: rem-calc(11);
        }
      }
    }

    button {
      width: rem-calc(130);
      flex-shrink: 0;
      background: $color-primary;
      border: none;
      padding: 0;
      color: $color-white;
      font-size: rem-calc(16);
      font-weight: bold;
      height: 100%;
      transition: all 0.2s ease-out;

      @include breakpoint(small only) {
        width: rem-calc(78);
        font-size: rem-calc(12);
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

}

body.is-search-modal-open {
  .l-searchform {
    visibility: visible;
    opacity: 1;
  }
}
