/*
WordPress の柔軟フィールド用の余白スタイル
*/

.l-block {
  &__margin-normal {
    margin-top: 56px;
    @include breakpoint(small only) {
      margin-top: 56px*0.5;
    }
  }

  &__margin-large {
    margin-top: 64px;
    @include breakpoint(small only) {
      margin-top: 64px*0.5;
    }
  }

  &__margin-medium {
    margin-top: 48px;
    @include breakpoint(small only) {
      margin-top: 24px*0.5;
    }
  }

  &__margin-small {
    margin-top: 24px;
    @include breakpoint(small only) {
      margin-top: 24px*0.5;
    }
  }

  &__margin-none {
    margin-top: 0;
  }
}
