/*
---
name: ヘッダー
category: Layout
---
*/
@use "sass:math";

.l-header {
  background-color: $color-white;
  width: 100%;
  z-index: 9990;
  position: absolute;
  top: 0;
  left: 0;

  &.is-fixed {
    position: fixed;
  }

  &__content {
    max-width: 2560px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 16px 32px 24px;
    height: rem-calc($header-height);

    @include breakpoint(medium down) {
      padding: 3px 64px 3px 16px;
      height: rem-calc($header-height-sp);
    }
  }

  &__logo {
    margin: 0;
    width: min-vw(175);
    flex-shrink: 0;
    @include breakpoint(medium down) {
      width: 148px;
    }

    a,
    img {
      display: block;
    }
  }

  &__nav {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: min-vw(24);
  }


  // メインメニュー
  &__mainmenu {
    display: flex;
    align-items: center;
    gap: min-vw(32);

    @include breakpoint(medium down) {
      display: none;
    }

    li {

      a {
        font-size: min-vw(14);
        position: relative;
        padding-bottom: 36px;

        //装飾
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $color-primary;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          opacity: 0;
          transform: scaleX(0);
          @include transition();
        }

        //*hover

        @include hover() {
          opacity: 1;
          color: $color-primary;

          &::after {
            transform: scaleX(1);
            opacity: 1;
          }
        }
      }
    }
  }


  // サブメニュー
  &__submenu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    z-index: 9999;
    background-color: rgba(#F4F7F9, 0.95);
    padding-top: 64px;
    padding-bottom: 40px;
    visibility: hidden;
    opacity: 0;
    @include transition(.2s);

    @include breakpoint(large down){
      padding-left: 24px;
      padding-right: 24px;
    }
  }


  &__submenu-outer {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__submenu-title {
    width: 390px;
    padding-top: 8px;

    span {
      @include webfont();
      font-size: 56px;
      letter-spacing: 0.05em;
      display: block;
    }

    small {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.05em;
      display: block;
    }
  }

  &__submenu-content {
    width: calc(100% - 390px);
  }

  &__submenu-menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  &__submenu-block {
    padding-bottom: 0;
    opacity: 1;

    &::after {
      display: none;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    span {
      font-size: 15px;
      font-weight: 700;
      margin-top: 10px;
      display: block;
    }

    @include hover() {
      color: $color-primary;
    }
  }


  &__lang{
    font-size: min-vw(14);

    @include breakpoint(medium down) {
      display: none;
    }
  }

  //その他
  &__button {
    @include breakpoint(medium down) {
      display: none;
    }

    &.c-button.is-sm {
      color: $color-white;
      font-size: min-vw(14);
      max-width: min-vw(196);

      &::after {
        display: none;
      }
    }

    //*アイコン
    span {
      font-size: 16px;
      padding-right: min-vw(8);
      vertical-align: sub;
    }
  }


  //検索
  &__search {
    position: relative;
    display: block;
    width: 100%;
    max-width: min-vw(180);

    border: 1px solid $font-base-color;
    color: $font-base-color;
    background: none;
    border-radius: 16px;
    font-size: min-vw(11);
    line-height: 1.5;
    font-weight: 400;
    padding: 8px min-vw(20) 8px min-vw(42);
    @include transition(.2s);


    @include breakpoint(medium down) {
      padding: 0;
      width: 44px;
      height: 44px;
      border: 0;

      span {
        display: none;
      }
      &::before {
        inset: 0;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 18px;
      margin: auto;
      @include icon-font();
      content: "search";
      font-size: 18px;
    }

    @include hover() {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
    &.is-active {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }


}

.l-header.is-simple {
  .l-header__nav, .l-header__search, .l-header__button {
    display: none;
  }
}

// スマホメニューopen時
.is-slidebar-active {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
  }
}
