/*
---
name: ヘッダー
category: Layout
---
*/
@use "sass:math";

.l-header {
  background-color: $color-white;
  width: 100%;
  z-index: 9990;
  position: absolute;
  top: 0;
  left: 0;


  &.is-fixed {
    position: fixed;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__content {
    max-width: rem-calc(2560);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: rem-calc(16) rem-calc(32) rem-calc(24);
    height: rem-calc($header-height);

    @include breakpoint(medium down) {
      padding: rem-calc(3) rem-calc(64) rem-calc(3) rem-calc(16);
      height: rem-calc($header-height-sp);
    }
  }

  &__logo {
    margin: 0;
    width: min-vw(175);
    flex-shrink: 0;
    @include breakpoint(medium down) {
      width: 148px;
    }

    a,
    img {
      display: block;
    }
  }

  &__nav {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: min-vw(24);
  }


  // メインメニュー
  &__mainmenu {
    display: flex;
    align-items: center;
    gap: min-vw(32);

    @include breakpoint(medium down) {
      display: none;
    }

    li {

      a {
        font-size: min-vw(14);
        position: relative;
        padding-bottom: rem-calc(36);

        //装飾
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: rem-calc(2);
          background-color: $color-primary;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          opacity: 0;
          transform: scaleX(0);
          @include transition();
        }

        //*hover

        @include hover() {
          opacity: 1;
          color: $color-primary;

          &::after {
            transform: scaleX(1);
            opacity: 1;
          }
        }
      }
    }
  }


  // サブメニュー
  &__submenu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    z-index: 9999;
    background-color: rgba(#F4F7F9, 0.95);
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(40);
    visibility: hidden;
    opacity: 0;
    @include transition(.2s);

    @include breakpoint(large down){
      padding-left: rem-calc(24);
      padding-right: rem-calc(24);
    }
  }


  &__submenu-outer {
    display: flex;
    width: 100%;
    max-width: rem-calc(1140);
    margin: 0 auto;
  }

  &__submenu-title {
    width: rem-calc(390);
    padding-top: rem-calc(8);

    span {
      @include webfont();
      font-size: rem-calc(56);
      letter-spacing: 0.05em;
      display: block;
    }

    small {
      font-weight: 700;
      font-size: rem-calc(18);
      letter-spacing: 0.05em;
      display: block;
    }
  }

  &__submenu-content {
    width: calc(100% - 390px);
  }

  &__submenu-menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(32);
  }

  &__submenu-block {
    padding-bottom: 0;
    opacity: 1;

    &::after {
      display: none;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    span {
      font-size: rem-calc(15);
      font-weight: 700;
      margin-top: rem-calc(10);
      display: block;
    }

    @include hover() {
      color: $color-primary;
    }
  }


  &__lang{
    font-size: min-vw(14);

    @include breakpoint(medium down) {
      display: none;
    }
  }

  //その他
  &__button {
    @include breakpoint(medium down) {
      display: none;
    }

    &.c-button.is-sm {
      color: $color-white;
      font-size: min-vw(14);
      max-width: min-vw(196);

      &::after {
        display: none;
      }
    }

    //*アイコン
    span {
      font-size: rem-calc(16);
      padding-right: min-vw(8);
      vertical-align: sub;
    }
  }


  //検索
  &__search {
    position: relative;
    display: block;
    width: 100%;
    max-width: min-vw(180);

    border: 1px solid $font-base-color;
    color: $font-base-color;
    background: none;
    border-radius: 16px;
    font-size: min-vw(11);
    line-height: 1.5;
    font-weight: 400;
    padding: rem-calc(8) min-vw(20) rem-calc(8) min-vw(42);
    @include transition(.2s);


    @include breakpoint(medium down) {
      padding: 0;
      width: rem-calc(44);
      height: rem-calc(44);
      border: 0;

      span {
        display: none;
      }
      &::before {
        inset: 0;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: rem-calc(18);
      margin: auto;
      @include icon-font();
      content: "search";
      font-size: rem-calc(18);
    }

    @include hover() {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
    &.is-active {
      background: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }


}

.l-header.is-simple {
  .l-header__nav, .l-header__search, .l-header__button {
    display: none;
  }
}

// スマホメニューopen時
.is-slidebar-active {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
  }
}




