// メインカラム
//
// ページのメインとなるコンテンツを囲むラッパ
//
// markup:
// <div class="l-main"></div>
//
// Styleguide 5.6.0

// メインカラム


.l-main {
  //width: 100%;
  //margin: 0 auto;
}

.l-main.is-two-column {
  padding: rem-calc(80) 0;
  @include breakpoint(medium down) {
    padding: rem-calc(40) 0;
  }
}
.l-main.is-two-column .l-container {
  display: flex;
  align-items: stretch;
  @include breakpoint(medium down) {
    display: block;
  }
  & .l-wrapper {
    max-width: $mainContainer;
    margin-right: rem-calc($asideMargin);
    width: 100%;
    @include breakpoint(medium down) {
      margin:auto;
      max-width: inherit;
    }
  }
}
.l-main.is-search {
  padding-top: rem-calc(48);

  @include breakpoint(medium down) {
    padding-top: rem-calc(32);
  }

  .l-container {

    .l-wrapper {
      max-width: $mainSearchContainer;
    }

    .l-aside {
      max-width: rem-calc($asideSearchContainer);

      @include breakpoint(medium down) {
        max-width: 100%;
      }
    }
  }

  .c-pagination li > span, .c-pagination li > a {
    width: rem-calc(40);
    height: rem-calc(40);

    @include breakpoint(small down) {
      width: rem-calc(32);
      height: rem-calc(32);
    }
  }
}
