.l-searchform {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  padding: 90px 0;
  @include transition(.2s);

  @include breakpoint(medium down) {
    top: 55px;
  }
  @include breakpoint(small down) {
    padding: 60px 0;
  }

  &__inner {
    width: 100%;
    max-width: 748px;
    position: relative;
    margin: auto;
  }

  &__overlay {
    position: absolute;
    background: rgba($font-base-color, .9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__close {
    position: absolute;
    right: rem-calc(-66);
    top: rem-calc(-66);
    color: $color-white;
    background: transparent;
    border: none;
    padding: 0;
    @include breakpoint(medium down) {
      right: rem-calc(-4);
      top: rem-calc(-48);
    }

    @include hover(){
      opacity: 0.5;
    }

    &__icon {
      font-size: 48px;
    }
  }
}

body.is-search-modal-open {
  .l-searchform {
    visibility: visible;
    opacity: 1;
  }
}
