.l-searchform {
  position: fixed;
  top: rem-calc(80);
  left: 0;
  width: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  padding: rem-calc(90) 0;
  @include transition(.2s);

  @include breakpoint(medium down) {
    top: rem-calc(55);
  }
  @include breakpoint(small down) {
    padding: rem-calc(60) 0;
  }

  &__inner {
    width: 100%;
    max-width: rem-calc(748);
    position: relative;
    margin: auto;
  }

  &__overlay {
    position: absolute;
    background: rgba($font-base-color, .9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__close {
    position: absolute;
    right: rem-calc(-66);
    top: rem-calc(-66);
    color: $color-white;
    background: transparent;
    border: none;
    padding: 0;
    @include breakpoint(medium down) {
      right: rem-calc(-4);
      top: rem-calc(-48);
    }
    &:hover {
      opacity: 0.5;
    }
    &__icon {
      font-size: rem-calc(48);
    }
  }



  //検索フォーム本体部分
  &__form {
    display: flex;
    align-items: center;
    height: rem-calc(72);
    width: 100%;
    max-width: rem-calc(748);
    margin: auto;
    position: relative;
    background: $color-white;

    @include breakpoint(small only) {
      height: rem-calc(46);
    }

    &__label {
      flex-shrink: 0;
    }

    &__icon {
      @include icon-font();
      font-size: rem-calc(24);
      color: $font-base-color;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem-calc(20);
      box-sizing: content-box;

      @include breakpoint(small only) {
        padding: rem-calc(10);
        span {
          font-size: rem-calc(20);
        }
      }
    }

    input {
      border: none;
      border-left: solid 1px $border-base-color;
      font-family: inherit;
      position: relative;
      height: rem-calc(40);
      padding-left: rem-calc(22);
      line-height: 1;
      @include breakpoint(small only) {
        height: rem-calc(22);
        padding-top: 0;
        padding-bottom: rem-calc(4);
      }

      &::placeholder {
        line-height: 1;
        color: $color-gray;
        @include breakpoint(small only) {
          font-size: rem-calc(11);
        }
      }
    }

    button {
      width: rem-calc(130);
      flex-shrink: 0;
      background: $color-primary;
      border: none;
      padding: 0;
      color: $color-white;
      font-size: rem-calc(16);
      font-weight: bold;
      height: 100%;
      @include transition-colors(0.2s);

      @include breakpoint(small only) {
        width: rem-calc(78);
        font-size: rem-calc(12);
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__title {
    flex-shrink: 0;
    @include font-format(14,null,21,700);
    margin-top: rem-calc(2);

    @include breakpoint(small down) {
      font-size: rem-calc(13);
      margin-top: 0;
    }
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    gap: rem-calc(16);
    margin-top: rem-calc(20);

    @include breakpoint(small down) {
      flex-direction: column;
      margin-top: rem-calc(16);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem-calc(16) rem-calc(24);

    @include breakpoint(small down) {
      gap: rem-calc(12) rem-calc(16);
    }

    li {

      label {
        cursor: pointer;

        input[type=checkbox] {
          vertical-align: text-bottom;
        }

        span {
          @include font-format-light(14,21);
          margin-left: rem-calc(12);

          @include breakpoint(small down) {
            font-size: rem-calc(13);
            margin-left: rem-calc(8);
          }
        }
      }
    }
  }

  &.is-search {
    position: relative;
    top: 0;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    padding: rem-calc(46) 0 0;

    .l-searchform__inner {
      max-width: 100%;
      background-color: $color-background;
      padding: rem-calc(24)
    ;

      @include breakpoint(small down) {
        padding: rem-calc(16) rem-calc(20);
      }
    }

    .l-searchform__form {
      max-width: 100%;

      @include breakpoint(medium up) {
        height: rem-calc(56);
      }

      input {

        @include breakpoint(medium up) {
          height: rem-calc(32);
        }
      }
    }
  }
}

body.is-search-modal-open {
  .l-searchform {
    visibility: visible;
    opacity: 1;
  }
}
