// セクション
//
// セクションのスタイル
//
// markup:
// <div class="l-section [is-lg | is-md | is-sm | is-bottom | is-top]"></div>
//
// Styleguide 5.3.0

// サイズ定義 (必ずPC用, SP用の2つの値を指定)
$sizes: (
  xlg: (120, 60),
  lg: (100, 50),
  md: (80, 40),
  sm: (64, 32),
  xs: (32, 16),
);


.l-section {

  // サイズ設定
  @each $key, $value in $sizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      padding-top: rem-calc($pc-value);
      padding-bottom: rem-calc($pc-value);
      @include breakpoint(small down) {
        padding-top: rem-calc($sp-value);
        padding-bottom: rem-calc($sp-value);
      }

      &-top {
        padding-top: rem-calc($pc-value);
        @include breakpoint(small down) {
          padding-top: rem-calc($sp-value);
        }
      }

      &-bottom {
        padding-bottom: rem-calc($pc-value);
        @include breakpoint(small down) {
          padding-bottom: rem-calc($sp-value);
        }
      }
    }
  }


  // カラー設定
  //->プライマリー
  &.is-color-primary {
    background-color: $color-primary;
  }
  //->セカンダリー
  &.is-color-secondary {
    background-color: $color-secondary;
  }

  // マージン設定
  &.is-top {
    padding-bottom: 0 !important;
  }

  &.is-bottom {
    padding-top: 0 !important;
  }

  &.is-bg-color{
    background: $color-background;
  }
}


.l-section.is-scroll-margin-responsive {
  scroll-margin-top: rem-calc(200);
  @include breakpoint(small only) {
    scroll-margin-top: 0;
  }
}


//検索結果
.l-section.is-search-result {
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(80);

  @include breakpoint(medium down) {
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(40);
  }
}
