// セクション
//
// セクションのスタイル
//
// markup:
// <div class="l-section [is-lg | is-md | is-sm | is-bottom | is-top]"></div>
//
// Styleguide 5.3.0

.l-section {

  // height: #{$sectionDefault[1] * 1px};
  // @include breakpoint(small down) {
  //   height: #{$sectionDefault[2] * 1px};
  // }

  // サイズ設定
  @each $key, $value in $sectionSizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      padding-top: #{$pc-value * 1px};
      padding-bottom: #{$pc-value * 1px};
      @include breakpoint(small down) {
        padding-top: #{$sp-value * 1px};
        padding-bottom: #{$sp-value * 1px};
      }

      &-top {
        padding-top: #{$pc-value * 1px};
        @include breakpoint(small down) {
          padding-top: #{$sp-value * 1px};
        }
      }

      &-bottom {
        padding-bottom: #{$pc-value * 1px};
        @include breakpoint(small down) {
          padding-bottom: #{$sp-value * 1px};
        }
      }
    }
  }


  // カラー設定
  //->プライマリー
  &.is-color-primary {
    background-color: $color-primary;
  }
  //->セカンダリー
  &.is-color-secondary {
    background-color: $color-secondary;
  }

  // マージン設定
  &.is-top {
    padding-bottom: 0 !important;
  }

  &.is-bottom {
    padding-top: 0 !important;
  }

  &.is-bg-color{
    background: $color-background;
  }
}


.l-section.is-scroll-margin-responsive {
  scroll-margin-top: 200px;
  @include breakpoint(small only) {
    scroll-margin-top: 0;
  }
}


//検索結果
.l-section.is-search-result {
  padding-top: 48px;
  padding-bottom: 80px;

  @include breakpoint(medium down) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
