extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "news" // ページのID
  - current.title = "お知らせ" // タイトル
  - current.description = "これはお知らせの説明文です" // 説明文
  - current.bodyClass = "news" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","お知らせ","NEWS")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span: +a("/news/") お知らせ
      span >
      span なぜCMSを導入するのか？CMSを導入する目的と、導入の基準、選定の基準

block body
  +c.single-head
    h1.c-single-head__title なぜCMSを導入するのか？CMSを導入する目的と、導入の基準、選定の基準
    +e.sup
      +e.category 更新情報
      +e.date 2017.01.01
  .l-post-content
    +img("img-sample.jpg")
    h2 見出しレベル2見出しレベル2見出しレベル2
    div.u-mbs.is-lg
      h3 見出しレベル3見出しレベル3見出しレベル3
    div.u-mbs.is-lg
      h4 見出しレベル4見出しレベル4見出しレベル4
    div.u-mbs.is-lg
      h5 見出しレベル5見出しレベル5見出しレベル5
    div.u-mbs.is-lg
      h6 見出しレベル6見出しレベル6見出しレベル6
    p.
      ＜p＞ 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。

    div.u-mbs.is-lg
      strong ＜strong＞ 強調テキスト

    div.u-mbs.is-lg
      +a("") ＜a＞ テキストリンク

    div.u-mbs.is-lg
      blockquote.
        これは引用テキストです。これは引用テキストです。これは引用テキストです。これは引用テキストです。

    div.u-mbs.is-lg
      table
        tr
          th テキスト
          td テキストテキストテキスト
        tr
          th テキスト
          td テキストテキストテキスト
        tr
          th テキスト
          td テキストテキストテキスト
  <nav class="c-post-navs">
  <ul>
  <li class="c-post-navs__prev"><a href="/news/page/">前の記事を見る</a></li>
  <li class="c-post-navs__next"><a href="/news/page/">次の記事を見る</a></li>
  </ul>
  </nav>

block aside
  include /inc/layout/_aside.pug
