// 投稿一覧 : 一行
// Styleguide 3.2.2
// 1行スタイル
.p-post-item.is-line {
  border-bottom: 1px solid $color-tertiary;
  @extend %clearfix;
  padding-top: $margin-md;
  padding-bottom: $margin-md;
  display: block;
  margin-bottom: 0;

  // サムネイル
  .p-post-item__thumbnail {
    float: left;
    margin-right: $margin-md;
    margin-bottom: 0;
    > img {
      max-height: rem-calc(24);
      width: auto;
    }
  }

  // カテゴリ、日付
  .p-post-item__date,
  .p-post-item__category {
    margin-right: $margin-md;
    float: left;
    color: $font-base-color;
  }

  // タイトル
  .p-post-item__title {
    float: left;
    color: $font-base-color;
    margin-right: $margin-md;
    margin-bottom: 0;
    font-size: rem-calc(14);
    margin-top: rem-calc(3);
    margin-right: $margin-md;
  }

}
