// 投稿一覧 : 並行
// Styleguide 3.2.1

.p-post-item.is-horizon {
  border: 1px solid $color-tertiary;
  @extend %clearfix;
  padding: $margin-md;
  background: $color-white;
  display: flex;
  // サムネイル
  .p-post-item__thumbnail {
    float: left;
    margin-right: $margin-md;
    margin-bottom: 0;
    min-width: 30%;
  }
}

