// 投稿一覧 : 一行
//
// markup:
// <div class="p-post-list">
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
//     <div class="p-post-item is-line">
//         <div class="p-post-item__thumbnail">
//             <img src="https://placehold.jp/300x200.png">
//         </div>
//         <div class="p-post-item__date c-label is-tertiary"><a href="#">2016.01.11</a></div>
//         <div class="p-post-item__category c-label"><a href="#">カテゴリ名</a></div>
//         <h2 class="p-post-item__title"><a href="#">投稿タイトル</a></h2>
//     </div>
// </div>
//
// Styleguide 3.2.2
// 1行スタイル
.p-post-item.is-line {
  border-bottom: 1px solid $color-tertiary;
  @extend %clearfix;
  padding-top: $margin-md;
  padding-bottom: $margin-md;
  display: block;
  margin-bottom: 0;

  // サムネイル
  .p-post-item__thumbnail {
    float: left;
    margin-right: $margin-md;
    margin-bottom: 0;
    > img {
      max-height: rem-calc(24);
      width: auto;
    }
  }

  // カテゴリ、日付
  .p-post-item__date,
  .p-post-item__category {
    margin-right: $margin-md;
    float: left;
    color: $font-base-color;
  }

  // タイトル
  .p-post-item__title {
    float: left;
    color: $font-base-color;
    margin-right: $margin-md;
    margin-bottom: 0;
    font-size: rem-calc(14);
    margin-top: rem-calc(3);
    margin-right: $margin-md;
  }

}
