//- filename: index.jade
//- description: サイトのトップページ
extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "トップページ" // タイトル
  - current.description = "これはトップページの説明文です" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 2 // ページの階層

block header
  include /inc/layout/_header-variable.pug

  block body
    +c_main-visual()
    main.l-main
      section.l-section.is-xxlg
        .l-container
          +c.news
            .row
              .large-3.small-12
                +e.head
                  h2.c-news__title.c-heading.is-xlg
                    span NEWS
                    small お知らせ
                  +e.button: +a("#").c-button.is-sm 一覧を見る
              .large-9.small-12
                +e.content
                  +a("#").c-news__block
                    +e.date 2018.10.10
                    +e.label.c-label.is-white カテゴリ
                    +e.text お知らせの投稿タイトルがここに入ります。
                  +a("#").c-news__block
                    +e.date 2018.10.10
                    +e.label.c-label.is-white カテゴリ
                    +e.text お知らせの投稿タイトルがここに入ります。
                  +a("#").c-news__block
                    +e.date 2018.10.10
                    +e.label.c-label.is-white カテゴリ
                    +e.text お知らせの投稿タイトルがここに入ります。

      section.l-section.is-xxs
        +c.hero-block-square
          +e.block
            +e.image: +img("img-recruit-opening.jpg")
            .l-container
              +e.content
                +e.inner
                  h2.c-heading.is-md.is-bottom.is-line-under.is-text-left 仕事を知る
                  p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  +e.button: +a("#").c-button.is-sm 一覧を見る
      section.l-section.is-xxxlg.is-top
        .l-container
          h3.c-heading.is-md.is-bottom.is-line-under 人を知る
          +c.card-post
            .row
              +loop(3)
                .large-4.small-12
                  +e.block
                    +a.c-card-post__image
                      +img("img-recruit-card.jpg")
                      span.c-card-post__label.c-label.is-lg 職種名
                    +e.content
                      +e.title キャッチコピーキャッチコピーキャッチコピーキャッチコピー
                      +e.sup
                        +e.detail 氏名氏名 / 2018年入社
          div.u-mbs.is-top.is-xxs.u-text-center
            +a("").c-button.is-lg すべてのインタビューを見る
      section.l-section.is-xxlg
        +c.hero-block-square
          +e.block.is-reverse
            +e.image: +img("img-recruit-opening.jpg")
            .l-container
              +e.content
                +e.inner
                  h2.c-heading.is-md.is-bottom.is-line-under.is-text-left 環境を知る
                  p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  +e.button: +a("#").c-button.is-sm 一覧を見る
      section.l-section.is-xxlg.is-bottom
        .l-container
          +c.banners
            .row
              .large-5.is-push-lg-1.small-12
                +a("#").c-banners__block
                  span.c-banners__image: +img("img-banners-01.jpg")
                  span.c-banners__text
                    span 会社案内
                    small COMPANY
              .large-5.small-12
                +a("#").c-banners__block
                  span.c-banners__image: +img("img-banners-01.jpg")
                  span.c-banners__text
                    span 採用情報
                    small RECRUIT

    // オファーブロック
    +l_offer-recruit
  //- フッター
  block footer
    include /inc/layout/_footer-simple.pug
