// 間隔
//
// .u-mbs : 間隔
//
// .u-mbs.is-lg : 間隔 : 大
//
// .u-mbs.is-md : 間隔 : 中
//
// .u-mbs.is-sm : 間隔 : 小
//
// .u-mbs.is-top : 間隔 : 上のみ
//
// .u-mbs.is-bottom : 間隔 : 下のみ
// Styleguide 4.3.0

.u-mbs {
  margin-top: rem-calc(56);
  margin-bottom: rem-calc(56);
  @include breakpoint(small only) {
    margin-top: rem-calc(56)*0.5;
    margin-bottom: rem-calc(56)*0.5;
  }

  &.is-xxxxlg {
    margin-top: rem-calc(120);
    margin-bottom: rem-calc(120);
    @include breakpoint(small only) {
      margin-top: rem-calc(120)*0.5;
      margin-bottom: rem-calc(120)*0.5;
    }
  }

  &.is-xxxlg {
    margin-top: rem-calc(96);
    margin-bottom: rem-calc(96);
    @include breakpoint(small only) {
      margin-top: rem-calc(96)*0.5;
      margin-bottom: rem-calc(96)*0.5;
    }
  }

  &.is-xxlg {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(80);
    @include breakpoint(small only) {
      margin-top: rem-calc(80)*0.5;
      margin-bottom: rem-calc(80)*0.5;
    }
  }

  &.is-xlg {
    margin-top: rem-calc(72);
    margin-bottom: rem-calc(72);
    @include breakpoint(small only) {
      margin-top: rem-calc(72)*0.5;
      margin-bottom: rem-calc(72)*0.5;
    }
  }

  &.is-lg {
    margin-top: rem-calc(64);
    margin-bottom: rem-calc(64);
    @include breakpoint(small only) {
      margin-top: rem-calc(64)*0.5;
      margin-bottom: rem-calc(64)*0.5;
    }
  }
  &.is-sm {
    margin-top: rem-calc(48);
    margin-bottom: rem-calc(48);
    @include breakpoint(small only) {
      margin-top: rem-calc(24)*0.5;
      margin-bottom: rem-calc(24)*0.5;
    }
  }
  &.is-xs {
    margin-top: rem-calc(32);
    margin-bottom: rem-calc(32);
    @include breakpoint(small only) {
      margin-top: rem-calc(32)*0.5;
      margin-bottom: rem-calc(32)*0.5;
    }
  }
  &.is-xxs {
    margin-top: rem-calc(24);
    margin-bottom: rem-calc(24);
    @include breakpoint(small only) {
      margin-top: rem-calc(24)*0.5;
      margin-bottom: rem-calc(24)*0.5;
    }
  }
  &.is-xxs {
    margin-top: rem-calc(16);
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      margin-top: rem-calc(16)*0.5;
      margin-bottom: rem-calc(16)*0.5;
    }
  }

  &.is-xs {
    margin-top: rem-calc(8);
    margin-bottom: rem-calc(8);
  }

  &.is-top {
    margin-bottom: 0 !important;
  }

  &.is-bottom {
    margin-top: 0 !important;
  }

}
