// テキスト
//
// Styleguide 1.2.0

// テキスト - 通常
//
// Styleguide 1.2.1

p,
.u-text-normal {
  margin: 0;
}

// テキスト - 縮小
//
// Styleguide 1.2.2

small,
.u-text-small {
  font-size: 0.85em;
}

// テキスト - 強調
//
// Styleguide 1.2.3

strong,
.u-text-strong {
  font-weight: 700;
}

// テキスト - 打ち消し線
//
// Styleguide 1.2.4

del,
.u-text-del {
  text-decoration: line-through;
}

// テキスト - リンク
// Styleguide 1.2.5

a,
.u-text-link {
  color: $color-primary;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
.u-text-link:hover,
.u-text-link.is-hover {
  opacity: 0.8;
}

a:active,
.u-text-link:active,
.u-text-link.is-active {
  // color: darken($color-primary, 10);
}

p a:visited {
  color: #887EBF;
}


// 用途別テキストカラー
.u-text-danger {
  color: $color-state-danger;
}

.u-text-info {
  color: $color-state-info;
}

.u-text-success {
  color: $color-state-info;
}
