

.u-mbs {

  margin-top: #{nth($marginDefault, 1) * 1px};
  margin-bottom: #{nth($marginDefault, 1) * 1px};
  @include breakpoint(small down) {
    margin-top: #{nth($marginDefault, 2) * 1px};
    margin-bottom: #{nth($marginDefault, 2) * 1px};
  }

  // サイズ設定
  @each $key, $value in $marginSizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      margin-top: #{$pc-value * 1px};
      margin-bottom: #{$pc-value * 1px};
      @include breakpoint(small down) {
        margin-top: #{$sp-value * 1px};
        margin-bottom: #{$sp-value * 1px};
      }
    }
  }

  &.is-top {
    margin-bottom: 0 !important;
  }

  &.is-bottom {
    margin-top: 0 !important;
  }
}
