

.u-mbs {

  margin-top: rem-calc(nth($marginDefault, 1));
  margin-bottom: rem-calc(nth($marginDefault, 1));
  @include breakpoint(small down) {
    margin-top: rem-calc(nth($marginDefault, 2));
    margin-bottom: rem-calc(nth($marginDefault, 2));
  }

  // サイズ設定
  @each $key, $value in $marginSizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      margin-top: rem-calc($pc-value);
      margin-bottom: rem-calc($pc-value);
      @include breakpoint(small down) {
        margin-top: rem-calc($sp-value);
        margin-bottom: rem-calc($sp-value);
      }
    }
  }

  &.is-top {
    margin-bottom: 0 !important;
  }

  &.is-bottom {
    margin-top: 0 !important;
  }
}
