
// margin size

$default: 56;
$sizes: (
  xlg: 120,
  lg: 100,
  md: 64,
  sm: 42,
  xs: 24,
);


.u-mbs {
  margin-top: rem-calc($default);
  margin-bottom: rem-calc($default);
  @include breakpoint(small down) {
    margin-top: rem-calc($default) * 0.5;
    margin-bottom: rem-calc($default) * 0.5;
  }

  @each $key, $value in $sizes {
    &.is-#{$key} {
      margin-top: rem-calc($value);
      margin-bottom: rem-calc($value);
      @include breakpoint(small down) {
        margin-top: rem-calc($value) * 0.5;
        margin-bottom: rem-calc($value) * 0.5;
      }
    }
  }

  &.is-top {
    margin-bottom: 0 !important;
  }

  &.is-bottom {
    margin-top: 0 !important;
  }
}
