/*
---
name: アコーディオン
category: Components
---
```types.html
<div class="c-accordion-list">
            <div class="c-accordion-list__block  js-accordion">
              <div class="c-accordion-list__head" data-accordion-title="accordion-title">2018年
              </div>
              <div class="c-accordion-list__content" data-accordion-content="accordion--text">
                <ul>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-accordion-list__block  js-accordion">
              <div class="c-accordion-list__head" data-accordion-title="accordion-title">2018年
              </div>
              <div class="c-accordion-list__content" data-accordion-content="accordion--text">
                <ul>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                  <li><a href="#">「平成30年12月期 決算短信」の一部訂正について（PDF形式：130KB）</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
```
*/

.c-accordion-list {
  &__block {
    margin-bottom: rem-calc(20);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(16);
    }
  }
  &__head {
    font-size: rem-calc(20);
    font-weight: 700;
    letter-spacing: 0.1em;
    border-bottom: 2px solid rgba($font-base-color,0.5);
    padding-bottom: rem-calc(12);
    @include breakpoint(small only) {
      font-size: rem-calc(20)*0.8;
      border-width: 1px;
      padding-bottom: rem-calc(8);
    }
  }
  &__content {
    display: none;
    ul {
      li {
        padding: rem-calc(24) rem-calc(8);
        border-bottom: 1px solid $border-base-color;
        @include breakpoint(small only) {
          padding: rem-calc(16) rem-calc(8);
        }
        a {
          font-weight: 400;

        }
      }
    }
  }
}
