/*
---
name: バナー_2カラム
category: Banners
---
```types.html
<div class="row">
            <div class="large-5 is-push-lg-1 small-12">
              <div class="c-banners"><a class="c-banners__block" href="#"><span class="c-banners__image"><img src="/dist/assets/images/img-banners-01.jpg" alt=""></span><span class="c-banners__text"><span>会社案内</span><small>COMPANY</small></span></a>
              </div>
            </div>
            <div class="large-5 small-12">
              <div class="c-banners"><a class="c-banners__block" href="#"><span class="c-banners__image"><img src="/dist/assets/images/img-banners-01.jpg" alt=""></span><span class="c-banners__text"><span>会社案内</span><small>COMPANY</small></span></a>
              </div>
            </div>
          </div>
```
*/
.c-banners {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: $color-white;
    text-align: center;
    width: 100%;
    height: rem-calc(160);
    overflow: hidden;
    @include breakpoint(small only) {
      height: 38vw;
    }
    // *アイコン
    &:after {
      content: "\f105";
      font-family: "FontAwesome";
      font-size: rem-calc(36);
      font-weight: 400;
      position: relative;
      z-index: 99;
      position: absolute;
      right: rem-calc(24);
      @include breakpoint(small only) {
        font-size: rem-calc(36)*0.8;
      }
    }
    // *hover
    &:hover {
      opacity: 1;
      .c-banners__image {
        img {
          transform: translate(-50%, -50%) scale(1.15);
        }
      }
    }
  }
  &__image {
    display: block;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: inherit;
      transition: all .25s ease;
      @include breakpoint(small only) {
        max-width: 100%;
        max-height: inherit;
      }
    }
  }
  &__text {
    position: relative;
    z-index: 99;
    span {
      display: block;
      font-size: rem-calc(24);
      letter-spacing: 0.1em;
      line-height: 1.6;
      @include breakpoint(small only) {
        font-size: rem-calc(20);
      }
    }
    small {
      display: block;
      font-size: rem-calc(16);
      letter-spacing: 0.1em;
      @include webfont();
      @include breakpoint(small only) {
        font-size: rem-calc(14);
      }
    }
  }
}
/*
---
name: バナー_3カラム
category: Banners
---
```types.html
<div class="c-banners  is-lg">
  <a class="c-banners__block" href="#">
    <span class="c-banners__image"><img src="/dist/assets/images/img-banners-lg-01.jpg" alt=""></span><span class="c-banners__text"><span>COMPANY</span><small>会社案内</small></span>
  </a>
  <a class="c-banners__block" href="#">
    <span class="c-banners__image"><img src="/dist/assets/images/img-banners-lg-01.jpg" alt=""></span><span class="c-banners__text"><span>COMPANY</span><small>会社案内</small></span>
  </a>
    <a class="c-banners__block" href="#">
    <span class="c-banners__image"><img src="/dist/assets/images/img-banners-lg-01.jpg" alt=""></span><span class="c-banners__text"><span>COMPANY</span><small>会社案内</small></span>
  </a>
</div>
```
*/
.c-banners {
  //-> 大
  &.is-lg {
    display: flex;
    @include breakpoint(small only) {
      flex-wrap: wrap;
    }
    .c-banners__block {
      height: rem-calc(260);
      @include breakpoint(small only) {
        height: 40vw;
      }
      &:after {
        display: none;
      }
    }
    .c-banners__text {
      span {
        @include webfont();
        font-size: rem-calc(36);
        letter-spacing: 0.1em;
        line-height: 1.3;
        @include breakpoint(small only) {
          font-size: rem-calc(36)*0.8;
        }
      }
      small {
        font-family: $font-base-family;
        font-weight: 700;
      }
    }
  }
}
