.c-block-comment {

  padding: rem-calc(56) 0 rem-calc(80);
  @include breakpoint(medium down) {

  }
  &__label {
    background: #F4F8F9;
    margin-top: rem-calc(15);
    padding: rem-calc(24) 0;
    display: flex;
    align-items: center;
    @include breakpoint(medium down) {
      margin-top: rem-calc(8);
      padding: rem-calc(20);
      display: block;
    }
    &-title {
      margin-right: rem-calc(58);
      padding: rem-calc(0) rem-calc(80);
      border-right: 1px solid #C8CED3;
      @include font-format(24, .01, 36);
      @include breakpoint(medium down) {
        margin: 0;
        padding: 0;
        @include font-format(20, .01, 30);
        border-right: none;
      }

    }
    &-text {
      @include breakpoint(medium down) {
        margin-top: rem-calc(8);
      }
      span {
        display: block;
        @include font-format(16, .01, 28);
        @include breakpoint(medium down) {
          @include font-format(14, .01, 22);
        }
      }
      a {
        display: inline-block;
        color: $color-primary;
        font-weight: bold;
        text-decoration: none;
        &[target="_blank"] {
          text-decoration: underline;
        }
      }
    }
  }

  &__list {
    margin-top: rem-calc(40);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(medium down) {
      margin-top: rem-calc(24);
    }
  }
  &__item {
    width: 50%;
    @include breakpoint(medium down) {
      width: 100%;
      margin-top: rem-calc(24);
      padding-top: rem-calc(24);
      border-top: 1px solid #C8CED3;
    }
    &:nth-child(odd) {
      padding-right: rem-calc(75);
      @include breakpoint(medium down) {
        padding-right: 0;
      }
    }
    &:nth-child(even) {
      padding-left: rem-calc(75);
      border-left: 1px solid #C8CED3;
      @include breakpoint(medium down) {
        padding-left: 0;
        border-left: none;
      }
    }
    &:first-child {
      border-top: none;
      margin-top: rem-calc(0);
      padding-top: rem-calc(0);
    }
    &-inner {
      display: flex;
      align-items: flex-start;
      @include breakpoint(medium down) {
        display: block;
      }
    }
    &-image {
      min-width: rem-calc(198);
      max-width: rem-calc(198);
      margin-right: rem-calc(24);
      position: relative;
      @include breakpoint(medium down) {
        min-width: rem-calc(186);
        max-width: rem-calc(186);
        margin: 0 0 rem-calc(20) 0;
      }
      &::before {
        @include bgimg-pt(274, 198);
        @include breakpoint(medium down) {
          @include bgimg-pt(186, 186);
        }
      }
      .bg-img {
        @include bg-img;
        background-position: center top;
      }
    }
    &-content {}
    &-post {
      display: block;
      @include font-format(18, .01, 29,bold);
      margin-bottom: rem-calc(12);
      color: $color-primary;
      @include breakpoint(medium down) {
        @include font-format(16, .01, 26,bold);
      }
    }
    &-text {
      @include font-format(16, .01, 29);
      text-align: justify;
      @include breakpoint(medium down) {
        margin-top: rem-calc(8);
        @include font-format(15, .01, 27);
      }
    }
  }
}
