.c-block-merit {
  padding: rem-calc(48) 0 rem-calc(100);
  @include breakpoint(medium down) {
    padding: rem-calc(28) 0 rem-calc(64);
  }
  &__list {
    display: flex;
    margin: rem-calc(30) rem-calc(-18) 0;
    @include breakpoint(medium down) {
      display: block;
      margin: rem-calc(16) auto 0;
    }
  }
  &__item {
    padding: 0 rem-calc(18);
    width: calc(100% / 3);
    @include breakpoint(medium down) {
      margin-top: rem-calc(40);
      padding: 0;
      width: 100%;
    }
    &:first-child {
      margin-top: rem-calc(0);
    }
    &-inner {}
    &-title {
      margin: 0;
      @include font-format(24, .04, 32,600);
      font-family: "Noto Serif JP";
      color: $color-primary;
      text-align: center;
      @include breakpoint(1200 down) {
        @include font-format(20, .04, 30,600);
      }
      small {
        display: inline-block;
        @include font-format(20, .04, 27,600);
        @include breakpoint(medium down) {
          @include font-format(16, .04, 21.76,600);
        }
      }
    }
    &-image {
      margin-top: rem-calc(8);
      width: 100%;
      position: relative;
      &::before {
        @include bgimg-pt(231,356);
        @include breakpoint(medium down) {
          @include bgimg-pt(231,335);
        }
      }
      .bg-img {
        @include bg-img;
      }
    }
    &-text {
      margin-top: rem-calc(16);
      @include font-format(16, .04, 28);
      text-align: justify;
      @include breakpoint(medium down) {
        @include font-format(15, .04, 26);
      }

      small {
        display: block;
        @include font-format(16, .04, 28);
      }
    }
  }
}
