.c-block-cv {
  background: #DCEBEE;
  padding: rem-calc(72) 0;
  @include breakpoint(medium down) {
    padding: rem-calc(56) 0;
  }
  &__container {
    display: flex;
    @include breakpoint(medium down) {
      display: block;
    }
  }

  &__item {
    width: 50%;
    position: relative;
    @include breakpoint(medium down) {
      width: 100%;
      margin-bottom: rem-calc(24);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: rem-calc(1);
      height: 80%;
      background: $color-accent;
      @include breakpoint(medium down) {
        display: none;
      }
    }
    &:last-child {
      margin-bottom: rem-calc(0);
      &::after {
        display: none;
      }
    }
    &-inner {}
    &-title {
      @include font-format(32, .04, 48,400);
      color: $color-accent;
      font-family: "Noto Serif JP";
      text-align: center;
      margin: rem-calc(7) 0 0;
      @include breakpoint(medium down) {
        @include font-format(24, .04, 36,600);
        margin: 0;
      }
    }
    &-text {
      margin-top: rem-calc(18);
      @include font-format(16, .04, 26,bold);
      text-align: center;
      color: #5A5A5A;
      @include breakpoint(medium down) {
        margin-top: rem-calc(16);
        @include font-format(15, .04, 24,bold);
      }
      &.is-bold {
        margin-top: rem-calc(0);
        @include font-format(18, .04, 29,bold);
        color: $font-base-color;
        @include breakpoint(medium down) {
          @include font-format(16, .04, 26,bold);
        }
      }
      &.is-middle {
        margin-top: rem-calc(0);
        @include font-format(18, .04, 29,bold);
        color: $font-base-color;
        @include breakpoint(medium down) {
          @include font-format(15, .04, 24,bold);
        }
      }
    }

    &-button {
      margin: rem-calc(4) auto;
      width: 100%;
      max-width: rem-calc(358);
      a {
        display: inline-flex;
        width: 100%;
        padding: rem-calc(17) rem-calc(42);
        justify-content: center;
        align-items: center;
        background: $color-accent;
        border-radius: 10px;
        color: $color-white;
        @include font-format(24, .04, 49,bold);
        text-decoration: none;
        @include breakpoint(medium down) {
          @include font-format(20, .04, 32,bold);
        }
        span {
          margin-right: rem-calc(10);
        }
      }
    }
    &-link {
      margin-top: rem-calc(16);
      text-align: center;
      @include breakpoint(medium down) {
        margin-top: rem-calc(32);
      }
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $color-accent;
        @include font-format(16, .04, 26,bold);
        position: relative;
        &::after {
          content: "\e5cc";
          font-family: "Material Icons Outlined";
          position: absolute;
          top: 0;
          right: -1em;
          bottom: 0;
          margin: auto;
        }
      }

    }

  }
}
