.c-block-search {
  padding: rem-calc(56) 0 rem-calc(100);
  &__title {}
  &__text {
    margin-top: rem-calc(16);
    text-align: center;
  }

  &__wrapper {
    margin-top: rem-calc(40);
    @include breakpoint(medium down) {
      margin-top: rem-calc(20);
    }
  }

  &__navs {
    &-item {
      background: #F4F8F9;
      display: flex;
      align-items: center;
      &:nth-child(even) {
        background: #DCEBEE;
      }
    }
    &-title {
      border-right: 2px solid $color-white;
      @include font-format(18, .01, 29,bold);
      padding: rem-calc(15) rem-calc(16);
      min-width: rem-calc(228);
      text-align: center;
      @include breakpoint(medium down) {
        min-width: rem-calc(120);
        @include font-format(16, .01, 26,bold);
        padding: rem-calc(12);
      }
    }
    &-links {
      display: flex;
      flex-wrap: wrap;
      padding: rem-calc(15) rem-calc(40);
      @include breakpoint(medium down) {
        padding: rem-calc(12);
      }
    }
    &-link {
      display: inline-block;
      @include font-format(18, .01, 29,bold);
      color: $color-primary;
      margin-right: rem-calc(24);
      &:last-child {
        margin-right: rem-calc(0);
      }
      @include breakpoint(medium down) {
        margin-right: rem-calc(12);
        @include font-format(16, .01, 28,bold);
      }
    }
  }

  &__container {
    margin-top: rem-calc(40);
  }
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }

  &__label {
    margin-top: rem-calc(40);
    background: #FCF3A2;
    padding: rem-calc(48) rem-calc(24);
    border-radius: 4px;
    @include breakpoint(medium down) {
      padding: rem-calc(24);
    }
    &-title {
      @include font-format(26, .01, 45, bold);
      text-align: center;
      color: $color-primary;
      @include breakpoint(medium down) {
        @include font-format(20, .01, 32,bold);
      }
    }
    &-text {
      margin-top: rem-calc(5);
      text-align: center;
      @include font-format(18, .01, 29,bold);
      color: #5A5A5A;
      @include breakpoint(medium down) {
        margin-top: rem-calc(10);
        text-align: left;
        @include font-format(16, .01, 26,bold);
      }
    }
  }

  &__button {
    max-width: rem-calc(473);
    margin: rem-calc(80) auto 0;
    @include breakpoint(medium down) {
      margin-top: rem-calc(40);
    }
  }
}
