.c-block-hospital {

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: rem-calc(12) 0;
    border-bottom: 1px solid #C8CED3;
    @include breakpoint(medium down) {
      padding: rem-calc(5) 0;
    }
    b {
      display: block;
      @include font-format(32, .01, 48,bold);
      @include breakpoint(medium down) {
        @include font-format(24, .01, 40,bold);
      }
    }
    span {
      display: block;
      margin-left: rem-calc(15);
      @include font-format(16, .01, 26,bold);
      @include breakpoint(medium down) {
        @include font-format(15, .01, 24,bold);
      }
    }

  }
  &__list {
    margin-top: rem-calc(24);
    @include breakpoint(medium down) {
      margin-top: rem-calc(8);
    }
  }

  &__item {
    margin-top: rem-calc(8);
    background: #F4F8F9;
    &:first-child {
      margin-top: rem-calc(0);
    }
    &-inner {
      padding: rem-calc(48) rem-calc(62);
      display: flex;
      align-items: flex-start;
      @include breakpoint(medium down) {
        padding: rem-calc(24) rem-calc(20);
        display: block;
      }
    }
    &-content {
      padding-right: rem-calc(16);
      @include breakpoint(medium down) {
        padding: 0;
      }
    }
    &-title {
      margin: 0;
      @include font-format(24, .01, 38,bold);
      @include breakpoint(medium down) {
        @include font-format(20, .01, 32,bold);
      }
    }
    &-labels {
      margin-top: rem-calc(8);
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(medium down) {
        margin: rem-calc(10) rem-calc(-1.5);
      }
    }
    &-label {
      @include font-format(13, .01, 13,bold);
      background: $color-primary;
      padding: rem-calc(6.5) rem-calc(12);
      color: $color-white;
      margin-right: rem-calc(4);
      border-radius: 4px;
      @include breakpoint(medium down) {
        margin: rem-calc(1.5);
        padding: rem-calc(5.5) rem-calc(10);
      }
    }
    &-address {
      margin-top: rem-calc(16);
      @include font-format(16, .02, 28);
      @include breakpoint(medium down) {
        margin-top: rem-calc(4);
        @include font-format(15, .01, 26);
      }
    }

    &-buttons {
      margin-left: auto;
      max-width: rem-calc(242);
      width: 100%;
      @include breakpoint(medium down) {
        display: flex;
        margin: rem-calc(14) rem-calc(-4) 0;
        max-width: inherit;

      }

    }
    &-button {
      background: $color-white;
      @include font-format(16, .01, 26,bold);
      color: $color-primary;
      border-radius: 4px;
      padding: rem-calc(16);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 100%;
      border: 1px solid $color-primary;
      margin-top: rem-calc(12);
      @include breakpoint(medium down) {
        width: 50%;
        margin: 0 rem-calc(4);
        @include font-format(15, .01, 24,bold);
        padding: rem-calc(9) rem-calc(8);
      }
      &:first-child {
        margin-top: rem-calc(0);
      }
      span {
        display: block;
        @include font-format(16, .01, 24,bold);
        margin-left: rem-calc(8);
        @include breakpoint(medium down) {
          margin-left: rem-calc(4);
          @include font-format(15, .01, 24,bold);
        }
      }
    }

  }
}
