.c-block-document {
  display: grid;
  grid-template-columns: 660fr 480fr;

  @include breakpoint(medium down) {
    grid-template-columns: 1fr;
  }

  &__detail {
    background: $color-white;
    padding: rem-calc(56) calc(62/1140*100%);

    @include breakpoint(medium down) {
      width: 100%;
      padding: rem-calc(40) rem-calc(32);
    }

    @include breakpoint(small only) {
      padding: rem-calc(24) rem-calc(20);
    }
  }

  &__form {
    background: #DEE0E3;

    .c-forms {
      background: transparent;
      width: 100%;
    }
  }
}
