/*
---
name: アーカイブナビ
category: Navigation
---
```types.html
<div class="c-box-archive">
                    <div class="c-box-archive__block">
                      <div class="c-box-archive__title">カテゴリ
                      </div>
                      <ul>
                        <li><a href="/archive-onecolumn/page/">すべて</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">お知らせ</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">ブログ</a>
                        </li>
                      </ul>
                    </div>
                    <div class="c-box-archive__block">
                      <div class="c-box-archive__title">年月アーカイブ
                      </div>
                      <ul>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                        <li><a href="/archive-onecolumn/page/">2019年01月</a>
                        </li>
                      </ul>
                    </div>
                  </div>
```
*/
.c-box-archive {
  &__block {
    border: 1px solid $color-primary;
    padding: rem-calc(24) rem-calc(32) rem-calc(12);
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      padding: rem-calc(16) rem-calc(24) rem-calc(12);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: rem-calc(20);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $color-primary;
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      font-size: rem-calc(16);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      margin-right: rem-calc(48);
      margin-bottom: rem-calc(12);
      @include breakpoint(small only) {
        margin-right: rem-calc(24);
        margin-bottom: rem-calc(8);
      }
      &:before {
        content: "\f105";
        font-family: "FontAwesome";
        color: $color-primary;
        padding-right: rem-calc(8);
      }
      a {
        color: $font-base-color;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}
