/*
---
name: シェアボックス
category: PostContent
---
# いいねボタンのHTMLは自動生成
```types.html
<div class="c-box-share">
                  <div class="c-box-share__inner">
                    <div class="c-box-share__title">この記事が気に入ったら<br class="u-hidden-lg">「いいね！」
                    </div>
                    <div class="c-box-share__items"><div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/GrowGroupLLC/" data-width="100" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=712&amp;href=https%3A%2F%2Fwww.facebook.com%2FGrowGroupLLC%2F&amp;layout=box_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 72px; height: 40px;"><iframe name="ffbce1802e0a34" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.8/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2abe0a77578bb8%26domain%3Dgrow-group.jp%26origin%3Dhttps%253A%252F%252Fgrow-group.jp%252Ffb94e260fbe5c4%26relation%3Dparent.parent&amp;container_width=712&amp;href=https%3A%2F%2Fwww.facebook.com%2FGrowGroupLLC%2F&amp;layout=box_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 72px; height: 40px;" class="" width="100px" height="1000px" frameborder="0"></iframe></span></div>
                    </div>
                  </div>
                </div>
```
*/

.c-box-share {
  width: 100%;
  min-height: rem-calc(270);
  background: url("../images/img-sample.jpg");
  @include bg-option();
  position: relative;
  text-align: center;
  margin: rem-calc(48) 0;
  @include breakpoint(small only) {
    margin: rem-calc(24) 0;
    min-height: rem-calc(200);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black,0.6);
  }
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    width: 100%;
  }
  &__title {
    color: $color-white;
    font-weight: 700;
    font-size: rem-calc(24);
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-bottom: rem-calc(20);
    @include breakpoint(small only) {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(14);
    }
  }
}
