/*
---
name: ボックス_スクロール
category: Components
---
*/

.c-box-scroll {
  max-height: rem-calc(150);
  margin: 0 rem-calc(68);
  border: 1px solid $font-base-color;
  overflow: scroll;
  @include breakpoint(small only) {
    margin: 0;
  }

  &__inner {
    padding: rem-calc(24) 150/1140*100% rem-calc(36);
  }
  &__title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 26/16*1;
    margin-bottom: rem-calc(18);
  }
}
