// パンくずナビゲーション
// Styleguide 2.3.0
.c-breadcrumb {
  padding: rem-calc(12) 0;
  @include breakpoint(medium down) {

  }

  &__inner {
    //三点リーダーの色を変更したい場合はここにcolorを入れる

    @include breakpoint(small only) {
      @include line-clamp(1);
    }

    span {
      @include font-format-light(12,19);

      &.is-arrow {
        margin:0 rem-calc(8);
        align-items: center;

        span {
          font-size: rem-calc(12);
          vertical-align: middle;
          display:inline-flex;
        }
      }

      a {
        @include font-format-light(12,19);
      }
    }
  }
}
