// パンくずナビゲーション
//
// markup:
// <nav class="c-breadcrumb">
//     <ul>
//         <li><i class="fa fa-home"></i> <a href="#">ホーム</a></li>
//         <li><a href="#">下層ページ1</a></li>
//         <li>下層ページ2</li>
//         <li>下層ページ3</li>
//     </ul>
// </nav>
//
// Styleguide 2.3.0
.c-breadcrumb {
  padding: rem-calc(12) 0;
  @include breakpoint(small only) {
    padding: rem-calc(8) 0;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  span {
    font-size: rem-calc(13);
    margin-right: rem-calc(8);
    @include breakpoint(small only) {
      font-size: rem-calc(12);
      margin-right: rem-calc(4);
    }
    a {
      color: $color-primary;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
