/*
---
name: ボタン_カラー別
category: Buttons
---
*/
.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-white;
  text-decoration: none;
  width: 100%;
  max-width: rem-calc(203);
  background-color: $color-primary;
  padding: rem-calc(13) rem-calc(24);
  border: 1px solid $color-primary;
  transition: all .3s;
  // *アイコン
  &::after {
    content: "chevron_right";
    font-family: $font-icon-family;
    @include icon-font-style();
    position: absolute;
    top: 50%;
    right: rem-calc(16);
    transform: translateY(-50%);
  }

  // *hover
  @include hover {
    opacity: 1;
    background-color: $color-white;
    color: $color-primary;
  }

  // カラー設定
  //文字と背景反転
  &.is-reverse {
    background-color: $color-white;
    color: $color-primary;

    @include hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  // -> セカンダリカラー
  &.is-secondary {
    background-color: lighten($color-primary, 40);
    color: $color-primary;
    border-color: lighten($color-primary, 40);

    @include hover {
      background-color: $color-white;
      border-color: $color-primary;
    }
  }

}

/*
---
name: ボタン_サイズ別
category: Buttons
---
*/
.c-button {
  // サイズ設定
  // -> 大
  &.is-xlg {
    max-width: rem-calc(392);
    padding: rem-calc(26) rem-calc(32);
    font-size: rem-calc(18);
    @include breakpoint(small only) {
      max-width: 100%;
      font-size: rem-calc(18)*0.9;
      padding: rem-calc(20) rem-calc(32);
    }

    &::after {
      font-size: rem-calc(24);
      @include breakpoint(small only) {
        font-size: rem-calc(24)*0.9;
      }
    }
  }

  // -> 中
  &.is-lg {
    max-width: rem-calc(356);
    padding: rem-calc(16) rem-calc(24);
    @include breakpoint(small only) {
      max-width: 100%;
    }
  }

  // -> 小
  &.is-sm {
    max-width: rem-calc(155);
    padding: rem-calc(10) rem-calc(18);
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }

    &::after {
      right: rem-calc(10);
    }
  }

  // -> 極小
  &.is-xs {
    width: inherit;
    max-width: 100%;
    background-color: transparent;
    padding: 0 rem-calc(16) 0 0;
    border: none !important;
    color: $font-base-color;
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }

    &::after {
      color: $color-primary;
      right: 0;
    }

    // *hover
    @include hover {
      opacity: 0.6;
    }
  }

  &.is-nav {
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-primary;
    padding: rem-calc(16) rem-calc(24);
    max-width: 100%;
    height: 100%;
    border-radius: $border-radius;

    @include breakpoint(small only) {
      padding: rem-calc(12) rem-calc(24);
    }

    &:after {
      content: "expand_more";
      right: rem-calc(16);
      transform: translateY(-50%);
      font-size: rem-calc(18);
      line-height: 1;

      @include breakpoint(small only) {
        font-size: rem-calc(14);
      }
    }

    @include hover {
      color: $color-gray;
      border-color: $color-gray;
      transform: translateY(6px);
    }
  }

  &.is-arrow-left {

    &:after {
      content: "chevron_left";
      right: auto;
      left: rem-calc(10);
    }
  }
}


