/*
---
name: ボタン_カラー別
category: Buttons
---
```types.html
<a class="c-button" href="#">ボタンテキスト</a>
<a class="c-button is-secondary" href="#">ボタンテキスト</a>
<a class="c-button is-accent" href="#">ボタンテキスト</a>
<a class="c-button is-white" href="#">ボタンテキスト</a>
```
*/
.c-button {
  outline: none;
  display: inline-block;
  width: 100%;
  max-width: rem-calc(203);
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  text-decoration: none;
  border-radius: 4px;
  padding: rem-calc(13) rem-calc(24);
  position: relative;
  transition: all .3s;
  font-weight: 700;
  // *アイコン
  &:after {
    content: "\f105";
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: rem-calc(16);
    transform: translateY(-50%);
    font-weight: 400;
  }
  // *hover
  &:hover {
    opacity: 1;
    background-color: $color-white;
    color: $color-primary;
  }

  // width: 100%
  &.is-display-block {
    max-width: 100% !important;
  }
  // カラー設定
  // -> セカンダリカラー
  &.is-secondary {
    background-color: lighten($color-primary, 40);
    color: $color-primary;
    border-color: lighten($color-primary, 40);
    &:hover {
      background-color: $color-white;
      border-color: $color-primary;
    }
  }
  // -> アクセントカラー
  &.is-accent {
    background-color: $color-accent;
    border-color: $color-accent;
    &:hover {
      background-color: $color-white;
      color: $color-accent;
    }
  }
  // -> ホワイトカラー
  &.is-white {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
/*
---
name: ボタン_サイズ別
category: Buttons
---
```types.html
<a class="c-button is-xlg" href="#">ボタンテキスト</a>
<a class="c-button is-lg" href="#">ボタンテキスト</a>
<a class="c-button is-sm" href="#">ボタンテキスト</a>
<a class="c-button is-xs" href="#">ボタンテキスト</a>
```
```types.pug
+a("#").c-button.is-xlg ボタンテキスト
+a("#").c-button.is-lg ボタンテキスト
+a("#").c-button.is-sm ボタンテキスト
+a("#").c-button.is-xs ボタンテキスト
```
*/
.c-button {
  // サイズ設定
  // -> 大
  &.is-xlg {
    max-width: rem-calc(392);
    padding: rem-calc(26) rem-calc(32);
    font-size: rem-calc(18);
    @include breakpoint(small only) {
      font-size: rem-calc(18)*0.9;
      padding: rem-calc(20) rem-calc(32);
    }
    &:after {
      font-size: rem-calc(24);
      @include breakpoint(small only) {
        font-size: rem-calc(24)*0.9;
      }
    }
  }
  // -> 中
  &.is-lg {
    max-width: rem-calc(356);
    padding: rem-calc(16) rem-calc(24);
  }
  // -> 小
  &.is-sm {
    max-width: rem-calc(155);
    padding: rem-calc(10) rem-calc(18);
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }
    &:after {
      right: rem-calc(10);
    }
  }
  // -> 極小
  &.is-xs {
    width: inherit;
    max-width: 100%;
    background-color: transparent;
    padding: 0 rem-calc(16) 0 0;
    border: none !important;
    color: $font-base-color;
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }
    &:after {
      color: $color-primary;
      right: 0;
    }
    // *hover
    &:hover {
      opacity: 0.6;
    }
  }
}
/*
---
name: ボタン_デザイン01
category: Buttons
---
```types.html
<a class="c-button is-xlg is-line-right" href="#">ボタンテキスト</a>
<a class="c-button is-lg is-line-right" href="#">ボタンテキスト</a>
<a class="c-button is-sm is-line-right" href="#">MORE</a>
<a class="c-button is-xs is-line-right" href="#">MORE</a>
```
*/
/*
---
name: ボタン_デザイン02
category: Buttons
---
```types.html
<a class="c-button is-xlg is-arrow-right" href="#">ボタンテキスト</a>
<a class="c-button is-lg is-arrow-right" href="#">ボタンテキスト</a>
<a class="c-button is-xs is-arrow-right" href="#">MORE</a>
```
*/
/*
---
name: ボタン_デザイン03
category: Buttons
---
```types.html
<a class="c-button is-xlg is-icon-right" href="#">ボタンテキスト</a>
<a class="c-button is-lg is-icon-right" href="#">ボタンテキスト</a>
<a class="c-button is-sm is-icon-right" href="#">MORE</a>
<a class="c-button is-xs is-icon-right" href="#">ボタンテキスト</a>
```
*/
.c-button {
  // デザイン設定
  // ->矢印左
  &.is-arrow-left {
    &:after {
      content: "\f104";
      right: auto;
      left: rem-calc(12);
    }
  }
  // -> ラインライト
  &.is-line-right {
    background-color: $color-white;
    border: 1px solid $font-base-color;
    color: $font-base-color;
    border-radius: 0;
    &:after {
      content: "";
      width: rem-calc(32);
      height: rem-calc(1);
      background-color: $font-base-color;
      position: absolute;
    }
    // *hover
    &:hover {
      opacity: 1;
      &:after {
        transform: translate(16px,-50%);
      }
    }
    // *極小
    &.is-xs {
      padding-right: rem-calc(78);
      @include breakpoint(small only) {
        padding-right: rem-calc(64);
      }
      &:after {
        width: rem-calc(64);
        @include breakpoint(small only) {
          width: rem-calc(48);
        }
      }
    }
  }

  // -> 矢印
  &.is-arrow-right {
    border-radius: 0;
    &:after {
      content: "";
      width: rem-calc(36);
      height: rem-calc(1);
      background-color: $color-white;
      top: calc(50% + 6px);
      transition: all .3s;
    }
    &:before {
      content: "";
      display: block;
      width: rem-calc(12);
      height: 1px;
      background-color: $color-white;
      position: absolute;
      right:  rem-calc(16);
      top: calc(50% + 3px);
      transform: translate(1px, -50%) rotate(40deg);
      transition: all .3s;
      @include breakpoint(small only) {
        top: calc(50% + 2px);
      }
    }
    // *hover
    &:hover {
      opacity: 1;
      &:after,
      &:before {
        right: rem-calc(8);
        background-color: $color-primary;
      }
    }
    // *極小
    &.is-xs {
      padding-right: rem-calc(58);
      &:after {
        width: rem-calc(48);
        background-color: $font-base-color;
      }
      &:before {
        background-color: $font-base-color;
        right: 0;
      }
      // *hover
      &:hover {
        &:after,
        &:before {
          right: rem-calc(-8);
        }
      }
    }
  }
  // -> アイコン
  &.is-icon-right {
    border-radius: 0;
    &:after {
      border: 2px solid $color-white;
      width: rem-calc(24);
      height: rem-calc(24);
      border-radius: 1000px;
      font-size: rem-calc(13);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-left: rem-calc(3);
      padding-bottom: rem-calc(1);
      @include breakpoint(small only) {
        border-width: 1px;
        width: rem-calc(22);
        height: rem-calc(22);
        font-size: rem-calc(12);
        padding-bottom: 0;
      }
    }
    // *hover
    &:hover {
      &:after {
        border-color: $color-primary;
      }
    }
    // *極小
    &.is-xs {
      color: $color-primary;
      padding-right: 32px;
      &:after {
        border-color: $color-primary;
        right: 0;
      }
    }
  }
}
/*
---
name: ボタン_2カラム
category: Buttons
---
```types.html
<div class="row">
  <div class="large-4 is-push-lg-2 small-12"><a class="c-button is-xlg" href="#">社員紹介</a>
  </div>
  <div class="large-4 small-12"><a class="c-button is-xlg" href="#">募集要項</a>
  </div>
</div>
```
*/
