.c-capsul-nav {
  &__block {
    margin-bottom: rem-calc(24);
    &.is-current {
      background-color: rgba($color-primary, 0.2);
      border-color: rgba($color-primary, 0.2);
    }
  }
  //round
  &.is-round {
    .c-capsul-nav__block {
      border-radius: 1000px;
    }
  }
}
