/*
---
name: カプセルナビ_関連コンテンツ
category: Navigation
---
*/
.c-capsul-nav {
  &__block {
    margin-bottom: rem-calc(24);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(12);
    }
    &.is-current {
      background-color: rgba($color-primary, 0.2);
      border-color: rgba($color-primary, 0.2);
    }
  }
}
/*
---
name: カプセルナビ_関連コンテンツ_ラウンド
category: Navigation
---
*/
.c-capsul-nav {
  &.is-round {
    .c-capsul-nav__block {
      border-radius: 1000px;
    }
  }
}
