.c-card-download {

  &__head {

    &.c-heading.is-md.is-border-bottom {
      margin-bottom: rem-calc(40);

      @include breakpoint(small only) {
        margin-bottom: rem-calc(24);
      }
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem-calc(-18);

    @include breakpoint(small only) {
      display: block;
      margin: 0;
    }
  }

  &__block {
    display: block;
    text-decoration: none;
    color: $font-base-color;
    width: calc(50% - 36px);
    background: $color-white;
    padding: rem-calc(24) rem-calc(24) rem-calc(32);
    margin: 0 rem-calc(18);

    @include breakpoint(small only) {
      width: 100%;
      padding: rem-calc(20) rem-calc(20) rem-calc(24);
      margin: 0;
    }

    &:nth-child(n + 3) {
      margin-top: rem-calc(32);
    }

    &:not(:first-child) {

      @include breakpoint(small only) {
        margin-top: rem-calc(24);
      }
    }

    &:hover {
      opacity: 1;

      img {
        transform: scale(1.1);
      }

      .c-button {
        background-color: $color-white;
        color: $color-primary;
      }
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    background: $color-background;
    aspect-ratio: 504/311;

    img {
      @include img-option();
      @include transition();
    }

    .is-no {
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      font-size: rem-calc(17);
      color: rgba($font-base-color,0.5);

      @include breakpoint(small only) {
        font-size: rem-calc(14);
      }
    }
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__content {
    margin-top: rem-calc(16);

    @include breakpoint(small only) {
      margin-top: rem-calc(12);
    }
  }

  &__button {
    margin-top: rem-calc(24);

    @include breakpoint(small only) {
      margin-top: rem-calc(16);
    }

    .c-button {
      max-width: 100%;
      padding-top: rem-calc(8);
      padding-bottom: rem-calc(8);

      &:before {
        content: none;
      }

      &:after {
        transform: translateY(-50%);
      }
    }
  }


  &.is-three-col {

    .c-card-download__block {
      width: calc(33.3% - 36px);
      margin-top: 0;

      @include breakpoint(medium down) {
        width: calc(50% - 36px);
      }

      @include breakpoint(small only) {
        width: 100%;
      }

      &:nth-child(n + 4) {
        margin-top: rem-calc(32);
      }

      &:nth-child(n + 3) {

        @include breakpoint(medium down) {
          margin-top: rem-calc(32);
        }
      }

      &:not(:first-child) {

        @include breakpoint(small only) {
          margin-top: rem-calc(24);
        }
      }
    }

    .c-card-download__title {
      @include line-clamp(3);
    }
  }
}
