.c-card-post {
  &__block {
    width: 100%;
    display: block;
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    margin-bottom: rem-calc(48);
    span,
    small {
      display: block;
    }
  }
  &__image {
    position: relative;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: block;
  }
  &__content {
    margin-top: rem-calc(12);
  }
  &__title {
    font-size: rem-calc(18);
    font-weight: 700;
    line-height: 1.6;
  }
  &__sup {
    margin-top: rem-calc(6);
    display: flex;
    align-items: flex-start;
  }
  &__date {
    @include webfont();
    opacity: 0.7;
    letter-spacing: 0.01em;
    margin-right: 24px;
  }
  &__tag {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: rem-calc(20);
        a {
          color: $color-primary;
          font-weight: 400;
          font-size: rem-calc(14);
          display: block;
          text-decoration: none;
        }
      }
    }
  }
  // タグなしver
  &.is-tag-hidden {
    margin-botom: rem-calc(32);
    .c-card-post__sup {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: rem-calc(8);
    }
    .c-card-post__label {
      position: static;
    }
    .c-card-post__date {
      margin-left: auto;
    }
    .c-card-post__title {
      font-size: rem-calc(16);
    }
  }
}
