/*
---
name: ポストカード
category: Components
---
```types.html
<div class="c-card-post">
  <div class="row">
        <div class="large-4 small-12">
          <div class="c-card-post__block"><a class="c-card-post__image" href="undefined"><img src="/dist/assets/images/img-card-01.jpg" alt=""><span class="c-card-post__label c-label is-lg">カテゴリ名</span></a>
                  <div class="c-card-post__content">
                    <div class="c-card-post__title">タイトルが入ります。タイトルが入ります。
                    </div>
                    <div class="c-card-post__sup">
                      <div class="c-card-post__date">2018.01.01
                      </div>
                      <div class="c-card-post__tag">
                        <ul>
                          <li><a href="">#タグ</a>
                          </li>
                          <li><a href="">#タグ</a>
                          </li>
                          <li><a href="">#タグ</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
  </div>
```
*/
.c-card-post {
  &__block {
    width: 100%;
    display: block;
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    margin-bottom: rem-calc(48);
    span,
    small {
      display: block;
    }
  }
  &__image {
    position: relative;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: block;
  }
  &__content {
    margin-top: rem-calc(12);
  }
  &__title {
    font-size: rem-calc(18);
    font-weight: 700;
    line-height: 1.6;
  }
  &__sup {
    margin-top: rem-calc(6);
    display: flex;
    align-items: flex-start;
  }
  &__date {
    @include webfont();
    opacity: 0.7;
    letter-spacing: 0.01em;
    margin-right: 24px;
  }
  &__tag {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: rem-calc(20);
        a {
          color: $color-primary;
          font-weight: 400;
          font-size: rem-calc(14);
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}
/*
---
name: ポストカード_タグなし
category: Components
---
```types.html
<div class="c-card-post is-tag-hidden">
  <div class="row">
        <div class="large-3 small-6">
          <div class="c-card-post__block"><a class="c-card-post__image" href="undefined"><img src="/dist/assets/images/img-card-01.jpg" alt=""></a>
                  <div class="c-card-post__content">
                    <div class="c-card-post__sup"><span class="c-card-post__label c-label">カテゴリ名</span>
                      <div class="c-card-post__date">2018.01.01
                      </div>
                    </div>
                    <div class="c-card-post__title">タイトルが入ります。タイトルが入ります。
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
```
*/
.c-card-post {
  // タグなしver
  &.is-tag-hidden {
    margin-botom: rem-calc(32);
    .c-card-post__sup {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: rem-calc(8);
    }
    .c-card-post__label {
      position: static;
    }
    .c-card-post__date {
      margin-left: auto;
    }
    .c-card-post__title {
      font-size: rem-calc(16);
    }
  }
}
