.c-gallery-card {

  &__card {
    max-width: rem-calc(500);
    margin: 0 rem-calc(20);

    @include breakpoint(small down) {
      max-width: rem-calc(300);
      margin: 0 rem-calc(12);
    }
  }

  &__image {
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: calc(320/500*100%);
    }

    .bg-img {
      @include bg-img();
    }
  }

  &__text {
    @include font-format(14,0.1,22,400);
    margin: rem-calc(14) rem-calc(16) 0;

    @include breakpoint(small down) {
      font-size: rem-calc(13);
      margin: rem-calc(10) rem-calc(12) 0;
    }
  }

  .swiper-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: rem-calc(50);

    @include breakpoint(small down) {
      display: block;
      margin-top: rem-calc(20);
    }
  }

  .swiper-nav {
    flex: none;
    display: flex;
    align-items: center;
    margin-left: rem-calc(40);

    @include breakpoint(small down) {
      justify-content: flex-end;
      margin-top: rem-calc(20);
    }

    .swiper-button-prev ,.swiper-button-next {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: rem-calc(60);
      height: rem-calc(60);
      border-radius: 50%;
      border: 1px solid $font-base-color;
      margin: 0;
      @include transition();

      @include breakpoint(small down) {
        width: rem-calc(48);
        height: rem-calc(48);
      }

      &:after {
        content: "chevron_right";
        @include iconfont();
        color: $color-primary;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    .swiper-button-prev {
      margin-right: rem-calc(16);

      @include breakpoint(small down) {
        margin-right: rem-calc(12);
      }

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .swiper-scrollbar {
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    max-width: rem-calc(440);
    background: rgba($font-base-color,0.3);

    @include breakpoint(small down) {
      max-width: 100%;
    }

    span {
      background: $font-base-color;
    }
  }
}
