// グリッド
//
// 基本的に12グリッドレイアウト方式とする。
//
// * large-{int} : デスクトップ時
// * medium-{int} : タブレット時
// * small-{int} : スマートフォン時
//
// Styleguide 2.2.0


.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: map-get($grid-column-responsive-gutter, 'small');

  @include breakpoint(medium up) {
    gap: map-get($grid-column-responsive-gutter, 'medium');
  }
}

// グリッド : スマートフォン
//
// スマートフォン時のグリッドアイテム
//
// markup:
// <div class="small-2">
// </div>
//
// Styleguide 2.2.2

@for $i from 1 through $grid-column-count {
  .small-#{$i} {
    grid-column-end: $i span;
  }
  .is-push-sm-#{$i} {
    grid-column-start: $i + 1;
  }
}

// グリッド : タブレット
//
// タブレット時のグリッドアイテム
//
// Styleguide 2.2.3

@include breakpoint(medium up) {
  @for $i from 1 through $grid-column-count {
    .medium-#{$i} {
      grid-column-end: $i span;
    }
    .is-push-md-#{$i} {
      grid-column-start: $i + 1;
    }
  }
}

// グリッド : デスクトップ
//
// デスクトップ時のグリッドアイテム
// Styleguide 2.2.4

@include breakpoint(large up) {
  @for $i from 1 through $grid-column-count {
    .large-#{$i} {
      grid-column-end: $i span;
    }
    .is-push-lg-#{$i} {
      grid-column-start: $i + 1;
    }
  }
}
