// グリッド
//
// 基本的に12グリッドレイアウト方式とする。
//
// * large-{int} : デスクトップ時
// * medium-{int} : タブレット時
// * small-{int} : スマートフォン時
//
// markup:
// <div class="container">
//     <div class="small-2 medium-8 large-6">グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</div>
//     <div class="small-10 medium-4 large-6">グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</div>
// </div>
//
// Styleguide 2.2.0

$susy: (
  flow: ltr,
  math: fluid,
  output: fluid,
  gutter-position: inside-static,
  container: $grid-row-width,
  container-position: center,
  columns: susy-repeat($grid-column-count),
  gutters: map_get($grid-column-responsive-gutter,medium)/60px,
  column-width: 60px,
  global-box-sizing: b order-box,
  last-flow: to,
  spread: 'wide',
  container-spread: 'wide',
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// グリッド : コンテナー
//
// サイトの幅に合わせたセンター寄せのコンテナー
//
// markup:
// <div class="container">
// </div>
//
// Styleguide 2.2.1

.container {
  // @include container($susy);
  max-width: $grid-row-width;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -(map_get($grid-column-responsive-gutter,medium)/2);
  margin-right: -(map_get($grid-column-responsive-gutter,medium)/2);
  // @include susy-clearfix();
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  @include breakpoint(small only) {
    margin-left: -(map_get($grid-column-responsive-gutter,small)/2);
    margin-right: -(map_get($grid-column-responsive-gutter,small)/2);
  }
}

// グリッド : スマートフォン
//
// スマートフォン時のグリッドアイテム
//
// markup:
// <div class="small-2">
// </div>
//
// Styleguide 2.2.2

@for $i from 1 through $grid-column-count {
  .small-#{$i} {
    width: span($i);
    padding-left: (map_get($grid-column-responsive-gutter,small)/2);
    padding-right: (map_get($grid-column-responsive-gutter,small)/2);
  }
  .is-push-sm-#{$i} {
    margin-left: span($i);
    padding-left: (map_get($grid-column-responsive-gutter,small)/2);
    padding-right: (map_get($grid-column-responsive-gutter,small)/2);
  }
}

// グリッド : タブレット
//
// タブレット時のグリッドアイテム
//
// markup:
// <div class="medium-2">
// </div>
//
// Styleguide 2.2.3

@include breakpoint(medium only) {
  @for $i from 1 through $grid-column-count {
    .medium-#{$i} {
      width: span($i);
      padding-left: (map_get($grid-column-responsive-gutter,medium)/2);
      padding-right: (map_get($grid-column-responsive-gutter,medium)/2);
    }
    .is-push-md-#{$i} {
      margin-left: span($i);
    }
  }
}

// グリッド : デスクトップ
//
// デスクトップ時のグリッドアイテム
//
// markup:
// <div class="large-2">
// </div>
//
// Styleguide 2.2.4

@include breakpoint(medium up) {
  @for $i from 1 through $grid-column-count {
    .large-#{$i} {
      width: span($i);
      padding-left: (map_get($grid-column-responsive-gutter,medium)/2);
      padding-right: (map_get($grid-column-responsive-gutter,medium)/2);
    }
    .is-push-lg-#{$i} {
      margin-left: span($i);
    }
  }
}

