/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;

  small {
    font-size: 0.65em;
  }
}


// h1
.c-heading.is-xlg {
  color: $color-primary;
  margin-bottom: rem-calc(24);
  @include breakpoint(small only) {

  }

  span {
    display: block;
    @include webfont-bold();
    @include font-format(42, 0.1, 52, 700);
    @include breakpoint(small only) {
      font-size: rem-calc(42)*0.8;
    }
  }

  small {
    display: block;
    @include font-format(16, .1, 26, 700);
    @include breakpoint(small only) {
      font-size: rem-calc(16)*0.8;
    }
  }
}

// h2
.c-heading.is-lg {
  color: $color-primary;
  @include font-format(32, .1, 40, bold);
  margin-bottom: rem-calc(24);
  @include breakpoint(small only) {
    font-size: rem-calc(32)*0.8;
    margin-bottom: rem-calc(24)/2;
  }

  small {
    display: block;
    @include webfont-bold();
    @include font-format(14, .1, 20, normal);
    margin-top: rem-calc(6);
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.8;
    }
  }
}

// h3
.c-heading.is-md {
  @include font-format(28, .1, 38, 700);
  margin-bottom: rem-calc(20);
  @include breakpoint(small only) {
    font-size: rem-calc(28)*0.8;
    margin-bottom: rem-calc(20)/2;
  }
}

// h4
.c-heading.is-sm {
  @include font-format(24, .1, 34, 700);
  @include breakpoint(small only) {
    font-size: rem-calc(24)*0.8;
  }
}

// h5
.c-heading.is-xs {
  @include font-format(20, .1, 30, 700);
  margin-bottom: rem-calc(16);
  @include breakpoint(small only) {
    font-size: rem-calc(20)*0.8;
    margin-bottom: rem-calc(16)/2;
  }
}

// h6
.c-heading.is-xxs {
  @include font-format(18, .1, 28, 700);
  margin-bottom: rem-calc(6);
  @include breakpoint(small only) {
    font-size: rem-calc(18)*0.8;
  }
}

.c-heading.is-color-primary {
  color: $color-primary;
}

// マージン調整
.c-heading.is-top {
  margin-bottom: 0 !important;
}

.c-heading.is-bottom {
  margin-top: 0 !important;
}

.c-heading.is-center{
  text-align: center;
}
