/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;

  small {
    font-size: 0.65em;
  }
}


// h1
.c-heading.is-xlg {
  color: $color-primary;
  margin-bottom: rem-calc(24);
  @include breakpoint(small only) {

  }

  span {
    display: block;
    @include webfont-bold();
    font-size: rem-calc(42);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(42)*0.8;
    }
  }

  small {
    display: block;
    font-weight: 700;
    font-size: rem-calc(16);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(16)*0.8;
    }
  }
}

// h2
.c-heading.is-lg {
  color: $color-primary;
  font-size: rem-calc(32);
  letter-spacing: 0.1em;
  margin-bottom: rem-calc(24);
  @include breakpoint(small only) {
    font-size: rem-calc(32)*0.8;
    margin-bottom: rem-calc(24)/2;
  }

  small {
    display: block;
    @include webfont-bold();
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    margin-top: rem-calc(6);
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.8;
    }
  }
}

// h3
.c-heading.is-md {
  font-size: rem-calc(28);
  letter-spacing: 0.1em;
  margin-bottom: rem-calc(20);
  @include breakpoint(small only) {
    font-size: rem-calc(28)*0.8;
    margin-bottom: rem-calc(20)/2;
  }
}

// h4
.c-heading.is-sm {
  font-size: rem-calc(24);
  letter-spacing: 0.1em;
  @include breakpoint(small only) {
    font-size: rem-calc(24)*0.8;
  }
}

// h5
.c-heading.is-xs {
  font-size: rem-calc(20);
  letter-spacing: 0.1em;
  margin-bottom: rem-calc(16);
  @include breakpoint(small only) {
    font-size: rem-calc(20)*0.8;
    margin-bottom: rem-calc(16)/2;
  }
}

// h6
.c-heading.is-xxs {
  font-size: rem-calc(18);
  letter-spacing: 0.1em;
  margin-bottom: rem-calc(6);
  @include breakpoint(small only) {
    font-size: rem-calc(18)*0.8;
  }
}

.c-heading.is-color-primary {
  color: $color-primary;
}

// マージン調整
.c-heading.is-top {
  margin-bottom: 0 !important;
}

.c-heading.is-bottom {
  margin-top: 0 !important;
}

.c-heading.is-center{
  text-align: center;
}
