
.c-heading {
  margin: 0;
  font-weight: bold;
  &.is-center {
    text-align: center;
    justify-content: center;
  }

  &.is-lg {

    span {
      display: inline-block;
      color: $color-primary;
      @include font-format(24, .04, 40,bold);
      padding:0 rem-calc(56) rem-calc(4);
      border-bottom: 2px solid $color-primary;
      position: relative;
      @include breakpoint(medium down) {
        padding: 0 rem-calc(32) rem-calc(5);
        @include font-format(16, .04, 27,bold);
      }
      small {
        display: inline-block;
        @include font-format(20, .04, 34,bold);
        @include breakpoint(medium down) {
          @include font-format(13, .04, 22.1,bold);
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: rem-calc(-10);
        left: 0;
        margin: auto;
        height: calc(20px / 2);
        width: 20px;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background: $color-primary;
      }
    }

    b {
      display: flex;
      justify-content: center;
      @include font-format(40, .04, 68,600);
      font-family: "Noto Serif JP";
      color: #5A5A5A;
      @include breakpoint(medium down) {
        @include font-format(26, .04, 44,600);
      }
      small {
        display:inline-block;
        @include font-format(32, .04,75,600);
        @include breakpoint(medium down) {
          @include font-format(20, .04, 50,600);
        }
      }
      & .is-color {
        color: $color-primary;
        @include font-format(42, .04, 71,600);
        @include breakpoint(medium down) {
          @include font-format(28, .04, 47,600);
        }
      }
    }
  }
}
