/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;

  span {
    font-size: 0.65em;
  }
}

// l-post-content内にも適用
// h2
.c-heading-xlg {
  @include font-format(32, .05, 48,bold);
}
// h3
.c-heading-lg {
  @include font-format(28, .05, 38,bold);
}
// h4
.c-heading-md {
  @include font-format(24, .05, 32,bold);
}
// h5
.c-heading-sm {
  @include font-format(20, .05, 30,bold);
}
// h6
.c-heading-xs {
  @include font-format(18, .05, 28,bold);
}

// span や b があるタイプを派生
.c-heading.is-xlg {
  @extend .c-heading-xlg;
  span {
    display: block;
  }
  b {
    display: block;
  }
}
.c-heading.is-lg {
  @extend .c-heading-lg;
}
.c-heading.is-md {
  @extend .c-heading-md;
}
.c-heading.is-sm {
  @extend .c-heading-sm;
}
.c-heading.is-xs {
  @extend .c-heading-xs;
}

.c-heading.is-color-primary {
  color: $color-primary;
}

.c-heading.is-color-white {
  color: $color-white;
}

// マージン調整
.c-heading.is-top {
  margin-bottom: 0 !important;
}

.c-heading.is-bottom {
  margin-top: 0 !important;
}

.c-heading.is-center{
  text-align: center;
}

.c-heading.is-mg-level-1 {
  margin-bottom: rem-calc(64);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(40);
  }
}

.c-heading.is-mg-level-2 {
  margin-bottom: rem-calc(40);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(32);
  }
}

.c-heading.is-mg-level-3 {
  margin-bottom: rem-calc(32);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(24);
  }
}

.c-heading.is-mg-level-4 {
  margin-bottom: rem-calc(24);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }
}

.c-heading.is-mg-level-5 {
  margin-bottom: rem-calc(20);

  @include breakpoint(small only) {
    margin-bottom: rem-calc(16);
  }
}

.c-heading.is-mg-level-6 {
  margin-bottom: rem-calc(16);
}

.c-heading.is-mg-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
