/*
---
name: ヒーローブロック_枡目型
category: SpecialComponents
---
```types.html
<div class="c-hero-block-square">
  <div class="c-hero-block-square__block">
    <div class="c-hero-block-square__image"><img src="/dist/assets/images/img-hero-block-01.jpg" alt="">
    </div>
    <div class="l-container">
      <div class="c-hero-block-square__content">
        <div class="c-hero-block-square__inner">
          <h3 class="c-heading is-sm is-bottom">タイトルがここに入ります。</h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <div class="c-hero-block-square__button"><a class="c-button is-sm" href="#">ボタンテキスト</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-hero-block-square__block">
    <div class="c-hero-block-square__image"><img src="/dist/assets/images/img-hero-block-01.jpg" alt="">
    </div>
    <div class="l-container">
      <div class="c-hero-block-square__content">
        <div class="c-hero-block-square__inner">
          <h3 class="c-heading is-sm is-bottom">タイトルがここに入ります。</h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <div class="c-hero-block-square__button"><a class="c-button is-sm" href="#">ボタンテキスト</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/
/*
---
name: ヒーローブロック_枡目型_数字付き
category: SpecialComponents
---
```types.html
<div class="c-hero-block-square  is-number">
  <div class="c-hero-block-square__block">
    <div class="c-hero-block-square__image"><img src="/dist/assets/images/img-hero-block-01.jpg" alt="">
    </div>
    <div class="l-container">
      <div class="c-hero-block-square__content">
        <div class="c-hero-block-square__inner">
          <div class="c-hero-block-square__heading"><span>01</span>
            <h3 class="c-heading is-sm is-bottom">タイトルがここに入ります。</h3>
          </div>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <div class="c-hero-block-square__button"><a class="c-button is-sm" href="#">ボタンテキスト</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-hero-block-square__block">
    <div class="c-hero-block-square__image"><img src="/dist/assets/images/img-hero-block-01.jpg" alt="">
    </div>
    <div class="l-container">
      <div class="c-hero-block-square__content">
        <div class="c-hero-block-square__inner">
          <div class="c-hero-block-square__heading"><span>02</span>
            <h3 class="c-heading is-sm is-bottom">タイトルがここに入ります。</h3>
          </div>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <div class="c-hero-block-square__button"><a class="c-button is-sm" href="#">ボタンテキスト</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/
.c-hero-block-square {
  &__block {
    position: relative;
    @include breakpoint(small only) {
      margin-bottom: rem-calc(16);
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    min-height: rem-calc(400);
    overflow: hidden;
    @include breakpoint(small only) {
      position: relative;
      width: 100%;
      min-height: 60vw;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: inherit;
      @include breakpoint(small only) {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__content {
    width: 50%;
    margin-left: auto;
    padding: rem-calc(56) 0 rem-calc(56) rem-calc(64);
    display: flex;
    min-height: rem-calc(400);
    align-items: center;
    @include breakpoint(small only) {
      width: 100%;
      padding: rem-calc(24) 0!important;
      min-height: inherit;
      display: block;
    }
  }
  &__button {
    margin-top: rem-calc(32);
    @include breakpoint(small only) {
      margin-top: rem-calc(24);
    }
  }
}

// 偶数番目
.c-hero-block-square__block:nth-child(even) {
  .c-hero-block-square__image {
    left: auto;
    right: 0;
  }
  .c-hero-block-square__content {
    margin-left: 0;
    padding: rem-calc(56) rem-calc(64) rem-calc(56) 0;
  }
}

// 数字付き
.c-hero-block-square.is-number {
  .c-hero-block-square__heading {
    display: flex;
    align-items: center;
    margin-bottom: rem-calc(8);

    span {
      @include webfont-bold();
      font-size: 60px;
      line-height: 71/60*1;
      letter-spacing: 0;
      color: $color-primary;
      margin-right: rem-calc(16);
      @include breakpoint(small only) {
        font-size: rem-calc(48);
      }
    }
    .c-heading {
      margin-bottom: 0;
    }
  }
}
