.c-hero-block-square {
  &__block {
    position: relative;
    @include breakpoint(small only) {
      margin-bottom: rem-calc(16);
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    min-height: rem-calc(400);
    overflow: hidden;
    @include breakpoint(small only) {
      position: relative;
      width: 100%;
      min-height: 60vw;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: inherit;
      @include breakpoint(small only) {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__content {
    width: 50%;
    margin-left: auto;
    padding: rem-calc(56) 0 rem-calc(56) rem-calc(64);
    display: flex;
    min-height: rem-calc(400);
    align-items: center;
    @include breakpoint(small only) {
      width: 100%;
      padding: rem-calc(24) 0!important;
      min-height: inherit;
      display: block;
    }
  }
  &__button {
    margin-top: rem-calc(32);
    @include breakpoint(small only) {
      margin-top: rem-calc(24);
    }
  }
}

// 偶数番目
.c-hero-block-square__block:nth-child(even) {
  .c-hero-block-square__image {
    left: auto;
    right: 0;
  }
  .c-hero-block-square__content {
    margin-left: 0;
    padding: rem-calc(56) rem-calc(64) rem-calc(56) 0;
  }
}
