.c-list {
  li {
    margin-bottom: rem-calc(6);
  }
}


/*
---
name: <ul> 順序なしテキストデフォルト
category: Base
---

*/

.c-list.is-disc {
  li {
    text-indent: -1em;
    padding-left: 1em;

    &:before {
      content: "・";
      color: $font-base-color;
    }
  }

  ul {
    margin-left: rem-calc(24);
    li {
      text-indent: -1em;
      padding-left: 1em;

      &:before {
        content: "・";
        color: $font-base-color;
      }
    }
  }
}

/*
---
name: <ul> 順序なしテキスト
category: Base
---

*/
.c-list.is-icon {
  li {
    position: relative;
    padding-left: rem-calc(20);
    @include breakpoint(small only) {
      padding-left: rem-calc(18);
    }

    &:before {
      content: "\f111";
      font-size: 0.8em;
      font-family: "FontAwesome";
      color: $color-primary;
      position: absolute;
      top: rem-calc(4);
      left: 0;
      @include breakpoint(small only) {
        top: rem-calc(4);
      }
    }

    ul {
      margin-left: rem-calc(24);

      li {
        padding-left: rem-calc(18);

        &:before {
          content: "・";
          color: $font-base-color;
        }
      }
    }
  }
}

/*
---
name: <ol> 順序ありテキスト
category: Base
---

*/
.c-list.is-outline {
  padding-left: rem-calc(20) !important;

  li {
    position: relative;
    list-style: decimal;

    ul {
      li {
        margin-left: rem-calc(38);
      }
    }
  }
}
