/*
---
name: MainVisual_01
category: Components
---
# 通常_メインビジュアル
```types.html
<div class="c-main-visual">
          <div class="c-main-visual__image" style="background-image: url(/dist/assets/images/img-main-visual-01.jpg)">
          </div>
          <div class="c-main-visual__inner">
            <div class="c-main-visual__text"><img src="/dist/assets/images/img-main-visual-text.png" alt="キャッチコピーが入ります">
            </div>
            <div class="c-main-visual__button"><a class="c-button is-lg" href="/aboutus/">詳細はこちら</a>
            </div>
          </div>
        </div>
```
*/
/*
---
name: MainVisual_02
category: Components
---
# スライダー_メインビジュアル
```types.html
<div class="c-main-visual">
          <div class="c-main-visual__slider  owl-carousel">
            <div class="c-main-visual__image" style="background-image: url(/dist/assets/images/img-main-visual-01.jpg)">
            </div>
            <div class="c-main-visual__image" style="background-image: url(/dist/assets/images/img-main-visual-01.jpg)">
            </div>
            <div class="c-main-visual__image" style="background-image: url(/dist/assets/images/img-main-visual-01.jpg)">
            </div>
          </div>
          <div class="c-main-visual__inner">
            <div class="c-main-visual__text"><img src="/dist/assets/images/img-main-visual-text.png" alt="キャッチコピーが入ります"/>
            </div>
            <div class="c-main-visual__button"><a class="c-button is-lg" href="/aboutus/">詳細はこちら</a>
            </div>
          </div>
        </div>
      </div>
```
*/

.c-main-visual {
  width: 100%;
  position: relative;
  &__image {
    width: 100%;
    height: rem-calc(620);
    top: 0;
    left: 0;
   @include bg-option();
    @include breakpoint(medium down) {
      height: 50vw;
      min-height: 280px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($color-black,0.2);
      top: 0;
      left: 0;
    }
  }
  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
    text-align: center;
    padding: 0 rem-calc(16);
    margin-top: rem-calc(32);
    @include breakpoint(medium down) {
      margin-top: rem-calc(8);
    }
  }
  &__text {
    margin-bottom: rem-calc(40);
    @include breakpoint(small only) {
      margin-bottom: 4vw;
    }
    img {
      width: 100%;
      max-width: rem-calc(1048)/2;
      height: auto;
      @include breakpoint(medium down) {
        width: 90%;
        max-width: rem-calc(420);
      }
    }
  }
  &__button {
    .c-button {
      max-width: rem-calc(252)!important;
      @include breakpoint(medium down) {
        padding: rem-calc(12) rem-calc(24);
        max-width: rem-calc(198)!important;
      }
    }
  }
  // owl.calousel
  .owl-dots {
    position: absolute;
    bottom: rem-calc(32);
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium down) {
      bottom: rem-calc(16);
    }
    .owl-dot {
      margin: 0 rem-calc(6);
      width: rem-calc(12);
      height: rem-calc(12);
      background-color: $color-white;
      border-radius: 1000px;
      display: block;
      outline: none;
      &.active {
        background-color: $color-primary!important;
      }
    }
  }
}
