// メニュー
//
// サイドメニューなど
//
// markup:
// <ul class="c-menu">
//     <li><a href="#">メニュー1</a></li>
//     <li><a href="#">メニュー2</a></li>
//     <li><a href="#">メニュー3</a></li>
//     <li><a href="#">メニュー4</a></li>
//     <li><a href="#">メニュー5</a></li>
//     <li><a href="#">メニュー6</a></li>
// </ul>
//
// Styleguide 2.8.0


.c-menu {
  padding-left: 0;
  margin-left: 0;
  border-top: 1px solid $color-tertiary;
  border-left: 1px solid $color-tertiary;
  border-right: 1px solid $color-tertiary;
  > li {
    list-style: none;
  }

  > li > a {
    display: block;
    border-bottom: 1px solid $color-tertiary;
    padding-top: $margin-base;
    padding-bottom: $margin-base;
    padding-left: $margin-md;
    padding-right: $margin-md;
    text-decoration: none;
    &:hover,
    &.is-active{
      background: $color-primary;
      color: $color-white;
    }
  }

}
