/*
---
name: メニューリスト_通常
category: Navigation
---
*/
.c-menu-list {
  &__head {
    background-color: $color-primary;
    color: $color-white;
    font-weight: 700;
    padding: rem-calc(12) rem-calc(16);
  }

  // 共通余白設定
  &__block {
    margin-bottom: rem-calc(40);
    &:last-child {
      margin-bottom: rem-calc(0);
    }
  }

  &__list {}
  &__item {
    &.is-open {
      .c-menu-list__item-head::after {
        transform: rotate(0deg);
      }
    }
    &-head {
      background-color: $color-primary;
      color: $color-white;
      font-weight: 700;
      padding: rem-calc(12) rem-calc(16);
      cursor: pointer;
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        right: rem-calc(12);
        bottom: 0;
        margin: auto;
        width: rem-calc(14);
        height: rem-calc(2);
        background: $color-white;
        @include transition();
      }
      &::after {
        transform: rotate(-90deg);
        @include transition();
      }
    }
    &-content {
      display: none;
    }
    &-unit {}
    &-link {
      display: block;
      color: $font-base-color;
      padding: rem-calc(14) rem-calc(24) rem-calc(14) rem-calc(16);
      border-bottom: 1px solid $border-base-color;
      position: relative;
      text-decoration: none;

      &::after {
        content: "chevron_right";
        font-family: "Material Icons Outlined";
        position: absolute;
        top: 0;
        right: rem-calc(12);
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
