.modaal{
  &-wrapper{
    z-index: 999999 !important;
  }
  &-outer-wrapper{}

  &-inner-wrapper{}

  &-overlay{
    z-index: 99999 !important;
  }
}

.modaal-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);

  &:hover {

    &:before, &:after {
      background: $color-primary;
    }
  }
}

.modaal-video-wrap {
  margin: auto;
}
