/*
---
name: お知らせ_ヘッダー
category: PostContent
---
*/
.c-news-header {
  margin-bottom: rem-calc(32);
  @include breakpoint(small only) {
    margin-bottom: rem-calc(16);
  }

  &__title {
    font-size: rem-calc(28);
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-bottom: rem-calc(24);
    margin-top: 0;
    @include breakpoint(small only) {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(16);
    }
  }

  &__infomation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(small only) {
      align-items: flex-end;
    }
  }

  &__sup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__label {

  }

  &__date {
    @include news-date();
    margin: 0 rem-calc(24);

    @include breakpoint(small only) {
      margin: 0 rem-calc(16);
    }
  }

  &__tag {
    @include breakpoint(small only) {
      margin-top: rem-calc(8);
      width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        margin-right: rem-calc(16);

        a {
          text-decoration: none;
          font-weight: 400;
          font-size: rem-calc(14);
          display: block;
        }
      }
    }
  }

  &__share {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(40);
    height: rem-calc(40);
    color: $color-primary;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid $color-primary;
    background: transparent;
    margin-left: rem-calc(12);
    @include transition();

    @include breakpoint(small only) {
      width: rem-calc(32);
      height: rem-calc(32);
      margin-left: rem-calc(6);
    }

    span {
      font-size: rem-calc(20);

      @include breakpoint(small only) {
        font-size: rem-calc(16);
      }
    }
  }
}
