/*
---
name: お知らせ_1行_フロントページ
category: News
---
```types.html
<div class="c-news-oneline">
                <h2 class="c-news-oneline__title">NEWS</h2>
                <div class="c-news-oneline__content">
                  <div class="c-news-oneline__label  c-label">カテゴリ
                  </div>
                  <div class="c-news-oneline__date">2018.10.10
                  </div><a class="c-news-oneline__text" href="#">お知らせの投稿タイトルがここに入ります。</a>
                </div>
              </div>
```
*/
.c-news-oneline {
  display: flex;
  align-items: center;
  padding: rem-calc(20) rem-calc(40);
  background-color: $color-white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  @include breakpoint(small only) {
    display: block;
    padding: rem-calc(16) rem-calc(24);
  }
  &__title {
    font-size: rem-calc(24);
    @include webfont-bold();
    margin: 0 rem-calc(48) 0 0;
    flex-shrink: 0;
    @include breakpoint(small only) {
      margin-right: 0;
      margin-bottom: rem-calc(16);
    }
  }
  &__content {
    display: flex;
    align-items: center;
    @include breakpoint(small only) {
      flex-wrap: wrap;
    }
  }
  &__date {
    @include webfont();
    color: $color-primary;
    letter-spacing: 0;
    margin-left: rem-calc(24);
    @include breakpoint(small only) {
      margin-left: rem-calc(16);
    }
  }
  &__text {
    margin-left: rem-calc(24);
    font-weight: 400;
    color: $font-base-color;
    text-decoration: none;
    @include breakpoint(small only) {
      margin-left: 0;
      margin-top: rem-calc(8);
    }
    &:hover {
      opacity: 1;
      text-decoration: underline;
      color: $color-primary;
    }
  }
}
