/*
---
name: お知らせ_1カラム_アーカイブ02
category: News
---
```types.html
<div class="c-news-lg"><a class="c-news-lg__block" href="/archive-onecolumn/page/">
                      <div class="c-news-lg__sup">
                        <div class="c-news-lg__label  c-label is-sm">お知らせ
                        </div>
                        <div class="c-news-lg__date">2018.06.01
                        </div>
                      </div>
                      <div class="c-news-lg__title">お知らせの投稿タイトルがここに入ります。
                      </div>
                      <div class="c-news-lg__excerpt">簡単な説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト＜続きを読む＞
                      </div></a><a class="c-news-lg__block" href="/archive-onecolumn/page/">
                      <div class="c-news-lg__sup">
                        <div class="c-news-lg__label  c-label is-sm">お知らせ
                        </div>
                        <div class="c-news-lg__date">2018.06.01
                        </div>
                      </div>
                      <div class="c-news-lg__title">お知らせの投稿タイトルがここに入ります。
                      </div>
                      <div class="c-news-lg__excerpt">簡単な説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト＜続きを読む＞
                      </div></a>
                  </div>
```
*/
.c-news-lg {
  &__block {
    display: block;
    text-decoration: none;
    font-weight: 400;
    color: $font-base-color;
    padding: rem-calc(24) 0;
    @include breakpoint(small only) {
      padding: rem-calc(16) 0;
    }
    &:first-child {
      padding-top: 0;
    }
  }
  &__sup {
    display: flex;
    align-items: center;
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(8);
    }
  }
  &__label {

  }
  &__date {
    margin-left: rem-calc(12);
    @include webfont();
    font-size: rem-calc(14);
    &:before {
      content: "\f017";
      font-family: "FontAwesome";
      margin-right: rem-calc(4);
    }
  }
  &__title {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(8);
    line-height: 1.5;
    @include breakpoint(small only) {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(4);
    }
  }
  &__excerpt {
    font-size: rem-calc(12);
  }
  // サムネイル有り
  &.is-image-display {
    .c-news-lg__block {
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid $border-base-color;
    }
    .c-news-lg__image {
      width: rem-calc(136);
      flex-shrink: 0;
      margin-right: rem-calc(24);
      @include breakpoint(small only) {
        width: rem-calc(100);
        margin-right: rem-calc(24);
      }
    }
  }
}
