.c-offer {
  background-image: url("../images/bg-offer.jpg");
  @include bg-option();
  text-align: center;
  color: $color-white;
  padding: rem-calc(48) 0;
  @include breakpoint(small only) {
    padding: rem-calc(40) 0;
  }
  &__items {
    margin-top: rem-calc(48);
    @include breakpoint(small only) {
      margin-top: rem-calc(24);
    }
  }
  &__button {
    color: $color-white;
    text-decoration: none;
    font-weight: 700;
    font-size: rem-calc(16);
    letter-spacing: 0.05em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-white;
    padding: rem-calc(24) rem-calc(32);
    position: relative;
    width: 100%;
    min-height: rem-calc(88);
    @include breakpoint(small only) {
      font-size: rem-calc(15);
      min-height: rem-calc(64);
    }
    &:after {
      content: "\f105";
      font-family: "FontAwesome";
      position: absolute;
      font-size: rem-calc(20);
      top: 50%;
      right: rem-calc(24);
      transform: translateY(-50%);
      font-weight: 400;
      @include breakpoint(small only) {
        font-size: rem-calc(18);
      }
    }
    &.is-tel {
      @include webfont-bold();
      font-size: rem-calc(32);
      line-height: 1;
      @include breakpoint(small only) {
        font-size: rem-calc(28);
      }
      i {
        margin-right: rem-calc(8);
      }
    }
  }
  &__subtext {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: rem-calc(14);
    @include breakpoint(small only) {
      margin-top: rem-calc(6);
      font-size: rem-calc(12);
      font-weight: 400;
      margin-bottom: rem-calc(24);
    }
  }
  // primary
  &.is-color-primary {
    background-image: none;
    background-color: $color-primary;
    padding: rem-calc(64) 0;
    @include breakpoint(small only) {
      padding: rem-calc(48) 0;
    }
    .c-heading {
      color: $color-white;
      margin-bottom: rem-calc(32);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(24);
      }
    }
    .c-offer__items {
      margin-top: rem-calc(32);
    }
    .c-offer__box {
      border: 1px solid $color-white;
      height: 100%;
      text-align: center;
      padding: rem-calc(32) rem-calc(48);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(8);
        height: inherit;
        padding: rem-calc(24);
      }
    }
    .c-offer__box-text {
      font-size: rem-calc(14);
      letter-spacing: 0.1em;
      margin-bottom: rem-calc(20);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(12);
      }
    }
    .c-offer__box-tel {
      @include webfont-bold();
      font-size: rem-calc(32);
      line-height: 1;
      i {
        margin-right: rem-calc(8);
      }
      small {
        display: block;
        font-size: rem-calc(13);
        letter-spacing: 0.1em;
        font-weight: 400;
        margin-top: rem-calc(8);
      }
    }
  }
}
