/*
---
name: ページネーション
category: Navigation
---
```types.html
<div class="c-pagination">
            <ul>
              <li><a class="c-pagination__prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

              <li><span class="is-current">1</span></li>
              <li><a href="#">2</a>
              </li>
              <li><a href="#">3</a>
              </li>
              <li><a href="#">4</a>
              </li>
              <li><a href="#">5</a>
              </li>
              <li><a class="c-pagination__next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
```
*/
.c-pagination {
  margin-top: rem-calc(48);
  @include breakpoint(small only) {
    margin-top: rem-calc(32);
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li {
    margin-right: rem-calc(6);
  }
  ul li span,
  ul li a {
    @include webfont-bold();
    font-size: rem-calc(16);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem-calc(48);
    height: rem-calc(48);
    text-decoration: none;
    border-radius: 4px;
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: $color-white;
    @include breakpoint(small only) {
      width: rem-calc(40);
      height: rem-calc(40);
    }
    &:hover {
      opacity: 1;
      background: $color-primary;
      color: $color-white;
    }

    &.is-current {
      background: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }
  }
  // 左寄せ
  &.is-align-left {
    ul {
      justify-content: flex-start;
    }
  }
}
