/*
---
name: 複合検索_バナー型
category: Other
---
*/

.c-search-composite {
  background-color: rgba(226,226,226,0.5);
  padding: rem-calc(102) 0 rem-calc(70);
  @include breakpoint(small only) {
    padding: rem-calc(56) 0 rem-calc(24);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include breakpoint(small only) {
      display: block;
    }
  }
  &__block {
    width: 278/1140*100%;
    padding: rem-calc(21) rem-calc(24) rem-calc(21);
    text-decoration: none;
    background-color: $font-base-color;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .2s;
    @include breakpoint(small only) {
      width: 100%;
      margin-bottom: rem-calc(8);
      padding: rem-calc(12);
    }

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 rem-calc(12) rem-calc(18);
      border-color: transparent transparent $color-primary transparent;
      position: absolute;
      bottom: rem-calc(8);
      right: rem-calc(8);
      transition: all .2s;
    }

    &.is-triangle-hidden {
      &:after {
        display: none;
      }
    }

    &:hover {
      opacity: 1;
      background-color: $color-primary;
      &:after {
        border-color: transparent transparent #E2E2E2 transparent;
      }

      &.is-triangle-hidden {
        background-color: $font-base-color;
      }
    }
  }
  &__icon {
    width: rem-calc(50);
    height: rem-calc(50);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: rem-calc(20);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(10);
    }
  }
  &__title {
    letter-spacing: 0.2em;
    font-weight: 700;
    line-height: 28/16*1;
    text-align: center;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__button {
    min-width: rem-calc(100);
    text-align: center;
    text-decoration: none;
    color: $font-base-color;
    font-size: rem-calc(12);
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 24/12*1;
    background-color: $color-white;
    border-radius: 1000px;
    padding: 0 rem-calc(11);
    margin-right: rem-calc(5);
    margin-left: rem-calc(5);
    margin-bottom: rem-calc(13);
    transition: all .2s;

    &.is-more-button {
      font-weight: 700;
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover {
      opacity: 1;
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__input-box {
    background-color: $color-white;
    border-bottom: 2px solid $font-base-color;
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(16);
    margin-top: rem-calc(24);
  }
  &__input-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 rem-calc(10);
    margin: 0 rem-calc(32);
    border-bottom: 1px solid $border-base-color;
    @include breakpoint(small only) {
      margin: 0 rem-calc(16);
    }
  }
  &__input-title {
    font-size: rem-calc(16);
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-right: rem-calc(30);
    min-width: rem-calc(160);
    border-right: 1px solid $border-base-color;
    @include breakpoint(small only) {
      font-size: rem-calc(12);
      padding-right: rem-calc(16);
      min-width: rem-calc(112);
    }
  }
  &__input {
    width: 925/1076*100%;
    position: relative;
    input {
      border: none;
      padding: rem-calc(3) 0 rem-calc(3) rem-calc(26);
      @include breakpoint(small only) {
        padding: rem-calc(3) 0 rem-calc(3) rem-calc(16);
        font-size: rem-calc(12);
      }
    }
    button {
      padding: 0;
      border: none;
      background-color: transparent;
      width: rem-calc(24);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
    }
  }
}
