
.c-slidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  width: rem-calc($slidebar-menu-width);

  &__button {
    margin-right: rem-calc(80);
    width: 100%;
    max-width: rem-calc(210);
    @include breakpoint(medium down) {
      max-width: rem-calc(149);
      position: relative;
      z-index: 9999;
      margin-left: auto;
      margin-right: rem-calc(60);
    }
    a {
      display: block;
      @include font-format(18, 0, 26,bold);
      color: #5A5A5A;
      padding: rem-calc(14) rem-calc(40) rem-calc(14) rem-calc(18);
      background: #FFEC41;
      text-decoration: none;
      position: relative;
      width: 100%;
      @include breakpoint(medium down) {
        @include font-format(13, 0, 19,bold);
        padding: rem-calc(11) rem-calc(25) rem-calc(11) rem-calc(14);
      }
      &::after {
        content: "\e5cf";
        font-family: "Material Icons Outlined";
        position: absolute;
        top: 0;
        right: rem-calc(8);
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem-calc(23);
        height: rem-calc(23);
        @include breakpoint(medium down) {
          width: rem-calc(17);
          height: rem-calc(17);
          right: rem-calc(7);
        }
      }
      @include hover {
        opacity: .5;
      }
    }
  }

  &__container {
    margin-top: rem-calc(80);
    padding-top: rem-calc(89);
    opacity: 0;
    height: calc(100vh - #{$slidebar-header-height}px);
    position: fixed;
    background-color: $color-primary-light;
    width: rem-calc($slidebar-menu-width);
    right: 0;
    transition: all .3s;
    overflow-x: scroll;
    top: 0;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;

    @include breakpoint(medium down) {
      width: rem-calc($slidebar-menu-width);
      height: 100vh;
      margin-top: rem-calc(59);
      padding-top: rem-calc(77);
    }
  }
  &__list {

  }
  &__item {
    &-link {
      display: block;
      text-decoration: none;
      color: $color-white;
      @include font-format(16, .04, 26,bold);
      border-top: 1px solid $color-white;
      padding: rem-calc(24);
      position: relative;
      &::after {
        content: "\e89e";
        font-family: "Material Icons Outlined";
        position: absolute;
        top: 0;
        right: rem-calc(16);
        bottom: 0;
        margin: auto;
        width: rem-calc(24);
        height: rem-calc(24);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include hover {
        background: $color-white;
        color: $color-primary-light;
        opacity: 1;
      }

      &.is-white {
        background: $color-white;
        color: $color-primary-light;
        border-top: 1px solid $color-primary-light;
        @include hover {
          border-top: 1px solid $color-white;
          background: $color-primary-light;
          color: $color-white;
        }
      }
    }
  }
  &__buttons {
    margin-top: rem-calc(24);
    padding: 0 rem-calc(27);
    &-text {
      @include font-format(14, .04, 21,bold);
      color: $color-white;
      text-align: center;
    }
    &-button {
      margin-top: rem-calc(9);
      display: block;
    }
  }
}

// 有効時
.is-slidebar-active {
  .c-slidebar-menu {
    @include breakpoint(medium down) {
      background: $color-primary-light;
      transition: all .3s;
    }
  }

  .c-slidebar-menu__container {
    opacity: 1;
    z-index: 9999;
    transition: all .3s;
    pointer-events: auto;
  }
}
