/*
---
name: SNSボタン
category: Other
---
```types.html
<div class="c-sns-btns">
  <div class="c-sns-btns__inner"><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-instagram.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-line.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-twitter.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-facebook.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-youtube-01.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-youtube-02.png" alt=""></a><a class="c-sns-btns__btn" href=""><img src="/dist/assets/images/icon-youtube-03.png" alt=""></a>
  </div>
</div>
```
*/

.c-sns-btns {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    width: rem-calc(44);
    margin-right: rem-calc(20);
    transition: all .3s;
    @include breakpoint(small only) {
      margin-right: rem-calc(8);
    }
  }
}
