// テーブル
//
// テーブルのスタイル
//
// markup:
// <table class="c-table is-xlg">
//     <thead>
//         <tr>
//              <th>テーブル見出し</th>
//              <th>テーブル見出し</th>
//         <tr>
//     </thead>
//     <tbody>
//         <tr>
//              <td>テーブルセル</td>
//              <td>テーブルセル</td>
//         <tr>
//         <tr>
//              <td>テーブルセル</td>
//              <td>テーブルセル</td>
//         <tr>
//     </tbody>
//
// Styleguide 2.12.0

.c-table-xlg {
  width: 100%;
  border-top: 1px solid $border-base-color;
  @include breakpoint(small only) {
    width: rem-calc(944);
  }
  th,
  td {
    border-bottom: 1px solid $border-base-color;
  }
  thead {
    background-color: $color-secondary;
    th,
    td {
      padding: rem-calc(10) rem-calc(16);
      @include breakpoint(small only) {
        padding: rem-calc(6) rem-calc(8);
      }
    }
  }
  tbody {
    th,
    td {
      padding: rem-calc(20) rem-calc(32);
      font-weight: 400;
      @include breakpoint(small only) {
        padding: rem-calc(12) rem-calc(24);
      }
    }
    th {
      background-color: $color-secondary;
      text-align: center;
      vertical-align: middle;
      width: 294/1140*100%;
    }
  }
}

//スマホ時
.js-responsive-table {
  @include breakpoint(small only) {
    overflow: scroll;
  }
}
