/*
---
name: <table> テーブル_小
category: Base
---
```types.html
<table class="c-table-sm">
                <thead>
                  <tr>
                    <th>受付時間</th>
                    <td>月</td>
                    <td>火</td>
                    <td>水</td>
                    <td>木</td>
                    <td>金</td>
                    <td>土</td>
                    <td>日・祝</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><span>午前</span>9:00～12:30</th>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td><span>×</span></td>
                  </tr>
                  <tr>
                    <th><span>午後</span>14:30～18:00</th>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td>院長</td>
                    <td><span>×</span></td>
                    <td><span>×</span></td>
                  </tr>
                </tbody>
              </table>
```
*/

.c-table-xlg {
  width: 100%;
  border-top: 1px solid $border-base-color;
  @include breakpoint(small only) {
    width: rem-calc(944);
  }
  th,
  td {
    border-bottom: 1px solid $border-base-color;
  }
  thead {
    background-color: $color-secondary;
    th,
    td {
      padding: rem-calc(10) rem-calc(16);
      @include breakpoint(small only) {
        padding: rem-calc(6) rem-calc(8);
      }
    }
  }
  tbody {
    th,
    td {
      padding: rem-calc(20) rem-calc(32);
      font-weight: 400;
      @include breakpoint(small only) {
        padding: rem-calc(12) rem-calc(24);
      }
    }
    th {
      background-color: $color-secondary;
      text-align: center;
      vertical-align: middle;
      width: 294/1140*100%;
    }
  }
}

//スマホ時
.js-responsive-table {
  @include breakpoint(small only) {
    overflow: scroll;
  }
}
