/*
---
name: <table> テーブル_小
category: Base
---
*/

.c-table-xlg {
  width: 100%;
  border-top: 1px solid $border-base-color;
  @include breakpoint(small only) {
    width: rem-calc(944);
  }

  th,
  td {
    border-bottom: 1px solid $border-base-color;
  }

  thead {
    background-color: $color-secondary;

    th,
    td {
      padding: rem-calc(10) rem-calc(16);
      @include breakpoint(small only) {
        padding: rem-calc(6) rem-calc(8);
      }
    }
  }

  tbody {
    th,
    td {
      padding: rem-calc(20) rem-calc(32);
      font-weight: 400;
      @include breakpoint(small only) {
        padding: rem-calc(12) rem-calc(24);
      }
    }

    th {
      background-color: rgba($color-secondary, .9);
      text-align: center;
      vertical-align: middle;
      width: 294/1140*100%;
    }
  }
}

//スマホ時
.js-responsive-table {

  @include breakpoint(small only) {
    width: 100%;
    overflow: auto;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) 0 0/20px 100%, linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)) right/20px 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-right: 1px solid #CCC;

    table {
      background: linear-gradient(to left, hsla(0, 0%, 100%, 0), white 15px) 0 0 / 50px 100%, linear-gradient(to right, hsla(0, 0%, 100%, 0), white 15px) right / 50px 100%;
      background-repeat: no-repeat;
      background-attachment: local;
      border-bottom: 1px solid #CCC;
      border-collapse: collapse;
    }
  }
}
