/*
---
name: お知らせ_目次
category: PostContent
---
# HTMLは自動生成
```types.html
<div id="toc_container" class="no_bullets"><p class="toc_title">目次 <span class="toc_toggle">[<a href="#">非表示</a>]</span></p><ul class="toc_list"><li><a href="#Web"><span class="toc_number toc_depth_1">1.</span> Webマーケティングとは？</a></li><li><a href="#Web-2"><span class="toc_number toc_depth_1">2.</span> Webマーケティングのメリットとは？</a><ul><li><a href="#i"><span class="toc_number toc_depth_2">2.1</span> あらゆる方たちに配信ができる</a></li><li><a href="#i-2"><span class="toc_number toc_depth_2">2.2</span> 素早く情報を配信できる</a></li><li><a href="#i-3"><span class="toc_number toc_depth_2">2.3</span> 修正を簡単に実行できる</a></li><li><a href="#i-4"><span class="toc_number toc_depth_2">2.4</span> 少ない費用で情報を配信できる</a></li><li><a href="#i-5"><span class="toc_number toc_depth_2">2.5</span> ターゲットを細かく設定できる</a></li></ul></li></ul></div>
```
*/

#toc_container {
  margin: rem-calc(32) 0;
  width: 100% !important;
  background: $color-secondary;
  border-radius: 0px;
  padding: rem-calc(16) rem-calc(40) rem-calc(40);
  @include breakpoint(small only) {
    margin: rem-calc(16) 0;
    padding: rem-calc(16) rem-calc(24) rem-calc(24);
  }
  .toc_title {
    text-align: center !important;
    font-size: 1.125rem;
    color: $color-primary;
    font-weight: 700;
    margin-bottom: rem-calc(16);
    .toc_toggle {
      margin-left: rem-calc(16);
    }
  }
  .toc_list li {
    ul {
      padding-left: 24px;
    }
    a {
      display: block;
      padding-left: rem-calc(16);
      transition: all ease .2s;
      text-decoration: none;
      color: $font-base-color;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        background: rgba(214, 214, 214, 0.2);
      }
    }
    &:last-child {
      box-shadow: none;
    }
  }
}
