/*
---
name: アコーディオン_Q&A
category: Components
---
*/

.c-accordion {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem-calc(16); //ブロック間

  &__block{
    border: solid 1px $color-border;
  }

  //タイトル
  &__title{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: rem-calc(16);
    padding: rem-calc(16) rem-calc(48) rem-calc(16) rem-calc(24);
    position: relative;

    @include breakpoint(small only) {
      padding: rem-calc(16) rem-calc(32) rem-calc(12) rem-calc(16);
    }

    //*矢印
    &::after {
      content: "expand_less";
      @include icon-font();
      color: $color-primary;
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      right: rem-calc(24);
      @include breakpoint(small only) {
        right: rem-calc(16);
      }
    }


    &::-webkit-details-marker{
      display: none;//Safariの矢印を非表示
    }
  }

  //アイコン共通
  &__title-icon, &__content-icon{
    width: rem-calc(40);
    height: rem-calc(40);
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-color: $color-primary;
    color: $color-white;
    font-size: rem-calc(24);
    @include webfont();
    font-weight: 400;
    letter-spacing: 0;
  }

  &__content-icon{
    background-color: $color-accent;
  }


  //コンテンツ
  &__content-wrapper{
    padding: 0 rem-calc(24) rem-calc(16) rem-calc(24);

    @include breakpoint(small only) {
      padding: 0 rem-calc(16) rem-calc(12) rem-calc(16);
    }
  }

  &__content{
    border-top: solid 1px $color-border;
    padding-top: rem-calc(20);
    display: flex;
    gap: rem-calc(16);
  }

  &__content-inner{
    flex-grow: 1;

  }

}
