/*
---
name: カプセルナビ_ページ内リンク
category: Navigation
---
*/
/*
---
name: カプセルナビ_ボタン型
category: Navigation
---
*/
.c-anchor-nav {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 12px;
  }
}
