.c-block-modal-form {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: rgba($font-base-color, .9);
  visibility: hidden;
  opacity: 0;
  @include transition(.2s);

  @include breakpoint(medium down) {
    top: 55px;
  }

  &__inner {
    padding: 90px 0;
    position: relative;

    @include breakpoint(small only) {
      padding: 60px 0;
    }
  }

  &__bg {
    position: fixed;
    left: 0;
    height: calc(100vh - 352px);
    width: 100%;
    bottom: 0;

    @include breakpoint(medium down) {
      height: calc(100vh - 252px - 64px);
    }

    @include breakpoint(small only) {
      height: calc(100vh - 166px - 64px);
    }
  }

  &__form {
    display: flex;
    height: 72px;
    width: 100%;
    max-width: 748px;
    margin: auto;
    position: relative;

    @include breakpoint(small only) {
      height: 46px;
    }

    &::after {
      content: "";
      height: 46px;
      width: 1px;
      background: $border-base-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 62px;

      @include breakpoint(small only) {
        height: 22px;
        left: 42px;
      }
    }

    .is-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 22px;
      width: 21px;
      height: 21px;
      z-index: 1;
      pointer-events: none;

      @include breakpoint(small only) {
        font-size: 10px;
        transform: scale(.9) translateY(-50%);;
        left: 12px;
      }
    }

    input {
      border: none;
      font-family: inherit;
      position: relative;
      padding-left: 86px;
      @include font-format(14,.1,20,400);
      border-radius: 2px 0 0 2px;

      @include breakpoint(small only) {
        padding-left: 60px;
        @include font-format(11,.08,17,400);
      }

      &::placeholder {
        @include font-format(14,.1,20,400);
        color: $color-gray;
        @include breakpoint(small only) {
          @include font-format(11,.08,17,400);
        }
      }
    }

    button {
      width: 112px;
      flex: none;
      background: $color-primary;
      border: none;
      padding: 0;
      color: $color-white;
      outline: none;
      @include font-format(16,.1,24,400);
      border-radius: 0 2px 2px 0;
      @include transition(.2s, ease-out);

      @include breakpoint(small only) {
        width: 78px;
        @include font-format(12,.08,18,400);
      }

      @include hover() {
        opacity: .5;
      }
    }
  }

  &__close {
    position: absolute;
    right: 140px;
    top: 24px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 53.2px;
    height: 53.2px;
    @include transition();

    @include breakpoint(1300px down) {
      right: 20px;
    }

    @include breakpoint(small only) {
      right: 0;
      top: 6px;
    }


    &::before {
      content: "";
      display: block;
      width: 53.2px;
      height: 1px;
      background: $color-white;
      transform: rotate(45deg);

      @include breakpoint(small only) {
        width: 40px;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 53.2px;
      height: 1px;
      background: $color-white;
      transform: translateY(-1px) rotate(-45deg);

      @include breakpoint(small only) {
        width: 40px;
      }
    }

    @include hover() {
      opacity: 0.5;
    }
  }
}

body.is-search-modal-open {
  .c-block-modal-form {
    visibility: visible;
    opacity: 1;
  }
}
