/*
---
name: ステップボックス_画像なし
category: Components
---
*/
.c-box-number {
  &__block {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    @include breakpoint(small only) {
      margin-bottom: 32px;
    }
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 12px 0 12px;
      border-color: $color-primary transparent transparent transparent;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,100%);
    }
    //*最後は矢印なし
    &:last-child {
      margin-bottom: 0;
      &::after {
        display: none;
      }
    }
  }
  //*ナンバー
  &__head {
    background-color: $color-primary;
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(small only) {
      width: 72px;
    }
  }
  &__number {
    color: $color-white;
    text-align: center;
    @include webfont();
    line-height: 1.2;
    small {
      @include webfont();
      font-size: 16px;
      letter-spacing: 0.1em;
      display: block;
      @include breakpoint(small only) {
        font-size: 14px;
      }
    }
    span {
      font-size: 32px;
      letter-spacing: 0;
      display: block;
      @include breakpoint(small only) {
        font-size: 32px;
      }
    }
  }
  //*テキストコンテンツ
  &__content {
    background-color: $color-secondary;
    padding: 28px 40px;
    width: calc(100% - 86px);
    @include breakpoint(small only) {
      padding: 16px 24px;
      width: calc(100% - 72px);
    }
  }
  &__text {
    font-size: 14px;
  }
}
