/*
---
name: ボックス_通常
category: Components
---
*/

.c-box {
  &__block {
    background-color: $color-secondary;
    padding: 32px 40px;
    margin-bottom: 56px;
    @include breakpoint(small only) {
      padding: 24px;
      margin-bottom: 24px;

    }
  }


  &__image {
    @include breakpoint(small only) {
      margin-bottom: 16px;
    }
  }
}
