// パンくずナビゲーション
// Styleguide 2.3.0
.c-breadcrumb {
  padding: 12px 0;
  @include breakpoint(medium down) {

  }

  &__inner {
    //三点リーダーの色を変更したい場合はここにcolorを入れる
    font-size: 12px;
    line-height: 1.5;

    @include breakpoint(small only) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      &.is-arrow {
        margin:0 8px;
        font-size: 10px;
        line-height: 1;
        vertical-align: middle;
        span {
          display:inline-flex;
        }
      }

    }
  }
}
