// パンくずナビゲーション
// Styleguide 2.3.0
.c-breadcrumb {
  padding: rem-calc(12) 0;
  @include breakpoint(medium down) {

  }

  &__inner {
    //三点リーダーの色を変更したい場合はここにcolorを入れる
    font-size: rem-calc(12);
    line-height: 1.5;

    @include breakpoint(small only) {
      @include line-clamp(1);
    }

    span {
      &.is-arrow {
        margin:0 rem-calc(8);
        font-size: rem-calc(10);
        line-height: 1;
        vertical-align: middle;
        span {
          display:inline-flex;
        }
      }

      a {
        display: inline-flex; //iOS17でパンくずがクリックできない問題の対応
      }
    }
  }
}
