/*
---
name: ボタン_カラー別
category: Buttons
---
*/
@use "sass:color";

.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-white;
  text-decoration: none;
  min-width: min(200px, 100%);
  max-width: 100%;
  background-color: $color-primary;
  padding-block: 13px;
  padding-inline: 13px 40px 13px 24px;
  border: 1px solid $color-primary;
  @include transition();
  // *アイコン
  &::after {
    content: "chevron_right";
    @include icon-font();
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  // *hover
  @include hover {
    opacity: 1;
    background-color: $color-white;
    color: $color-primary;
  }

  // カラー設定
  //文字と背景反転
  &.is-reverse {
    background-color: $color-white;
    color: $color-primary;

    @include hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  // -> セカンダリカラー
  &.is-secondary {
    background-color: color.adjust($color-primary, $lightness:40%);
    color: $color-primary;
    border-color: color.adjust($color-primary, $lightness:40%);

    @include hover {
      background-color: $color-white;
      border-color: $color-primary;
    }
  }
}

/*
---
name: ボタン_サイズ別
category: Buttons
---
*/
.c-button {
  // サイズ設定
  // -> 大
  &.is-xlg {
    padding: 26px 40px 26px 24px;
    font-size: 18px;
    @include breakpoint(small only) {
      padding: 20px 32px;
    }

    &::after {
      font-size: 24px;
    }
  }

  // -> 中
  &.is-lg {
    padding: 16px 40px 16px 24px;
    @include breakpoint(small only) {
    }
  }

  // -> 小
  &.is-sm {
    min-width: 155px;
    padding: 10px 40px 10px 24px;
    font-size: 14px;
    @include breakpoint(small only) {
    }

    &::after {
      right: 10px;
    }
  }

  // -> 極小
  &.is-xs {
    min-width: fit-content;
    background-color: transparent;
    padding: 0 16px 0 0;
    border: none;
    color: $font-base-color;
    font-size: 14px;
    @include breakpoint(small only) {
    }

    &::after {
      color: $color-primary;
      right: 0;
    }

    // *hover
    @include hover {
      opacity: 0.6;
    }
  }

  &.is-nav {
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-primary;
    padding: 16px 40px 16px 24px;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;

    @include breakpoint(small only) {
      padding: 10px 40px 10px 24px;
    }

    &::after {
      content: "expand_more";
      right: 16px;
      font-size: 18px;
      line-height: 1;

      @include breakpoint(small only) {
        font-size: 14px;
      }
    }

    @include hover {
      color: $color-gray;
      border-color: $color-gray;
      transform: translateY(6px);
    }
  }

  &.is-arrow-left {
    padding: 16px 24px 16px 40px;

    &::after {
      content: "chevron_left";
      right: auto;
      left: 10px;
    }
  }
}
