/*
---
name: ポストアイテム_カード（タグあり）
category: News
---
*/
.c-card-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;


  &__block {
    width: 100%;
    display: block;
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    margin-bottom: 48px;
    @include breakpoint(small only) {
      margin-bottom: 32px;
    }

    span,
    small {
      display: block;
    }
  }

  &__image {
    position: relative;
    display: block;

    img {
      @include img-option(cover);
      aspect-ratio: 16/9;
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: block;
  }

  &__content {
    margin-top: 12px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 8px;
  }

  &__text {
    color: rgba($font-base-color, 0.7);
    font-size: 13px;
    margin-top: 12px;
    @include breakpoint(small only) {
      margin-top: 8px;
    }
  }

  &__sup {
    margin-top: 6px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__date {
    @include news-date();
  }

  &__detail {
    color: $color-primary;
    font-size: 14px;
    letter-spacing: 0.1em;
    opacity: 0.7;
  }

  &__tag {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 20px;

        a {
          color: $color-primary;
          font-weight: 400;
          font-size: 14px;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

.c-card-post {
  // タグなしver
  &.is-tag-hidden {
    margin-bottom: 32px;

    .c-card-post__sup {
      position: relative;
      display: flex;
      align-items: center;
    }

    .c-card-post__label {
      position: static;
    }

    .c-card-post__date {
      margin-right: 0;
    }

    .c-card-post__title {
      font-size: 16px;
    }
  }
}
