//============================
//  mixins
//============================

// メールフォーム専用の input,textarea,select 共通スタイル
@mixin forms-input-common-style {
  border-radius: 2px;
  background-color: #F9F8F7;


  &:focus,
  &:active {
    border-color: $form-controls-active-border-color;
  }
}

//============================
// styles
//============================
.c-forms {
  max-width: 800px;
  margin: auto;
  padding: 54px 32px 58px;
  background: $color-white;

  @include breakpoint(small only) {
    padding: 32px 16px;
  }

  &__inner {
    width: 100%;
    max-width: 500px;
    margin: auto;

    @include breakpoint(small only) {
      padding: 0;
    }
  }

  &__head {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 24px;

    @include breakpoint(small only) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 40px;

    @include breakpoint(small only) {
      margin-bottom: 24px;
    }
  }

  //============================
  // フォーム項目の構造
  //============================
  &__blocks {
    @include breakpoint(small only) {
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    //項目名と項目の横並び
    &.is-horizontal {
      grid-template-columns: minmax(auto, min-content) 1fr;
      column-gap: 60px;

      @include breakpoint(small only) {
        grid-template-columns: 1fr;
      }

      .c-forms__title {
        min-width: 220px;
        justify-content: space-between;

        @include breakpoint(small only) {
          justify-content: flex-start;
        }
      }
    }
  }

  // fieldsetバグのため意図的に記述
  &__fieldset {
    display: contents;
  }

  &__title {
    display: flex;
    gap: 8px;
    align-items: baseline;
    align-self: center;
    font-size: 14px;
    --letter-spacing: 0;


    &.is-vertical-top {
      align-self: start;
    }
  }

  //ラベル
  &__label {
    display: block;
    min-width: 34px;
    padding: 3px;
    border-radius: 5px;
    background-color: $color-accent; //#F44336
    text-align: center;
    color: $color-white;
    font-size: 12px;
    line-height: 1;
    --letter-spacing: 0em;
  }

  &__content {
    width: 100%;

    &.is-column {
      display: flex;
      justify-content: space-between;

      .c-forms__input {
        margin-right: 24px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      input {
        width: 100%;
      }
    }

    &.is-vertical-middle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


    //CF7のバリデーションチップ対応
    .wpcf7-not-valid-tip {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.7;
      color: $color-state-danger;
    }

    &:has(.wpcf7-not-valid-tip) {
      input,
      textarea,
      select,
      label:has(input[type="radio"]),
      label:has(input[type="checkbox"]) {
        background-color: rgba($color-state-danger, 0.05);
        color: $color-state-danger;
        border-color: $color-state-danger;
      }
    }
  }

  //============================
  // フォームコントロール
  //============================

  //インプット
  &__input {
    width: 100%;

    input {
      @include forms-input-common-style;
    }

    &.is-sm {
      width: 180px;

      input {
      }
    }
  }

  &__file {
    width: 100%;


    input {
      @include forms-input-common-style;
      width: 100%;
      &::file-selector-button {
      }
    }
  }

  &__select {
    width: 100%;

    select {
      @include forms-input-common-style;
    }

    &.is-sm {
      width: 180px;
    }
  }

  &__textarea {
    textarea {
      @include forms-input-common-style;
      resize: vertical;
    }
  }

  //ラジオボタン,チェックボックス
  &__radio,
  &__checkbox {
    //Contact Form 7
    &:where(:not(.is-mw)) {
      & > span > span {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        line-height: 1.2;
        @include breakpoint(small only) {
          flex-direction: column;
        }
      }

      & > span > span > span {
        width: calc(50% - #{5px});
        @include breakpoint(small only) {
          width: 100%;
        }
      }

      &.is-vertical {
        flex-direction: column;

        & > span > span > span {
          width: 100%;
        }
      }
    }


    //MW WP Form
    &:where(.is-mw) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      line-height: 1.2;

      @include breakpoint(small only) {
        flex-direction: column;

        & > span {
          width: 100%;
        }
      }

      & > span {
        width: calc(50% - #{5px});
      }

      &.is-vertical {
        flex-direction: column;

        & > span {
          width: 100%;
        }
      }
    }


    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      & > span {
        margin-left: 10px;
      }
    }



    &.is-border {
      label {
        @include forms-input-common-style;
        padding: 11px 8px;
        border: 1px solid $border-base-color;
        border-radius: $border-radius;
      }
    }

    &.is-design {
      input {
        cursor: pointer;
        border-color: $border-base-color;
        flex-shrink: 0;

        &[type='radio'], &[type='checkbox'] {
          appearance: none;
          background: $color-white;
          border: 1px solid $border-base-color;
          width: 20px;
          height: 20px;
          position: relative;

          &:checked {
            &::after {
              width: 100%;
              height: 100%;
              position: relative;
              top: 50%;
              left: -1px;
              transform: translateY(-50%);
              background-color: $color-white;
              content: '';
              display: inline-block;
              visibility: visible;
              border: 1px solid $color-primary;
            }
          }
        }

        &[type='radio'] {
          &::after {
            border-radius: 50%;
          }

          &:checked::after {
            content: '';
            background: radial-gradient($color-primary 48%, $color-white 50%);
          }
        }

        &[type='checkbox'] {
          &:checked {
            &::after {
              content: "check";
              @include icon-font();
              display: grid;
              place-content: center;
              background: $color-primary;
              color: $color-white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &__note {
    margin-top: 4px;
    opacity: 0.6;
    font-size: 12px;

    small {
      font-size: inherit;
    }
  }


  &__privacy {
    margin-top: 24px;
    text-align: center;

    input {
      margin-right: 10px;
    }

    a {
      font-weight: 400;
      text-decoration-line: underline;
      color: $font-base-color;
    }
  }

  &__flex-al {
    display: flex;
    align-items: flex-start;//エラーメッセージが &__input 内に出たときのため flex-startにする
    gap: 16px;
  }

  &__flex-al-label{
    flex-shrink: 0;
    width: 32px;
    text-align: right;
    padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2
  }

  &__flex-al-unit{
    flex-shrink: 0;
    padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2
  }

  &__flexbox {
    display: flex;
    align-items: flex-start;//エラーメッセージが &__input 内に出たときのため flex-startにする
    margin-bottom: 16px;
    gap: 16px;
    @include breakpoint(small only) {
      display: block;
    }

    input {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__flexbox-label {
    min-width: 120px;
    display: block;
    padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2

    @include breakpoint(small only) {
      min-width: 100%;
      margin-bottom: 8px;
    }

    &.is-sm{
      min-width: 4em;
    }
  }

  // 住所自動入力ボタン
  &__button {
    flex: none;
    max-width: 132px;
    border: 1px solid $font-base-color;
    outline: none;
    background-color: $color-white;
    padding: 4px 12px;
    display: block;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    margin-top: calc((#{44px} - #{34px})/2);// （inputの高さ - ボタンの高さ）÷ 2

    @include breakpoint(small only) {
      padding: 6px 12px;
      margin-top: calc((#{44px} - #{38px})/2);// （inputの高さ - ボタンの高さ）÷ 2
    }
  }

  // 送信ボタン
  &__submit {
    text-align: center;
    margin-top: 40px;
    @include breakpoint(small only) {
      margin-top: 32px;
    }

    &__back {
      width: calc(25% - 28px);
      // -2px はタグの改行によって発生するホワイトスペースの距離
      margin-right: (map_get($grid-column-responsive-gutter,medium) * 0.5) - 2px;
      @include breakpoint(medium down) {
        width: calc(33.33333% - 28px);
      }
      @include breakpoint(small only) {
        width: calc(50% - 10px);
        margin-right: map_get($grid-column-responsive-gutter,small) * 0.5 - 2px;
      }
    }

    &__submit {
      width: calc(25% - 28px);
      margin-left: map_get($grid-column-responsive-gutter,medium) * 0.5 - 2px;
      @include breakpoint(medium down) {
        width: calc(33.33333% - 28px);
      }
      @include breakpoint(small only) {
        width: calc(50% - 10px);
        margin-left: map_get($grid-column-responsive-gutter,small) * 0.5 - 2px;
      }
    }
  }
}
