@use "sass:math";

.c-forms-normal {
  &__block {
    margin-bottom: 48px;
    @include breakpoint(small only) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 16px;
    @include breakpoint(small only) {
      margin-bottom: 12px;
    }
  }

  &__label {
    display: inline-block;
    color: #f00;
    margin-left: 5px;
  }

  &__content {
    input,select,textarea {
      background-color: #F9F9F9;
      border-color: #ECECEC;
      border-radius: 4px;
      font-size: 16px;
      letter-spacing: 0.05em;
      line-height: math.div(28, 16)*1;
      &:focus {
        outline: none;
        border-color: $color-primary;
      }
    }
  }
  //インプット
  &__input {
    width: 100%;
    &.is-sm {
      width: 180px;
    }
    input {
      padding: 19px 32px;
      @include breakpoint(small only) {
        padding: 16px;
      }
    }
  }
  //セレクトボックス
  &__select {
    select {
      height: 68px;
      box-shadow: none;
    }
  }
  //ラジオボタン,チェックボックス
  &__radio,
  &__checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    label {
      display: flex;
      align-items: center;
      margin-right: 64px;
      @include breakpoint(small only) {
        margin-right: 48px;
        margin-bottom: 8px;
      }
    }
    input {
      margin-right: 8px;
      margin-top: 2px;
    }

    span {
      &:last-child {
        label {
          margin-right: 0;
        }
      }
    }
  }
  &__checkbox {
    input {
      margin-right: 6px;
      margin-top: 4px;
    }
  }
  // テキストエリア
  &__textarea {
    textarea {
      padding: 19px 32px;
      @include breakpoint(small only) {
        padding: 16px;
      }
    }
  }
  // 個人情報保護方針
  &__privacy {
    margin-top: 86px;
    text-align: center;
    @include breakpoint(small only) {
      margin-top: 32px;
    }
    a {
      font-weight: 400;
      text-decoration: underline;
      color: $font-base-color;
    }
  }
  &__flexbox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    .c-forms-normal__input {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }

    span {
      min-width: 120px;
      @include breakpoint(small only) {
        min-width: 100%;
        margin-bottom: 8px;
      }
    }
  }
  // 住所自動入力ボタン
  &__button {
    max-width: 150px;
    border: 1px solid $font-base-color;
    outline: none;
    background-color: $color-white;
    padding: 3px 12px;
    display: block;
    text-align: center;
    margin-left: 16px;
    @include breakpoint(small only) {
      padding: 9px 12px;
    }
  }
  // 送信ボタン
  &__submit {
    text-align: center;
    margin-top: 48px;
    @include breakpoint(small only) {
      margin-top: 32px;
    }
    //横並び
    &.is-two-columns {
    }
  }
}
