//============================
//  mixins
//============================

// メールフォーム専用の input,textarea,select 共通スタイル
@mixin forms-input-common-style {
  border-radius: 4px;
  background-color: $color-background;


  &:focus,
  &:active {
    background-color: $color-white;
    border-color: $form-controls-active-border-color;
  }
}

//============================
// styles
//============================
.c-forms {
  margin: auto;
  padding: 80px 96px 80px;
  background: $color-white;
  line-height: 1.6;

  @include breakpoint(small only) {
    padding: 32px 16px;
  }

  &.is-padding-sm {
    padding: 32px 24px;
    @include breakpoint(small only) {
      padding: 24px 12px;
    }
  }


  &:has(.c-forms__block.is-horizontal) {
    padding: 0 0;
  }

  &__inner {
    margin: auto;

    @include breakpoint(small only) {
      padding: 0;
    }
  }

  &__head {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 24px;

    @include breakpoint(small only) {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 64px;
    text-align: center;

    @include breakpoint(small only) {
      margin-bottom: 24px;
      text-align: left;
    }
  }

  //============================
  // フォーム項目の構造
  //============================
  &__blocks {
    @include breakpoint(small only) {
    }

  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;

    &:where(:not(:last-child)) {
      margin-bottom: 40px;
    }

    //項目名と項目の横並び
    &:where(.is-horizontal) {
      grid-template-columns: max(calc(332/1140*100%), 220px) 1fr;
      column-gap: 52px;
      border-bottom: 1px solid $border-base-color;
      padding: 32px 0 32px 24px;
      margin: 0;

      &:where(:first-child) {
        border-top: 1px solid $border-base-color;
      }

      @include breakpoint(small only) {
        grid-template-columns: 1fr;
        padding: 24px 0;
      }

      .c-forms__title {
        // min-width: 220px;
        justify-content: space-between;

        @include breakpoint(small only) {
          justify-content: flex-start;
        }
      }
    }
  }

  // fieldsetバグのため意図的に記述
  &__fieldset {
    display: contents;
  }

  &__title {
    display: flex;
    gap: 8px;
    align-items: baseline;
    align-self: center;
    font-weight: 700;


    &.is-vertical-top {
      align-self: start;
      padding-top: 16px;

      @include breakpoint(small only) {
        padding-top: 0;
      }
    }
  }

  //ラベル
  &__label {
    display: block;
    padding: 3px 8px 4px 8px;
    border-radius: 2px;
    background-color:#D03045;
    text-align: center;
    color: $color-white;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    flex-shrink: 0;

    &.is-optional {
      background-color: $color-white;
      color: $font-base-color;
      border: 1px solid $border-base-color;
    }
  }

  &__content {
    width: 100%;

    &.is-column {
      display: flex;
      justify-content: space-between;

      .c-forms__input {
        margin-right: 24px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      input {
        width: 100%;
      }
    }

    &.is-vertical-middle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


    //CF7のバリデーションチップ対応
    .wpcf7-not-valid-tip {
      font-weight: 400;
      color: $color-state-danger;
      margin-top: 8px;
      display: block;
    }

    &:has(.wpcf7-not-valid-tip) {
      input,
      textarea,
      select,
      label:has(input[type="radio"]),
      label:has(input[type="checkbox"]) {
        background-color: $color-state-danger-fill;
        color: $color-state-danger;
        border-color: $color-state-danger;
      }
    }
  }

  //============================
  // フォームコントロール
  //============================



  //インプット
  &__input {
    input {
      @include forms-input-common-style;
    }
  }

  &__file {
    input {
      border-radius: 4px;
      background-color: $color-background;
      border: none;
      width: 100%;
      &::file-selector-button {
      }
    }
  }

  &__select {
    select {
      @include forms-input-common-style;
    }
  }

  &__textarea {
    textarea {
      @include forms-input-common-style;
      resize: vertical;
    }
  }


  //サイズバリエーション
  &__input, &__select, &__file, &__textarea {
    width: 100%;

    &.is-md {
      width: 240px;
    }

    &.is-sm {
      width: 150px;

      @include breakpoint(small down) {
        width: 78px;
      }
    }
  }

  //ラジオボタン,チェックボックス
  &__radio,
  &__checkbox {
    --_options-gap: 9px;
    //Contact Form 7
    &:where(:not(.is-mw)) {
      & > span > span {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: var(--_options-gap);
      }

      & > span > span > span {
        //幅は要素にあわせて自動調整
      }

      &.is-column {
        //2列
        @include breakpoint(small only) {
          flex-direction: column;
        }

        & > span > span > span {
          width: calc(50% - (var(--_options-gap) / 2));
          @include breakpoint(small only) {
            width: 100%;
          }
        }
      }

      &.is-vertical {
        //縦並び
        flex-direction: column;

        & > span > span > span {
          width: 100%;
        }
      }
    }


    //MW WP Form
    &:where(.is-mw) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--_options-gap);

      @include breakpoint(small only) {
        flex-direction: column;

        & > span {
          width: 100%;
        }
      }

      & > span {
        //幅は要素にあわせて自動調整
      }

      &.is-column {
        //2列
        flex-direction: column;

        & > span {
          width: calc(50% - (var(--_options-gap) / 2));
        }
      }

      &.is-vertical {
        //縦並び
        flex-direction: column;

        & > span {
          width: 100%;
        }
      }
    }


    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      & > span {
        margin-left: 10px;
      }
    }



    &.is-border {
      --_options-gap: 4px;
      label {
        border-radius: 4px;
        background-color: $color-background;
        padding: 12px 32px 12px 16px;
        border: 1px solid $border-base-color;
        height: 100%;

        @include breakpoint(small only) {
          padding: 9px 24px 9px 12px;
        }
      }
    }

    &.is-design {
      input {
        cursor: pointer;
        border-color: $border-base-color;
        flex-shrink: 0;

        &[type='radio'], &[type='checkbox'] {
          appearance: none;
          background: $color-white;
          border: 1px solid $border-base-color;
          width: 24px;
          height: 24px;
          position: relative;

          &:checked {
            &::after {
              width: 100%;
              height: 100%;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              background-color: $color-white;
              content: '';
              display: inline-block;
              visibility: visible;
            }
          }
        }

        &[type='radio'] {
          &::after {
            border-radius: 50%;
          }

          &:checked::after {
            content: '';
            background: radial-gradient($color-primary 45%, $color-white 50%);
          }
        }

        &[type='checkbox'] {
          border-radius: 2px;

          &:checked {
            background: $color-primary;
            border-color: $color-primary;
            &::after {
              content: "check";
              @include icon-font();
              width: 100%;
              height: 100%;
              display: grid;
              place-content: center;
              background: transparent;
              color: $color-white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &__note {
    font-size: 14px;
    margin-bottom: 8px;

    &.is-mg-lg {
      margin-bottom: 16px;
    }

    small {
      font-size: inherit;
    }
  }


  &__privacy {
    &.is-display-contents {
      display: contents;
    }

    margin-top: 24px;
    text-align: center;

    &:not(.is-display-contents) {
      input {
        margin-right: 10px;
      }
    }
  }

  &__flex-al {
    display: flex;
    align-items: flex-start;//エラーメッセージが &__input 内に出たときのため flex-startにする
    gap: 12px;

    @include breakpoint(small only) {
      gap: 6px;
    }

    &.is-gap-lg{
      gap: 24px;

      @include breakpoint(small only) {
        gap: 8px;
      }
    }

    &.is-gap-sm{
      gap: 8px;
    }
  }

  &__flex-al-label{
    flex-shrink: 0;
    width: 32px;
    text-align: right;
    padding-top:calc((#{57px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2

    @include breakpoint(small only) {
      padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2
    }
  }

  &__flex-al-unit{
    flex-shrink: 0;
    padding-top:calc((#{57px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2

    @include breakpoint(small only) {
      padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2
    }
  }

  &__flexbox {
    display: flex;
    align-items: flex-start;//エラーメッセージが &__input 内に出たときのため flex-startにする
    margin-bottom: 16px;
    gap: 8px;
    @include breakpoint(small only) {
      display: block;
    }

    input {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__flexbox-label {
    min-width: 120px;
    display: block;
    padding-top:calc((#{44px} - 1lh)/2);// （inputの高さ - 行の高さ）÷ 2

    @include breakpoint(small only) {
      min-width: 100%;
      margin-bottom: 8px;
    }

    &.is-sm{
      min-width: 4em;
    }
  }

  // 住所自動入力ボタン
  &__button {
    flex: none;
    border: 1px solid $font-base-color;
    outline: none;
    background-color: $color-white;
    display: grid;
    padding: 16px 24px;
    // height: 57px;
    align-self: stretch;
    place-content: center;
    text-align: center;
    border-radius: 4px;
    margin-top: calc((#{57px} - #{57px})/2);// （inputの高さ - ボタンの高さ）÷ 2

    @include breakpoint(small only) {
      padding: 6px 12px;
      height: 40px;
      margin-top: calc((#{44px} - #{40px})/2);// （inputの高さ - ボタンの高さ）÷ 2
    }
  }


  &__privacy + &__submit {
    margin-top: 40px;
    @include breakpoint(small only) {
      margin-top: 32px;
    }
  }

  // 送信ボタン
  &__submit {
    text-align: center;
    margin-top: 64px;
    @include breakpoint(small only) {
      margin-top: 48px;
    }

    &__back {
      width: calc(25% - 28px);
      // -2px はタグの改行によって発生するホワイトスペースの距離
      margin-right: (map_get($grid-column-responsive-gutter,medium) * 0.5) - 2px;
      @include breakpoint(medium down) {
        width: calc(33.33333% - 28px);
      }
      @include breakpoint(small only) {
        width: calc(50% - 10px);
        margin-right: map_get($grid-column-responsive-gutter,small) * 0.5 - 2px;
      }
    }

    &__submit {
      width: calc(25% - 28px);
      margin-left: map_get($grid-column-responsive-gutter,medium) * 0.5 - 2px;
      @include breakpoint(medium down) {
        width: calc(33.33333% - 28px);
      }
      @include breakpoint(small only) {
        width: calc(50% - 10px);
        margin-left: map_get($grid-column-responsive-gutter,small) * 0.5 - 2px;
      }
    }
  }
}
