.c-gallery-card {

  &__card {
    max-width: 500px;
    margin: 0 20px;

    @include breakpoint(small down) {
      max-width: 300px;
      margin: 0 12px;
    }
  }

  &__image {
    img {
      @include img-option();
      aspect-ratio: 500/320;
    }
  }

  &__text {
    @include font-format(14,0.1,22,400);
    margin: 14px 16px 0;

    @include breakpoint(small down) {
      font-size: 13px;
      margin: 10px 12px 0;
    }
  }

  .swiper-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;

    @include breakpoint(small down) {
      display: block;
      margin-top: 20px;
    }
  }

  .swiper-nav {
    flex: none;
    display: flex;
    align-items: center;
    margin-left: 40px;

    @include breakpoint(small down) {
      justify-content: flex-end;
      margin-top: 20px;
    }

    .swiper-button-prev ,.swiper-button-next {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $font-base-color;
      margin: 0;
      @include transition();

      @include breakpoint(small down) {
        width: 48px;
        height: 48px;
      }

      &::after {
        content: "chevron_right";
        @include icon-font();
        color: $color-primary;
      }

      @include hover() {
        opacity: 0.5;
      }

    }

    .swiper-button-prev {
      margin-right: 16px;

      @include breakpoint(small down) {
        margin-right: 12px;
      }

      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  .swiper-scrollbar {
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    max-width: 440px;
    background: rgba($font-base-color,0.3);

    @include breakpoint(small down) {
      max-width: 100%;
    }

    span {
      background: $font-base-color;
    }
  }
}
