.c-gallery-text {
  pointer-events: none;

  li {
    white-space: nowrap;
  }

  span {
    display: block;
    color: rgba($font-base-color,0.5);
    @include font-format(180,0.02,180,400);

    @include breakpoint(medium down) {
      font-size: 120px;
    }

    @include breakpoint(small down) {
      font-size: 70px;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: auto;
  }
}
