.c-gallery-logo {

  &__slider {

    &:not(:first-child) {
      margin-top: 56px;

      @include breakpoint(small down) {
        margin-top: 24px;
      }
    }
  }

  &__image {
    position: relative;
    width: 240px;
    max-width: 100%;

    @include breakpoint(small down) {
      width: 120px;
    }

    img {
      @include img-option(contain);
      aspect-ratio: 160/64;
    }
  }

  &__images {
    transition-timing-function: linear;
    display: flex;
    gap: 32px;

    @at-root .swiper-initialized & {
      display: flex;
      gap: 0;
    }
  }
}
