.c-gallery-logo {

  &__slider {

    &:not(:first-child) {
      margin-top: rem-calc(56);

      @include breakpoint(small down) {
        margin-top: rem-calc(24);
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: rem-calc(160);

    @include breakpoint(small down) {
      max-width: rem-calc(120);
    }

    img {
      @include img-option(contain);
      aspect-ratio: 160/64;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
