.c-gallery-logo {
  overflow: hidden;

  &__track {
    display: flex;
    gap: 32px;
  }

  &__image {
    position: relative;
    width: 240px;
    max-width: 100%;

    @include breakpoint(small down) {
      width: 120px;
    }

    img {
      @include img-option(contain);
      aspect-ratio: 160/64;
    }
  }

}
