/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
}


// h1
.c-heading.is-xlg {
  color: $color-primary;

  .is-eng {
    display: block;
    @include webfont();
    @include font-format-light(42, 52);
    @include breakpoint(small only) {
      font-size: 42px*0.8;
    }
  }

  .is-ja {
    display: block;
    @include font-format-light(16, 26);
    @include breakpoint(small only) {
      font-size: 16px*0.8;
    }
  }
}

// h2
.c-heading.is-lg {
  @include font-format-light(32,40);

  @include breakpoint(small only) {
    font-size: 32px*0.8;
  }

  .is-eng {
    display: block;
    @include webfont();
  }

  .is-ja {
    display: block;
    @include font-format-light(14, 20);
    margin-top: 6px;
    @include breakpoint(small only) {
      font-size: 14px*0.8;
    }
  }
}

// h3
.c-heading.is-md {
  @include font-format-light(28,38);

  @include breakpoint(small only) {
    font-size: 28px*0.8;
  }
}

// h4
.c-heading.is-sm {
  @include font-format-light(24, 34);
  @include breakpoint(small only) {
    font-size: 24px*0.8;
  }
}

// h5
.c-heading.is-xs {
  @include font-format-light(20,30);

  @include breakpoint(small only) {
    font-size: 20px*0.8;
  }
}

// h6
.c-heading.is-xxs {
  @include font-format-light(18, 28);

  @include breakpoint(small only) {
    font-size: 18px*0.8;
  }
}

.c-heading.is-color-primary {
  color: $color-primary;
}

.c-heading.is-color-white {
  color: $color-white;
}

// マージン調整
.c-heading.is-top {
  margin-bottom: 0 !important;
}

.c-heading.is-bottom {
  margin-top: 0 !important;
}

.c-heading.is-center{
  text-align: center;
}

.c-heading.is-mg-level-1 {
  margin-bottom: 64px;

  @include breakpoint(small only) {
    margin-bottom: 40px;
  }
}

.c-heading.is-mg-level-2 {
  margin-bottom: 40px;

  @include breakpoint(small only) {
    margin-bottom: 32px;
  }
}

.c-heading.is-mg-level-3 {
  margin-bottom: 32px;

  @include breakpoint(small only) {
    margin-bottom: 24px;
  }
}

.c-heading.is-mg-level-4 {
  margin-bottom: 24px;

  @include breakpoint(small only) {
    margin-bottom: 20px;
  }
}

.c-heading.is-mg-level-5 {
  margin-bottom: 20px;

  @include breakpoint(small only) {
    margin-bottom: 16px;
  }
}

.c-heading.is-mg-level-6 {
  margin-bottom: 16px;
}

.c-heading.is-mg-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
