/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
}

.c-heading {

  // h1
  &.is-xlg {
    color: $color-primary;

    .is-eng {
      display: block;
      @include webfont();
      font-size: 42px;
      @include breakpoint(small only) {
        font-size: 38px;
      }
    }
    .is-ja {
      display: block;
      font-size: 16px;
      @include breakpoint(small only) {
        font-size: 14px;
      }
    }
  }

  // h2
  &.is-lg {
    font-size: 32px;

    @include breakpoint(small only) {
      font-size: 28px;
    }

    .is-eng {
      display: block;
      @include webfont();
    }

    .is-ja {
      display: block;
      font-size: 14px;
      margin-top: 6px;
      @include breakpoint(small only) {
        font-size: 13px;
      }
    }
  }

  // h3
  &.is-md {
    font-size: 28px;

    @include breakpoint(small only) {
      font-size: 28px*0.8;
    }
  }

  // h4
  &.is-sm {
    font-size: 24px;
    @include breakpoint(small only) {
      font-size: 20px;
    }
  }

  // h5
  &.is-xs {
    font-size: 20px;

    @include breakpoint(small only) {
      font-size: 18px;
    }
  }

  // h6
  &.is-xxs {
    font-size: 18px;

    @include breakpoint(small only) {
      font-size: 16px;
    }
  }


  //--------------------------------
  // カラー設定
  &.is-color-primary {
    color: $color-primary;
  }
  &.is-color-secondary {
    color: $color-secondary;
  }
  &.is-color-white {
    color: $color-white;
  }


  //--------------------------------
  // 位置調整
  &.is-center {
    text-align: center;
  }

  //--------------------------------
  // マージン調整
  $mg-levels: (
    1: (pc: 64px, sp: 40px),
    2: (pc: 40px, sp: 32px),
    3: (pc: 32px, sp: 24px),
    4: (pc: 24px, sp: 20px),
    5: (pc: 20px, sp: 16px),
    6: (pc: 16px, sp: 16px),
  );

  @each $level, $sizes in $mg-levels {
    &.is-mg-level-#{$level} {
      margin-bottom: map-get($sizes, pc);
      @if map-has-key($sizes, sp) {
        @include breakpoint(small down) {
          margin-bottom: map-get($sizes, sp);
        }
      }
    }
  }

  &.is-top {margin-top: 0 !important;}
  &.is-bottom {margin-bottom: 0 !important;}
  &.is-mg-none {margin-block: 0 !important;}

}
