/*
---
name: 見出し_テンプレート
category: Heading
---
*/

.c-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.6;
}

.c-heading {
  // h1
  &.is-xlg {
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.16em;
    padding-bottom: 20px;
    &.is-decoration {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        width: 64px;
        height: 4px;
        background: linear-gradient(
          90deg,
          $color-primary 0% 50%,
          $color-secondary 50% 100%
        );
      }
      &.is-white {
        color: $color-white;
        &::before {
          background: linear-gradient(
            90deg,
            $color-primary 0% 50%,
            $color-white 50% 100%
          );
        }
      }
      &.is-text-left {
        text-align: left;
        &::before {
          left: 0;
          translate: 0 0;
        }
      }
    }
  }

  // h2
  &.is-lg {
    font-size: 28px;
    letter-spacing: 0.14em;
    &.is-decoration {
      background-color: $color-background_blue;
      padding: 10px 16px;
      border-left: 6px solid $color-primary;
    }
  }

  // h3
  &.is-md {
    font-size: 24px;
    padding-block-end: 0.5em;
    letter-spacing: 0.12em;
    &.is-decoration {
      border-bottom: 2px solid $color-primary;
    }
  }

  // h4
  &.is-sm {
    font-size: 20px;
    letter-spacing: 0.09em;
    &.is-decoration {
      padding-inline-start: 10px;
      border-left: 4px solid $color-primary;
    }
  }

  // h5
  &.is-xs {
    font-size: 18px;
    letter-spacing: 0.09em;
    &.is-decoration {
      position: relative;
      padding-inline-start: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 0.4em;
        left: 0;
        width: 12px;
        aspect-ratio: 1/1;
        border-radius: calc(infinity * 1px);
        background-color: $color-primary;
      }
    }
  }

  // h6
  &.is-xxs {
    font-size: 16px;
    letter-spacing: 0.08em;
  }

  //--------------------------------
  // カラー設定
  &.is-color-primary {
    color: $color-primary;
  }
  &.is-color-secondary {
    color: $color-secondary;
  }
  &.is-color-white {
    color: $color-white;
  }

  //--------------------------------
  // 位置調整
  &.is-center {
    text-align: center;
  }

  //--------------------------------
  // マージン調整
  $mg-levels: (
    1: (
      pc: 64px,
      sp: 40px,
    ),
    2: (
      pc: 40px,
      sp: 32px,
    ),
    3: (
      pc: 32px,
      sp: 24px,
    ),
    4: (
      pc: 24px,
      sp: 20px,
    ),
    5: (
      pc: 20px,
      sp: 16px,
    ),
    6: (
      pc: 16px,
      sp: 16px,
    ),
  );

  @each $level, $sizes in $mg-levels {
    &.is-mg-level-#{$level} {
      margin-bottom: map-get($sizes, pc);
      @if map-has-key($sizes, sp) {
        @include breakpoint(small down) {
          margin-bottom: map-get($sizes, sp);
        }
      }
    }
  }

  &.is-top {
    margin-top: 0 !important;
  }
  &.is-bottom {
    margin-bottom: 0 !important;
  }
  &.is-mg-none {
    margin-block: 0 !important;
  }
}
