/*
---
name: <hr>区切り線
category: Base
---
*/
hr,
.c-hr {
  border: none;
  border-top: 1px solid $border-base-color;
  box-shadow: none;
  margin: 48px auto;
  @include breakpoint(small only) {
    margin: 32px auto;
  }

  &.is-border-dotted {
    border-top: 1px dotted $border-base-color;
  }

  &.is-line-double {
    border-bottom: 1px solid $border-base-color;
    height: 2px;
  }
}
