.c-list {
  @include c-list();
}


/*
---
name: <ul> 順序なしテキストデフォルト
category: Base
---

*/

//.c-list.is-disc {
//  li {
//    padding-left: 16px;
//
//    &::before {
//      width: 16px;
//      height: 1lh;
//      content: "・";
//      color: $font-base-color;
//    }
//  }
//
//  ul {
//
//  }
//
//}

/*
---
name: <ul> 順序なしテキスト
category: Base
---

*/
.c-list.is-icon {
  @include c-list-ul() //l-post-contentと共有するスタイル設定
}

/*
---
name: <ol> 順序ありテキスト
category: Base
---

*/
.c-list.is-outline {
  @include c-list-ol() //l-post-contentと共有するスタイル設定
}
