/*
---
name: メニューリスト_通常
category: Navigation
---
*/
.c-menu-list {
  &__head {
    text-align: center;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 700;
    padding: 12px 16px;
  }

  &__list{
    li{
      border-bottom: 1px solid $border-base-color;
    }

    a {
      text-decoration: none;
      color: $font-base-color;
      font-weight: 700;
      display: block;
      padding: 14px 16px 14px 36px;
      position: relative;
      @include transition(.2s);

      &::before {
        content: "chevron_right";
        @include icon-font();
        color: $color-primary;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: $color-primary;
        bottom: 0;
        left: 0;
        transform: translateY(1px);
        @include transition(.4s);
        opacity: 0;
      }

      //*hover
      @include hover(){
        opacity: 1;
        color: $color-primary;

        &::after {
          width: 100%;
          opacity: 1;
        }
      }

      &.is-current {
        opacity: 1;
        color: $color-primary;

        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    //*サブメニュー
    ul {
      border-top: 1px solid $border-base-color;
      padding: 8px 0;

      li {
        border-bottom: none;
      }

      a {
        font-weight: 400;
        padding: 5px 24px 5px 48px;

        &::before {
          left: 32px;
          top: 4px;
        }

        &::after {
          display: none;
        }
      }
    }
  }


  //*バナー
  &__banners {
    margin-top: 8px;
  }

  &__block {
    display: flex;
    text-decoration: none;
    color: $color-primary;
    background-color: rgba($color-primary, 0.2);
    font-size: 14px;
    min-height: 64px;
    align-items: center;
    padding: 8px 32px 8px 16px;
    position: relative;

    &::after {
      content: "chevron_right";
      @include icon-font();
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      font-size: 16px;
    }
  }

  //*サブメニュー
  &__submenu {
    padding-left: 24px;
    border-bottom: 1px solid $border-base-color;
    display: none;

    li {
      &:last-child {
        border-bottom: none;
      }
    }

    a {
      font-weight: 400;
      font-size: 14px;
      padding: 20px 16px 20px 20px;

      &::before {
        left: 0;
        top: 20px;
      }

      &::after {
        display: none;
      }
    }
  }

  &__search {
    padding: 20px 16px 30px;
    border: 1px solid $color-border;
  }

  &__keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 8px;
    font-size: 14px;

    @include breakpoint(small down) {
      font-size: 13px;
    }
  }
}
