/*
---
name: お知らせ_ヘッダー
category: PostContent
---
*/
.c-news-header {
  margin-bottom: 32px;
  @include breakpoint(small down) {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-top: 0;
    @include breakpoint(small down) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__sup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 24px;
    @include breakpoint(small down) {
      gap: 8px 16px;
    }
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @include breakpoint(small down) {
      gap: 4px;
    }
  }

  &__date {
    @include news-date();
  }

  &__tag {
    font-size: 14px;

    @include breakpoint(small down) {
      width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px 16px;
    }
  }
}
