/*
---
name: お知らせ_1カラム_アーカイブ02
category: News
---
*/
.c-news-lg {

  &__block {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    color: $font-base-color;
    gap: rem-calc(24);
    padding: rem-calc(24) 0;
    @include breakpoint(small only) {
      gap: rem-calc(12);
      padding: rem-calc(16) 0;
    }

    //&:first-child {
    //  padding-top: 0;
    //}

    @include hover() {
      opacity: 1;
      background-color: $color-secondary;
    }
  }


  &__block-image{
    flex-shrink: 0;
    aspect-ratio: 300 / 200; // デザイン時の 横幅 / 縦幅
    width: calc(300/1140 * 100%);
    align-self: flex-start;

    @include breakpoint(small down) {
      width: calc(100/343 * 100%);
    }

    img {
      @include img-option();
    }
  }

  &__block-content{

  }

  &__block-meta{
    display: flex;
    align-items: center;
    gap: rem-calc(16);
    margin-bottom: rem-calc(16);
    @include breakpoint(small only) {
      gap: rem-calc(8);
      margin-bottom: rem-calc(8);
    }
  }

  &__block-category {
    flex-shrink: 0;
  }

  &__block-date {
    @include news-date();

    &::before {
      content: "schedule";
      @include icon-font();
      margin-right: rem-calc(4);
      vertical-align: top;
    }
  }

  &__block-title {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(8);
    line-height: 1.5;
    @include breakpoint(small only) {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(4);
    }
  }

  &__block-excerpt {
    font-size: rem-calc(12);
  }


  &__block-icon-wrap{
    /* 内側のアイコンはWP時に HTML上で取り替えたいので spanとして置く */
    flex-shrink: 0;
    align-self: center;

  }
}
