/*
---
name: お知らせ_通常_フロントページ
category: News
---
*/
.c-news {
  @include breakpoint(small only) {
    position: relative;
    padding-bottom: 72px;
  }

  //============================
  //  TOPページ
  //============================

  &__columns {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 36px;

    @include breakpoint(small only) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__head {
  }

  &__title {

  }

  &__button {
    margin-top: 56px;
    @include breakpoint(small only) {
      margin-top: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      text-align: center;
      .c-button {
        max-width: 224px;
      }
    }
  }

  //============================
  //  共通
  //============================
  &__block {
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    border-bottom: 1px solid $border-base-color;
    display: flex;
    align-items: center;
    padding: 24px 0 16px;
    @include breakpoint(small only) {
      flex-wrap: wrap;
      padding: 16px 0 12px;
    }

    &:first-child {
      padding-top: 0;
    }

    @include hover(){
        background-color: $color-secondary;
    }
  }

  &__inner {

  }

  &__date {
    @include news-date();
  }

  &__label {
    margin-left: 24px;
    margin-right: 24px;
    @include breakpoint(small only) {
      margin-left: 16px;
      margin-right: 0;

    }
  }

  &__text {
    font-weight: 700;
    @include line-clamp(1);

    @include breakpoint(small only) {
      width:100%;
      margin-top: 8px;
    }
  }
}


.c-news {
  &.is-onecolumn {
    padding-bottom: 0;

    .c-news__block {
      padding: 24px 0;
      align-items: flex-start;
      @include breakpoint(small only) {
        align-items: center;
        padding: 12px 0;
      }
    }

    .c-news__date {
      flex-shrink: 0;
      margin-top: 6px;
      @include breakpoint(small only) {
        margin-top: 0;
      }
    }

    .c-news__title {
      flex-grow: 1;
      text-align: center;
      margin-bottom: 40px;
      @include breakpoint(small only) {
        margin-bottom: 24px;
      }
    }

    .c-news__label {
      margin-top: 2px;
    }

    .c-news__excerpt {
      font-size: 14px;
      margin-top: 8px;
      @include breakpoint(small only) {
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .c-news__button {
      text-align: center;

      .c-button {
        max-width: 224px;
      }
    }
  }
}
