/*
---
name: お知らせ_通常
category: News
---
*/
.c-news {
  @include breakpoint(small only) {
    position: relative;
    padding-bottom: 72px;
  }

  //============================
  //  TOPページ
  //============================

  &__columns {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 36px;

    @include breakpoint(small only) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__head {
  }

  &__title {

  }

  &__button {
    margin-top: 56px;
    @include breakpoint(small only) {
      margin-top: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      text-align: center;
      .c-button {
        max-width: 224px;
      }
    }
  }

  //============================
  //  共通
  //============================
  &__block {
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    border-bottom: 1px solid $border-base-color;
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 16px 0;

    &:first-child {
      padding-top: 0;
    }

    @include hover(){
      background-color: $color-secondary;
    }
  }

  &__block-content {
    display: flex;
    align-items: center;
    gap: 0 12px;
    flex-grow: 1;
    @include breakpoint(small only) {
      flex-wrap: wrap;
    }

    &:has(.c-news__block-excerpt){
      align-items: baseline;
      @include breakpoint(small only) {
        align-items: center;
      }
    }
  }

  &__block-date {
    flex-shrink: 0;
    @include news-date();
  }

  &__block-label {
  }

  &__block-text-wrap{
    flex-grow: 1;
  }

  &__block-text {
    flex-grow: 1;
    font-weight: 700;
    @include line-clamp(1);

    @include breakpoint(small only) {
      width:100%;
      margin-top: 8px;
    }
  }

  &__block-excerpt{
  }

  &__block-icon{
    flex-shrink: 0;
    align-self: center;
    text-align: center;
    width: 40px;

    @include breakpoint(small only) {
      padding-top: 32px;
    }
  }

  &__block-icon-file{
    --news-file-icon-border-color: #{$border-base-color};
    --news-file-icon-color: #{$font-base-color};
    display: block;
    padding: 1px 4px;
    font-size: 10px;
    text-align: center;
    border: 1px solid var(--news-file-icon-border-color);
    border-radius: 100px;
    color: var(--news-file-icon-color);


    &.is-pdf {
      --news-file-icon-border-color: #{$color-file-pdf};
      --news-file-icon-color: #{$color-file-pdf};
    }

    &.is-excel {
      --news-file-icon-border-color: #{$color-file-excel};
      --news-file-icon-color: #{$color-file-excel};
    }

    &.is-word {
      --news-file-icon-border-color: #{$color-file-word};
      --news-file-icon-color: #{$color-file-word};
    }

    &.is-pptx {
      --news-file-icon-border-color: #{$color-file-pptx};
      --news-file-icon-color: #{$color-file-pptx};
    }
  }

}
