/*
---
name: お知らせ_通常
category: News
---
*/
.c-news {
  @include breakpoint(small only) {
    position: relative;
    padding-bottom: 72px;
  }

  //============================
  //  TOPページ
  //============================

  &__columns {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 36px;

    @include breakpoint(small only) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__head {
  }

  &__title {

  }

  &__button {
    margin-top: 56px;
    @include breakpoint(small only) {
      margin-top: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      text-align: center;
      .c-button {
        max-width: 224px;
      }
    }
  }

  //============================
  //  共通
  //============================
  &__block {
    text-decoration: none;
    color: $font-base-color;
    font-weight: 400;
    border-bottom: 1px solid $border-base-color;
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 16px 0;

    &:first-child {
      padding-top: 0;
    }

    @include hover(){
      background-color: $color-secondary;
    }
  }

  &__block-content {
    display: flex;
    align-items: center;
    gap: 0 12px;
    flex-grow: 1;
    @include breakpoint(small only) {
      flex-wrap: wrap;
    }

    &:has(.c-news__block-excerpt){
      align-items: flex-start;
      @include breakpoint(small only) {
        align-items: center;
      }
    }
  }

  &__block-date {
    flex-shrink: 0;
    @include news-date();
  }

  &__block-label {
  }

  &__block-text-wrap{
    flex-grow: 1;
  }

  &__block-text {
    flex-grow: 1;
    font-weight: 700;
    @include line-clamp(1);

    @include breakpoint(small only) {
      width:100%;
      margin-top: 8px;
    }
  }

  &__block-excerpt{
  }

  &__block-icon{
    flex-shrink: 0;
    align-self: center;
  }
}
