/*
---
name: お知らせ_ヘッダー
category: PostContent
---
*/
.c-news-header {
  margin-bottom: 32px;
  @include breakpoint(small only) {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-top: 0;
    @include breakpoint(small only) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__sup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__label {

  }

  &__date {
    @include news-date();
    margin: 0 24px;

    @include breakpoint(small only) {
      margin: 0 16px;
    }
  }

  &__tag {
    @include breakpoint(small only) {
      margin-top: 8px;
      width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        margin-right: 16px;

        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 14px;
          display: block;
        }
      }
    }
  }
}
