.c-pagetop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  @include transition();

  @include breakpoint(small only) {
    right: 14px;
    bottom: 14px;
  }

  &.is-fixed {
    opacity: 1;
    visibility: visible;
  }

  &.is-absolute {
    position: absolute;
    opacity: 1;
  }

  a , button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: $color-white;
    background: $font-base-color;
    box-shadow: 0 0 10px rgba($color-black, .1);
    text-decoration: none;
    @include transition();
    font-size: 25px;
    line-height: 1;
    border: 1px solid $font-base-color;

    &:after {
      content: "expand_less";
      @include icon-font();
    }


    @include hover() {
      color: $font-base-color;
      background: $color-white;
    }
  }
}
