/*
---
name: ページネーション_通常
category: Navigation
---
*/
.c-pagination {
  margin-top: 48px;
  @include breakpoint(small only) {
    margin-top: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  &__num {
    @include webfont();
    letter-spacing: 0;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;

    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: $color-white;
    @include breakpoint(small only) {
      width: 40px;
      height: 40px;
    }

    @include hover(){
      opacity: 1;
      background: $color-primary;
      color: $color-white;
    }

    &.is-current {
      background: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }

    &.is-dot {
      font-family: $font-base-family;
      background: transparent;
      border-color: transparent;
      color: $color-primary;
      width: auto;
    }
  }

  &__prev,&__next {

    // スマホ時は「前へ」「次へ」ボタンを削除する場合
    @include breakpoint(small down){
      display: none;
    }
  }

  &__prev {
    margin-right: 8px;

    .c-pagination__num {

    }
  }

  &__next {
    margin-left: 8px;

    .c-pagination__num {

    }
  }


  // 左寄せ
  &.is-align-left {
    .c-pagination__list {
      justify-content: flex-start;
    }
  }
}
