.c-relation {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 36px;

    @include breakpoint(medium down) {
      gap: 24px;
    }

  }

  &__button {
    .c-button {
      max-width: 100%;

      &.is-current {
        opacity: 0.5;

        //is-currentの場合はクリックできないようにする
        pointer-events: none;
      }
    }
  }
}
