//<div class="c-scrollable">
// <div class="js-scrollable">
//   <!-- ここにスクロールさせたいコンテンツを入れる -->
.c-scrollable {
  img,table {
    min-width: 750px;//デザインに合わせて調整
  }

  //scroll-hint 応急処置
  .scroll-hint-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto!important;
    height: auto!important;
  }
}
