.c-search-result-aside {
  padding-top: rem-calc(48);

  @include breakpoint(small down) {
    padding-top: rem-calc(32);
  }

  &__popular{
    padding: rem-calc(20) rem-calc(16) rem-calc(30);
    border: 1px solid $color-border;
  }

  &__title{
    text-align: center;
    font-size: rem-calc(18);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: rem-calc(16);
  }

  &__keyword{
    display: flex;
    flex-wrap: wrap;
    gap: rem-calc(5) rem-calc(8);
    font-size: rem-calc(14);

    @include breakpoint(small down) {
      font-size: rem-calc(13);
    }
  }

}
