//検索フォーム本体部分
.c-searchform-bar {
  $c: &;

  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
  margin: auto;
  position: relative;
  background: $color-white;

  @include breakpoint(small only) {
    height: 46px;
  }

  &__label {
    flex-shrink: 0;
  }

  &__icon {
    @include icon-font();
    font-size: 24px;
    color: $font-base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: content-box;

    @include breakpoint(small only) {
      padding: 10px;
      span {
        font-size: 20px;
      }
    }
  }

  input {
    border: none;
    border-left: solid 1px $border-base-color;
    font-family: inherit;
    position: relative;
    height: 40px;
    padding-left: 22px;
    line-height: 1;
    @include breakpoint(small only) {
      height: 22px;
      padding-top: 0;
      padding-bottom: 4px;
    }

    &::placeholder {
      line-height: 1;
      color: $color-gray;
      @include breakpoint(small only) {
        font-size: 11px;
      }
    }
  }

  button {
    width: 130px;
    flex-shrink: 0;
    background: $color-primary;
    border: none;
    padding: 0;
    color: $color-white;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    @include transition-colors(0.2s);

    @include breakpoint(small only) {
      width: 78px;
      font-size: 12px;
    }


    @include hover() {
      opacity: 0.5;
    }
  }



  &.is-sm{
    @include breakpoint(medium up) {
      height: 56px;
    }

    input {
      @include breakpoint(medium up) {
        height: 32px;
      }
    }
  }
}


