.c-search {

  &__head {
    @include font-format-light(20, 30);
    margin-bottom: rem-calc(24);

    @include breakpoint(small down) {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(16);
    }
  }

  &__situation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: rem-calc(12) rem-calc(58);

    @include breakpoint(small down) {
      gap: rem-calc(6) rem-calc(58);
    }

    dl {
      display: flex;
      font-size: rem-calc(14);

      @include breakpoint(small down) {
        font-size: rem-calc(13);
      }
    }

    dt {
      margin-right: rem-calc(12);

      @include breakpoint(small down) {
        margin-right: rem-calc(6);
      }
    }

    dd {

      &:not(:first-of-type) {
        margin-left: rem-calc(30);

        @include breakpoint(small down) {
          margin-left: rem-calc(24);
        }
      }

      a {

        &.is-active {
          font-weight: 700;
          text-decoration: none;
          color: $font-base-color;
          opacity: 1;
        }
      }
    }
  }

  &__blocks {
    border-top: 1px solid $color-border;
    margin-top: rem-calc(24);

    @include breakpoint(small down) {
      margin-top: rem-calc(16);
    }
  }

  &__block {
    padding: rem-calc(24) 0;
    border-bottom: 1px solid $color-border;

    @include breakpoint(small down) {
      padding: rem-calc(16) 0;
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: rem-calc(18);

    @include breakpoint(small down) {
      font-size: rem-calc(15);
    }
  }

  &__text {
    margin-top: rem-calc(14);

    @include breakpoint(small down) {
      margin-top: rem-calc(10);
    }

    em {
      font-style: normal;
      background-image: linear-gradient(transparent 70% , #FFFA79 70%, #FFFA79 95%, transparent 95%);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 100% 100%;
    }
  }

  &__url {
    display: block;
    font-size: rem-calc(14);
    margin-top: rem-calc(10);

    @include breakpoint(small down) {
      font-size: rem-calc(13);
      margin-top: rem-calc(6);
    }
  }
}
