.c-search-result-header {
  padding: 46px 0 0;

  &__title{
  }

  &__form{
    background-color: $color-background;
    padding: 24px;

    @include breakpoint(small down) {
      padding: 16px 20px;
    }
  }

}
