.c-search {

  &__head {
    @include font-format-light(20, 30);
    margin-bottom: 24px;

    @include breakpoint(small down) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__situation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px 58px;

    @include breakpoint(small down) {
      gap: 6px 58px;
    }

    dl {
      display: flex;
      font-size: 14px;

      @include breakpoint(small down) {
        font-size: 13px;
      }
    }

    dt {
      margin-right: 12px;

      @include breakpoint(small down) {
        margin-right: 6px;
      }
    }

    dd {

      &:not(:first-of-type) {
        margin-left: 30px;

        @include breakpoint(small down) {
          margin-left: 24px;
        }
      }

      a {

        &.is-active {
          font-weight: 700;
          text-decoration: none;
          color: $font-base-color;
          opacity: 1;
        }
      }
    }
  }

  &__blocks {
    border-top: 1px solid $color-border;
    margin-top: 24px;

    @include breakpoint(small down) {
      margin-top: 16px;
    }
  }

  &__block {
    padding: 24px 0;
    border-bottom: 1px solid $color-border;

    @include breakpoint(small down) {
      padding: 16px 0;
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 18px;

    @include breakpoint(small down) {
      font-size: 15px;
    }
  }

  &__text {
    margin-top: 14px;

    @include breakpoint(small down) {
      margin-top: 10px;
    }

    em {
      font-style: normal;
      background-image: linear-gradient(transparent 70% , #FFFA79 70%, #FFFA79 95%, transparent 95%);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 100% 100%;
    }
  }

  &__url {
    display: block;
    font-size: 14px;
    margin-top: 10px;

    @include breakpoint(small down) {
      font-size: 13px;
      margin-top: 6px;
    }
  }
}
