@include breakpoint(large up) {
  .c-slidebar-menu {
    display: none;
  }
}


.c-slidebar-menu {
  height: calc(100vh - #{$slidebar-header-height}px);
  padding: 0 0 rem-calc(104);
  position: fixed;
  background-color: $slidebar-menu-bg;
  z-index: 9980;
  width: $slidebar-menu-width;
  transform: translate3d(0px, -100%, 0px);
  opacity: 0; // 表示デバッグ時は1
  right: 0;
  overflow-x: scroll;
  top: 0;
  -webkit-overflow-scrolling: touch;
  @include transition(.2s,ease-in-out);

  &.is-active {
    height: calc(100% - 60px);
  }

  // メニュー要素（一番外・全体で共通する設定）
  &__list {
    width: 100%;
    font-size: rem-calc(14);
    font-weight: 700;

    :where(&){
      a, span, summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
        position: relative;

        &::after {
          content: "navigate_next";
          @include icon-font();
        }
      }
      summary::-webkit-details-marker{
        display: none;//Safariの矢印を非表示
      }
    }

    [data-accordion-title] {
      &::after {
        content: "add";
      }
    }
    [open] > [data-accordion-title] {
      &::after {
        content: "remove";
      }
    }
  }

  &__parent { //親li
    color: $slidebar-menu-text-color;
    border-bottom: solid 1px rgba($slidebar-menu-text-color, 0.4);

    &[open] {
      //background: $color-white;
      //color: $color-primary;
      //& > [data-accordion-title] {
      //  &::after {
      //    content: "remove";
      //  }
      //}
    }
  }

  &__parent-link { //親a, span
    cursor: pointer;
    padding: rem-calc(18) rem-calc(46) rem-calc(18) rem-calc(20);
  }

  // メニュー要素（子）
  &__children {
    font-size: rem-calc(13);
    width: 100%;
    padding-left: rem-calc(20);
    padding-bottom: rem-calc(20);
    display: none;
  }

  &__child { //子li
    //color: $color-white;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: rem-calc(4);

    &[open] {
      //color: $color-primary;
      //& > [data-accordion-title] {
      //
      //  &::after {
      //    content: "remove";
      //  }
      //}
    }
  }

  &__child-link { //子a, span
    padding: rem-calc(13) rem-calc(48) rem-calc(13) rem-calc(20);
  }

  // メニュー要素（孫）
  &__grandchildren {
    font-size: rem-calc(12);
    font-weight: 400;
    width: 100%;
    display: none;
    border-top: solid 1px $border-base-color;
    padding-left: rem-calc(26);
  }

  &__grandchild { //孫li
    //color: $color-white;
    border-top: solid 1px $border-base-color;

    &:first-child {
      border-top: 0;
    }
  }

  &__grandchild-link { //孫a, span
    padding: rem-calc(12) rem-calc(40) rem-calc(12) rem-calc(0);
  }

  //大きいボタン（お問い合わせなど）
  &__buttons {
    margin-top: rem-calc(20);
    padding: 0 rem-calc(20);
  }

  &__button + &__button {
    margin-top: rem-calc(8);
  }

  &__button {
    max-width: 100%;
    font-weight: bold;
    font-size: rem-calc(18);
    color: $color-primary;
    background-color: $color-white;
    padding: rem-calc(24);
    text-align: center;

    &::after {
      content: none;
    }

    &__icon {
      display: inline;
      vertical-align: rem-calc(-6);
      line-height: 1;
      font-size: rem-calc(24);
      margin-right: rem-calc(8);
    }
  }

  //SNSボタンなど小さいボタン
  &__sns-btns {
    max-width: 100%;
    margin-top: rem-calc(24);
    display: flex;
    justify-content: center;
    line-height: 1;
  }

  &__sns-btn {
    background: $color-white;
    color: $color-primary;
    text-decoration: none;
    //font-size: rem-calc(24);
    margin: 0 rem-calc(8);
    width: rem-calc(44);
    height: rem-calc(44);
    border-radius: rem-calc(44);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    //border: 1px solid $border-base-color;
    //color: $font-base-color;
    position: relative;
    display: block;
    margin-bottom: rem-calc(22);
    max-width: 100%;
    width: 100%;
    border: 1px solid $color-primary;
    color: $color-gray;
    background: $color-white;
    border-radius: rem-calc(23);
    font-size: rem-calc(16);
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: 400;
    height: rem-calc(46);
    @include transition(.2s,ease-in-out);

    &:before {
      position: absolute;
      left: rem-calc(18);
      top: 50%;
      transform: translateY(-50%);
      line-height: 1;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include icon-font();
      content: "search";
      font-size: rem-calc(18);
      color: $color-primary;
    }

    &:hover,
    &.is-active {
    }
  }

  &__search-icon {
    display: none;
  }
}

// 有効時
.is-slidebar-active {

  .c-slidebar-menu {
    //transform: translate3d(0, 0, 0);
    transform: translate3d(0, #{$slidebar-header-height}px, 0);
    opacity: 1;
  }
}
