// スライドメニュー
//
// スマホ時のメニュー。別途 GApp プラグインを呼び出す必要があります。
// Styleguide 4.5


@include breakpoint(large up) {
  .c-slidebar-button {
    display: none;
  }
}

// トリガーとなるボタン
.c-slidebar-button {
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 12px;
  z-index: 9999;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-white;
  width: rem-calc($slidebar-header-height);
  height: rem-calc($slidebar-header-height);
  border: none;
  padding: 0;

  &__inner {
    display: grid;
    position: absolute;
    inset: 0;
    place-content: center;
    padding-top: 12px;
  }

  // ボーダー
  &__line {
    --color-slidebar-button-line: #{$color-white}; //線の色が開閉で変化しない場合はここで指定
    position: relative;
    width: 26px; //線の長さ
    height: 2px; //線の太さ
    background-color: var(--color-slidebar-button-line);
    //background-color: transparent;//線2本の時は、ここは透明に
    @include transition(.2s,ease-out);


    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      //background-color: var(--color-slidebar-button-line);//線2本の時は、親は透明にしてこちらで色を指定
      transition: inherit;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }

    //メニューが開いているとき
    @at-root .is-slidebar-active & {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: var(--color-slidebar-button-line);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  // メニューテキスト
  &__text {
    font-size: 9px;
    letter-spacing: 0.4px;
    @include webfont();
    margin-top: 12px;
    display: block;
    @include transition(.2s,ease);

    &.is-close {
      display: none;
    }

    @at-root .is-slidebar-active & {
      display: none;

      &.is-close {
        display: block;
      }
    }
  }
}
