/*
---
name: タブ
category: Tabs
---
*/
@use "sass:color";

.c-tabs {
  // タブ
  &__navs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 56px;

    li {
      width: 50%;
      max-width: 276px;
      margin-bottom: 8px;
      border: 2px solid $color-primary;
      @include breakpoint(small only) {
        border-width: 1px;
      }
    }

    a {
      background-color: $color-white;
      color: $color-primary;
      text-align: center;
      text-decoration: none;
      display: block;
      padding: 10px 24px;
      position: relative;
      @include transition();
      @include breakpoint(small only) {
        padding: 6px 24px;
      }

      &::after {
        content: "expand_more";
        @include icon-font();
        position: absolute;
        font-size: 24px;
        font-weight: 400;
        right: 16px;
        top: calc(50% + 1px);
        transform: translateY(-50%);
        @include transition();
        @include breakpoint(small only) {
          font-size: 24px*0.8;
        }
      }

      // *hover
      @include hover(){
        background-color: color.adjust($color-primary, $lightness: 45%);
        opacity: 1;
      }

      // *選択時
      &.is-active {
        background-color: $color-primary;
        color: $color-white;

        @include hover(){
          opacity: 1;
        }
      }
    }
  }

  // コンテンツ
  &__content {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 0.8s forwards;

    &.is-active {
      display: block;
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}

/*
---
name: タブ_インデックス
category: Tabs
---

*/

.c-tabs {
  $c :&;

  // インデックスタブ
  &.is-index {
    #{$c}__navs {
      li {
        width: inherit;
        min-width: 160px;
        border-width: 1px;
        border-bottom: none;
        margin: 0 8px 0 0;
        @include breakpoint(small only) {
          width: inherit;
          min-width: inherit;
          border: 1px solid $color-primary;
          margin-bottom: 8px;
        }
      }
    }

    a {
      font-size: 14px;
      letter-spacing: 0.1em;

      &::after {
        display: none;
      }
    }
  }
}
