extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "blog" // ページのID
  - current.title = "お知らせ" // タイトル
  - current.description = "これはお知らせの説明文です" // 説明文
  - current.bodyClass = "blog" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","企業ブログ","BLOG")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 企業ブログ

block body
  +c.post-item.is-thumbnail
    +e.inner
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
      +a("/blog/page/").c-post-item__block
        +bgimg("img-sample.jpg").c-post-item__image
        +e.content
          +e.sup
            +e.category 更新情報
            +e.date 2017.01.01
          +e.title タイトルがここに入ります。タイトルがここに入ります。
  <div class="c-pagination">
  <ul>
  // <li><a class="c-pagination__prev" href="#/"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
  <li><span class="is-active">1</span></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a class="c-pagination__next" href="#/"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  </ul>
  </div>

block aside
  include /inc/layout/_aside.pug
