extends /inc/foundation/_base.pug
block append config
  - current.id = "category" // ページのID
  - current.title = "カテゴリ" // タイトル
  //- - current.description = `これは${current.title}についての説明文です` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/news/${current.id}/` // ページのpath
  - current.depth = 3 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "カテゴリ",
    subtitle: "news"
  })
  +c_breadcrumb({
    paths: [
      {url: "news", text: "お知らせ"},
    ]
  })

block body
  section.l-section.is-lg
    .l-container.is-sm
      +c.news.is-onecolumn
        h2.c-news__title.c-heading.is-md.is-line-under.is-color-primary カテゴリ
        +e.content
          +loop(10)
            +c_news__block("news")
      +c_pagination()

block before_footer
  +l_offer

