extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "twocolumns" // ページのID
  - current.title = "ページ_2カラム" // タイトル
  //- - current.description = `これは${current.title}についての説明文です` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
      image: "img-page-header-format.jpg",
      title: "量産ページ",
      subtitle: "parent"
    })
  +c_breadcrumb()

block body
  section.l-section.is-lg.is-bottom
    h2.c-heading.is-lg.is-mg-level-6 セクションタイトル
    +c_anchor-nav("u-mbs is-bottom",{
      link: "#section01",
      title: "テキストテキスト",
    },{
      link: "#section02",
      title: "テキストテキスト",
    },{
      link: "#section03",
      title: "テキストテキスト",
    },{
      link: "#section04",
      title: "テキストテキスト",
    })
    .u-mbs.is-sm
      p
        | 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。
    +c.box
      +e.block
        +e.content
          h3.c-heading.is-md サブタイトル
          p テキストテキストテキストテキストテキストテキストテキストテキスト
          +img("img-sample.jpg")
          +a("/").c-button.is-sm ボタンテキスト

  section.l-section.is-lg.is-bottom
    h2.c-heading.is-lg セクションタイトル
    p
      | 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。

block aside
  +l-aside()
