// 間隔
//
// .u-mbs : 間隔
//
// .u-mbs.is-lg : 間隔 : 大
//
// .u-mbs.is-md : 間隔 : 中
//
// .u-mbs.is-sm : 間隔 : 小
//
// .u-mbs.is-top : 間隔 : 上のみ
//
// .u-mbs.is-bottom : 間隔 : 下のみ
//
// markup:
// <div class="u-mbs">間隔 : 中</div>
// <div class="u-mbs is-xlg">間隔 : 特大</div>
// <div class="u-mbs is-lg">間隔 : 大</div>
// <div class="u-mbs is-sm">間隔 : 小</div>
// <div class="u-mbs is-top">間隔 : 上のみ</div>
// <div class="u-mbs is-bottom">間隔 : 下のみ</div>
// <div class="u-mbs is-top is-lg">間隔 : 上のみ大</div>
//
// Styleguide 4.3.0

.u-mbs {
  margin-top: 80px;
  margin-bottom: 80px;

  &.is-xlg {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
    @include breakpoint(small only) {
      margin-top: 64px !important;
      margin-bottom: 64px !important;
    }
  }

  &.is-lg {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
    @include breakpoint(small only) {
      margin-top: 40px !important;
      margin-bottom: 40px !important;
    }
  }

  &.is-md {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
    @include breakpoint(small only) {
      margin-top: 32px !important;
      margin-bottom: 32px !important;
    }
  }

  &.is-sm {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    @include breakpoint(small only) {
      margin-top: 24px !important;
      margin-bottom: 24px !important;
    }
  }

  &.is-xs {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    @include breakpoint(small only) {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }
  }

  &.is-top {
    margin-bottom: 0 !important;
  }

  &.is-bottom {
    margin-top: 0 !important;
  }

}
