extends /inc/foundation/_base.pug
block append config
  - current.id = "recruit" // ページのID
  - current.title = "採用情報" // タイトル
  - current.description = "これは採用情報の説明文です" // 説明文
  - current.bodyClass = "recruit" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","採用情報","RECRUIT")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 採用情報

block body
  section.l-main
    .l-section.is-lg
      .l-container
        h2.heading.is-lg.is-primary.u-text-center.is-bottom 共に、イノベーションを起こす仲間を探しています。
        p.u-text-center 株式会社サンプルでは、イノベーションを起こすことを目的とした仲間を募集しています。<br>イノベーションを起こす道は生半可なものではありません。<br>会社を創業してからこれまで、株式会社サンプルも、幾多の試練を乗り越えてきました。
        p.u-text-center.u-mbs.is-top.is-xs 私たちは、安心して働ける環境と、常にスキル向上ができる環境を提供します。<br>充実した福利厚生、資格取得サポート、社内での教育制度。<br>これらを余ることなく活用し、目的を達成することができる仲間を募集しています。
        div.u-text-center.u-mbs.is-top.is-md
          +img("img-message-01.jpg")
    .l-section.is-lg.is-bottom
      .l-container
        h2.heading.is-md.is-underline 福利厚生
        +c.step
          +e.inner
            +e.block
              +e.head
                +e.number 01
                +e.image: +img("img-aboutus-01.jpg")
              +e.title 社会保険完備
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            +e.block
              +e.head
                +e.number 02
                +e.image: +img("img-aboutus-02.jpg")
              +e.title 独身寮
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            +e.block
              +e.head
                +e.number 03
                +e.image: +img("img-aboutus-03.jpg")
              +e.title 研修手当
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    .l-section.is-bottom.is-md
      .l-container
        h2.heading.is-md.is-underline.is-bottom 募集要項
        h3.heading.is-sm.is-primary.is-bottom プロジェクトマネージャー職
        div.u-mbs.is-bottom.is-md
          table.c-table
            tr
              th 業務内容
              td プロジェクトマネジメント業務
            tr
              th 応募資格
              td PMI
            tr
              th 勤務地
              td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
            tr
              th 勤務時間
              td 10:00~19:00(休憩1時間)
            tr
              th 給与
              td.
                年 8,000,000円 ~
                経験年数、スキル等を考慮し決定します。
            tr
              th 資本金
              td 100,000,000円
            tr
              th 待遇
              td ・各種社会保険完備 ・交通費全額支給 ・賞与(年2回) ・書籍購入費、セミナー受講費全額支給
            tr
              th 休日・休暇
              td ・土日祝・慶弔休暇・年次有給休暇・夏期休暇・年末年始休暇
        div.u-mbs.is-bottom.is-sm
          h3.heading.is-sm.is-primary.is-bottom ディレクター職
          table.c-table
            tr
              th 業務内容
              td ディレクション業務
            tr
              th 応募資格
              td PMI
            tr
              th 勤務地
              td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
            tr
              th 勤務時間
              td 10:00~19:00(休憩1時間)
            tr
              th 給与
              td.
                年 8,000,000円 ~
                経験年数、スキル等を考慮し決定します。
            tr
              th 資本金
              td 100,000,000円
            tr
              th 待遇
              td ・各種社会保険完備 ・交通費全額支給 ・賞与(年2回) ・書籍購入費、セミナー受講費全額支給
            tr
              th 休日・休暇
              td ・土日祝・慶弔休暇・年次有給休暇・夏期休暇・年末年始休暇
    .l-section.is-bottom
      .l-container
        h2.heading.is-md.is-underline.is-bottom 応募の流れ
        +c.way
          +e.inner
            +e.block
              +e.title エントリー
              +e.text エントリーフォーム・メール・電話のいずれかでご応募ください。折り返し弊社担当よりご案内を差し上げます。
            +e.block
              +e.title 面接
              +e.text 採用担当との面接を行います。勤務条件・給与・待遇などの確認も行います。
            +e.block
              +e.title 内定
              +e.text 勤務条件等の再確認を行って頂き、入社諾否の確認を行います。入社日のスケジュール調整や入社手続きを行います。
            +e.block
              +e.title 研修
              +e.text 内定後は当社にて警備員としての研修を行ったうえで現場へ希望を確認しながら配置を行います。



    +c_relation()
    +c_offer()
