extends /inc/foundation/_base.pug
block append config
  - current.id = "privacy-policy" // ページのID
  - current.title = "個人情報保護方針" // タイトル
  - current.description = "これは個人情報保護方針の説明文です" // 説明文
  - current.bodyClass = "privacy-policy" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","個人情報保護方針","PRIVACY POLICY")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span 個人情報保護方針

block body
  section.l-main
    .l-section.is-lg
      .l-container
        .row
          .large-10.is-push-lg-1.small-12
            p 株式会社 サンプル（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg 個人情報の管理
              p 当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg 個人情報の利用目的
              p お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg 個人情報の第三者への開示・提供の禁止
              p 当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
              ul.ul-list
                li お客さまの同意がある場合
                li お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
                li 法令に基づき開示することが必要である場合
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg 個人情報の安全対策
              p 当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg ご本人の照会
              p お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg 法令、規範の遵守と見直し
              p 当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
            div.u-mbs.is-top.is-md
              h2.heading.is-xs.is-bg Googleアナリティクスの使用について
              p.
                当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使用し、
                当サイトの利用状況などのデータ収集及び解析を行っております。
                その際、「Cookie」を通じて、Googleがお客様のIPアドレスなどの情報を収集する場合がありますが、
                「Cookie」で収集される情報は個人を特定できるものではありません。
                収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。
                なお、当サイトのご利用をもって、上述の方法・目的においてGoogle及び当サイトが行うデータ処理に関し、 お客様にご承諾いただいたものとみなします。
              p
                strong Googleのプライバシーポリシー
                br
                a(href="http://www.google.com/intl/ja/policies/privacy/",target="_blank") http://www.google.com/intl/ja/policies/privacy/
                br
                a(href="https://www.google.com/intl/ja/policies/privacy/partners/",target="_blank") https://www.google.com/intl/ja/policies/privacy/partners/

  +c_offer()
