extends /inc/foundation/_base.pug
block append config
  - current.id = "business" // ページのID
  - current.title = "仕事を知る" // タイトル
  - current.description = "これは仕事を知るの説明文です" // 説明文
  - current.bodyClass = "business" // body に付与するクラス
  - current.depth = 3 // ページの階層

block header
  include /inc/layout/_header-variable.pug

  block page_header
    +l_page_header("img-page-header-format.jpg","BUSINESS","仕事を知る")
    +c_breadcrumb()

  block body
    main.l-main
      section.l-section.is-xlg
        .l-container
          h2.c-heading.is-sm.is-color-primary.u-text-center キャッチコピーが入りますキャッチコピーが入ります<br>キャッチコピーが入ります
          p.u-text-center.u-mbs.is-bottom.is-xlg テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        +c.hero-block-line.is-wide
          +loop(4)
            +e.block
              .l-container
                +e.image: +img("img-recruit-opening.jpg")
                +e.content
                  +e.inner
                    h3.c-heading.is-sm ボックスタイトル
                    p ボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックステキストボックス
        .l-container
          div.u-mbs.is-top.is-lg
            h3.c-heading.is-sm.is-border-under その他の採用情報
            +c.capsul-nav
              .row
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg.is-current 会社を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 人を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 仕事を知る
                .large-3.small-12
                  +a("#").c-capsul-nav__block.c-button.is-white.is-lg 募集要項

    +l_offer-recruit
  // フッター
  block footer
    include /inc/layout/_footer-simple.pug
