//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "home" // ページのID
  - current.title = "トップページ" // タイトルあ
  - current.description = "これはトップページの説明文です" // 説明文
  - current.bodyClass = "home" // body に付与するクラス
  - current.path = "/" // ページのpath
  - current.depth = 1 // ページの階層


block before_main
  +c_loader

block body
  +c_main-visual()
  section.l-section.is-lg.is-color-secondary
    .l-container
      +heading-xlg("私たちについて", "ABOUT").is-bottom
      p.u-text-center テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      +c.card.u-mbs.is-top.is-lg
        +e.list
          +ae("#").card
            +e.image: +img("img-card-01.jpg","",712,420)
            +e.content
              +h3.title コンセプトタイトル
              +p.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
          +e.card
            +e.image: +img("img-card-01.jpg","",712,420)
            +e.content
              +h3.title コンセプトタイトル
              +p.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
          +e.card
            +e.image: +img("img-card-01.jpg","",712,420)
            +e.content
              +h3.title コンセプトタイトル
              +p.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
  section.l-section.is-lg.is-top
    .l-container
      +heading-xlg("事業内容", "SERVICE").is-bottom
    +c.hero-block-square
      +e.block
        +e.image: +img("img-hero-block-01.jpg","",700,400)
        .l-container
          +e.content
            +e.inner
              h3.c-heading.is-sm.is-bottom タイトルがここに入ります。
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              +e.button: +a("#").c-button.is-sm ボタンテキスト
      +e.block
        +e.image: +img("img-hero-block-01.jpg","",700,400)
        .l-container
          +e.content
            +e.inner
              h3.c-heading.is-sm.is-bottom タイトルがここに入ります。
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              +e.button: +a("#").c-button.is-sm ボタンテキスト
      +e.block
        +e.image: +img("img-hero-block-01.jpg","",700,400)
        .l-container
          +e.content
            +e.inner
              h3.c-heading.is-sm.is-bottom タイトルがここに入ります。
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              +e.button: +a("#").c-button.is-sm ボタンテキスト
  section.l-section.is-lg
    .l-container
      +c.news
        +e.columns
          +e.head
            h2.c-news__title.c-heading.is-xlg
              span NEWS
              small お知らせ
            +e.button: +a("/news/").c-button.is-sm 一覧を見る
          +e.content
            +loop(3)
              +c_news__block("home")

block before_footer
  +c_cookie
  // オファーブロック
  +l_offer
