// カードデザイン
.u-format-group
  .u-format-group__title カードデザイン
  .u-format-group__content
    .u-format
      .u-format__title カード_4カラム
      .u-format__content
        div
          +c.card
            +e.inner
              +a("/company/greeting/").c-card__block
                +bgimg("img-card-01.jpg").c-card__image
                +e.title 代表あいさつ
              +a("/company/profile/").c-card__block
                +bgimg("img-card-02.jpg").c-card__image
                +e.title 会社概要
              +a("/company/history/").c-card__block
                +bgimg("img-card-03.jpg").c-card__image
                +e.title 沿革
              +a("/recruit/").c-card__block
                +bgimg("img-card-04.jpg").c-card__image
                +e.title 採用情報
    .u-format
      .u-format__title カード_3カラム
      .u-format__content
        div
          +c.card.is-three-column
            +e.inner
              +a("/company/greeting/").c-card__block
                +bgimg("img-card-01.jpg").c-card__image
                +e.title 代表あいさつ
              +a("/company/profile/").c-card__block
                +bgimg("img-card-02.jpg").c-card__image
                +e.title 会社概要
              +a("/company/history/").c-card__block
                +bgimg("img-card-03.jpg").c-card__image
                +e.title 沿革
    .u-format
      .u-format__title ナンバー付きカード
      .u-format__content
        +c.bnr-content
          +e.inner
            +e.block
              +e.image: +img("img-aboutus-01.jpg")
              +e.content
                +e.head
                  +e.number 01
                  +e.title 社員研修事業
                +e.text 現場で働く社員へ、技術的な教育からマネジメントまで、普段の業務では身につけにくいことを終点的に指導します。
                +a("/service/traning/").c-bnr-content__button 詳しくはこちら
            +e.block.is-emerald
              +e.image: +img("img-aboutus-02.jpg")
              +e.content
                +e.head
                  +e.number 02
                  +e.title マネジメント事業
                +e.text プロジェクトを成功へと導くために、幾千の経験を持つプロジェクトマネージャーが御社のプロジェクトの手助けを行います。
                +a("/service/project-management/").c-bnr-content__button 詳しくはこちら
            +e.block.is-green
              +e.image: +img("img-aboutus-03.jpg")
              +e.content
                +e.head
                  +e.number 03
                  +e.title システム開発事業
                +e.text 御社の事業自体をシステム化によってさらに効率化し、既存の事業を改善するお手伝いをします。
                +a("/service/system/").c-bnr-content__button 詳しくはこちら

    .u-format
      .u-format__title ステップカード
      .u-format__content
        +c.step
          +e.inner
            +e.block
              +e.head
                +e.number 01
                +e.image: +img("img-aboutus-01.jpg")
              +e.title 社会保険完備
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            +e.block
              +e.head
                +e.number 02
                +e.image: +img("img-aboutus-02.jpg")
              +e.title 独身寮
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            +e.block
              +e.head
                +e.number 03
                +e.image: +img("img-aboutus-03.jpg")
              +e.title 研修手当
              +e.text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。

