.u-format-group
  .u-format-group__title フッター
  .u-format-group__content
    .u-format
      .u-format__title フッター_通常
      .u-format__content.is-fullwidth
        include /inc/layout/_footer.pug
    .u-format
      .u-format__title フッター_シンプル
      .u-format__content.is-fullwidth
        include /inc/layout/_footer-simple.pug
