.u-format-group
  .u-format-group__title ヘッダ
  .u-format-group__content
    .u-format
      .u-format__title ヘッダー_通常
      .u-format__content.is-fullwidth
        include /inc/layout/_header.pug
    .u-format
      .u-format__title ヘッダー_シンプル
      .u-format__content.is-fullwidth
        include /inc/layout/_header-simple.pug
