// 誘導ブロック
.u-format-group
  .u-format-group__title 誘導ブロック
  .u-format-group__content
    .u-format
      .u-format__title ページ誘導
      .u-format__content.is-fullwidth
        .l-section.is-bg.is-md
          .l-container
            h2.heading.is-lg.is-primary.u-text-center.is-bottom 現場の重要さを知っています。<br>だからこそ、安心してお任せください。
            p.u-text-center 現場での力を知っている私たちだからこそ、できることがあります。<br>株式会社サンプルでは、業界では数少ない現場のプロフェッショナルが、御社のプロジェクトを成功へと導きます。
            div.u-text-center.u-mbs.is-top.is-sm
              +a("/service/").c-button.is-lg 事業紹介を見る

    // シンプル
    .u-format
      .u-format__title シンプル
      .u-format__content.is-fullwidth
        .c-offer-simple
          .l-container
            .c-offer-simple__left
              .c-offer-simple__title <strong>CONTACT</strong><small>お問い合わせ</small>
              .c-offer-simple__text 商品などのお問い合わせは、お電話または<br>お問い合わせフォームよりお気軽にご連絡ください。
            .c-offer-simple__right
              .c-offer-simple__tel
                .c-offer-simple__tel__title お電話でのお問い合わせはこちら
                .c-offer-simple__tel__number
                  +a("tel:03-5812-4732").u-hidden-lg <span>Tel.</span>00-0000-0000
                  div.u-hidden-sm <span>Tel.</span>00-0000-0000
                .c-offer-simple__tel__sub 営業時間：平日 午前10:00～午後5:00
              .c-offer-simple__mail
                .c-offer-simple__mail__title メールでのお問い合わせはこちら
                +a("/contact/").c-button.is-lg.is-outline.is-white.is-noicon <i class="fa fa-envelope-o" aria-hidden="true"></i> お問い合わせ

    // 採用インターン
    .u-format
      .u-format__title 採用オファー
      .u-format__content.is-fullwidth
        .c-contact-box__wrap
          .l-container
            +c.contact-box
              div.u-mbs.is-top.is-bottom.c-contact-box__title
                h2.heading.is-xlg.is-center.is-color-white.is-bottom-text 採用・インターンの<br class="u-hidden-lg">お問い合わせ
                  small Contact
              p.u-text-center.c-contact-box__lead.
                株式会社サンプルでは、それぞれの仕事の幅が広く、活躍できるフィールドは無限大です。<br>
                新卒採用・インターンシップは下記の電話番号、お問い合わせフォームよりご連絡下さい。
              +e.utility
                +e.tel
                  +a("tel:00-0000-0000").is-decoretion-none <i class="fa fa-phone" aria-hidden="true"></i>00-0000-0000
                  +e("p").reception-time 受付  9:00～18:00（平日）
                div.u-mbs.is-top.is-bottom.u-line-height-none.c-contact-box__button
                  +a("/contact/").c-button.is-md.is-red <span>お問い合わせ</span>
