.u-format-group
  .u-format-group__title タブ
  .u-format-group__content
    .u-format
      .u-format__title タブ
      .u-format__content
        +c.tabs.js-tabs
          ul.c-tabs__navs.js-tabs-nav
            li: +a("#").is-active(data-tab-target="0") 中途採用
            li: +a("#")(data-tab-target="1") パート採用
          .c-tabs__content.is-active.js-tabs-content(data-tab-name="0")
            h3.heading.is-md.is-underline.is-bottom 中途採用
            table.c-table
              tr
                th 業務内容
                td プロジェクトマネジメント業務
              tr
                th 応募資格
                td PMI
              tr
                th 勤務地
                td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
              tr
                th 勤務時間
                td 10:00~19:00(休憩1時間)
              tr
                th 給与
                td.
                  年 8,000,000円 ~
                  経験年数、スキル等を考慮し決定します。
              tr
                th 資本金
                td 100,000,000円
              tr
                th 待遇
                td ・各種社会保険完備 ・交通費全額支給 ・賞与(年2回) ・書籍購入費、セミナー受講費全額支給
              tr
                th 休日・休暇
                td ・土日祝・慶弔休暇・年次有給休暇・夏期休暇・年末年始休暇

          .c-tabs__content.js-tabs-content(data-tab-name="1")
            h3.heading.is-md.is-underline.is-bottom パート採用
            table.c-table
              tr
                th 業務内容
                td ディレクション業務
              tr
                th 応募資格
                td PMI
              tr
                th 勤務地
                td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
              tr
                th 勤務時間
                td 10:00~19:00(休憩1時間)
              tr
                th 給与
                td.
                  年 8,000,000円 ~
                  経験年数、スキル等を考慮し決定します。
              tr
                th 資本金
                td 100,000,000円
              tr
                th 待遇
                td ・各種社会保険完備 ・交通費全額支給 ・賞与(年2回) ・書籍購入費、セミナー受講費全額支給
              tr
                th 休日・休暇
                td ・土日祝・慶弔休暇・年次有給休暇・夏期休暇・年末年始休暇

