
.u-format-group
  .u-format-group__title 見出し
  .u-format-group__content
    .u-format
      .u-format__title 見出し_キャッチコピー
      .u-format__content
        h2.heading.is-lg.is-primary.u-text-center.is-bottom ＜h2＞ 見出しキャッチ
        p.u-text-center リード文章リード文章リード文章リード文章リード文章リード文章リード文章リード文章リード文章リード文章<br>リード文章リード文章リード文章リード文章リード文章リード文章リード文章リード文章リード文章
    .u-format
      .u-format__title 見出し_最大
      .u-format__content
        h2.heading.is-xlg
          span ＜h2＞見出し32px
          small COMPANY
    .u-format
      .u-format__title 見出し_大
      .u-format__content
        h2.heading.is-lg.is-primary ＜h2＞見出し28px line-hight:42px
    .u-format
      .u-format__title 見出し_中
      .u-format__content
        h3.heading.is-md.is-underline ＜h3＞見出し24px line-hight:36px
    .u-format
      .u-format__title 見出し_小
      .u-format__content
        h3.heading.is-md.is-underline ＜h3＞見出し24px line-hight:36px
    .u-format
      .u-format__title 見出し_最小
      .u-format__content
        h4.heading.is-sm ＜h4＞見出し22px line-hight:32px

    .u-format
      .u-format__title 見出し_h4
      .u-format__content
        h4.heading.is-sm.is-primary ＜h4＞見出し22px line-hight:32px

    .u-format
      .u-format__title 見出し_h5
      .u-format__content
        h5.heading.is-xs.is-bg ＜h5＞見出し20px line-hight:28px
    .u-format
      .u-format__title 見出し_h6
      .u-format__content
        h6.heading.is-xxs.is-icon ＜h6＞見出し18px line-hight:26px

.u-format-group
  .u-format-group__title テキスト
  .u-format-group__content
    .u-format
      .u-format__title 基本テキスト
      .u-format__content
        p.
          ＜p＞ 基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。基本文章テキストです。
    .u-format
      .u-format__title 強調テキスト
      .u-format__content
        strong ＜strong＞ 強調テキスト
    .u-format
      .u-format__title リンクテキスト
      .u-format__content
        +a("") ＜a＞ テキストリンク
    .u-format
      .u-format__title 引用テキスト
      .u-format__content
        blockquote.
          これは引用テキストです。これは引用テキストです。これは引用テキストです。これは引用テキストです。
    .u-format
      .u-format__title 順序なしリスト
      .u-format__content
        ul.ul-list
          li リスト1
          li リスト2
            ul
              li リスト2の子要素
              li リスト2の子要素
          li リスト3
    .u-format
      .u-format__title 順序つきリスト
      .u-format__content
        ol.ol-list
          li リスト1
          li リスト2
            ul
              li リスト2の子要素
              li リスト2の子要素
          li リスト3
    .u-format
      .u-format__title 区切り線
      .u-format__content
        hr

    .u-format
      .u-format__title テーブル
      .u-format__content
        table.c-table
          tr
            th 会社名
            td 株式会社 サンプル
          tr
            th 代表取締役
            td サンプル 太郎
          tr
            th 本店所在地
            td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
          tr
            th メールアドレス
            td info@sample.co.jp
          tr
            th 設立
            td 1986年10月
          tr
            th 資本金
            td 100,000,000円
          tr
            th 従業員数
            td 116名 (契約社員を含む)
          tr
            th 主な事業
            td ITスクール運営、企業研修、システム開発、技術者派遣

