extends /inc/foundation/_base.pug
block append config
  - current.id = "download-page" // ページのID
  - current.title = "資料ダウンロードサンプル詳細" // タイトル
  - current.description = `これは${current.title}についての説明文です` // 説明文
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 3 // ページの階層

block page_header

block body
  section.l-section.is-lg.is-bg-color
    .l-container
      +c.form-head
        +e.block
          +h1.title.c-heading.is-md.is-mg-level-1.is-bottom: b.is-main 資料ダウンロードサンプル詳細

      .c-block-document
        .c-block-document__detail
          +c.forms-document-detail
            +e.head.c-heading.is-sm.is-mg-level-3.is-bottom: b.is-main こんな方にオススメ
            +ul.list.c-list.is-disc
              li リストテキスト1
              li リストテキスト2
              li リストテキスト3
              li リストテキスト4
            +e.images
              +e.image: .is-no NO IMAGE
              +loop(5)
                +ae("/assets/images/img-card-01.jpg").image.js-modal-image
                  +img("img-card-01.jpg")
            +e.slider.js-document-slider.swiper
              +e.slider-wrapper.swiper-wrapper
                +e.image.swiper-slide: .is-no NO IMAGE
                +loop(3)
                  +e.image.swiper-slide: +img("img-card-01.jpg")
              +e.slider-nav.swiper-nav
                +e.slider-prev.swiper-prev.js-document-slider-prev.swiper-button-prev
                +e.slider-next.swiper-next.js-document-slider-next.swiper-button-next
                
        .c-block-document__form
          +c.forms
            .c-heading.is-xs.is-mg-level-4 ダウンロードフォーム
            +e.blocks
              +e.block
                +e.title
                  | 会社名
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text", name="会社名", placeholder="〇〇株式会社")
                  +p.note: small ※個人の方は、「個人」とご入力ください

              +e.block
                +e.title
                  | ご担当者様名
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text", name="ご担当者様名", placeholder="山田　太郎")

              +e.block
                +e.title
                  | メールアドレス
                  span.c-forms__label 必須
                +e.content
                  +e.input: input(type="text", name="メールアドレス", placeholder="info@mail.jp")

              +e.block
                +e.title
                  | 制作の開始時期について
                  span.c-forms__label 必須
                +e.content
                  +e.select
                    select(name="制作の開始時期について")
                      option(disabled, selected) ー以下から選択してくださいー
                      option(value="選択肢A") 選択肢A
                      option(value="選択肢B") 選択肢B
                      option(value="選択肢C") 選択肢C

              +e.block
                +e.title 制作の開始時期について
                +e.content
                  +e.textarea
                    textarea(name="制作の開始時期について", placeholder="お問い合わせ内容をご記入ください")

            +e.privacy
              label
                input(type="checkbox", name="「個人情報保護の取り扱いに関するご確認」を確認する", value="確認しました")
                +a("/privacy-policy/")(target="_blank") 個人情報保護方針
                | の内容に同意する

            +e.submit
              button.c-button 資料ダウンロード
