//- メインビジュアル
mixin c_mainvisual
  +c.main-visual
    +e.slider.owl-carousel
      +bgimg("main-visual.jpg").c-main-visual__image
      +bgimg("main-visual.jpg").c-main-visual__image
      +bgimg("main-visual.jpg").c-main-visual__image
    +e.inner
      +e.text: +img("main-visual-text.png","現場のスペシャリスト集団。それがサンプルです。")
      +a("/aboutus/").c-main-visual__button 私たちについて

