//- テーブル用
//- Use case
//- +c_table([
        {
             th: "見出し1",
            _1: "通常",
            _2: "通常",
        }, {
            th: "見出し1",
            _1: "通常",
            _2: "通常",
        }, {
            th: "見出し1",
            _1: {
                attr: {
                    colspan: 2
                },
                text: "通常"
            },
        },
        ])
mixin c_table(data,headers)
  table.c-table&attributes(attributes)
    if block
      block
    else
      if headers
        thead
          tr
            each head in headers
              th head
      tbody
        each row in data
          tr
            each cell,index in row
              if (index === "th")
                th=cell
              else if typeof cell === "object"
                td&attributes(cell.attr)=cell.text
              else
                td= cell






