

// section.scssからインポート
@import '../../layout/section.scss';

.c-block-responsive-spacer {
  height: rem-calc($default);
  @include breakpoint(small down) {
    height: rem-calc($default) * 0.5;
  }

  @each $key, $value in $sizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      height: rem-calc($pc-value); // PCサイズ

      @include breakpoint(small down) {
        height: rem-calc($sp-value); // SPサイズ
      }
    }
  }

}