
// setting.scssからインポート

.c-block-responsive-spacer {

  // height: #{$sectionDefault[1] * 1px};
  // @include breakpoint(small down) {
  //   height: #{$sectionDefault[2] * 1px};
  // }

  @each $key, $value in $sectionSizes {
    $pc-value: nth($value, 1); // PC用
    $sp-value: nth($value, 2); // SP用

    &.is-#{$key} {
      height: #{$pc-value * 1px}; // PCサイズ

      @include breakpoint(small down) {
        height: #{$sp-value * 1px}; // SPサイズ
      }
    }
  }

}
