.c-post-password {

  &__label {
    display: block;
    margin-bottom: rem-calc(16);

    @include breakpoint(small down) {
      margin-bottom: rem-calc(8);
    }
  }

  &__content {
    display: flex;
    gap: rem-calc(24);

    @include breakpoint(small down) {
      gap: rem-calc(16);
    }
  }

  &__input {
    width: 100%;

    input {
      height: 100%;
    }
  }

  &__submit {
    flex-shrink: 0;
  }
}
