.c-post-password {

  &__label {
    display: block;
    margin-bottom: 16px;

    @include breakpoint(small down) {
      margin-bottom: 8px;
    }
  }

  &__content {
    display: flex;
    gap: 24px;

    @include breakpoint(small down) {
      gap: 16px;
    }
  }

  &__input {
    width: 100%;

    input {
      height: 100%;
    }
  }

  &__submit {
    flex-shrink: 0;
  }
}
