extends /inc/foundation/_base.pug
block append config
  - current.id = "blocks" // ページのID
  - current.title = "ブロック編集ページ" // タイトル
  - current.description = "これはブロック編集ページの説明文です" // 説明文
  - current.bodyClass = "blocks" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  +l_page_header("img-page-header-format.jpg","ブロック編集ページ","BLOCK")
  +c.breadcrumb
    .l-container
      +e.inner
        span: +a("/") ホーム
        span >
        span ブロック編集ページ
  main.l-main
    section.l-section.is-lg
      .l-post-content
        section.l-block.l-block__margin-large
          .l-container
            div.u-mbs.is-bottom
              h1 見出しレベル1

            div.u-mbs.is-bottom
              h2 見出しレベル2見出しレベル2

            // -> h2見出し
            div.u-mbs.is-bottom
              h3 見出しレベル3見出しレベル3見出しレベル3

            // -> h3見出し
            div.u-mbs.is-bottom
              h4 見出しレベル4見出しレベル4見出しレベル4見出しレベ


            // -> h4見出し
            div.u-mbs.is-bottom
              h5 見出しレベル5見出しレベル5見出しレベル5見出しレベ

            // -> h5見出し
            div.u-mbs.is-bottom
              h6 見出しレベル6見出しレベル6見出しレベル6見出しレベ

            // 基本テキストのスタイル
            div.u-mbs.is-bottom
              +a("#") リンクテキスト

            div.u-mbs.is-bottom
              strong 強調テキスト

            div.u-mbs.is-bottom
              small 縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト縮小テキスト

            // 引用テキスト
            div.u-mbs.is-bottom
              blockquote.c-blockquote これは引用テキストです。これは引用テキストです。これは引用テキストです。<br>これは引用テキストです。これは引用テキストです。これは引用テキストです。

            // リスト
            div.u-mbs.is-bottom
              ul
                li 箇条書きリスト1
                li 箇条書きリスト2
                  ul
                    li 箇条書きリスト2の子要素
                    li 箇条書きリスト2の子要素
                li 箇条書きリスト3

            // 数字付きリスト
            div.u-mbs.is-bottom
              ol
                li 数字付きリスト1
                li 数字付きリスト2
                  ol
                    li 数字付きリスト2の子要素
                    li 数字付きリスト2の子要素
                li 数字付きリスト3

            // テーブル
            div.u-mbs.is-bottom
              table
                tbody
                  tr
                    th thテキスト
                    td tdテキストテキストテキストテキストテキスト
                  tr
                    th thテキスト
                    td tdテキストテキストテキストテキストテキスト
                  tr
                    th thテキスト
                    td tdテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


        section#block-2.l-block.l-block-capsul-nav.l-block__margin-normal(style="")
          .l-container
            .c-capsul-nav
              a.c-capsul-nav__block.c-button(target="_self" href=".") ページリンク
              a.c-capsul-nav__block.c-button(target="_blank" href="https://yahoo.co.jp") YAHOO
              a.c-capsul-nav__block.c-button.is-pagelink.js-anchor(target="_self" href="#flow") ページ内リンク


        section#flow.l-block.l-block-box-number.l-block__margin-normal(style="")
          .l-container
            .c-box-number
              .c-box-number__block
                .c-box-number__head
                  .c-box-number__number
                    small STEP
                    span 01
                .c-box-number__content
                  .c-box-number__title
                    | 手順
                  .c-box-number__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-box-number__block
                .c-box-number__head
                  .c-box-number__number
                    small STEP
                    span 02
                .c-box-number__content
                  .c-box-number__title
                    | 手順
                  .c-box-number__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-box-number__block
                .c-box-number__head
                  .c-box-number__number
                    small STEP
                    span 03
                .c-box-number__content
                  .c-box-number__title
                    | 手順
                  .c-box-number__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-box-number__block
                .c-box-number__head
                  .c-box-number__number
                    small STEP
                    span 04
                .c-box-number__content
                  .c-box-number__title
                    | 手順
                  .c-box-number__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-box-number__block
                .c-box-number__head
                  .c-box-number__number
                    small STEP
                    span 05
                .c-box-number__content
                  .c-box-number__title
                    | 手順
                  .c-box-number__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト


        section#block-4.l-block.l-block-hero-block.l-block__margin-normal(style="")
          .c-hero-block
            .c-hero-block__block
              .c-hero-block__image
                img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
              .l-container
                .c-hero-block__content
                  .c-hero-block__title.c-heading.is-sm.is-bottom
                    | タイトルテキストがここに入ります。
                  p
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  .c-hero-block__button
                    a.c-button.is-sm(href="#" target="_self")
                      | リンクテキスト
            .c-hero-block__block
              .c-hero-block__image
                img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
              .l-container
                .c-hero-block__content
                  .c-hero-block__title.c-heading.is-sm.is-bottom
                    | タイトルテキストがここに入ります。
                  p
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  .c-hero-block__button
                    a.c-button.is-sm(href="#" target="_self")
                      | リンクテキスト
            .c-hero-block__block
              .c-hero-block__image
                img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
              .l-container
                .c-hero-block__content
                  .c-hero-block__title.c-heading.is-sm.is-bottom
                    | タイトルテキストがここに入ります。
                  p
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  .c-hero-block__button
                    a.c-button.is-sm(href="http://yahoo.co.jp" target="_blank")
                      | 外部サイト


        section#block-5.l-block.l-block-block.l-block__margin-normal(style="")
          .l-container
            .c-block
              .c-block__blocks
                .c-block__block
                  .row
                    .large-4.small-12
                      .c-block__image
                        img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .large-8.small-12
                      .c-block__content
                        h3.c-block__title
                          | タイトルテキストがここに入ります。
                        .c-block__text
                          p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                .c-block__block
                  .row
                    .large-4.small-12
                      .c-block__image
                        img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .large-8.small-12
                      .c-block__content
                        h3.c-block__title
                          | タイトルテキストがここに入ります。
                        .c-block__text
                          p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                .c-block__block
                  .row
                    .large-4.small-12
                      .c-block__image
                        img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .large-8.small-12
                      .c-block__content
                        h3.c-block__title
                          | タイトルテキストがここに入ります。
                        .c-block__text
                          p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                .c-block__block
                  .row
                    .large-4.small-12
                      .c-block__image
                        img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .large-8.small-12
                      .c-block__content
                        h3.c-block__title
                          | タイトルテキストがここに入ります。
                        .c-block__text
                          p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


        section#block-6.l-block.l-block-number-cards.l-block__margin-normal(style="")
          .l-container
            .row
              .large-6.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-6.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-6.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-6.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-6.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


        section#block-7.l-block.l-block-number-cards.l-block__margin-normal(style="")
          .l-container
            .row
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-3.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


        section#block-8.l-block.l-block-number-cards.l-block__margin-normal(style="")
          .l-container
            .row
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .large-4.small-12
                .c-card
                  .c-card__block
                    .c-card__image
                      img(src="http://growp.grgr.red/wp-content/uploads/2020/07/img-number-cards-01.jpg" alt="")
                    .c-card__content
                      .c-card__title
                        | 見出しがここに入ります。
                      .c-card__text
                        | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


        section#block-9.l-block.l-block-accordion.l-block__margin-normal(style="")
          .l-container
            .c-accordion
              .c-accordion__block.js-accordion
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト


        section#block-10.l-block.l-block-accordion.l-block__margin-normal(style="")
          .l-container
            .c-accordion
              .c-accordion__block.js-accordion.is-open
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text" style="display: block;")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion.is-open
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text" style="display: block;")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion.is-open
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text" style="display: block;")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion.is-open
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text" style="display: block;")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト
              .c-accordion__block.js-accordion.is-open
                .c-accordion__head(data-accordion-title="accordion-title")
                  .c-accordion__icon
                    | Q
                  .c-accordion__title
                    | テキストテキスト
                .c-accordion__content(data-accordion-content="accordion--text" style="display: block;")
                  .c-accordion__icon.is-color-accent
                    | A
                  .c-accordion__text
                    | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキストテキストテキスト
                    br
                    | テキストテキストテキストテキストテキストテキスト


        section#block-11.l-block.l-block-accordion-list.l-block__margin-normal(style="")
          .l-container
            .c-accordion-list
              .c-accordion-list__block.js-accordion
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト
              .c-accordion-list__block.js-accordion
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト
              .c-accordion-list__block.js-accordion
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト


        section#block-12.l-block.l-block-accordion-list.l-block__margin-normal(style="")
          .l-container
            .c-accordion-list
              .c-accordion-list__block.js-accordion.is-open
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text" style="display: block;")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト
              .c-accordion-list__block.js-accordion.is-open
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text" style="display: block;")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト
              .c-accordion-list__block.js-accordion.is-open
                .c-accordion-list__head(data-accordion-title="accordion-title")
                  | テキストテキスト
                .c-accordion-list__content(data-accordion-content="accordion--text" style="display: block;")
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキストテキストテキスト
                  br
                  | テキストテキストテキストテキストテキストテキスト


        section#block-13.l-block.l-block-offer.l-block__margin-normal(style="")
          .l-offer
            .l-container
              .l-offer__inner
                h2.c-heading.is-md.is-bottom オファータイトルオファータイトル
                .l-offer__text オファーテキストオファーテキストオファーテキストへのお問い合わせは下記からお願いします。
                .l-offer__items
                  .row(style="width:100%;")
                    .large-6.small-12
                      a.l-offer__button.is-tel(href="tel:00-000-0000")
                        i.fa.fa-phone(aria-hidden="true")
                        | 00-000-0000
                      .l-offer__subtext 受付時間:平日 9:00〜18:00 （土日祝除く）
                    .large-6.small-12
                      a.l-offer__button(href="/contact/") メールで問い合わせ
