extends /inc/foundation/_base.pug
block append config
  - current.id = "format" // ページのID
  - current.title = "フォーマット" // タイトル
  - current.description = `これは${current.title}についての説明文です` // 説明文
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  +l_page_header({
      image: "img-page-header-format.jpg",
      title: "量産ページ",
      subtitle: "parent"
  })
  +c_breadcrumb()
  section.l-section.is-lg
    .l-container

      .c-tabs.js-tabs
        ul.c-tabs__navs.js-tabs-nav
          li: +a("#").is-active(data-tab-target="0") テキスト
          li: +a("#")(data-tab-target="1") ボタン
          li: +a("#")(data-tab-target="2") その他
          li: +a("#")(data-tab-target="3") タブ

        .c-tabs__content.is-active.js-tabs-content(data-tab-name="0")
          include /format/components/_text.pug
        .c-tabs__content.js-tabs-content(data-tab-name="1")
          include /format/components/_buttons.pug
        .c-tabs__content.js-tabs-content(data-tab-name="2")
          include /format/components/_other.pug
        .c-tabs__content.js-tabs-content(data-tab-name="3")
          include /format/components/_tab.pug




