extends /inc/foundation/_base.pug
block append config
  - current.id = "format" // ページのID
  - current.title = "フォーマット" // タイトル
  - current.description = "これはフォーマットページの説明文です" // 説明文
  - current.bodyClass = "format" // body に付与するクラス
  - current.depth = 2 // ページの階層

block body
  // メインビジュアル
  +l_page_header("img-page-header-format.jpg","スタイルガイド","STYLE GUIDE")
  +c.breadcrumb
    .l-container
      +e.inner
        span: +a("/") ホーム
        span >
        span 私たちについて
  section.l-section
    // ヘッダー
    include /format/layout/_header.pug

    // メインビジュアル
    include /format/components/_main-visual.pug

    // ページヘッダー
    include /format/components/_page-header.pug

    // ヒーローブロック
    include /format/components/_hero-block.pug

    .l-container
      // テキスト関係
      include /format/components/_text.pug

      // ボタン関係
      include /format/components/_buttons.pug

      // タブ
      include /format/components/_tab.pug

      // バナー
      include /format/components/_banner.pug

      // カードデザイン
      include /format/components/_card.pug

      // ブロックデザイン
      include /format/components/_block.pug

      // ブロックデザイン
      include /format/components/_box.pug

      // ブロックデザイン
      include /format/components/_accordion.pug

      // お知らせ
      include /format/components/_news.pug

      // ナビゲーション
      include /format/components/_navigation.pug

      // フォーム
      include /format/components/_forms.pug

      // その他
    include /format/components/_other.pug

    // オファー
    include /format/components/_offer.pug

    // フッター
    include /format/layout/_footer.pug

      // 導入事例スライダー
      //include /format/components/_case-slider.pug

      // フッター
      //include /format/components/_footer.pug
