extends /inc/foundation/_base.pug
block append config
  - current.id = "format" // ページのID
  - current.title = "フォーマット" // タイトル
  //- - current.description = `ページごとに説明文を設定する場合の動作サンプルです` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  // メインビジュアル
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "量産ページ",
    subtitle: "parent"
  })
  +c_breadcrumb().is-bg-color

block body
  section.l-section.is-lg
    .l-container
      +c_anchor-nav("u-mbs is-bottom",{
        link: "#text",
        title: "テキスト",
      },{
        link: "#button",
        title: "ボタン",
      },{
        link: "#other",
        title: "その他",
      },{
        link: "#tab",
        title: "タブ",
      },{
        link: "#anchor-demo",
        title: "アンカーのデモ",
      })


      h1#text テキスト
      include /format/components/_text.pug

      //-スペース空ける
      .u-mbs.is-lg


      h1#button ボタン
      include /format/components/_buttons.pug

      //-スペース空ける
      .u-mbs.is-lg

      h1#other その他
      include /format/components/_other.pug
      include /format/components/_modal.pug


      //-スペース空ける
      .u-mbs.is-lg

      h1#tab タブ
      include /format/components/_tab.pug

      h1#anchor-demo(style="scroll-margin-top:100px") アンカーのデモ
      p アンカー位置を上方向に追加でズラしたデモ（style属性で書いていますが普通にCSSファイル側で指定でOK）
      p html要素のscroll-padding-top = 標準のズラし量
      p 個別要素のscroll-margin-top = 追加のズラし量
      p 標準のズラし量 + 追加のズラし量 = 実際のズラし量


block before_footer
  +l_offer()


