extends /inc/foundation/_base.pug
block append config
  - current.id = "culture" // ページのID
  - current.title = "環境を知る" // タイトル
  - current.description = "これは募集要項の説明文です" // 説明文
  - current.bodyClass = "culture" // body に付与するクラス
  - current.depth = 3 // ページの階層

block header
  include /inc/layout/_header-variable.pug

  block page_header
    +l_page_header("img-page-header-format.jpg","REQUIREMENTS","募集要項")
    +c_breadcrumb()

  block body
    main.l-main
      section.l-section.is-xlg
        .l-container
          .row
            .large-10.is-push-lg-1.small-12
              +c.tabs.js-tabs
                ul.c-tabs__navs.js-tabs-nav
                  li: +a("#").is-active(data-tab-target="0") 新卒採用
                  li: +a("#")(data-tab-target="1") 中途採用
                .c-tabs__content.is-active.js-tabs-content(data-tab-name="0")
                  h2.c-heading.is-md.is-line-under.is-color-primary 新卒採用
                  table.c-table.is-th-bgcolor
                    tr
                      th 仕事内容
                      td 内容がここに入ります。
                    tr
                      th 対象者・資格
                      td 内容がここに入ります。
                    tr
                      th 給与
                      td 内容がここに入ります。
                    tr
                      th 休日・休暇
                      td 内容がここに入ります。
                    tr
                      th 勤務地
                      td 内容がここに入ります。
                    tr
                      th 勤務期間
                      td 内容がここに入ります。
                    tr
                      th 交通費
                      td 内容がここに入ります。
                    tr
                      th 福利厚生
                      td 内容がここに入ります。
                    tr
                      th 仕事内容
                      td 内容がここに入ります。

                .c-tabs__content.js-tabs-content(data-tab-name="1")
                  h2.c-heading.is-md.is-line-under.is-color-primary 中途採用
                  table.c-table.is-th-bgcolor
                    tr
                      th 仕事内容
                      td 内容がここに入ります。
                    tr
                      th 対象者・資格
                      td 内容がここに入ります。
                    tr
                      th 給与
                      td 内容がここに入ります。
                    tr
                      th 休日・休暇
                      td 内容がここに入ります。
                    tr
                      th 勤務地
                      td 内容がここに入ります。
                    tr
                      th 勤務期間
                      td 内容がここに入ります。
                    tr
                      th 交通費
                      td 内容がここに入ります。
                    tr
                      th 福利厚生
                      td 内容がここに入ります。
                    tr
                      th 仕事内容
                      td 内容がここに入ります。

              div.u-mbs.is-top.is-xxxlg
                h2.c-heading.is-md.is-line-under.is-color-primary 応募の流れ
                +c.box-number
                  +loop(5)
                    +e.block
                      +e.head
                        +e.number
                          small STEP
                          span 01
                      +e.content
                        div.c-heading.is-xxxs.is-bottom 見出しレベル6見出しレベル6
                        +e.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

    +l_offer-recruit
  // フッター
  block footer
    include /inc/layout/_footer-simple.pug
