extends /inc/foundation/_base.pug
block append config
  - current.id = "news" // ページのID
  - current.title = "お知らせ" // タイトル
  //- - current.description = `これは${current.title}についての説明文です` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "お知らせ",
    subtitle: "news"
  })
  +c_breadcrumb()

block body
  section.l-section.is-lg
      .l-container.is-sm
        h2.c-heading.is-md.is-center.is-mg-level-1 すべて
        +c.news
          +e.content
            +e.block
              +e.block-content
                +e.block-date 2022.01.01
                +e.block-label.c-label カテゴリ
                +e.block-text-wrap
                  +e.block-text リンク無し記事のテストリンク無し記事のテストリンク無し記事のテストリンク無し記事のテストリンク無し記事のテストリンク無し記事のテストリンク無し記事のテストリンク無し記事のテスト
                  +e.block-excerpt リンク無し記事のテストリンク無し記事のテストリンク無し記事のテスト
            +loop(2)
              +c_news__block([
                {
                  url: "/news/category/page/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  excerpt: "テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト",
                  icon: "arrow_forward",
                },
                {
                  url: "https://example.com/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  icon: "open_in_new",
                },
                {
                  url: "https://example.com/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  fileType: "PDF"
                },
                {
                  url: "https://example.com/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  fileType: "Excel"
                },
                {
                  url: "https://example.com/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  fileType: "Word"
                },
                {
                  url: "https://example.com/",
                  date: "2022.01.01",
                  label: "カテゴリ",
                  title: "お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。お知らせの投稿タイトルがここに入ります。",
                  fileType: "PPTX"
                }
              ])
        +c_pagination()
        +c.box-archive.u-mbs.is-top.is-lg
          +e.block
            +e.title カテゴリ
            ul
              li: +a("/news/") すべて
              li: +a("/news/category/") お知らせ
              li: +a("/news/category/") ブログ
          +e.block
            +e.title 年月アーカイブ
            ul
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
              li: +a("/news/category/") 2019年01月
        +c.news-lg.u-mbs.is-top.is-lg
          +loop(5)
            +a("/news/category/page/").c-news-lg__block
              +e.sup
                +e.label.c-label.is-sm お知らせ
                +e.date 2018.06.01
              +e.title お知らせの投稿タイトルがここに入ります。
              +e.excerpt 簡単な説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト＜続きを読む＞
        +c_pagination("is-align-left")

        +c.card-post.is-tag-hidden.u-mbs.is-top.is-lg
          +loop(4)
            +e.block
              +a.c-card-post__image
                +img("img-card-01.jpg")
              +e.content
                +e.sup
                  span.c-card-post__label.c-label カテゴリ名
                  +e.date 2018.01.01
                +e.title タイトルが入ります。タイトルが入ります。
        +c_pagination()

block under_main
  +l_offer

