/*!
* マテリアルアイコン設定
*/

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("~@fontsource/material-icons-outlined/files/material-icons-outlined-latin-400-normal.woff2") format("woff2"),
    url("~@fontsource/material-icons-outlined/files/material-icons-outlined-latin-400-normal.woff") format("woff");
}
