// アコーディオン
//
//
// markup:
// <div class="c-accordion">
//     <h1 class="c-accordion__title">アコーディオンタイトル</h1>
//     <div class="c-accordion__content">
//         <p>アコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツ</p>
//     </div>
// </div>
// <div class="c-accordion is-danger">
//     <h1 class="c-accordion__title">アコーディオンタイトル</h1>
//     <div class="c-accordion__content">
//         <p>アコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツ</p>
//     </div>
// </div>
// <div class="c-accordion is-warning">
//     <h1 class="c-accordion__title">アコーディオンタイトル</h1>
//     <div class="c-accordion__content">
//         <p>アコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツ</p>
//     </div>
// </div>
// <div class="c-accordion is-info">
//     <h1 class="c-accordion__title">アコーディオンタイトル</h1>
//     <div class="c-accordion__content">
//         <p>アコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツ</p>
//     </div>
// </div>
// <div class="c-accordion is-success">
//     <h1 class="c-accordion__title">アコーディオンタイトル</h1>
//     <div class="c-accordion__content">
//         <p>アコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツアコーディオンコンテンツ</p>
//     </div>
// </div>
// <div class="c-accordion is-faq">
//     <h1 class="c-accordion__title">よくあるご質問タイトル</h1>
//     <div class="c-accordion__content">
//         <p>よくあるご質問のコンテンツよくあるご質問のコンテンツよくあるご質問のコンテンツよくあるご質問のコンテンツよくあるご質問のコンテンツ</p>
//     </div>
// </div>
//
// Styleguide 2.18.0

.c-accordion {

  // タイトル
  &__title {
    background: $color-primary;
    color: $color-white;
    padding: $margin-md $margin-lg;
    margin-bottom: 0;
    font-size: rem-calc(18);
    border-radius: $border-radius $border-radius 0 0;
  }

  // コンテンツ
  &__content {
    padding: $margin-md $margin-lg;
    border: 1px solid $color-tertiary;
    border-radius: 0 0 $border-radius $border-radius;
  }

  // is-danger state
  &.is-danger .c-accordion__title {
    background: $color-state-danger;
  }

  // is-warning state
  &.is-warning .c-accordion__title {
    background: $color-state-warning;
  }

  // is-success state
  &.is-success .c-accordion__title {
    background: $color-state-success;
  }

  // is-info state
  &.is-info .c-accordion__title {
    background: $color-state-info;
  }

  // よくあるご質問アコーディオン
  &.is-faq {
    .c-accordion__title {
      position: relative;
      padding-left: rem-calc(68);
      &:before {
        content: "Q";
        left: rem-calc(24);
        top: rem-calc(14);
        font-size: rem-calc(18);
        background: $color-accent;
        text-align: center;
        border-radius: rem-calc(1000);
        display: block;
        width: rem-calc(32);
        height: rem-calc(32);
        box-sizing: border-box;
        padding-top: rem-calc(2);
        margin-right: rem-calc(8);
        position: absolute;
      }
    }
  }
}
