// バッジ
//
// markup:
// <span class="c-badge">バッジ : .c-badge</span>
// <span class="c-badge is-lg">バッジ : .c-badge.is-lg</span>
// <span class="c-badge is-sm">バッジ : .c-badge.is-sm</span>
// <span class="c-badge is-secondary">バッジ : .c-badge.is-secondary</span>
// <span class="c-badge is-tertiary">バッジ : .c-badge.is-tertiary</span>
// <span class="c-badge is-danger">バッジ :.c-badge.is-danger</span>
// <span class="c-badge is-warning">バッジ :.c-badge.is-warning</span>
// <span class="c-badge is-info">バッジ :.c-badge.is-info</span>
// <span class="c-badge is-success">バッジ :.c-badge.is-success</span>
//
// Styleguide 2.4.0

.c-badge {
  background: $color-primary;
  color: $color-white;
  font-size: $font-small-size;
  border-radius: 1000px;
  display: inline-block;
  padding-top: rem-calc($margin-sm);
  padding-bottom: rem-calc($margin-sm);
  padding-left: rem-calc($margin-base);
  padding-right: rem-calc($margin-base);
  vertical-align: middle;
  &.is-lg{
    font-size: rem-calc($font-base-size);
  }

  &.is-sm{
    font-size: rem-calc($font-small-size*0.8);
  }

  &.is-secondary{
    background: $color-secondary;
  }

  &.is-tertiary{
    background: $color-tertiary;
  }

  &.is-danger{
    background: $color-state-danger;
  }

  &.is-warning{
    background: $color-state-warning;
  }

  &.is-info{
    background: $color-state-info;
  }

  &.is-success{
    background: $color-state-success;
  }

}
