// パンくずナビゲーション
//
// markup:
// <nav class="c-breadcrumb">
//     <ul>
//         <li><i class="fa fa-home"></i> <a href="#">ホーム</a></li>
//         <li><a href="#">下層ページ1</a></li>
//         <li>下層ページ2</li>
//         <li>下層ページ3</li>
//     </ul>
// </nav>
//
// Styleguide 2.3.0
.c-breadcrumb {
  background-color: $color-secondary;
  padding-top: 8px;
  padding-bottom: 8px;
  @include breakpoint(small only) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  span {
    margin-right: 6px;
    color: rgba($font-base-color,0.7);
    @include breakpoint(small only) {
      font-size: 12px;
    }
    &:last-child {
      color: $color-primary;
    }
  }
  a {
    font-weight: 400;
    text-decoration: none;
    color: rgba($font-base-color,0.7);
  }
}
