// ボタン
//
// ボタンのスタイル
//
// markup:
// <p><a href="#" class="c-button">通常ボタン</a><p>
// <p><a href="#" class="c-button is-lg">大ボタン</a><p>
// <p><a href="#" class="c-button is-sm">小ボタン</a><p>
// <p><a href="#" class="c-button is-xs">極小ボタン</a><p>
// <p><a href="#" class="c-button is-secondary">セカンダリーボタン</a><p>
// <p><a href="#" class="c-button is-tertiary">ターシャリボタン</a><p>
// <p><a href="#" class="c-button is-danger">危険ボタン</a><p>
// <p><a href="#" class="c-button is-warning">警告ボタン</a><p>
// <p><a href="#" class="c-button is-success">成功ボタン</a><p>
// <p><a href="#" class="c-button is-info">情報ボタン</a><p>
// <p><a href="#" class="c-button is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-success is-round">丸角ボタン</a><p>
// <p><a href="#" class="c-button is-lg is-expand">最大幅</a><p>
//
// Styleguide 2.11.0

$c-button-md-font-size: rem-calc(16) !default;
$c-button-sm-font-size: rem-calc(13) !default;
$c-button-lg-font-size: rem-calc(16) !default;
$c-button-radius: 0px !default;
.c-button {
  outline: none;
  display: inline-block;
  width: 100%;
  max-width: 280px;
  text-align: center;
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  border-radius: 4px;
  padding: 14px 16px;
  font-weight: 500;
  border: 1px solid $color-primary;
  position: relative;
  transition: all .3s;
  @include breakpoint(small only) {
    max-width: 240px;
    padding: 11px 16px;
  }
  &:before {
    content: "\f105";
    font-family: "FontAwesome";
    padding-right: 12px;
    position: relative;
    top: -1px;
  }
  &.is-noicon {
    &:before {
      content: none;
    }
  }
  &:hover {
    opacity: 1;
    color: $color-primary;
    background-color: $color-white;
  }
  //
  // @state 大きさ
  //
  &.is-lg {
    max-width: 343px;
    @include breakpoint(small only) {
      max-width: 375px;
      padding: 13px 16px;
    }
  }
  //
  // @state 大きさ
  //
  &.is-xlg {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 80px;
    padding-right: 80px;
    width: auto;
    max-width: initial;
    @include breakpoint(small only) {
      padding: 13px 16px;
    }
  }

  &.is-sm {
    padding: 9px 24px;
    max-width: initial;
    width: auto;
  }

  &.is-xs {
    font-size: rem-calc($c-button-lg-font-size*0.8);
    padding: rem-calc($margin-sm*0.5) rem-calc($margin-md*0.8);
    max-width: initial;
    width: auto;
  }

  //
  // @state カラー
  //
  &.is-tertiary {
    @include button_colors($color-tertiary);
    color: $font-base-color;
    &:hover {
      color: $font-base-color;
    }
  }

  &.is-danger {
    @include button_colors($color-state-danger);
  }

  &.is-warning {
    @include button_colors($color-state-warning);
  }

  &.is-info {
    @include button_colors($color-state-info);
  }

  &.is-success {
    @include button_colors($color-state-success);
  }

  //
  // @state その他
  //
  &.is-arrow-right {
    &:before {
      display: none;
    }
    &:after {
      content: "\f105";
      font-family: "FontAwesome";
      padding-left: 12px;
      position: relative;
      top: -1px;
    }
  }

  &.is-round {
    border-radius: 1000px !important;
  }

  &.is-outline {
    background: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-weight: bold;
    &:hover {
      background: $color-primary;
      color: #fff;
    }
    &.is-white {
      border-color: #fff;
      color: #fff;
    }
  }
  &.is-expand {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  &.is-form {
    font-size: rem-calc(16);
    min-width: rem-calc(160);
    background-color: rgba($font-base-color,0.3);
    padding: rem-calc(13);
    vertical-align: top;
    border: none;
    @include breakpoint(small only) {
      min-width: 47%;
    }
    &:hover {
      color: #fff;
    }
  }
  &.is-box {
    border-radius: 0px;
  }

}
