c-case-slider {
  max-width: rem-calc(1370);
  width: 100%;
  margin: 0 auto;
  @include breakpoint(small only) {
    width: 100%;
  }
  &__item {
    width: rem-calc(252);
    margin-right: auto;
    margin-left: auto;
    @include breakpoint(small only) {
      width: 80%;
    }
  }
}

.c-case-slider {
  .owl-theme .owl-nav {
    display: block !important;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    color: transparent;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    &:after {
      font-family: "FontAwesome";
      font-size: rem-calc(56);
      color: $color-primary;
      position: absolute;
      top: 50px;
      @include breakpoint(small only) {
        font-size: rem-calc(42);
        top: 30px;
      }
    }
    &:hover {
      &:after {
        opacity: 0.7;
      }
    }
  }
  .owl-theme .owl-nav .owl-prev {
    &:after {
      content: "\f104";
      left: -56px;
      @include breakpoint(small only) {
        left: 12px;
      }
    }
  }
  .owl-theme .owl-nav .owl-next {
    &:after {
      content: "\f105";
      right: -56px;
      @include breakpoint(small only) {
        right: 12px;
      }
    }
  }
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: transparent;
  }
  @include breakpoint(small only) {
    .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
      margin: 7px 4px;
      background: #C3C3C3;
      border-radius: 50%;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #C60014;
    }
  }
}
