.c-contact-box{
  position: relative;
  z-index: 10;

  &__wrap {
    background: url(../images/bg-offer.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 88px;
    padding-bottom: 92px;
    position: relative;
    &:after {
      position: relative;
      z-index: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3) url(../images/ptn-dots.png) repeat;
      top: 0;
      left: 0;
    }
  }
  &__title{
  }
  &__lead{
    margin-top: 14px;
    margin-bottom: 18px;
    color: $color-white;
    @include breakpoint(small only){
      margin-top: 10px;
      margin-bottom: 14px;
    }
  }
  &__utility{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 160/1080*100%;
    position: relative;
    &:before{
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background: $color-white;
      position: absolute;
      left: 50%;
      top: 0;
    }
    @media (max-width: 1000px) {
      display: block;
      &:before{
        display: none;
      }
    }
    @include breakpoint(small only){
      margin: 0;

    }
  }
  &__tel{
    color: $color-white;
    a{
      text-decoration: none;
      display: block;
      font-size: 40px;
      font-weight: bold;
      color: $color-white;
      line-height: 1;
      margin-bottom: 10px;
      padding-top: 4px;
      @include breakpoint(small only){
        font-size: 30px;
      }
    }
    i{
      color: $color-primary;
      margin-right: 1rem;
    }
    @media (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }
  &__reception-time{
    text-align: left;
    padding-left: 50px;
    line-height: 1;
    @media (max-width: 1000px) {
      text-align: center;
      padding-left: 0px;
    }
  }
  &__button{
    width: 344/760*100%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}
