.c-contact-head {
  text-align: center;
  padding-bottom: 36px;
  &__text {
    font-size: rem-calc(18);
    font-weight: bold;
    @include breakpoint(small only) {
      font-size: rem-calc(16);
    }
  }
  &__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 22px 0 22px;
    border-color: $color-primary transparent transparent transparent;
    margin: 10px auto 18px;
    @include breakpoint(small only) {
      border-width: 16px 18px 0 18px;
    }
  }
  &__tel {
    padding-bottom: rem-calc(16);
    a {
      text-decoration: none;
      font-size: rem-calc(40);
      @include webfont();
      position: relative;
      line-height: 0.8;
      display: inline-block;
      padding-left: rem-calc(50);
      @include breakpoint(small only) {
        font-size: rem-calc(38);
        padding-left: rem-calc(35);
      }
      i {
        font-size: rem-calc(40);
        position: absolute;
        left: 0;
        top: -3px;
        @include breakpoint(small only) {
          font-size: rem-calc(34);
          top: -1px;
        }
      }
    }
  }
}
