// よくあるご質問
.c-faqbox {
  border: 1px solid $color-primary;
  border-radius: 3px;
  padding: 23px 30px 5px;
  margin-bottom: 16px;

  @include breakpoint(small only) {
    padding-left: 16px;
    padding-right: 16px;
  }

  // オープン時のスタイル
  &.is-open {
    .c-faqbox__title {
      &:after {
        content: "\f106"
      }
    }
  }
}

// 質問
.c-faqbox__title {
  font-weight: bold;
  color: #000;
  font-size: rem-calc(18);
  padding-bottom: 18px;
  position: relative;
  padding-left: 68px;
  position: relative;
  @include breakpoint(small only) {
    padding-left: 48px;
    font-size: rem-calc(16);
  }
  position: relative;

  &:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 4px;
    top: 50%;
    color: $color-primary;
    -webkit-transform: translateY(-50%);
    transform: translateY(-81%);
  }

  // `Q` アイコン
  &:before {
    content: "Q";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 5000px;
    background: $color-primary;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    color: #fff;
    top: -3px;
    left: 0px;
    @include breakpoint(small only) {
      padding-top: 1px;
      width: 30px;
      height: 30px;
    }
  }
}

// 解答
.c-faqbox__content {
  border-top: 1px solid #ccc;
  padding-top: 16px;
  padding-left: 68px;
  margin-bottom: 12px;
  position: relative;

  @include breakpoint(small only) {
    padding-left: 48px;
  }

  // `A` アイコン
  &:after {
    content: "A";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-size: rem-calc(18);
    width: 36px;
    height: 36px;
    border-radius: 5000px;
    color: $color-primary;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    background: #f2f2f2;
    top: 15px;
    left: 0px;
    @include breakpoint(small only) {
      padding-top: 1px;
      width: 30px;
      height: 30px;
    }
  }
}
