.c-faq {
  &__heading {
    @extend .heading;
    @extend .heading.is-md;
    @extend .heading.is-underline;
    margin-top: 0;
    margin-bottom: 32px;
    @include breakpoint(small only) {
      margin-bottom: 24px;
    }
  }
  &__box {
    margin-bottom: 80px;
    @include breakpoint(small only) {
      margin-bottom: 56px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__block {
    border: 1px solid $color-primary;
    margin-bottom: 16px;
    @include breakpoint(small only) {
      margin-bottom: 12px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    padding: 18px 60px 18px 68px;
    cursor: pointer;
    @include breakpoint(small only) {
      padding: 14px 36px 12px 50px;
      font-size: 15px;
    }
    &:before {
      content: "Q";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 18px;
      padding-bottom: 3px;
      padding-right: 1px;
      box-sizing: border-box;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 1000px;
      position: absolute;
      left: 24px;
      top: 17px;
      @include breakpoint(small only) {
        font-size: 15px;
        padding: 0;
        width: 26px;
        height: 26px;
        left: 14px;
        top: 14px;
      }
    }
    &:after {
      content: "\f078";
      font-family: "FontAwesome";
      position: absolute;
      top: 28px;
      right: 32px;
      font-size: 16px;
      color: $color-primary;
      line-height: 1;
      @include breakpoint(small only) {
        font-size: 14px;
        top: 21px;
        right: 16px;
      }
    }
  }
  &__text {
    line-height: 34px;
    display: none;
    background-color: rgba($color-primary,0.05);
    padding: 16px 32px 22px;
    @include breakpoint(small only) {
      line-height: 2.1;
      padding: 14px 16px;
    }
  }
}
