.c-format-title {
  font-weight: 500;
  font-size: 28px;
  background: $color-primary;
  color: #fff;
  letter-spacing: 1.6px;
  line-height: 1.55;
  //border: 1px solid $border-base-color;
  padding: 12px 24px 12px;
  margin-top: 160px;
  margin-bottom: 80px;
  max-width: $grid-row-width;
  margin-left: auto;
  margin-right: auto;
  &.is-sm {
    font-size: 20px;
    background: #f5f5f5;
    color: $color-primary;
    border-left: 5px solid $color-primary;
  }
  @include breakpoint(small only) {
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 6px 12px 7px;
  }
}
