// インラインリスト
//
// インラインリスト
//
// markup:
// <ul class="c-inline-list">
//     <li>リスト1</li>
//     <li>リスト2</li>
//     <li>リスト3</li>
//     <li>リスト4</li>
// </ul>
//
// Styleguide 2.13.0

.c-inline-list {
  list-style: disc;
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;
  list-style-position: outside;
  li {
    float: left;
    margin-left: rem-calc($margin-lg);
    margin-right: rem-calc($margin-base);
  }
}
