.c-mainvisual-slider {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: $color-tertiary;

  svg * {
    transform-origin: bottom right;
  }
  &__item {
    cursor: pointer;
    overflow: hidden;
    @include breakpoint(small only) {
      width: 100%;
      height: auto;
    }
  }
  &.owl-theme .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: rem-calc(-36);
  }

  &.owl-theme .owl-dots .owl-dot span {
    margin: 5px 4px;
    background: #003559;
    border: 1px solid #003559;
  }

  &.owl-theme .owl-dots .owl-dot.active span,
  &.owl-theme .owl-dots .owl-dot:hover span {
    background: #FFF;
  }

  &.owl-theme .owl-nav {
    width: 100%;
    max-width: rem-calc(1600);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.owl-theme .owl-nav [class*='owl-'] {
    color: transparent;
    background: transparent;
    border-radius: 0;
    position: absolute;
    bottom: 50%;
  }

  &.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: transparent;
    opacity: 0.7;
  }

  &.owl-theme .owl-nav .owl-prev {
    content: url('../images/icon-slider-prev.svg');
    left: 0;
  }

  &.owl-theme .owl-nav .owl-next {
    content: url('../images/icon-slider-next.svg');
    right: 0;
  }
}

