.c-message {
  width: 100%;
  max-width: 896px;
  margin: 0 auto;
  &__image {
    margin-bottom: 24px;
    @include breakpoint(small only) {
      margin-bottom: 16px;
    }
  }
  &__title {
    @extend .heading;
    @extend .heading.is-lg;
    color: $color-primary;
    margin-top: 0;
    @include breakpoint(small only) {
      margin-bottom: 6px;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    @include breakpoint(small only) {
      margin-top: 24px;
    }
    small {
      font-size: 15px;
      display: block;
      padding-right: 8px;
      @include breakpoint(small only) {
        font-size: 14px;
      }
    }
    span {
      font-weight: 500;
      font-size: 22px;
      display: block;
      @include breakpoint(small only) {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
