// ページ内ナビゲーション
//
// ページ内スクロールや、サブページへのリンク
//
// markup:
// <ul class="c-navs-list">
//     <li><a href="#" class="is-active">リスト1</a></li>
//     <li><a href="#">リスト2</a></li>
//     <li><a href="#">リスト3</a></li>
//     <li><a href="#">リスト4</a></li>
// </ul>
// <ul class="c-navs-list is-expand">
//     <li><a href="#" class="is-active">リスト1</a></li>
//     <li><a href="#">リスト2</a></li>
//     <li><a href="#">リスト3</a></li>
//     <li><a href="#">リスト4</a></li>
// </ul>
//
// Styleguide 2.14.0


.c-navs-list {

  > li {
    display: inline-block;
  }
  > li > a {
    display: inline-block;
    padding: rem-calc($margin-base) rem-calc($margin-md);
    background: $color-tertiary;
    text-decoration: none;
    border-radius: $border-radius;

    &:hover,
    &.is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

  // 拡張
  &.is-expand {
    > li > a {
      padding: rem-calc($margin-base) rem-calc($margin-lg);
    }
  }

}
