.c-news-head {
  @include breakpoint(small only) {
    position: relative;
    padding-bottom: rem-calc(8);
    &__button {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0!important;
    }
  }
}
