// ページネーション
//
// 投稿記事一覧のページネーション
//
// markup:
// <div class="c-pagination">
//     <ul>
//         <li><a class="c-pagination__prev" href="#">« 前へ</a></li>
//         <li><a  href="#">1</a></li>
//         <li><span class="is-active">2</span></li>
//         <li><a  href="#/">3</a></li>
//         <li><a  href="#/">4</a></li>
//         <li><a  href="#/">5</a></li>
//         <li><a class="c-pagination__next" href="#/">次へ »</a></li>
//     </ul>
// </div>
//
// Styleguide 2.10.0
.c-pagination {
  margin-top: 64px;
  @include breakpoint(small only) {
    margin-top: 32px;
  }
  > ul {
    list-style: none;
    font-size: 0;
  }

  > ul > li {
    display: inline-block;
    margin-right: 8px;
  }

  > ul > li > span,
  > ul > li > a {
    font-size: 15px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 2px;
    color: rgba($font-base-color,0.8);
    border: 1px solid rgba($font-base-color,0.8);
    background-color: $color-white;
    @include breakpoint(small only) {
      padding: 4px 12px;
    }

    &:hover {
      opacity: 1;
      background: rgba($color-primary,0.1);
    }

    &.is-active {
      background: $color-primary;
      border-color: $color-primary;
      color: $color-white;
    }
  }


  // 次のページへ、前のページへ 共通
  &__next,
  &__prev {
    padding-left: 16px!important;
    padding-right: 15px!important;
  }
}
