// ページヘッダー
//
// 下層ページの各タイトル部
//
// markup:
// <header class="c-page-header">
//     <h1 class="c-page-header__title">ページヘッダータイトル</h1>
//     <p class="c-page-header__subtitle">ページヘッダーサブタイトル</p>
// </header>
// <header class="c-page-header is-left">
//    <div class="container">
//        <h1 class="c-page-header__title">ページヘッダータイトル</h1>
//        <p class="c-page-header__subtitle">ページヘッダーサブタイトル</p>
//    </div>
// </header>
// <header class="c-page-header is-right">
//    <div class="container">
//        <h1 class="c-page-header__title">ページヘッダータイトル</h1>
//        <p class="c-page-header__subtitle">ページヘッダーサブタイトル</p>
//    </div>
// </header>
//
// Styleguide 2.7.0

.c-page-header{
  width: 100%;
  height: 15.715vw;
  min-height: 220px;
  max-height: 302px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 950px) {
    margin-top: 55px;
  }
  @include breakpoint(small only) {
    min-height: 140px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color-black,0.2) url("../images/ptn-dots.png") repeat;
    top: 0;
    left: 0;
  }
  &__inner {
    text-align: center;
    color: $color-white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    padding: 0 16px;
  }
  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1.6px;
    @include breakpoint(small only) {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1.1px;
    }
  }
  &__subtitle {
    @include webfont();
    font-size: 15px;
    letter-spacing: 1.6px;
    line-height: 1.5;
    @include breakpoint(small only) {
      font-size: 13px;
      letter-spacing: 1.1px;
    }
  }
}
