.c-relation {
  padding-top: 56px;
  padding-bottom: 64px;
  @include breakpoint(small only) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 11px;
    margin-bottom: 40px;
    @include breakpoint(small only) {
      font-size: 18px;
      padding-bottom: 8px;
      margin-bottom: 24px;
      font-weight: 600;
    }
    &:after {
      content: "";
      display: block;
      width: 64px;
      height: 3px;
      background-color: $color-primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -32px;
      @include breakpoint(small only) {
        width: 48px;
        height: 2px;
        margin-left: -24px;
      }
    }
  }
  &__button {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        width: 252/1080*100%;
        margin-right: 24/1080*100%;
        &:nth-child(4n) {
          margin-right: 0;
        }
        @media (max-width: 900px) {
          width: calc(50% - 8px);
          margin-right: 16px;
          margin-bottom: 16px;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        @include breakpoint(small only) {
          width: 100%;
          margin-right: 0!important;
          margin-bottom: 8px;
        }
        a {
          display: block;
          background-color: $color-white;
          color: $font-base-color;
          text-decoration: none;
          text-align: center;
          border: 1px solid #95989A;
          border-radius: 4px;
          padding: 18px 8px 18px 16px;
          font-size: 16px;
          position: relative;
          transition: all .3s;
          font-weight: 500;
          @include breakpoint(small only) {
            font-size: 15px;
            padding: 14px 40px 14px 28px;
            text-align: left;
          }
          &:after {
            content: "\f105";
            font-family: "FontAwesome";
            padding-left: 16px;
            @include breakpoint(small only) {
              position: absolute;
              right: 24px;
              top: 50%;
              margin-top: -12px;
            }
          }
          &:hover {
            opacity: 1;
            color: $color-white;
            background-color: $color-primary;
            border-color: $color-primary;
          }
        }
      }
    }
  }
}
