.c-sidebar {
  margin-bottom: 40px;
  @include breakpoint(small only) {
    margin-bottom: 16px;
  }
  &__title {
    width: 100%;
    color: $color-white;
    background-color: $color-primary;
    text-align: center;
    padding: 9px;
    font-weight: 500;
    font-size: 18px;
    @include breakpoint(small only) {
      font-size: 15px;
      font-weight: 600;
    }
  }
  ul {
    border-right: 1px solid $border-base-color;
    border-left: 1px solid $border-base-color;
    border-bottom: 1px solid $border-base-color;

  }

  &__list li,
  &__item {
    border-bottom: 1px dotted $border-base-color;
    margin: 0 16px;
    &:last-child {
      border-bottom: none;
    }
    a {
      text-decoration: none;
      color: $font-base-color;
      padding: 11px 16px 10px 20px;
      display: block;
      position: relative;
      font-weight: normal;
      transition: all .3s;
      @include breakpoint(small only) {
        padding: 12px 16px 11px 24px;
      }
      &:hover {
        opacity: 1;
        color: $color-primary;
      }
      &:after {
        content: "\f105";
        font-family: "FontAwesome";
        color: $color-primary;
        position: absolute;
        left: 8px;
        top: 11px;
        @include breakpoint(small only) {
          top: 11px;
        }
      }
    }
  }
}
