// テーブル
//
// テーブルのスタイル
//
// markup:
// <table class="c-table">
//     <thead>
//         <tr>
//              <th>テーブル見出し</th>
//              <th>テーブル見出し</th>
//         <tr>
//     </thead>
//     <tbody>
//         <tr>
//              <td>テーブルセル</td>
//              <td>テーブルセル</td>
//         <tr>
//         <tr>
//              <td>テーブルセル</td>
//              <td>テーブルセル</td>
//         <tr>
//     </tbody>
// </table>
// <table class="c-table">
//     <tbody>
//         <tr>
//              <th width="300">テーブル見出し</th>
//              <td>テーブルセル</td>
//         <tr>
//         <tr>
//              <th>テーブル見出し</th>
//              <td>テーブルセル</td>
//         <tr>
//     </tbody>
// </table>
//
// Styleguide 2.12.0

.c-table {
  width: 100%;
  border-top: 1px solid $border-base-color;

  // table全体
  tr th,
  tr td {
    padding: 15px 26px;
    @include breakpoint(small only) {
      padding: 10px 12px;
    }
  }

  // thead
  thead tr th {
    background-color: #F2F5FD;
    font-weight: 500;
  }

  // tbody
  tbody tr th {
    background-color: #F2F5FD;
    font-weight: 500;
    text-align: left;
    width: 180px;
    @include breakpoint(small only) {
      width: 120px;
    }
  }
  tbody tr {
    border-bottom: 1px solid $border-base-color;
  }
}
