.c-way {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 800px) {
      display: block;
    }
  }
  &__block {
    width: 252/1080*100%;
    margin-right: 24/1080*100%;
    background-color: rgba($color-primary,0.1);
    position: relative;
    @media (max-width: 800px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
    }
    &:nth-child(4n) {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 0 9px 10px;
      border-color: transparent transparent transparent $color-primary;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(100%);
      margin-right: -7/252*100%;
      @media (max-width: 800px) {
        border-width: 10px 9px 0 9px;
        border-color: $color-primary transparent transparent transparent;
        top: auto;
        bottom: -22px;
        right: 50%;
        transform: translateX(-9px);
      }
    }
  }
  &__title {
    color: $color-white;
    text-align: center;
    background-color: $color-primary;
    font-size: 18px;
    font-weight: 500;
    padding: 6px;
    letter-spacing: 1.4px;
    @media (max-width: 800px) {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__text {
    padding: 14px 28px;
    @media (max-width: 800px) {
      padding: 12px 20px;
    }
  }
}
