extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "post-twocolumns" // ページのID
  - current.title = "ポスト_2カラム" // タイトル
  - current.description = `これは${current.title}についての説明文です` // 説明文
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = "/archive-twocolumns/page/" // ページのpath
  - current.depth = 3 // ページの階層

block page_header
  +l_page_header("img-page-header-format.jpg","POST 2COLUMNS","ポスト_2カラム")
  +c_breadcrumb("アーカイブ_2カラム","archive-twocolumns")

block body
  +c.news-header
    h1.c-news-header__title ここに記事のタイトルが入ります。 ここに記事のタイトルが入ります。 ここに記事のタイトルが入ります。
    +e.sup
      +e.label.c-label カテゴリ
      +e.date 2018.10.10
      +e.tag
        ul
          li: +a("#") #タグ
          li: +a("#") #タグ
          li: +a("#") #タグ

  .l-post-content.is-twocolumns
    +img("img-sample.jpg")
    <div id="toc_container" class="no_bullets"><p class="toc_title">目次 <span class="toc_toggle">[<a href="#">非表示</a>]</span></p><ul class="toc_list"><li><a href="#Web"><span class="toc_number toc_depth_1">1</span> Webマーケティングとは？</a></li><li><a href="#Web-2"><span class="toc_number toc_depth_1">2</span> Webマーケティングのメリットとは？</a><ul><li><a href="#i"><span class="toc_number toc_depth_2">2.1</span> あらゆる方たちに配信ができる</a></li><li><a href="#i-2"><span class="toc_number toc_depth_2">2.2</span> 素早く情報を配信できる</a></li><li><a href="#i-3"><span class="toc_number toc_depth_2">2.3</span> 修正を簡単に実行できる</a></li><li><a href="#i-4"><span class="toc_number toc_depth_2">2.4</span> 少ない費用で情報を配信できる</a></li><li><a href="#i-5"><span class="toc_number toc_depth_2">2.5</span> ターゲットを細かく設定できる</a></li></ul></li></ul></div>

    h2 見出し弐
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h3 見出し参
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h4 見出し四
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h5 見出し五
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h6 見出し六
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

    p
      strong 強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト
    p.has-small-font-size
      | 小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト小さいテキスト

    h2 引用 (Blockquote)
    | 一行の引用:
    blockquote 貪欲であれ、愚かであれ
    h2 引用 (Blockquote)
    | 引用元の参照のある複数行の引用:
    blockquote
      | 集中という意味は集中しなくてはいけないことにイエスということだと、人は言います。しかし、それはまったく違います。そうではなく、そこにある何百ものいいアイディアにノーということなのです。慎重に選択しなくてはいけません。実際、私は成し遂げたことと同じように成し遂げられなかったことにも満足しています。革新というのは1000ものことにノーということなのです。
      cite スティーブ・ジョブズ - 1997年 Apple 世界的開発者会議

    h2 テーブル
    table
      tbody
        tr
          th 従業員
          th 給与
          th
        tr
          td: a(href=".") ジェーン
          td $￥1
          td スティーブ・ジョブズの必要な給与。
        tr
          td: a(href=".") ジョン
          td ￥10万
          td ブログのすべて。
        tr
          td: a(href=".") ジェーン
          td ￥1億
          td 百聞は一見にしかず。だよね ? なのでトムは1000倍。
        tr
          td: a(href=".") ジェーン
          td ￥1000億
          td これみたいな髪?! もういいよね…
    h2 定義リスト
    dl
      dt 定義リストタイトル
      dd これは定義リストです。
      dt スタートアップ
      dd スタートアップ会社もしくはスタートアップとは、反復可能でスケーラブルなビジネスモデルを追い求める会社もしくは一時的な組織です。
      dt #dowork
      dd ロブ・ダイデクと彼の個人的なボディーガードのクリストファー"ビッグ・ブラック"ボイキンスが作った言い回しで、"仕事しよう" が自己動機付けとして、友達を動機付けるために機能する。
      dt ライブでやろう
      dd ビル・オライリーが <a title="We'll Do It Live" href="https://www.youtube.com/watch?v=O_HyZ5aW76c">説明</a> してもらいましょう。

    h2 非順序リスト（ネスト化）
    ul
      li リストアイテム1
        ul
          li リストアイテム1
            ul
              li リストアイテム1
              li リストアイテム2
              li リストアイテム3
              li リストアイテム4
          li リストアイテム2
          li リストアイテム3
          li リストアイテム4
      li リストアイテム2
      li リストアイテム3
      li リストアイテム4

    h2 順序リスト
    ol
      li リストアイテム1
        ol
          li リストアイテム1
            ol
              li リストアイテム1
              li リストアイテム2
              li リストアイテム3
              li リストアイテム4
          li リストアイテム2
          li リストアイテム3
          li リストアイテム4
      li リストアイテム2
      li リストアイテム3
      li リストアイテム4
    h2 HTML　要素タグテスト
    p 他の HTML タグは <a href="http://ja.support.wordpress.com/code/" rel="nofollow" target="_blank">FAQ</a> をご覧ください。

    p
      strong 住所タグ<br>
      | 以下は住所の例です。<br>
      code &lt;address&gt;
      | タグを使用しています:
      address 〒100-0000 東京都千代田区1-1-1 日本

    p
      strong anchor タグ (リンク)<br>
      | これは
      a(href=".", rel="nofollow")
        code &lt;anchor&gt;

    p
      strong abbr タグ<br>
      | この
      abbr(title="abbreviation") abbr
      | は文章の中にある
      code &lt;abbr&gt;
      | タグの例です。

    p
      strong Acronym タグ (<em>HTML5 では非推奨</em>)<br>
      | これは <code>&lt;acronym&gt;</code> タグを使用した
      acronym(title="three-letter acronym") TLA
      | です。

    p
      strong Big タグ(<em>HTML5 では非推奨</em>)
      | このテストは
      big 大きな
      | 文字を表す <code>&lt;big&gt;</code> タグの例ですが、このタグは HTML5 ではサポートされていません。

    p
      strong Cite タグ<br>
      | "Code is poetry." --
      cite WordPress

    p
      strong Code タグ<br>
      code &lt;code&gt;
      |  タグはこのように使います:<br>
      code word-wrap: break-word;

    p
      strong Delete タグ<br>
      code &lt;del&gt;
      |  タグは
      del 打ち消し線
      | などで表現されますが、このタグは HTML5 ではサポートされていません (代わりに <code>&lt;strike&gt;</code> を使ってください)。

    p
      strong Emphasize タグ<br>
      code &lt;em&gt;
      |  タグは<em>文章の強調</em>に使われます。欧文では斜体になっていることがよくあります。

    p
      strong Insert タグ<br>
      code &lt;ins&gt;
      |  タグは
      ins 挿入されたコンテンツ
      | を意味します。

    p
      strong Keyboard タグ<br>
      | このあまり知られていない
      code &lt;kbd&gt;
      |  タグは
      kbd Ctrl
      |  のようにキーボードテキストをエミュレートします。通常、<code>&lt;code&gt;</code> タグと同じようにスタイリングされます。

    p
      strong Preformatted タグ<br>
      code &lt;pre&gt;
      |  タグは複数行のコードのスタイリングに使います。
      pre
        | .post-title {
        |     margin: 0 0 5px;
        |     font-weight: bold;
        |     font-size: 38px;
        |     line-height: 1.2;
        |     and here's a line of some really, really, really, really long text, just to see how the PRE tag handles it and to find out how it overflows;
        | }

    p
      strong Quote タグ<br>
      q デベロッパーズ、デベロッパーズ, デベロッパーズ...
      | --スティーブ・バルマー

    p
      strong Strike タグ (<em>HTML5 では非推奨</em>)<br>
      | このタグは
      strike 打ち消し線
      | を表しています。

    p
      strong Strong タグ<br>
      | このタグは
      strong 太字
      | テキストを表しています。

    p
      strong Subscript タグ<br>
      | Subscript タグ
      code &lt;sub&gt;
      |  を使うと H
      sub 2
      | O のような表示の際に「2」が下付きになります。

    p
      strong Superscript タグ<br>
      |  Superscript タグ
      code &lt;sup&gt;
      |  を使うと E = MC
      sup 2
      | のような表示の際に「2」が上付きになります。

    p
      strong Teletype タグ (<em>HTML5 では非推奨</em>)<br>
      code &lt;tt&gt;
      |  はあまり使われないタグですが、
      tt テレタイプテキスト
      |  として通常 <code>&lt;code&gt;</code> タグのようにスタイリングされます。

    p
      strong Variable タグ<br>
      code &lt;tt&gt;
      |  変数や引数を表す
      var variables
      |  タグです。


  div.u-mbs.is-bottom
    +c.button-social

  hr.c-hr
  +c.box-share
    +e.inner
      +e.title この記事が気に入ったら<br class="u-hidden-lg">「いいね！」
      +e.items
        <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/GrowGroupLLC/" data-width="100" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=712&amp;href=https%3A%2F%2Fwww.facebook.com%2FGrowGroupLLC%2F&amp;layout=box_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 72px; height: 40px;"><iframe name="ffbce1802e0a34" width="100px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.8/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2abe0a77578bb8%26domain%3Dgrow-group.jp%26origin%3Dhttps%253A%252F%252Fgrow-group.jp%252Ffb94e260fbe5c4%26relation%3Dparent.parent&amp;container_width=712&amp;href=https%3A%2F%2Fwww.facebook.com%2FGrowGroupLLC%2F&amp;layout=box_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 72px; height: 40px;" class=""></iframe></span></div>

  h4 この記事を書いた人
  +c.block
    .row
      .large-3.small-4
        +e.image: +img("img-thumbnail-01.jpg")
      .large-9.small-8
        +e.content
          h6 名前名前
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          div.u-text-right.u-mbs.is-top.is-xxs
            +a("").c-button.is-xs この執筆者の記事一覧
  hr.c-hr
  +c_post_nav("post-twocolumns")
  h3 関連コンテンツ
  +c.news-lg.is-image-display
    +a("#").c-news-lg__block
      +e.image: +img("img-thumbnail-01.jpg")
      +e.content
        +e.sup
          +e.label.c-label.is-sm お知らせ
          +e.date 2018.06.01
        +e.title お知らせの投稿タイトルがここに入ります。
        +e.excerpt 本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本…[続きを見る]
    +a("#").c-news-lg__block
      +e.image: +img("img-thumbnail-01.jpg")
      +e.content
        +e.sup
          +e.label.c-label.is-sm お知らせ
          +e.date 2018.06.01
        +e.title お知らせの投稿タイトルがここに入ります。
        +e.excerpt 本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本…[続きを見る]
  div.u-mbs.is-top.is-lg
    +c.card-post.is-tag-hidden
      .row
        .large-4.small-6
          +e.block
            +a.c-card-post__image
              +img("img-card-01.jpg")
            +e.content
              +e.sup
                +e.date 2018.01.01
                span.c-card-post__label.c-label.is-sm カテゴリ名
              +e.title タイトルが入ります。タイトルが入ります。
        .large-4.small-6
          +e.block
            +a.c-card-post__image
              +img("img-card-01.jpg")
            +e.content
              +e.sup
                +e.date 2018.01.01
                span.c-card-post__label.c-label.is-sm カテゴリ名
              +e.title タイトルが入ります。タイトルが入ります。
        .large-4.small-6
          +e.block
            +a.c-card-post__image
              +img("img-card-01.jpg")
            +e.content
              +e.sup
                +e.date 2018.01.01
                span.c-card-post__label.c-label.is-sm カテゴリ名
              +e.title タイトルが入ります。タイトルが入ります。

block aside
  +l-aside(news)
