+c.sidebar
    +e.title カテゴリー
    ul
        li.c-sidebar__item: +a("/news/") カテゴリー
        li.c-sidebar__item: +a("/news/") カテゴリー
        li.c-sidebar__item: +a("/news/") カテゴリー

+c.sidebar
    +e.title 年⽉別 アーカイブ
    ul
        li.c-sidebar__item: +a("/news/") 2018年1月
        li.c-sidebar__item: +a("/news/") 2017年12月
        li.c-sidebar__item: +a("/news/") 2017年11月
