header.l-header
  .l-container
    .l-header__content
      if current.id=="top"
        h1.l-header__heading 愛知県名古屋市からITソリューションを提供する株式会社サンプルです。
      else
        .l-header__heading 愛知県名古屋市からITソリューションを提供する株式会社サンプルです。
      .l-header__tel
        <a href="tel:123-456-7890" class="l-header__number">123-456-7890</a>
        .l-header__text 受付：9:00〜18:00（平日）
    .l-header__inner
      +a("/").l-header__logo: +img("logo.png","株式会社サンプル")
      //- グローバルナビゲーション
      include /inc/layout/_global-nav.pug
