extends /inc/foundation/_base.pug
block append config
  - current.id = "profile" // ページのID
  - current.title = "会社概要" // タイトル
  - current.description = "これは会社概要の説明文です" // 説明文
  - current.bodyClass = "profile" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","会社概要","COMPANY")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span: +a("/") 企業情報
      span >
      span 代表あいさつ

block body
  section.l-main
    .l-section.is-xlg
      .l-container
        .row
          .large-10.is-push-lg-1.small-12
            table.c-table
              tr
                th 会社名
                td 株式会社 サンプル
              tr
                th 代表取締役
                td サンプル 太郎
              tr
                th 本店所在地
                td 〒151-0053  東京都渋谷区代々木2-9-2 久保ビル 4F
              tr
                th メールアドレス
                td info@sample.co.jp
              tr
                th 設立
                td 1986年10月
              tr
                th 資本金
                td 100,000,000円
              tr
                th 従業員数
                td 116名 (契約社員を含む)
              tr
                th 主な事業
                td ITスクール運営、企業研修、システム開発、技術者派遣
            +c.access.u-mbs.is-top.is-lg
              +e.title アクセス
              +e.map
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.6307752359103!2d136.93384431524478!3d35.165827980317715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003708c6efbffff%3A0xfacf0efc75d6a460!2zR3Jvd0dyb3Vw5qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1534925154980"></iframe>
              +e.text
                ul
                  li 東京駅から徒歩10分   三菱ビル 13F

    .l-section.is-bg.is-md
      .l-container
        +c.other-content
          +e.inner
            +a("/company/greeting/").c-other-content__block
              +bgimg("img-card-01.jpg").c-other-content__image
              +e.text 代表あいさつ
            +a("/company/history/").c-other-content__block
              +bgimg("img-card-03.jpg").c-other-content__image
              +e.text 沿　革
            +a("/recruit/").c-other-content__block
              +bgimg("img-card-04.jpg").c-other-content__image
              +e.text 採用情報
  +c_relation()
  +c_offer()
