extends /inc/foundation/_base.pug
block append config
  - current.id = "result" // ページのID
  - current.title = "サイト内検索" // タイトル
  - current.description = "これはサイト内検索についての説明文です" // 説明文
  - current.bodyClass = "result" // body に付与するクラス
  - current.path = "/result/" // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "サイト内検索",
    subtitle: "result"
  })
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        +c.news.u-maxwidth944
          +e.content
            +c_news__block("is-result")
        +c_pagination()

  +l_offer

