extends /inc/foundation/_base.pug
block append config
  - current.id = "result" // ページのID
  - current.title = "サイト内検索" // タイトル
  - current.description = `これは${current.title}についての説明文です` // 説明文
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-format.jpg",
    title: "サイト内検索",
    subtitle: "result"
  })
  +c_breadcrumb()

block body
  section.l-section.is-lg
    .l-container.is-sm
      +c.news
        +e.content
          +c_news__block("result")
      +c_pagination()

block before_footer
  +l_offer

