extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "result" // ページのID
  - current.title = "サイト内検索" // タイトル
  //- - current.description = `これは${current.title}についての説明文です` // ページごとに説明文を設定する場合のみ
  - current.bodyClass = `${current.id}` // body に付与するクラス
  - current.path = `/${current.id}/` // ページのpath
  - current.depth = 2 // ページの階層

block page_header
  //+l_page_header({
  //  image: "img-page-header-format.jpg",
  //  title: "サイト内検索",
  //  subtitle: "result"
  //})
  +c_breadcrumb()
  +l_searchform("is-search")

block body
  section.l-section.is-search-result
    +c.search
      +e.head
        b 「いろはに」
        | の検索結果
        b 1-10/3423件
      +e.situation
        dl
          dt 表示件数：
          dd: +a("").is-active 10 件
          dd: +a("") 20 件
          dd: +a("") 30 件
        dl
          dt 並び順：
          dd: +a("").is-active 新着順
          dd: +a("") 更新順
    +c.search
      +e.blocks
        +loop(10)
          +e.block
            +ae("").title ページ名テキスト｜2階層目のページ名
            +e.url https://www.xxxxxxxx.co.jp

    +c_pagination()

block aside
  +l-aside-search-result

