extends /inc/foundation/_base.pug
block append config
  - current.id = "archive-onecolumn" // ページのID
  - current.title = "アーカイブ_1カラム" // タイトル
  - current.description = "これはアーカイブ_1カラムの説明文です" // 説明文
  - current.bodyClass = "archive-onecolumn" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header("img-page-header-format.jpg","ARCHIVE 1COLUMN","アーカイブ_1カラム")
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        +c.news.is-onecolumn
          .row
            .large-10.is-push-lg-1.small-12
              h2.c-news__title.c-heading.is-md.is-line-under.is-color-primary すべて
              +e.content
                +loop(5)
                  +a("/archive-onecolumn/page/").c-news__block
                    +e.date 2018.10.10
                    +e.label.c-label.is-white カテゴリ
                    +e.inner
                      +e.text お知らせの投稿タイトルがここに入ります。
                      +e.excerpt 本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います。本文内容の一文が抜粋されてここに掲載を行います…[続きを見る]
              +c.pagination
                ul
                  li: +a("/archive-onecolumn/page/").c-pagination__prev <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                  li: span.is-current 1
                  li: +a("/archive-onecolumn/page/") 2
                  li: +a("/archive-onecolumn/page/") 3
                  li: +a("/archive-onecolumn/page/") 4
                  li: +a("/archive-onecolumn/page/") 5
                  li: +a("/archive-onecolumn/page/").c-pagination__next <i class="fa fa-angle-right" aria-hidden="true"></i>
              div.u-mbs.is-top.is-lg
                +c.box-archive
                  +e.block
                    +e.title カテゴリ
                    ul
                      li: +a("/archive-onecolumn/page/") すべて
                      li: +a("/archive-onecolumn/page/") お知らせ
                      li: +a("/archive-onecolumn/page/") ブログ
                  +e.block
                    +e.title 年月アーカイブ
                    ul
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
                      li: +a("/archive-onecolumn/page/") 2019年01月
              div.u-mbs.is-top.is-lg
                +c.news-lg
                  +loop(5)
                    +a("/archive-onecolumn/page/").c-news-lg__block
                      +e.sup
                        +e.label.c-label.is-sm お知らせ
                        +e.date 2018.06.01
                      +e.title お知らせの投稿タイトルがここに入ります。
                      +e.excerpt 簡単な説明テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト＜続きを読む＞
                +c.pagination.is-align-left
                  ul
                    li: +a("/archive-onecolumn/page/").c-pagination__prev <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                    li: span.is-current 1
                    li: +a("/archive-onecolumn/page/") 2
                    li: +a("/archive-onecolumn/page/") 3
                    li: +a("/archive-onecolumn/page/") 4
                    li: +a("/archive-onecolumn/page/") 5
                    li: +a("/archive-onecolumn/page/").c-pagination__next <i class="fa fa-angle-right" aria-hidden="true"></i>

        div.u-mbs.is-top.is-lg
          +c.card-post.is-tag-hidden
            .row
              +loop(4)
                .large-3.small-6
                  +e.block
                    +a.c-card-post__image
                      +img("img-card-01.jpg")
                    +e.content
                      +e.sup
                        span.c-card-post__label.c-label カテゴリ名
                        +e.date 2018.01.01
                      +e.title タイトルが入ります。タイトルが入ります。
          +c.pagination
            ul
              li: +a("/archive-onecolumn/page/").c-pagination__prev <i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              li: span.is-current 1
              li: +a("/archive-onecolumn/page/") 2
              li: +a("/archive-onecolumn/page/") 3
              li: +a("/archive-onecolumn/page/") 4
              li: +a("/archive-onecolumn/page/") 5
              li: +a("/archive-onecolumn/page/").c-pagination__next <i class="fa fa-angle-right" aria-hidden="true"></i>
  +l_offer

