// ブロック
// -> 2カラム01
div.u-mbs.is-bottom
  +c.block
    +e.block
      .row
        .large-5.small-12
          +e.image: +img("img-block-01.jpg")
        .large-7.small-12
          +e.content
            div.c-heading.is-xs.is-color-primary.is-bg-color.is-bottom 見出しレベル4見出しレベル4
            p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ

// -> 2カラム02
div.u-mbs.is-bottom
  +c.block
    +e.block
      div.c-heading.is-xs.is-color-primary.is-bg-color.is-bottom 見出しレベル4見出しレベル4
      .row
        .large-7.small-12
          +e.content
            p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ
        .large-5.small-12
          +e.image: +img("img-block-01.jpg")

// -> 2カラム03
div.u-mbs.is-bottom
  +c.block
    +e.block
      .row
        .large-5.small-12
          +e.content
            +e.image: +img("img-block-01.jpg")
        .large-7.small-12
          +e.content
            div.c-heading.is-sm.is-border-under.is-bottom 見出しレベル4見出しレベル4
            p ブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブロックテキストブ
            div.u-mbs.is-top.is-xxs
              +a("#").c-button.is-sm 詳細はこちら
