// ボタン関係
// -> カラー別
div.u-mbs.is-bottom
  +a("#").c-button ボタンテキスト
  +a("#").c-button.is-secondary ボタンテキスト
  +a("#").c-button.is-accent ボタンテキスト
  +a("#").c-button.is-white ボタンテキスト

// -> サイズ別
div.u-mbs.is-bottom
  +a("#").c-button.is-xlg ボタンテキスト
  +a("#").c-button.is-lg ボタンテキスト
  +a("#").c-button.is-sm ボタンテキスト
  +a("#").c-button.is-xs ボタンテキスト
