extends /inc/foundation/_base-twocolumn.pug
block append config
  - current.id = "news" // ページのID
  - current.title = "メディア" // タイトル
  - current.description = "これはメディアの説明文です" // 説明文
  - current.bodyClass = "news" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +c_page_header("pagehead-default.jpg","メディア","MEDIA")
  +c.breadcrumb
    .l-container
      span: +a("/") ホーム
      span >
      span メディア

block body
  p 内覧レビューや、サービスオフィスについてのコラムなど、幅広いジャンルのコンテンツを掲載します。
  +c.media-head
    +a("/media/page/").c-media-head__overflow
      +bgimg("img-media-01.jpg").c-media-head__image
      +e.label 内覧レビュー
      +e.sup
        +e.date 2018.02.18
        +e.title ここに記事タイトルが入ります。ここに記事タイトルが入ります。
  +c.media-boxes.is-media.u-mbs.is-lg
    h5.heading.is-xs.is-left.is-bottom イチオシ記事
    +e.inner
      +a("/media/page/").c-media-boxes__block
        +e.overflow
          +e.category コラム
          +bgimg("img-media-01.jpg").c-media-boxes__image
        +e.day 2018.02.18
        +e.title ここに記事タイトルが入ります。ここに記事タイトルが入ります。
      +a("/media/page/").c-media-boxes__block
        +e.overflow
          +e.category コラム
          +bgimg("img-media-02.jpg").c-media-boxes__image
        +e.day 2018.02.18
        +e.title ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。
      +a("/media/page/").c-media-boxes__block
        +e.overflow
          +e.category コラム
          +bgimg("img-media-03.jpg").c-media-boxes__image
        +e.day 2018.02.18
        +e.title ここにタイトルが入ります。ここにタイトルが入ります。ここにタイトルが入ります。

  .heading.is-xs.is-leftborder 最新記事一覧
  .p-post-list.u-mbs.is-top.is-md
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…
    .p-post-item.is-horizon.is-page
      +bgimg("img-top-post-01.jpg").p-post-item__thumbnail
      .p-post-item__content
        .p-post-item__sup
          .p-post-item__category.c-label コラム
          .p-post-item__date 2018.02.18
        .p-post-item__title
          a(href="/media/page/") ここにタイトルが入ります。ここにタイトルが…
        .p-post-item__detail ここに抜粋文が入ります。ここに抜粋文が入ります。こ…


  +c.pagination
    ul
      li: +a("/office/page/").c-pagination__prev 前<span>のページ</span>へ
      li: +a("/office/page/").is-active 1
      li: +a("/office/page/") 2
      li: +a("/office/page/") 3
      li: +a("/office/page/") 4
      li: +a("/office/page/") 5
      li: +a("/office/page/").c-pagination__next 次<span>のページ</span>へ

block aside
  include /inc/layout/_aside.pug
