//- 1カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  //- スマホメニュー用のコンテナ
  .c-slidebar-container.js-slidebar-container.is-top-to-bottom

    //- ページヘッダー
    block page_header

    //- メインコンテンツ
    block body

    //- フッター
    block footer
      include /inc/layout/_footer.pug

