// 個人情報保護方針
.p-privacy {
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 32px;
  background: #EEF1F1;
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h4 {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 16px;
  }
}
