mixin l-aside-news(data)
  +c.aside-posts
    +e.block
      +e.head
        +e.head-title 通常リスト
      +e.list
        +e.list-item: +ae("/twocolumns/").list-link 通常リンク
        +e.list-item: +ae("/twocolumns/").list-link カレントリンク
        +e.list-item: +ae("/twocolumns/page/").list-link 通常リンク

    +e.block
      +e.head
        +e.head-title アコーディオンリスト
      +e.list
        +loop(3)
          +e.DETAILS.list-item.js-accordion
            summary.c-aside-posts__list-link(data-accordion-title="title") アコーディオンタイトル
            +e.submenu(data-accordion-content="content")
                +e.submenu-item: +ae("").submenu-link アコーディオンリンク01
                +e.submenu-item: +ae("").submenu-link アコーディオンリンク02
