mixin l-aside(data)
  +c.aside-navs
    +e.block
      +e.head
        +e.head-title 通常リスト
      +e.list
        +e.list-item: +ae("/twocolumns/").list-link 通常リンク
        +e.list-item: +ae("/twocolumns/").list-link.js-current-nav カレントリンク
        +e.list-item: +ae("/twocolumns/page/").list-link 通常リンク

    +e.block
      +e.head
        +e.head-title バナー
      +e.image
        +img("img-main-visual-01.jpg")

mixin l-aside-search-result
  +c.search-result-aside

    +e.popular
      +e.title よく検索される<br class="u-hidden-md">キーワード
      +ul.keyword
        +loop(10)
          li: +a("#") キーワード
