mixin l-aside(data)
  +c.menu-list
    +e.head ページ_2カラム

    +e.block
      +e.list
        +e.item: +ae("").item-link リンクテキスト
        +e.item: +ae("").item-link リンクテキスト
        +e.item: +ae("").item-link リンクテキスト

    +e.block
      +e.list
        +e.item.js-accordion
          +e.item-head(data-accordion-title="accordion-title") アコーディオンタイトル
          +e.item-content(data-accordion-content="accordion-text")
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
        +e.item.js-accordion
          +e.item-head(data-accordion-title="accordion-title") アコーディオンタイトル
          +e.item-content(data-accordion-content="accordion-text")
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト

    +e.block
      +e.head ボタン等
      +e.button: +a("").c-button ボタン

    +e.block
      +e.head バナー等
      +e.banners
        +e.banners-image: +img("img-default-thumbnail.png")

    +e.block
      +e.head ランキング等
      +e.steps
        +e.steps-item
          +e.steps-image: +bgimg("img-default-thumbnail.png").bg-img
          +e.steps-content
            +e.steps-text テキストテキストテキストテキストテキストテキスト
            +e.steps-date 2020/01/01
        +e.steps-item
          +e.steps-image: +bgimg("img-default-thumbnail.png").bg-img
          +e.steps-content
            +e.steps-text テキストテキストテキストテキストテキストテキスト
            +e.steps-date 2020/01/01
