mixin l-aside(data)
  if (data == "news")
    +c.menu-list
      +e.head ページ_2カラム
      +ul.list
        li: +a("/archive-twocolumns/").js-current-nav すべて
        li: +a("/archive-twocolumns/category/").js-current-nav カテゴリ
        li: +a("/archive-twocolumns/").js-current-nav(data-parent-nav="true") 子階層滞在時もis-current
        li: +a("#").js-current-nav カテゴリ
  else if (data == "result")
    +c.menu-list
      +e.search
        +e.title.c-heading.is-xxs.is-mg-level-6.is-center よく検索される<br class="u-hidden-md">キーワード
        +ul.keyword
          +loop(10)
            li: +a("#") キーワード
  else
    +c.menu-list
      +e.head ページ_2カラム
      +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
      +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
      +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
      +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
          li: +a("#") カテゴリ
          li: +a("#") カテゴリ
