mixin l-aside(data)
  if (data == "news")
    +c.menu-list
      +e.head ページ_2カラム
      +ul.list
        li: +a("/archive-twocolumns/").js-current-nav すべて
        li: +a("/archive-twocolumns/category/").js-current-nav カテゴリ
        li: +a("/archive-twocolumns/").js-current-nav(data-parent-nav="true") 子階層滞在時もis-current
        li: +a("#").js-current-nav カテゴリ
  else
    +c.aside-navs
      +e.block
        +e.head
          +e.head-title 通常リスト

        +list([
          {
            addClass: "",
            url: "/",
            title: "通常リンク",
          },
          {
            addClass: "",
            url: "/",
            title: "アコーディオン",
            accordion: [
              { url: "/", text: "下層テキスト01"},
              { url: "/", text: "下層テキスト02"},
            ]
          },
          {
            addClass: "is-current",
            url: "/",
            title: "カレントナビ",
          }
        ])


      +e.block
        +e.head
          +e.head-title ページ_2カラム

        +l-aside-search-result


mixin l-aside-search-result
  +c.search-result-aside

    +e.popular
      +e.title よく検索される<br class="u-hidden-md">キーワード
      +ul.keyword
        +loop(10)
          li: +a("#") キーワード


mixin list(data)
  +e.list
    each item in data
      //- accordion
      if (item.accordion)
        +e.DETAILS.list-item.js-accordion
          summary.list-link(class!=item.addClass , data-accordion-title="title") !{item.title}
          +e.submenu(data-accordion-content="content")
            each accordion in item.accordion
              +e.submenu-item: +ae(accordion.url).submenu-link !{accordion.text}
      //- 通常リンク
      else
        +e.list-item
          +a(item.url).list-link(class!=item.addClass) !{item.title}
