+c.menu-list
    +e.head ページ_2カラム
    +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
    +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
    +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
    +e.banners.js-accordion
        +a("#").c-menu-list__block(data-accordion-title="accordion-title") コンテンツタイトル
        ul.c-menu-list__submenu(data-accordion-content="accordion-text")
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
            li: +a("#") カテゴリ
