mixin l-aside(data)
  +c.menu-list
    +e.head ページ_2カラム

    +e.block
      +e.list
        +e.item: +ae("").item-link リンクテキスト
        +e.item: +ae("").item-link リンクテキスト
        +e.item: +ae("").item-link リンクテキスト

    +e.block
      +e.list
        +e.item.js-accordion
          +e.item-head(data-accordion-title="accordion-title") アコーディオンタイトル
          +e.item-content(data-accordion-content="accordion-text")
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
        +e.item.js-accordion
          +e.item-head(data-accordion-title="accordion-title") アコーディオンタイトル
          +e.item-content(data-accordion-content="accordion-text")
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト
            +e.item-unit: +ae("").item-link リンクテキスト

    +e.block
      +e.button: +a("").c-button ボタン

    +e.block
      +e.banners
        +e.banners-image: +img("img-default-thumbnail.jpg")

