mixin l-aside-posts
  +c.aside-posts
    +e.block
      +e.head
        +e.head-title 通常リスト
      +e.list
        +e.list-item: +ae("/archive-twocolumns/").list-link すべて
        +e.list-item: +ae("/archive-twocolumns/category/").list-link.js-current-nav カテゴリ
        +e.list-item: +ae("/archive-twocolumns/").list-link.js-current-nav(data-parent-nav="true") 子階層滞在時もis-current

    +e.block
      +e.head
        +e.head-title アコーディオンリスト
      +e.list
        +loop(3)
          +e.DETAILS.list-item.js-accordion
            +e.SUMMARY.list-link(data-accordion-title="title") アコーディオンタイトル
            +e.submenu(data-accordion-content="content")
                +e.submenu-item: +ae("").submenu-link アコーディオンリンク01
                +e.submenu-item: +ae("").submenu-link アコーディオンリンク02
