//- filename: footer.jade
//- description: フッター

footer.l-footer-simple
  .l-container
    .l-footer-simple__content
      +a("/").l-footer-simple__logo: +img("logo-white.png","ロゴ")
      address.l-footer-simple__address 〒464-0850 愛知県名古屋市千種区今池3丁目12-20 KAビル6F<br>TEL：052-753-6413 / FAX：052-753-6414
      .l-footer-simple__copyright
        small ＠<script>document.write(new Date().getFullYear());</script> サンプル Co.Ltd.
