//- filename: footer.jade
//- description: フッター

<footer class="l-footer">

  <div class="l-footer__secondary">
  <div class="l-container">
  <div class="l-footer__secondary__wrap">
  <div class="l-footer__secondary__logo"><a href="https://lp.n-nose.com/"><img src="./assets/images/logo-n-nose.svg" alt="" /></a></div>
  <ul class="l-footer__secondary__list">
  <li><a href="https://www.n-nose.com/guest/static/terms.html">利用規約・個人情報の取り扱いについて</a></li>
  <li><a href="https://www.n-nose.com/guest/static/tokushoho.html">特定商取引法に関する表記</a></li>
  </ul>
  <div class="l-footer__secondary__outlink"><a href="https://hbio.jp/" target="_blank"><img src="./assets/images/btn-hirotsu-biyo-sience.png" alt="" /></a>
  </div>
  </div>
  </div>
  </div>
  <div class="l-footer__bottom">
  <div class="l-container">
  <div class="l-footer__bottom__wrap">
  <div class="l-footer__bottom__text">N-NOSEは、株式会社HIROTSUバイオサイエンスの登録商標です。</div>
  <div class="l-footer__bottom__copyright">&copy;株式会社 HIROTSU バイオサイエンス ALL RIGHTS RESERVED</div>
  </div>
  </div>
  </div>
</footer>
