-
  var className = "l-header"
  var isSimplePages = ["contact", "confirm", "complete"]

  if (isSimplePages.includes(current.id)) {
    //isSimplePagesにcurrent.idが含まれている場合
    className += " is-simple"
  } else {
    //それ以外のとき
    className += " js-fixedheader"
  }
  if (current.id === "home") {
    className += " is-home"
  }



header(class=className)
  .l-header__content
    if current.id == 'home'
      h1.l-header__logo: +a("/"): +img("logo.png","株式会社 サンプル",175,40)
    else
      .l-header__logo: +a("/"): +img("logo.png","株式会社 サンプル",175,40)
    nav.l-header__nav
      ul.l-header__mainmenu
        li.l-header__mainmenu-item: +a("/page/") 1COLUMN
        li.l-header__mainmenu-item: +a("/twocolumns/") 2COLUMN
        li.l-header__mainmenu-item: +a("/news/") NEWS
        li.l-header__mainmenu-item: +a("/archive-twocolumns/") ARCHIVE2
        li.l-header__mainmenu-item.js-dropdown
          +a("/format/")(data-dropdown-trigger="trigger") FORMAT
          .l-header__submenu(data-dropdown-target="target")
            .l-header__submenu-outer
              .l-header__submenu-title
                span FORMAT
                small フォーマット
              .l-header__submenu-content
                .l-header__submenu-menus
                  +a("/format/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.jpg", "フォーマット")
                    span フォーマット
                  +a("/blocks/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.jpg", "ブロック編集ページ")
                    span ブロック編集ページ
        li.l-header__mainmenu-item.js-dropdown(data-dropdown-animation="slide" data-dropdown-event="click")
          +a("/format/")(data-dropdown-trigger="trigger") CLICK
          .l-header__submenu(data-dropdown-target="target")
            .l-header__submenu-outer
              .l-header__submenu-title
                span FORMAT
                small フォーマット
              .l-header__submenu-content
                .l-header__submenu-menus
                  +a("/format/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.jpg", "フォーマット")
                    span フォーマット
                  +a("/blocks/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.jpg", "ブロック編集ページ")
                    span ブロック編集ページ
      button.l-header__search.js-header-searchform-open(aria-label="キーワードから検索") <span>キーワードから検索</span>
      +a("/contact/").l-header__button.c-button.is-sm <span class="c-icon-font">mail</span>お問い合わせ

+l_searchform
