-
  var className = ""

  if (current.id === "contact" || current.id === "confirm" || current.id === "complete") {
    className = "l-header is-simple"
  }

  else if (current.id === "top") {
    className = "l-header js-fixedheader"
  }

  else {
    className = "l-header js-fixedheader is-normal"
  }

header(class=className)
  .l-header__content
    if current.id == 'home'
      h1.l-header__logo: +a("/"): +img("logo.png","株式会社サンプル")
    else
      .l-header__logo: +a("/"): +img("logo.png","株式会社サンプル")
    nav.l-header__nav
      ul
        li: +a("/onecolumn/") 1COLUMN
        li: +a("/twocolumns/") 2COLUMN
        li: +a("/news/") NEWS
        li: +a("/archive-twocolumns/") ARCHIVE2
        li
          +a("/format/") FORMAT
          .l-header__submenu
            .l-header__submenu__outer
              .l-header__submenu__title
                span FORMAT
                small フォーマット
              .l-header__submenu__content
                .l-header__submenu__flex
                  +a("/format/").l-header__submenu__block
                    .l-header__submenu__image: +img("img-sample-sm.jpg", "フォーマット")
                    span フォーマット
                  +a("/blocks/").l-header__submenu__block
                    .l-header__submenu__image: +img("img-sample-sm.jpg", "ブロック編集ページ")
                    span ブロック編集ページ
    button.l-header__search.js-header-form.u-hidden-md キーワードから検索
    button.l-header__search-icon.js-header-form.u-visible-md <span class="material-icons-outlined">search</span>
    +a("/contact/").l-header__button.c-button.is-sm <span class="material-icons-outlined">mail</span>お問い合わせ


+c.block-modal-form
  .l-container
    +e.bg
    +e.inner
      +e("button").close
      +e("form").form(action="/result/", method="get")
        span.is-icon <span class="material-icons-outlined">search</span>
        input(type="text", placeholder="キーワードから検索")
        button 検索する
