-
  var className = "l-header js-fixedheader is-normal"

  if (current.id === "contact" || current.id === "confirm" || current.id === "complete") {
    className = "l-header is-simple"
  }

  else if (current.id === "home") {
    className = "l-header js-fixedheader"
  }


header(class=className)
  .l-header__content
    if current.id == 'home'
      h1.l-header__logo: +a("/"): +img("logo.png","株式会社 サンプル",175,40)
    else
      .l-header__logo: +a("/"): +img("logo.png","株式会社 サンプル",175,40)
    nav.l-header__nav
      ul.l-header__mainmenu
        li.l-header__mainmenu-item: +a("/page/") 1COLUMN
        li.l-header__mainmenu-item: +a("/twocolumns/") 2COLUMN
        li.l-header__mainmenu-item: +a("/news/") NEWS
        li.l-header__mainmenu-item: +a("/archive-twocolumns/") ARCHIVE2
        li.l-header__mainmenu-item
          +a("/format/") FORMAT
          .l-header__submenu
            .l-header__submenu-outer
              .l-header__submenu-title
                span FORMAT
                small フォーマット
              .l-header__submenu-content
                .l-header__submenu-menus
                  +a("/format/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.webp", "フォーマット")
                    span フォーマット
                  +a("/blocks/").l-header__submenu-block
                    .l-header__submenu-image: +img("img-sample.webp", "ブロック編集ページ")
                    span ブロック編集ページ
      button.l-header__search.js-header-searchform-open(aria-label="キーワードから検索") <span>キーワードから検索</span>
      +a("/contact/").l-header__button.c-button.is-sm <span class="c-icon-font">mail</span>お問い合わせ

+l_searchform
