header.l-header-variable
  .l-header-variable__content
    h1.l-header-variable__heading: +a("/"): +img("logo-recruit.png","株式会社●● 採用サイト")
    nav.l-header-variable__nav
      .l-header-variable__inner
        a(href="tel: 00-0000-0000").l-header-variable__tel
          span 00-0000-0000
      ul
        li: +a("/recruit/")
          span HOME
          small ホーム
        li: +a("/recruit/business/")
          span BUSINESS
          small 仕事を知る
        li: +a("/recruit/interview/")
          span INTERVIEW
          small 先輩インタビュー
        li: +a("/recruit/culture/")
          span CULTURE
          small 環境を知る
        li: +a("/recruit/requirements/")
          span RECRUIT
          small 募集要項
    +a("/recruit/entry/").l-header-variable__button.c-button.is-sm <i class="material-icons-outlined">mail</i>
      span ENTRY
      small エントリー
