// サイト内共通のフォームコントロール用スタイル

//============================
// variables / mixins
//============================
$form-controls-font-size: 15px;
$form-controls-border-color: #D8D8D8;
$form-controls-active-border-color: #0097D8;

//input, textarea, selectの共通スタイル
@mixin form-controls-common-style {
  font-size: $form-controls-font-size;
  --letter-spacing: 0;
  line-height: 1.46666;
  color: $font-base-color;
  border: 1px solid $form-controls-border-color;
  background-color: $color-white;
  width: 100%;
  box-shadow: none;
  @include transition-colors(0.2s,ease-in-out);

  @include breakpoint(small down) {
    font-size: 16px; //16px以下にするのはNG
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

//input, textareaの共通スタイル
@mixin form-controls-input-style {
  padding: 10px 16px;
  @include form-controls-common-style;

  @include breakpoint(small down) {
    padding: 9px 12px;
  }
}


//============================
// style
//============================

//共通分
input:where(
  [type="text"],
  [type="url"],
  [type="search"],
  [type="email"],
  [type="password"],
  [type="tel"],
  [type="number"],
  [type="date"],
  [type="time"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="file"]
  ),
  textarea {
  @include form-controls-input-style;
}

// ファイル選択
input:where([type="file"]) {
  font-size: 12px;

  &::file-selector-button {
    background-color: #F9F9F9;
    background-image: linear-gradient(135deg, #FFF 0%, #FFF 80%, #EFEFEF 100%);
    border-radius: 4px;
    border: 1px solid #bababa;
    padding: 2px 16px 4px;
    margin-right: 16px;
    color: $color-black;
    line-height: 1.46666;

    appearance: none;
  }
}

// テキストエリア
//
// markup:
// <textarea row="100" col="50" name="" placeholder="テキストエリア"></textarea>
//
// Styleguide 1.6.2
textarea {
  min-height: 140px;
  display: block;
}

// チェックボックス
//
// markup:
// <label for="checkbox"><input id="checkbox" type="checkbox" value="1"> チェックボックス</label>
//
// Styleguide 1.6.3

input:where([type="checkbox"]) {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  accent-color: $color-primary;
  flex-shrink: 0;
}

// ラジオボックス
//
// markup:
// <label for="radio"><input id="radio" type="radio" value="1"> ラジオボックス</label>
//
// Styleguide 1.6.4

input:where([type="radio"]) {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  accent-color: $color-primary;
  flex-shrink: 0;
}

// セレクトボックス
//
// markup:
// <label for="select">
//    <select id="select" name="select">
//        <option>選択してください</option>
//        <option value="1">サンプルオプション1</option>
//        <option value="2">サンプルオプション2</option>
//        <option value="3">サンプルオプション3</option>
//    </select>
// </label>
//
// Styleguide 1.6.5
select {
  display: block;
  height: 44px;
  padding: 10px 16px;
  text-transform: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.945 2.38419e-05L9 1.05402L4.5 5.55402L0 1.05402L1.055 -0.000976562L4.5 3.44502L7.945 2.38419e-05Z" fill="%23222222"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: 9px 5px;
  @include form-controls-common-style();

  @include breakpoint(small down) {
    padding: 9px 12px;
  }
}

/*  プレイスホルダーの色変更 */
::placeholder {
  color: rgba($font-base-color, 0.3);

  //スマホだけ文字サイズを変更したいとき
  //@include breakpoint(small down) {
  //  font-size: 14px;
  //}
}

