//- 2カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  main
    //- layout_paramsは追加クラス名のデータを受け取るブロック
    block layout_params
    block page_header
    block upper_main
    .l-main
      .l-two-column(class=twoColumnAddClass)
        .l-two-column__main
          block body

        aside.l-two-column__side
          .l-aside
            block aside
    +l_offer
    //block under_main

  //- フッター
  block footer
    include /inc/layout/_footer.pug
