//- 2カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  //- スマホメニュー用のコンテナ
  .c-slidebar-container.js-slidebar-container.is-top-to-bottom

    // ページヘッダー
    block page_header
    .l-container
      .l-wrapper
        main.l-main.is-twocolumns
          .l-post-content.is-twocolumns
            //- メインコンテンツ
            block body

        aside.l-aside
          block aside

    +l_offer
    //- フッター
    block footer
      include /inc/layout/_footer.pug
