//- 1カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  //- main に classは付与しない
  main
    //- ページヘッダー
    block page_header
    block upper_main
    .l-main
      block body
    block under_main

  //- フッター
  block footer
    include /inc/layout/_footer.pug

