//- 1カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug

  //- main に classは付与しない
  main
    .l-upper-main
      block page_header
      block upper_main
    .l-main
      block body
    .l-lower-main
      block lower_main

  //- フッター
  block footer
    include /inc/layout/_footer.pug

