//- 1カラムのベースファイル
extends /inc/foundation/_head.pug
block layout
  //- ヘッダー
  block header
    include /inc/layout/_header.pug


    //- ページヘッダー
    block page_header

    //- メインコンテンツ
    block body

    //- フッター
    block footer
      include /inc/layout/_footer.pug

