extends /inc/foundation/_base.pug
block append config
  - current.id = "entry" // ページのID
  - current.title = "エントリー" // タイトル
  - current.description = "これはエントリーの説明文です" // 説明文
  - current.bodyClass = "entry" // body に付与するクラス
  - current.depth = 3 // ページの階層

block header
  include /inc/layout/_header-variable.pug

  block page_header
    +l_page_header("img-page-header-format.jpg","ENTRY","エントリー")
    +c_breadcrumb()

  block body
    main.l-main
      section.l-section.is-xlg
        .l-container
          .row
            .large-10.is-push-lg-1.small-12
              +c.tabs
                ul.c-tabs__navs
                  li: +a("#").is-active 新卒採用
                  li: +a("#") 中途採用
              h2.c-heading.is-md.is-line-under.is-color-primary 新卒採用
              p.u-text-center.
                各項目入力後、画面下部の【確認画面へ】 ボタンをクリックしていただきますと、入力内容を確認していただけます。<br>
                内容を確認後、【送信】ボタンを押して下さい。

    +l_offer-recruit
  // フッター
  block footer
    include /inc/layout/_footer-simple.pug
